<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/timezone-control.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          <%=action_name.titleize%> Evaluation
        </div>
      </div>
      <div class="panel-body" id="form_body">
        <%=form_for @owner ,:html => {:multipart => true} do |f|%>
          <%= render partial: "shared/instructions", :locals => { :owner => @owner, :action_name => action_name, :include_workflow_diagram => CONFIG.hierarchy[session[:mode]][:display_workflow_diagram] }%>
          <%=render "/shared/privilege_form", :target => "evaluation[privileges][]", :owner => @owner, :f => f%>
          <%=render '/forms/form_fields', :f => f, :fields => @fields, :record => @owner %>
          <% if CONFIG.sa::GENERAL[:non_recurring_item_checklist] %>      
            <%=render '/forms/checklist_templates'%>
          <%end%>
          <%=render '/forms/attachments_form', :f => f, :owner => @owner%>
          <%if action_name == "new"%>
            <%=f.hidden_field :created_by_id, :value => current_user.id%>
            <%=f.hidden_field :parent_type, :value => @parent_type%>
            <%=f.hidden_field :parent_id,   :value => @parent_id%>
          <%end%>
          <div class="mt10 mr10">
            <%= f.submit "#{action_name == 'new' ? 'Submit' : 'Update'}",
              :class => "btn btn-success pull-right",
              :disable_with => "Saving..."%>
            <%=link_to "Cancel",
              action_name == "edit" ? evaluation_path(@owner) : root_url,
              :id => "cancel-btn",
              :class => "mr5 btn btn-default pull-right",
              :confirm => 'Are you sure?'%>
            <%#=link_to "Group Access",
              "#",
              :class => "mr5 btn btn-info pull-right",
              "data-toggle" => "modal",
              "data-target" => "#group_access"%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
