<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            <%="Evaluation ##{@owner.get_id}: #{@owner.title}"%>
          </div>
          <div class="top_buttons pull-right">
            <%= render '/forms/btns/render_btns',
              btns: [
                'delete',
                'override_status',
                'edit',
                'sign',
                'deid_pdf',
                'pdf',
                'viewer_access',
                'attach_in_message',
                'expand_all'
              ],
              owner: @owner %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 mb15">

          <%= render '/forms/btns/render_btns',
            btns: [
              'assign',
              'complete',
              'approve_reject',
              'reopen',
              'task',
              'cost',
              'contact',
              'finding',
              'comment'
            ],
            owner: @owner %>

        </div>

        <%=render '/forms/show_fields', :fields => @fields, :record => @owner%>
        <%=render '/checklists/checklist_types', :owner => @owner, :type => 'evaluation'%>
        <%=render "/ims/show_task",
          :owner => @owner,
          :fields => SmsTask.get_meta_fields('show')%>
        <%=render "/ims/show_contact",
          :owner => @owner,
          :type=>'evaluation',
          :fields => Contact.get_meta_fields('show')%>
        <%=render "/audits/show_requirements",
          :owner => @owner,
          :type => 'evaluation'%>

        <%=render "/findings/show_all",
          :owner => @owner,
          :type => 'evaluations',
          :show_btn => false%>

        <%=render "/forms/cost", :owner => @owner%>
        <%=render 'forms/signatures/show_signatures', owner: @owner %>
        <%=render "/forms/show_comment", :owner => @owner%>
        <%=render "/forms/attachments_show", :owner => @owner%>
        <%=render "/records/transactions", :owner => @owner%>
      </div>
    </div>
  </div>
</div>


<style>
  .datepicker{
    z-index: 1200!important;
  }
</style>



<script>
  $(document).ready(function(){
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_evaluation_path(@owner)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
