<%=
  javascript_include_tag(
    'utility/collapse-panel2',
    'utility/jquery.dataTables.min',
    'utility/dataTables.bootstrap.min',
    'utility/dataTables.buttons.min'
  )
%>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            <%="Evaluation ##{@owner.get_id}: #{@owner.title}"%>
          </div>
          <div class="top_buttons pull-right">
            <%= render '/forms/render_buttons', owner: @owner, env: :top %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <% if CONFIG::GENERAL[:display_workflow_diagram] %>
          <div class="col-xs-12">
              <%instruction = "<p>"
                instruction = instruction + "<button id ='toggleWorkflowImageButton' type='button' class='btn btn-light' >Show Workflow Image</button>"
                instruction = instruction + "</p>"
                instruction = instruction + "<img id='workflowImage' class = 'workflowImg' height=800 width= 100% >"
              %>
              <%=render "shared/instructions",
                :instruction => instruction%>
          </div>
        <% end %>
        <div class="col-xs-12 mb15">

          <%= render '/forms/render_buttons', owner: @owner, env: :inline %>

        </div>

        <%=render '/forms/show_fields', :fields => @fields, :record => @owner%>
        <%=render '/checklists/checklist_types', :owner => @owner, :type => 'evaluation'%>

        <%=render '/panels/show_panels', owner: @owner%>
      </div>
    </div>
  </div>
</div>


<style>
  .datepicker{
    z-index: 1200!important;
  }

  #workflowImage{
    display: none;
    width: 100%;
    height: auto;
    padding: 4%;
  }

</style>



<script>
  $(document).ready(function(){
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_evaluation_path(@owner)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    <% if CONFIG::GENERAL[:display_workflow_diagram]%>
      $("#workflowImage").attr('src', '<%= "/images/workflow_diagram/#{AIRLINE_CODE}/#{@owner.class.name}_#{@owner.status.downcase.parameterize.underscore}.png" %>')
    <% end %>

     $("#toggleWorkflowImageButton").on('click', function(event){
        event.preventDefault();
    
        if($("#workflowImage").is(":visible")){
          $("#workflowImage").delay(1).hide("slow")
          $("#toggleWorkflowImageButton").html("Show Workflow Image")
        }else{
          $("#workflowImage").delay(1).show("slow")
          $("#toggleWorkflowImageButton").html("Hide Workflow Image")
        }
      })
  }
);
</script>
