<script src="javascripts/html2canvas.js" type="text/javascript"></script>

<div class="col-xs-6">
	<div class="panel panel-success">

		<div class="panel-heading">
			<div class="panel-title">
				<div class="top_text"><b><%=@after_title%></b> </div>

				<%if session[:mode] == "SMS"%>
					<div class="top_buttons pull-right">
						<b><%=link_to "Investigations","#", :class=>"btn btn-info show_finding",:id=>"after_switch"%></b>
					</div>
				<%elsif session[:mode] == "ASAP"%>
					<div class="top_buttons pull-right">
						<b><%=link_to "Events","#", :class=>"btn btn-info show_record",:id=>"after_switch"%></b>
					</div>
				<%elsif session[:mode] == "SRM"%>

				<%elsif session[:mode] == "Change Management"%>

				<%end%>	

			</div>
		</div>


		<div class="panel-body">
			<table id="after_matrix" class="table table-bordered table-hover">

				<tr>
					<th bgcolor="#BDB76B" style="color:white">PROBABILITY</th>
					<th colspan="4" bgcolor="#BDB76B" style="color:white">SEVERITY</th>
				</tr>

				<tr>
					<th bgcolor="#FFFFF0" width="15%"></th>
					<%@risk_table[:column_header].each do |header|%>
						<th bgcolor="#FFFFF0" width="15%"><%=header%></th>
					<%end%>
				</tr>

				<tr>
					<%@risk_table[:row_header].each_with_index do |row_header,row_index|%>
						<tr>
							<th width="5%" bgcolor="#FFFFF0"><%=row_header%></th>
							<%@risk_table[:column_header].each_with_index do |column_header,column_index|%>

								<%if session[:mode] == "SMS"%>
									<td class="color_cell finding_after_cell" href="<%=findings_path(:advance_search=>true,:searchterm_1=>:severity_after,:searchterm_2=>:likelihood_after,:field_1=>row_index,:field_2=>column_index)%>" style="background:<%=@risk_table[:rows][row_index][column_index]%>"><center><b><%= @finding_after_matrix[row_index][column_index]%></b></center></td>
									<td class="color_cell inv_after_cell" href="<%=investigations_path(:advance_search=>true,:searchterm_1=>:severity_after,:searchterm_2=>:likelihood_after,:field_1=>row_index,:field_2=>column_index)%>"  style="background:<%=@risk_table[:rows][row_index][column_index]%>;display:none"><center><b><%= @inv_after_matrix[row_index][column_index]%></b></center></td>

								<%elsif session[:mode] == "SRM"%>
									<td class="color_cell hazard_after_cell"  href="<%=hazards_path(:type => ['SraHazard'], :advance_search=>true,:searchterm_1=>:severity_after,:searchterm_2=>:likelihood_after,:field_1=>row_index,:field_2=>column_index)%>" style="background:<%=@risk_table[:rows][row_index][column_index]%>"><center><b><%= @hazard_after_matrix[row_index][column_index]%></b></center></td>

								<%elsif session[:mode] == "ASAP"%>
									<td class="color_cell record_after_cell"  href="<%=records_path(:advance_search=>true,:searchterm_1=>:severity_after,:searchterm_2=>:likelihood_after,:field_1=>row_index,:field_2=>column_index)%>" style="background:<%=@risk_table[:rows][row_index][column_index]%>"><center><b><%= @record_after_matrix[row_index][column_index]%></b></center></td>
									<td class="color_cell report_after_cell"  href="<%=reports_path(:advance_search=>true,:searchterm_1=>:severity_after,:searchterm_2=>:likelihood_after,:field_1=>row_index,:field_2=>column_index)%>" style="background:<%=@risk_table[:rows][row_index][column_index]%>;display:none"><center><b><%= @report_after_matrix[row_index][column_index]%></b></center></td>

								<%elsif session[:mode] == "Change Management"%>
									<td class="color_cell hazard_after_cell"  href="<%=hazards_path(:type => ['MasterCmHazard', 'SupplementalCmHazard'], :advance_search=>true,:searchterm_1=>:severity_after,:searchterm_2=>:likelihood_after,:field_1=>row_index,:field_2=>column_index)%>" style="background:<%=@risk_table[:rows][row_index][column_index]%>"><center><b><%= @hazard_after_matrix[row_index][column_index]%></b></center></td>

								<%end%>
							<%end%>
						</tr>
					<%end%>
				</tr>
			</table>
		</div>
		<div align="right" class="mr10"><a href="#" id="after_export"><u>Download Table</u></a></div>
	</div>
</div>






<script>

	$('#after_export').on('click', function() {
			html2canvas($('#after_matrix'), {
					onrendered: function(canvas) {                                      
	
							var saveAs = function(uri, filename) {
									var link = document.createElement('a');
									if (typeof link.download === 'string') {
											document.body.appendChild(link); // Firefox requires the link to be in the body
											link.download = filename;
											link.href = uri;
											link.click();
											document.body.removeChild(link); // remove the link when done
									} else {
											location.replace(uri);
									}
							};
	
							var img = canvas.toDataURL("image/png"),
									uri = img.replace(/^data:image\/[^;]/, 'data:application/octet-stream');
	
				if ($("#after_switch").hasClass('show_finding')){
					saveAs(uri, 'Mitigated Risk Analysis-Findings.png');
				}else if($("#after_switch").hasClass('show_inv')){
					saveAs(uri, 'Mitigated Risk Analysis-Investigations.png');
				}else if($("#after_switch").hasClass('show_record')){
					saveAs(uri, 'Mitigated Risk Analysis-Reports.png');
				}else if($("#after_switch").hasClass('show_report')){
					saveAs(uri, 'Mitigated Risk Analysis-Events.png');
				}else if($("#after_switch").hasClass('show_sra')){
					saveAs(uri, 'Mitigated Risk Analysis-SRAs.png');
				}else if($("#after_switch").hasClass('show_hazard')){
					saveAs(uri, 'Mitigated Risk Analysis-Hazards.png');
				}
							//saveAs(uri, '<%=@after_title%>.png');
					}
			}); 
	});



	$("#after_switch").on('click',function(){
		if ($(this).hasClass('show_finding'))
		{
			$(this).removeClass("show_finding").addClass("show_inv").text("Findings");
			$(this).closest('.panel-title').find('.top_text').html("<b>Mitigated Risk Analysis: Investigations</b>");
			$('.finding_after_cell').hide();
			$('.inv_after_cell').show();
		}

		else if($(this).hasClass("show_inv"))
		{
			$(this).removeClass("show_inv").addClass("show_finding").text("Investigations");
			$(this).closest('.panel-title').find('.top_text').html("<b>Mitigated Risk Analysis: Findings</b>");
			$('.inv_after_cell').hide();
			$('.finding_after_cell').show();
			
		}
		else if($(this).hasClass("show_record"))
		{
			$(this).removeClass("show_record").addClass("show_report").text("Reports");
			$(this).closest('.panel-title').find('.top_text').html("<b>Mitigated Risk Analysis: Events</b>");
			$('.record_after_cell').hide();
			$('.report_after_cell').show();
		}
		else if($(this).hasClass("show_report"))
		{
			$(this).removeClass("show_report").addClass("show_record").text("Events");
			$(this).closest('.panel-title').find('.top_text').html("<b>Mitigated Risk Analysis: Reports</b>");
			$('.report_after_cell').hide();
			$('.record_after_cell').show();	
		}
		else if($(this).hasClass("show_sra"))
		{
			$(this).removeClass("show_sra").addClass("show_hazard").text("SRAs");
			$(this).closest('.panel-title').find('.top_text').html("<b>Mitigated Risk Analysis: Hazards</b>");
			$('.sra_after_cell').hide();
			$('.hazard_after_cell').show();	
		}
		else if($(this).hasClass("show_hazard"))
		{
			$(this).removeClass("show_hazard").addClass("show_sra").text("Hazards");
			$(this).closest('.panel-title').find('.top_text').html("<b>Mitigated Risk Analysis: SRAs</b>");
			$('.hazard_after_cell').hide();
			$('.sra_after_cell').show();	
		}
	});
	$('.color_cell').on('click',function(){
		window.location=$(this).attr('href');
	});
</script>