<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<div class="panel panel-warning">
  <div class="panel-heading">
    <div class="panel-title">
      <b>Mitigated Risk Assessment</b>
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
  <div class="panel-body" style="max-height:600px;overflow-y:auto;">
    <%=form_for @owner  do |f|%>
      <%=f.hidden_field :severity_after,    :value => "", :id => "sev"%>
      <%=f.hidden_field :likelihood_after,  :value => "", :id => "like"%>

      <%=render "shared/instructions", :instruction =>
        "Select <b>Mitigated Probability</b> and <b>Mitigated Severity</b> from the table to assess risk."
      %>
      <%if @owner.parent_class == "Hazard"%>
        <div class="col-xs-12">
          <%=render "hazards/form_risk_reasoning", :f => f, :owner => @owner%>
        </div>
      <%end%>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <%=render "shared/#{AIRLINE_CODE}/form_mitigated_risk"%>
        <%=render "shared/#{AIRLINE_CODE}/form_mitigated_probability"%>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <%=render "shared/#{AIRLINE_CODE}/form_mitigated_severity"%>
      </div>
      <div class="col-xs-12">
        <%=render "shared/#{AIRLINE_CODE}/risk_definitions"%>
      </div>
      <div class="col-xs-12">
        <%=f.submit "Submit",:class=>"btn btn-success pull-right mr5", disable_with: "Submitting..."%>
      </div>
    <%end%>
  </div>
</div>


<script>
  function load_mitigate_data(){
    <%if @owner.get_mitigated_severity.present? && @owner.get_mitigated_probability.present?%>
      $('.mitigate_severity_td').each(function(){
        <%(0..@severity_table[:row_header].size-1).each do |i|%>
          if ($(this).data('row') == <%=i%>){
            if($(this).data('column') == <%=@owner.get_mitigated_severity[i]%>){
              $(this).data("status","checked");
              $(this).css('background','#FCAFCB');
            }
          }
        <%end%>
      });
      $('.mitigate_probability_td').each(function(){
        <%(0..@probability_table[:column_header].size-1).each do |i|%>
          if ($(this).data('column') == <%=i%>){
            if($(this).data('row') == <%=@owner.get_mitigated_probability[i]%>){
              $(this).data("status","checked");
              $(this).css('background','#FCAFCB');
            }
          }
        <%end%>
      });
      calculate_mitigate();
    <%end%>
  }

  function initiliaze_mitigate(){
    $('.mitigate_severity_td').on('click',function(){
      if ($(this).data("status") === "checked"){
        $(this).data("status","");
        $(this).css('background','none');
      }else{
        $(this).data("status","checked");
        $(this).css('background','#FCAFCB');
        row_id=$(this).data("row");
        column_id=$(this).data("column");
        $('.mitigate_severity_td').each(function(){
          if ($(this).data("row") == row_id &&  $(this).data("column") != column_id){
            $(this).data("status","");
            $(this).css('background','none');
          }
        });
      }
      calculate_mitigate();
    });
    $('.mitigate_probability_td').on('click',function(){
      if ($(this).data("status") === "checked"){
        $(this).data("status","");
        $(this).css('background','none');
      }else{
        $(this).data("status","checked");
        $(this).css('background','#FCAFCB');
        row_id=$(this).data("row");
        column_id=$(this).data("column");
        $('.mitigate_probability_td').each(function(){
          if ($(this).data("row") != row_id &&  $(this).data("column") == column_id){
            $(this).data("status","");
            $(this).css('background','none');
          }
        });
      }
      calculate_mitigate();
    });
  }

  function calculate_mitigate(){
    severities = []
    probabilities = []
    severity_checked = 0
    probability_checked = 0
    $('.mitigate_severity_td').each(function(){
      if ($(this).data("status") === "checked"){
        severities.push($(this).data("column"));
        severity_checked++;
      }
    });
    $('.mitigate_probability_td').each(function(){
      if ($(this).data("status") === "checked"){
        probabilities.push($(this).data("row"));
        probability_checked++;
      }
    });
    if (probability_checked>0 && severity_checked>0){
      mitigate(Math.min(...probabilities), Math.min(...severities));
    }else{
      clear_mitigate();
    }
  }

  function clear_mitigate(){
    $('.mitigate_risk_td').each(function(){
        $(this).text("");
    });
  }


  function mitigate(row_index,column_index){
    clear_mitigate();
    $('.mitigate_risk_td').each(function(){
      if($(this).data("row") == row_index && $(this).data("column") == column_index){
        $(this).html("<span class='glyphicon glyphicon-ok style='color:black'></span>");
        $('#sev').val(row_index);
        $('#like').val(column_index);
      }
    });
  }

  $(document).ready(function(){
    load_mitigate_data();
    initiliaze_mitigate();
    $('form').on('submit',function(){
      var severity_result = new Array(<%= @severity_table[:row_header].size %>);
      var probability_result = new Array(<%= @probability_table[:column_header].size %>);
      $('.mitigate_severity_td').each(function(){
        if ($(this).data('status') === "checked"){
          severity_result[$(this).data("row")] = $(this).data("column");
        }
      });
      $('.mitigate_probability_td').each(function(){
        if ($(this).data('status') === "checked"){
          probability_result[$(this).data("column")] = $(this).data("row");
        }
      });
      for (i=0;i<severity_result.length;i++){
        $('form').append("<input name='<%=@target_name%>[<%=@severity_field%>][]' value="+severity_result[i]+" hidden></input>");
      }
      for (i=0;i<probability_result.length;i++){
        $('form').append("<input name='<%=@target_name%>[<%=@probability_field%>][]' value="+probability_result[i]+" hidden></input>");
      }
      return true;
    });
  });
</script>
