<style>
  td,th{
    text-align: center;
  }
/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .baseline { background-color: #AFEEFC; }
.legend .substitute { background-color: #FCAFCB; }
.legend .overlap { background-color: #CABCF6; }

</style>
<div class="col-xs-12 col-lg-12"%>
  <div class="panel panel-info">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <%if owner.class.to_s == "Hazard" || owner.class.to_s == "SraHazard"%>
          <b>Risk Analysis and Initial Assessment</b>
        <%elsif defined?(title)%>
        <%=title%>
        <%else%>
          <b>Risk Matrix</b>
        <%end%>
          <span class="pull-right clickable">
        <i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
      </div>
    </div>
    <div class="panel-body" style="display:none">
      <div class="row">
        <div class="col-xs-12">
          <%if !local_assigns.has_key?(:allow_mitigate) || allow_mitigate%>
            <%#=link_to "Mitigate Risk","#",
              :class => "btn btn-warning pull-right ml5",
              :id => "mitigate_btn",
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>
          <%end%>
          <%#=link_to "Baseline Risk","#",
              :class => "btn btn-info pull-right",
              :id => "baseline_btn",
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>
        </div>
        <ul class="legend">
          <li><span class="baseline"></span> Baseline</li>
          <li><span class="substitute"></span> Substitute</li>
          <li><span class="overlap"></span> Overlapped</li>
        </ul>
        </br>
        <span class='glyphicon glyphicon-remove'></span><b> Baseline Risk Assessment</b>
        <span class='glyphicon glyphicon-ok'></span><b> Substitute Risk Assessment</b>
        <div class="col-xs-12 mb20">
          <table class="table  table-bordered">
            <thead>
              <tr><th bgcolor="#C2DBEC" colspan="<%= @severity_table[:column_header].size+1 %>"><center><b>Severity Exercise</b></center></th></tr>
              <tr>
                <%if @severity_table[:starting_space]%>
                  <th bgcolor="white"></th>
                <%end%>
                <%@severity_table[:column_header].each do |header|%>
                  <th><%=header%></th>
                <%end%>
              </tr>
            </thead>
            <tbody style="font-size:13px">
              <%@severity_table[:row_header].each_with_index do |row_header,row_index|%>
                <tr>
                  <th bgcolor="#E7E7E7"><%=row_header%></th>
                  <%@severity_table[:column_header].each_with_index do |column_header,column_index|%>
                    <td class="severity_td<%=owner.class.name%>_<%=owner.id%>" data-row="<%=row_index%>" data-status="" data-mitigated="" data-column="<%=column_index%>"><%=@severity_table[:rows][row_index][column_index]%></td>
                  <%end%>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>

        <div class="col-xs-12 mb20">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th bgcolor="#C2DBEC" colspan="<%= @probability_table[:column_header].size+1 %>"><center><b>Probability Exercise</b></center></th>
              </tr>
              <tr>
                <%if @probability_table[:starting_space]%>
                  <th bgcolor="white"></th>
                <%end%>
                <%@probability_table[:column_header].each do |header|%>
                  <th><%=header%></th>
                <%end%>
              </tr>
            </thead>
            <tbody style="font-size:13px">
              <%@probability_table[:row_header].each_with_index do |row_header,row_index|%>
                <tr>
                  <th bgcolor="#E7E7E7"><%=row_header%></th>
                  <%@probability_table[:column_header].each_with_index do |column_header,column_index|%>
                    <td class="probability_td<%=owner.class.name%>_<%=owner.id%>" data-row="<%=row_index%>" data-status="" data-mitigated="" data-column="<%=column_index%>"><%=@probability_table[:rows][row_index][column_index]%></td>
                  <%end%>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>

        <div class="col-xs-12 mb20">
          <table class="table table-bordered", style="table-layout: fixed;">
            <thead>
              <tr>
                <th bgcolor="#C2DBEC" colspan="<%= @risk_table[:column_header].size+1 %>"><center><b>Risk Matrix</b></center></th>
              </tr>
              <tr>
                <%if @risk_table[:starting_space]%>
                  <th bgcolor="white"></th>
                <%end%>
                <%@risk_table[:column_header].each do |header|%>
                  <th bgcolor="white"><%=header%></th>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <%@risk_table[:row_header].each_with_index do |row_header,row_index|%>
                <tr>
                  <th bgcolor="white"><%=row_header%></th>
                  <%@risk_table[:column_header].each_with_index do |column_header,column_index|%>
                    <td class="risk_td<%=owner.class.name%>_<%=owner.id%>" data-row="<%=row_index%>" data-status="" data-mitigated="" data-column="<%=column_index%>" style="background:<%=@risk_table[:rows][row_index][column_index]%>"></td>
                  <%end%>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
      <!--Renders risk assessment info inside of the risk matrix and passes the hazard as the owner-->
      <%=render "/hazards/risk_reasoning", :owner => owner %>
    </div>
  </div>
</div>

<script>
  function load_data(){
    <%if owner.get_extra_severity.present? && owner.get_extra_probability.present?%>
      $(".severity_td<%=owner.class.name%>_<%=owner.id%>").each(function(){
        <%(0..@severity_table[:column_header].size - 1).each do |i|%>
          if ($(this).data('column') == <%=i%>){
            if($(this).data('row') == <%=owner.get_extra_severity[i]%>){
              $(this).data("status","checked");
              $(this).css('background','#AFEEFC');
            }
          }
        <%end%>
      });
      $('.probability_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
        <%(0..@probability_table[:row_header].size - 1).each do |i|%>
          if ($(this).data('column') == <%=i%>){
            if($(this).data('row') == <%=owner.get_extra_probability[i]%>){
              $(this).data("status", "checked");
              $(this).css('background', '#AFEEFC');
            }
          }
        <%end%>
      });
    <%end%>
    <%if owner.get_mitigated_severity.present? && owner.get_mitigated_probability.present?%>
      $('.severity_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
        <%(0..@severity_table[:column_header].size-1).each do |i|%>
          if ($(this).data('column') == <%=i%>){
            if($(this).data('row') == <%=owner.get_mitigated_severity[i]%>){
              $(this).data("mitigated","checked");
              <%if owner.get_extra_severity.present?%>
                if ($(this).data('row') == <%=owner.get_extra_severity[i]%>){
                  $(this).css('background','#CABCF6');
                }else{
                  $(this).css('background','#FCAFCB');
                }
              <%else%>
                $(this).css('background','#FCAFCB');
              <%end%>
            }
          }
        <%end%>
      });
      $('.probability_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
        <%(0..@probability_table[:row_header].size - 1).each do |i|%>
          if ($(this).data('column') == <%=i%>){
            if($(this).data('row') == <%=owner.get_mitigated_probability[i]%>){
              $(this).data("mitigated", "checked");
              <%if owner.get_extra_probability.present?%>
                if ($(this).data('row') == <%=owner.get_extra_probability[i]%>){
                  $(this).css('background', '#CABCF6');
                }else{
                  $(this).css('background','#FCAFCB');
                }
              <%else%>
                $(this).css('background','#FCAFCB');
              <%end%>
            }
          }
        <%end%>
      });
    <%end%>
    calculate_risk();
  }

  function calculate_risk(){
    severities = []
    probabilities = []
    severity_checked = 0
    probability_checked = 0
    $('.severity_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if ($(this).data("status") === "checked"){
        severities.push($(this).data("row"));
        severity_checked++;
      }
    });
    $('.probability_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if ($(this).data("status") === "checked"){
        probabilities.push($(this).data("row"));
        probability_checked++;
      }
    });
    if (probability_checked > 0 && severity_checked > 0){
      set_risk(Math.min(...severities), Math.min(...probabilities));
    }
    severities = []
    probabilities = []
    severity_checked = 0
    probability_checked = 0
    $('.severity_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if ($(this).data("mitigated") === "checked"){
        severities.push($(this).data("row"));
        severity_checked++;
      }
    });
    $('.probability_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if ($(this).data("mitigated") === "checked"){
        probabilities.push($(this).data("row"));
        probability_checked++;
      }
    });
    if (probability_checked>0 && severity_checked>0){
      set_mitigated(Math.min(...severities),Math.min(...probabilities));
    }
  }

  function set_risk(row_index,column_index){
    $('.risk_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if($(this).data("row") == row_index && $(this).data("column") == column_index){
        $(this).html("<span class='glyphicon glyphicon-remove' style='color:black'></span>");
      }
    });
  }

  function set_mitigated(row_index,column_index){
    $('.risk_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if($(this).data("row") == row_index && $(this).data("column") == column_index){
        $(this).append("<span class='glyphicon glyphicon-ok' style='color:black'></span>");
      }
    });
  }

  load_data();

</script>
