<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-steelblue">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">Access Control Rules</div>
          <div class="top_buttons pull-right">
            <%if current_user.full_name == "ProSafeT Engineering"%>
              <%=link_to "New",
                "#",
                :class => "btn btn-success pull-right mb5 new_rule_btn",
                "data-toggle" => "modal",
                "data-target" => ".bs-example-modal-lg"%>
            <%end%>
          </div>
        </div>
      </div>
      <div class="panel-body" id="form_body">
        <div class="row">
          <%=render "new_modal"%>
          <div class="col-sm-12">

            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab"
                  href="#table"
                  onclick="drawTable('all');">
                  All
                </a>
              </li>
              <li>
                <a data-toggle="tab"
                  href="#table"
                  onclick="drawTable('safety_reporting');">
                  Safety Reporting
                </a>
              </li>
              <li>
                <a data-toggle="tab"
                  href="#table"
                  onclick="drawTable('templates');">
                  Safety Reporting Templates
                </a>
              </li>
              <%if CONFIG::GENERAL[:sms_im_visibility]%>
                <li>
                  <a data-toggle="tab"
                    href="#table"
                    onclick="drawTable('smsim');">
                    SMS IM
                  </a>
                </li>
              <%end%>
              <li>
                <a data-toggle="tab"
                  href="#table"
                  onclick="drawTable('safety_assurance');">
                  Safety Assurance
                </a>
              </li>
              <li>
                <a data-toggle="tab"
                  href="#table"
                  onclick="drawTable('checklist_templates');">
                  Checklist Templates
                </a>
              </li>
              <li>
                <a data-toggle="tab"
                  href="#table"
                  onclick="drawTable('srm');">
                  SRA (SRM)
                </a>
              </li>
              <li>
              <%if CONFIG::GENERAL[:safety_promotion_visibility]%>
                <a data-toggle="tab"
                  href="#table"
                  onclick="drawTable('safety_promotion');">
                  Safety Promotion
                </a>
              <%end%>
              </li>
              <li>
                <a data-toggle="tab"
                  href="#table"
                  onclick="drawTable('other');">
                  Other
                </a>
              </li>
            </ul>

            <div class="tab-content">
              <div id="table" class="tab-pane fade in active">
                <div id="table_div"></div>
              </div>
            </div>


            <%if false%>
            <div class="table-responsive">
              <table id="candidates" class="table table-bordered table-striped">
                <thead><tr>
                  <%@headers.each do |header|%>
                    <th><%=header[:title]%></th>
                  <%end%>
                  <th>Control</th>
                </tr></thead>
                <tbody>
                  <%@access.each do |a|%>
                    <tr aid="<%=a.id%>">
                      <%@headers.each do |header|%>
                        <td><%=a.send(header[:field])%></td>
                      <%end%>
                      <td>
                        <%=link_to "View Privileges","#",:class=>"btn btn-info list_btn","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg"%>
                        <%=link_to "Delete",access_control_path(a),:confirm=>"This may affect all related users' access. Are you sure you want to continue?",:method=>"delete",:class=>"ml5 btn btn-danger delete_btn"%>
                        <button type="button" class="btn btn-warning ml5" data-toggle="tooltip" data-placement="top" title="<%=a.find_desc%>">
                          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                      </td>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
            <%end%>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script>
  function drawTable(module){
    $.get("<%=module_index_access_controls_path%>?module_name=" + module, function(data){
      $("#table_div").html(data);
    });
  }
  drawTable('all');
</script>
