<div class="panel-warning">
  <div class="panel-heading">
    <div class="panel-title">
      <%=action_name.titleize%>
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
  <%=form_for @message, :html => {:multipart => true}, :class => "form-horizontal" do |f|%>
    <div class="panel-body">
      <%=hidden_field_tag :commit,
        action_name == 'new' ? 'Send Message' : action_name.titleize%>
      <%=hidden_field_tag :to_anonymous,
        @owner.anonymous ? @owner.anonymous : !CONFIG.sr::GENERAL[:show_submitter_name]%>
      <%=render 'message_submitter_content_form', f: f%>
    </div>
  <%end%>
</div>


<script>
  $(function() {

    $('#new_message').on('submit', function(e) {
      console.log('form submit');
      $("#message_submit").prop("disabled",true);
      e.preventDefault();
      $.ajax({
        url: $(this).attr('action'),
        type: 'POST',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(response) {
          console.log(response);
          $('.modal').modal('toggle');
          Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: response['message'],
            showConfirmButton: false,
            timer: 1500
          });
        }
      });
      return false;
    });

  });
</script>