<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<script type="text/javascript" src="/javascripts/utility/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>

<%if @reply_to.present?%>
  <%=hidden_field_tag :reply_to, @reply_to.id%>
<%end%>

<%if defined? @send_to%>
  <%=hidden_field_tag 'send_to[0]', @send_to%>
<%end%>


<div class="col-xs-12">
  <%=f.label :subject, "Subject", :class => "control-label col-xs-2"%>
  <div class="col-xs-10">
    <%=f.text_field :subject,
      {:class => "form-control",
      :value => @reply_to.present? ? "Re: " + @reply_to.subject : ""}%>
  </div>
</div>

<div class="col-xs-12 mt10">
  <%=label_tag "template",
    "Template",
    :class => "control-label col-xs-2"%>
  <div class="col-xs-6">
    <%= select_tag "template",
      options_for_select(CannedMessage.all.collect{|p| [p["name"], p["id"]]}),
      {:include_blank => true,
      :class => "form-control template"}%>
  </div>
</div>


<div class='col-xs-12 mt5'>
  <%=label_tag "template", "Attached", :class => "control-label col-xs-2"%>
  <div class="col-xs-6">
    <b>
      <%if @owner%>
        <%=f.hidden_field :owner_type, :value => @owner.class.name%>
        <%=f.hidden_field :owner_id, :value => @owner.id%>
        <%=link_to "#{@owner.class.name} ##{@owner.id}", @owner, target: :_blank%>
      <%else%>
        N/A
      <%end%>
    </b>
  </div>
</div>


<div class="col-xs-12">
  <div class="col-xs-12 col-xs-offset-1">
    <%=check_box_tag :from_anonymous, 1, false%>
    <%=label_tag :from_anonymous, 'Message Anonymously', :class => "control-label"%>
  </div>
</div>


<div class="col-xs-12 mt5">
  <div class="col-xs-12 mt10">
    <%=f.text_area :content,
      {:class => "form-control",
      :rows => "15",
      :id => "content"}%>
  </div>
</div>

<div class="col-xs-12 mt5">
  <div class="col-xs-11 row" id="attachments"></div>
  <div class="col-xs-12">
    <%= link_to_add_fields "Add an attachment", f, :attachments%>
  </div>
</div>

<%=f.hidden_field :time, :value => Time.now.utc%>

<div class="row mt5">
  <div class="col-xs-12 pull-right">
    <%=f.submit action_name == 'new' ? 'Send Message' : action_name.titleize,
      class: 'btn btn-success pull-right ml5',
        disable_with: 'Sending...'%>
    <%=link_to 'Cancel',
      params[:link] || root_url,
      confirm: 'Are you sure?',
      disable_with: 'Redirecting...',
      class: 'btn btn-warning pull-right'%>
  </div>
</div>



<script type="text/javascript">
  $(function(){
    $(".template").on("change", function(){
      var message_template_id = $(this).val();
      $.get("<%=canned_messages_path%>/"+message_template_id, function(data){
        $("#content").val(data.data.content);
      });
    });
  });
</script>



