<div class="col-xs-12">
	<%if Attachment.image_extensions.include? attachment.name.file.extension%>		
		<a href="<%=attachment.name.url%>" target="_blank"><%=image_tag attachment.name.url,class: "img-responsive",style:"max-width:400px;max-height:400px;"%></br></a>
	<%elsif Attachment.audio_extensions.include? attachment.name.file.extension%>
		<audio controls>
            <source src="<%=attachment.name.url%>" type="audio/mpeg">
        </audio>
	<%elsif Attachment.video_extensions.include? attachment.name.file.extension%>
		<video width="640" height="360" controls autostart="false">
        	<source src="<%=attachment.name.url%>" type="video/mp4">
        </video>
	<%else%>
		<b><%=link_to "Click to Open/Download", attachment.name.url%></b></br>
	<%end%>

</div>