<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          <%=@reply_to.present? ? "Re: "+@reply_to.subject : "New Message" %>
        </div>
      </div>
      <%=form_for @message, :html => {:multipart => true}, :class => "form-horizontal" do |f|%>
        <div class="panel-body">
          <%remaining_column_size = 12%>
          <%if !(@reply_to.present? && @reply_to.send_from.anonymous)%>
            <%
              recipient_column_size = 5
              remaining_column_size -= recipient_column_size
            %>
            <div class="col-xs-<%=recipient_column_size%>">
              <%=render 'recipients'%>
            </div>
          <%end%>
          <div class="col-xs-<%=remaining_column_size%>">
            <%=render 'message_content_form', f: f%>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>



