<%=form_for @owner do |f|%>
  <div class="panel-warning">
    <div class="panel-heading">
      <div class="panel-title">All CISP Available Events In Meeting #<%=@owner.id%>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto">
        <p>*In order for an Event to be CISP available it must have at least one ASAP Report. Only information from an Event's ASAP Reports is sent to CISP</p>
        <table id="all_events" class="table table-bordered">
          <thead>
            <tr>
              <%@report_headers.each do |header|%>
                <th><%=header[:title]%></th>
              <%end%>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <%@available_reports.each do |report|%>
              <tr report="<%=report.id%>">
                <%@report_headers.each do |header|%>
                  <td class="<%=header[:html_class].present? ? report.send(header[:html_class]) : ''%>">
                    <%=render 'forms/show_field', :record => report, :field_hash => header%>
                  </td>
                <%end%>
                <td>
                  <%=f.fields_for :reports, report do |ff|%>
                    <%=ff.hidden_field(:cisp_sent, :class => 'cisp-sent-field')%>
                    <%=link_to 'Add', '#', :class => 'btn btn-info add-btn'%>
                  <%end%>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      <%=f.submit "Send to CISP",:class=>"btn btn-success pull-right mt5", :disable_with => "Sending..."%>
    </div>
  </div>
<%end%>

<style>
  .disable_row {
    opacity: 0.4;
  }
</style>

<script type="text/javascript">
  function view_clicked_report(report) {
    window.open("/reports/" + $(report).closest("tr").attr('report'));
  }

  function add_or_remove_report(report) {
    var action_table=$(report).closest("table");
    if (action_table.attr('id')=="cisp_ready_events"){
      $(report).removeClass("btn-danger").addClass("btn-warning");
      row=$(report).closest("tr").detach();
      $(report).find("span").removeClass("glyphicon-remove").addClass("glyphicon-plus");
      row.appendTo("#all_events tbody");
    }else{
      $(report).removeClass("btn-warning").addClass("btn-danger");
      row=$(report).closest("tr").detach();
      $(report).find("span").removeClass("glyphicon-plus").addClass("glyphicon-remove");
      row.appendTo("#cisp_ready_events tbody");
    }
  }


  function update_cisp_ready() {
    var count = 0;
    var form = $('form');
    var set_cisp_ready = []
    var unset_cisp_ready = []

    $("#cisp_ready_events tbody tr").each(function(){
      if(typeof($(this).attr("report")) !== "undefined"){
        form.append('<input type="hidden" name=set_cisp_ready['+count+ '] value='+$(this).attr("report")+'>');
        count++;
        set_cisp_ready.push($(this).attr("report"))
      }
    });
    $("#all_events tbody tr").each(function(){
      if(typeof($(this).attr("report")) !== "undefined"){
        form.append('<input type="hidden" name=unset_cisp_ready['+count+ '] value='+$(this).attr("report")+'>');
        count++;
        unset_cisp_ready.push($(this).attr("report"))
      }
    });

    return [set_cisp_ready, unset_cisp_ready];
  }

  $(document).ready(function(){

    $("#cisp_ready_events").dataTable({
      "aaSorting": [[0, "desc"]],
      "columnDefs": [{ type: 'natural', targets: 0 }],
    });

    $("#all_events").dataTable({
      "aaSorting": [[0, "desc"]],
      "columnDefs": [{ type: 'natural', targets: 0 }],
    });

    $("#cisp_ready_events").on('click',".view_btn",function(){
      view_clicked_report(this);
    });

    $("#all_events").on('click',".view_btn",function(){
      view_clicked_report(this);
    });

    $("#cisp_ready_events").on("click",".action-btn",function(){
      add_or_remove_report(this);
    });

    $("#all_events").on("click",".action-btn",function(){
      add_or_remove_report(this);
    });


    // $('form').on('submit', update_cisp_ready);

    // $('#send_to_cisp').on('click',function(){
    //   $(this).attr("disabled", "disabled");

    //   cisp_events = update_cisp_ready()
    //   $.ajax({
    //     url: "<%=send_cisp_reports_meeting_path(@meeting)%>",
    //     type: 'POST',
    //     dataType: 'html',
    //     data: {
    //       set_cisp_ready: cisp_events[0],
    //       unset_cisp_ready: cisp_events[1],
    //     },
    //     success: function (response) {
    //      $(".modal-content").html(response);
    //       $(window).trigger('resize');
    //     }
    //   });

    // });

    $(document).on('click', '.add-btn', function() {
      if ($(this).text() == 'Add') {
        $(this).text('Added');
        $(this).closest('td').find('.cisp-sent-field').val('1');
      } else {
        $(this).text('Add');
        $(this).closest('td').find('.cisp-sent-field').val('0');
      }
    });

  })
</script>
