<div class="table-responsive mt10">
  <table id="participants" class="table table-striped table-bordered">
    <thead>
      <tr>
        <%User.invite_headers.each do |header|%>
          <th><%=header[:title]%></th>
        <%end%>
        <%if !(defined?(hide_btns) && hide_btns)%>
          <th>Action</th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <%@available_participants.each do |user|%>
        <tr user="<%=user.id%>">
          <%User.invite_headers.each do |header|%>
            <td><%=user.send(header[:field])%></td>
          <%end%>
          <%if !(defined?(hide_btns) && hide_btns)%>
            <% 
              invite_status = user.invitations.detect{|inv| inv.meetings_id == @meeting.id}.status rescue 'Not Invited'
              invitation_id = user.invitations.detect{|inv| inv.meetings_id == @meeting.id}.id rescue nil
            %>
            <%if action_name == "new"%>
              <td><a class="btn btn-info invite_btn">Invite</a></td>
            <%elsif action_name == "show"%>
              <td class="row">
                <div class="col-xs-6 invite_status"><%=invite_status%></div>
                <%if invite_status == 'Accepted' && current_user.id == @meeting.host.users_id && CONFIG::GENERAL[:enable_attended_status]%>
                  <div class="col-xs-6 pull-right">
                    <%= link_to 'Attended', '#', class: 'btn btn-info', id: 'attedned-btn', :'data-id' => invitation_id %>
                  </div>
                <%end%>
              </td>
            <%else%>
              <%if invite_status == "Not Invited"%>
                <td><a class="btn btn-info invite_btn">Invite</a></td>
              <%else%>
                <td><a class="btn btn-success invite_btn">Invited</a></td>
              <%end%>
            <%end%>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
    $("#attedned-btn").on('click', function(){
      console.log($(this).parent().prev())
      $(this).parent().prev().text('Attended');
      $(this).hide();
      $.get("<%=update_invitation_meetings_path%>", { invitation: $(this).data('id') },function(data){
      });
    });
  });
</script>
