<div class="title">
	Meeting #<%=owner.get_id%>		
</div>

<div class="content">

	<%=render "forms/print_fields", 
		:fields => Meeting.get_meta_fields('show'), 
		:owner => owner,
		:deidentified => false%>

	<div class="col-xs-12">
		<hr>
		<div class="title">Included Events</div>
		<div class="content">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<%Report.get_meta_fields('index').each do |h|%>
							<th><%=h[:title]%></th>
						<%end%> 
					</tr>
				</thead>
				<tbody>
					<%owner.reports.each do |report|%>
						<tr>
							<%Report.get_meta_fields('index').each do |h|%>
								<td class="<%=h[:html_class].present? ? report.send(h[:html_class]) : ''%>">
									<%case h[:type]%>
									<%when 'date'%>
										<%=report.send(h[:field]).strftime("%Y-%m-%d") rescue ''%>	
									<%when 'datetime'%>
										<%=report.send(h[:field]).strftime("%Y-%m-%d %H:%M") rescue ''%>	
									<%when 'textarea'%>
										<%=report.send(h[:field]).gsub(/\n/, '<br/>').html_safe rescue ''%>	
									<%else%>
										<%=report.send(h[:field])%>	
									<%end%>	
								</td>
							<%end%>
						</tr>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>

</div>


