<div class="title">
  Meeting #<%=owner.get_id%>
</div>

<div class="content">

  <%=render "forms/print_fields",
    :fields => Meeting.get_meta_fields('show'),
    :owner => owner,
    :deidentified => false%>

  <div class="col-xs-12">
    <hr>
    <div class="title">Included Events</div>
    <div class="content">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <%Report.get_meta_fields('index').each do |h|%>
              <th><%=h[:title]%></th>
            <%end%>
            <th>Meeting Minutes</th>
          </tr>
        </thead>
        <tbody>
          <%owner.reports.each do |report|%>
            <tr>
              <%Report.get_meta_fields('index').each do |h|%>
                <td class="<%=h[:html_class].present? ? report.send(h[:html_class]) : ''%>">
                  <%=render 'forms/show_field', :field_hash => h, :record => report%>
                </td>
              <%end%>
              <td><%=report.minutes%></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>

  <%=render 'forms/print_comments', :owner => owner%>

</div>


