<div class="panel panel-warning">
  <div class="panel-heading">
    <div class="panel-title">Available Events
      <button type="button"
        class="close pull-right"
        data-dismiss="modal"
        aria-label="Close">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
  <div class="panel-body"  style="max-height:500px;overflow-y:auto;">
    <div class="row col-xs-12 table-responsive">
      <table id="available_events" class="table table-striped table-bordered" style="font-size:13px!important;">
        <thead>
          <tr>
            <%@report_headers.each do |h|%>
              <th><%=h[:title] rescue ""%></th>
            <%end%>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%@reports.each do |u|%>
            <tr uid="<%=u.id%>">
              <%@report_headers.each do |h|%>
                <td class="<%=h[:html_class].present? ? u.send(h[:html_class]) : ''%>">
                  <%case h[:type]%>
                  <%when 'date'%>
                    <%=u.send(h[:field]).strftime("%Y-%m-%d") rescue ''%>
                  <%when 'datetime'%>
                    <%=u.send(h[:field]).strftime("%Y-%m-%d %H:%M") rescue ''%>
                  <%when 'textarea'%>
                    <%=u.send(h[:field]).gsub(/\n/, '<br/>').html_safe rescue ''%>
                  <%else%>
                    <%=u.send(h[:field])%>
                  <%end%>
                </td>
              <%end%>
              <td>
                <%=link_to "Add", "#",
                  :class => "btn btn-sm btn-success add_report_btn mb5",
                  :disable_with => "Adding..."%>
                <%=link_to "View Event",
                  report_path(u),
                  :class => "btn btn-sm btn-info mb5",
                  :disable_with => "Redirecting..."%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){

    $('#available_events').DataTable({
      destroy: true,
      "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
      "iDisplayLength": 5
    });


    $("#available_events").on('click', ".add_report_btn", function(){
      var tr = $(this).closest('tr')
      $.get("/reports/"+$(this).closest('tr').attr('uid')+"/add_meeting?meeting=<%=@meeting.id%>", function(data){
        tr.hide(100);
        $('#reports_table').append($(data));
      });
    })
  });
</script>
