<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            Meeting #<%=@meeting.get_id%>
          </div>
          <div class="top_buttons pull-right">
            <%if current_user.has_access('meetings', 'destroy', admin: CONFIG::GENERAL[:global_admin_default])%>
              <%=link_to 'Delete',
                meeting_path(@meeting),
                :method => "delete",
                :confirm => 'Are you sure?',
                :class => "btn btn-danger pull-right"%>
            <%end%>

            <%if current_user.has_access('meetings', 'override', admin: CONFIG::GENERAL[:global_admin_default], strict: true)%>
              <%=link_to 'Override Status', '#',
                :class => 'btn btn-danger pull-right mr5 mb5',
                :id => 'override_status_btn',
                "data-toggle" => "modal",
                "data-target" => ".bs-example-modal-lg"%>
            <%end%>

            <% if current_user.has_access('meetings', 'edit', admin: CONFIG::GENERAL[:global_admin_default]) &&
              @meeting.has_user(current_user) &&
              @meeting.status != 'Closed' %>
              <%=link_to "Edit",
                edit_meeting_path(@meeting),
                :id => "edit-btn",
                :class => "btn btn-warning pull-right mr5",
                :disable_with => "Editing..."%>
            <%end%>
            <%=link_to "PDF",
              print_meeting_path(@meeting, format: :pdf),
              :class => "btn btn-darkturquoise pull-right mr5"%>
            <%=link_to "Expand All",
              "#",
              :class => "btn btn-default mr5 expandall pull-right"%>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <%= render partial: "shared/instructions", :locals => { :owner => @meeting, :action_name => params[:action], :include_workflow_diagram => CONFIG.hierarchy[session[:mode]][:display_workflow_diagram_module] }%>
        <div class="col-xs-12 mb15">
          <div class="pull-right mb10">
            <% if current_user.has_access('meetings','edit', admin: CONFIG::GENERAL[:global_admin_default]) &&
              @meeting.has_user(current_user) %>
              <%if @meeting.status == "Open"%>
                <%=link_to 'Close Meeting', '#',
                  :class => 'btn btn-danger pull-right mr5 mb5',
                  :id => 'close',
                  "data-toggle" => "modal",
                  "data-target" => ".bs-example-modal-lg"%>
                <%=link_to "Add Comment",
                  "#",
                  :class => "btn btn-success mb5 pull-right mr5",
                  :id => 'comment_btn',
                  "data-toggle" => "modal",
                  "data-target" => ".bs-example-modal-lg"%>
                <%=link_to "Add Events",
                  "#",
                  :class => "btn btn-success mb5 pull-right mr5",
                  :id => "new_report_btn",
                  "data-toggle" => "modal",
                  "data-target" => ".bs-example-modal-lg"%>
              <%elsif @meeting.status == "Closed"%>
                <%=link_to "Reopen Meeting",
                  reopen_meeting_path(@meeting),
                  :class=>"btn btn-success pull-right mr5 mb5",
                  :confirm => "Are you sure?",
                  :disable_with => "Reopening..."%>
              <%end%>
              <%if CONFIG::GENERAL[:cisp_integration]%>
                <%=link_to "Send CISP Events",
                  "#",
                  :class => "btn btn-info mb5 pull-right mr5",
                  :id => "send_cisp_btn",
                  "data-toggle" => "modal",
                  "data-target" => ".bs-example-modal-lg"%>
              <%end%>
            <%end%>
          </div>
        </div>

        <%if @current_inv.present?%>
          <div class="col-xs-12">
            <%=render "meetings/invitation_form"%>
          </div>
        <%end%>

        <div class="col-xs-12">

          <div class="panel panel-lightskyblue">
            <div class="panel-heading">
              <div class="panel-title">
                <b>Overview</b>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <%=render "forms/show_fields",
                  :record => @meeting,
                  :fields => @fields%>
              </div>
            </div>
          </div>
          <%if !defined? hide_extra%>
            <%=render "all_reports"%>
          <%end%>
        </div>

        <%=render "/forms/show_comment", :owner => @meeting%>

        <div class="col-xs-12">
          <div class="panel panel-lightskyblue">
            <div class="panel-heading click-heading collapsed">
              <div class="panel-title">
                <b>Participants</b>
                <span class="pull-right clickable">
                  <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                </span>
              </div>
            </div>
            <div class="panel-body" style="display:none">
              <div class="pull-right mb10">
                <%if current_user.has_access("meetings","edit") &&
                  @meeting.status == "Open" &&
                  @meeting.has_user(current_user)%>
                  <%=link_to "Send Agenda/Notice", "#",
                    :id => "message-btn",
                    :class => "btn btn-info drop",
                    "data-toggle" => "modal",
                    "data-target" => ".bs-example-modal-lg"%>
                <%end%>
              </div>
              <%=render "invite"%>
            </div>
          </div>
        </div>

        <%=render "/forms/attachments_show", :owner => @meeting%>
        <%=render "records/transactions", :owner => @meeting%>
      </div>

    </div>
  </div>
</div>


<script>
  function delete_report(report_id, meeting_id,btn){
    var result = confirm("Are you sure?");
    if(result){
      $.get("/reports/" + report_id + "/carryover?meeting_id=" + meeting_id, function(data){
        $(btn).closest('tr').hide();
      });
    }
  }
  $(document).ready(function(){

    $("#message-btn").on('click',function(){
      $.get("<%=message_meeting_path(@meeting)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $("#new_report_btn").on("click",function(){
      $.get("<%=get_reports_meeting_path(@meeting)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $("#send_cisp_btn").on("click",function(){
      $.get("<%=get_cisp_reports_meeting_path(@meeting)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_meeting_path(@meeting)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#comment_btn').on('click',function(){
      $.get("<%=comment_meeting_path(@meeting)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#override_status_btn').on('click',function(){
      $.get("<%=override_status_meeting_path(@meeting)%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#close').on('click',function(){
      var commit=$(this).attr('id');
      $.get("<%=close_meeting_path(@meeting)%>?commit="+commit, function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $(".modal").on("shown.bs.modal", alignModal);

    $(window).on("resize", function(){
        $(".modal:visible").each(alignModal);
    });
  });

  function alignModal() {
    var modalDialog = $(this).find(".modal-dialog");
    if (parseInt(modalDialog.height()) > parseInt($(window).height())){
      modalDialog.css("margin-top", Math.max(-250, ($(window).height() - modalDialog.height()) / 2));
    } else {
      modalDialog.css("margin-top", -250);
    }
  }
</script>
