<div class="col-xs-12 mb10">
  <hr/>
  <h4 style="color:#48C9B0"><b>SEVERITY EXERCISE</b></h4>
  <font size="1">
  <table class="bold table table-bordered table-left table-cursor">
    <tr>
      <th bgcolor="#48C9B0" style="color:white"><h4>SEVERITY</h4></th>
      <th bgcolor="#48C9B0" colspan="5" style="color:white"><h4>CATEGORY</h4></th>
    </tr>
    <tr>
      <th bgcolor="#EAFAF1" width="5%"></th>
      <%@severity_table[:column_header].each do |header|%>
        <th bgcolor="#EAFAF1" width="15%"><h5><%=header.html_safe%></h5></th>
      <%end%>
    </tr>
    <tr>
      <%@severity_table[:row_header].each_with_index do |row_header,row_index|%>
        <tr>
          <th style="text-align:left; vertical-align:middle"
            bgcolor="#EAFAF1"
            width="5%">
            <h5><%=row_header.html_safe%></h5>
          </th>
          <%@severity_table[:column_header].each_with_index do |column_header,column_index|%>
            <td class="baseline_severity_td"
              data-row="<%=row_index%>"
              data-status=""
              data-column="<%=column_index%>">
              <%=@severity_table[:rows][row_index][column_index].html_safe%>
            </td>
          <%end%>
        </tr>
      <%end%>
    </tr>
  </table>
  </font>
</div>
