<div class="col-xs-12">
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Root Causes</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>

    <div class="panel-body" style="display:none">
      <div class="row">
        <div class="col-xs-12">
          <%if owner.status != "Completed" &&
            owner.status != "Rejected" &&
            current_user.has_access("Hazard","edit")%>
            <%=link_to "Add Root Cause",
              "#",
              :class => "btn btn-success pull-right mr5",
              :id => "add_root_cause_btn"%>
          <%end%>

          <div id="root_causes_table">
            <%=render "/root_causes/root_causes_table",
              :show_btns => show_btns,
              :owner => owner,
              :headers => headers%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(function(){
    $("#add_root_cause_btn").on("click", function(){
      $.get("<%=new_root_cause2_hazards_path%>", {'owner_id' : <%=owner.id%>});
    });
    $('#root_causes_table').on('click', ".delete_root_cause_btn", function(){
      if(confirm("Are you sure?")){
        btn = $(this);
        $.ajax({
          url: "<%=root_causes_path%>/" + $(this).data('cid'),
          type: "delete",
          success: function(){
            btn.closest('tr').detach();
          }
        });
      }
    });
  });
</script>
