<div class="row">
  <div class="col-xs-12">
    <div class="cat_<%=@categories.first.level%> form-group row">
      <%=label_tag :category, "Select Category", :class => "col-sm-3 mt5" %>
      <div class="col-sm-6">
        <%=select_tag :category, options_for_select(@categories.map{|x| [x.name, x.id]}), {:include_blank => true, :class => "form-control cat_select"}%>
      </div>
    </div>
    <div class="attributes mt10" id="<%=@categories.first.level%>"></div>
  </div>
</div>


<script>
  $(function(){

    <%if !(defined?(ancestor_ids)).nil? && ancestor_ids.present? && ancestor_ids[@categories.first.level].present?%>
      $("select option").each(function(){
        if ($(this).text() == "<%=CauseOption.find(ancestor_ids[@categories.first.level]).name%>")
          $(this).attr("selected", "selected");
       });
      $.get("<%=retract_categories_root_causes_path%>?ancestor_ids=<%=ancestor_ids.join(',')%>&category_only=true&category=<%=ancestor_ids[@categories.first.level]%>", function(data){
        if(data) $("#<%=@categories.first.level%>").html(data);
      });
    <%end%>

    $('.cat_<%=@categories.first.level%> .cat_select').on('change',function(){
      var level = parseInt("<%=@categories.first.level%>");
      $(".attributes").each(function(){
        if(parseInt($(this).attr("id")) >= level) $(this).html("");
      });
      if ($(this).val() != ""){
        $(".category_id").val($(this).val());
        $.get("<%=retract_categories_root_causes_path%>?category_only=true&category=" + $(this).val(), function(data){
          if(data) $("#<%=@categories.first.level%>").html(data);
        });
      }else{
        var parent_id = $(".cat_<%=@categories.first.level-1%> .cat_select").val();
        $(".category_id").val(parent_id);
      }
    });


  });
</script>
