<div class="title">
  Hazard #<%=owner.get_id%>: <%=owner.title%>
</div>

<div class="content">
  <%=render "forms/print_fields",
    :fields => Hazard.get_meta_fields('show'),
    :owner => owner,
    :deidentified => deidentified%>

  <%if CONFIG::GENERAL[:base_risk_matrix]%>
    <%=render "/shared/print_risk_matrix", :owner => owner %>
  <%else%>
    <%=render "/shared/#{AIRLINE_CODE}/print_risk_matrix", :owner => owner%>
  <%end%>

  <%if owner.occurrences.present?%>
    <div class="col-xs-12">
      <%=render "forms/print_occurrences", :owner => owner %>
    </div>
  <%end%>


  <%owner.risk_controls.each do |risk_control|%>
    <div class="col-xs-12">
      <hr>
      <%=render "/risk_controls/print",
        :owner => risk_control,
        :deidentified => deidentified%>
    </div>
  <%end%>

</div>

