<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<div class="col-xs-12 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Chart View</b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-up"></i></span>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#chart" onclick="drawPieChart();">Pie Chart</a></li>
          <li><a data-toggle="tab" href="#chart" onclick="drawBarChart();">Bar Chart</a></li>
        </ul>

        <div class="tab-content">
          <div id="chart" class="tab-pane fade in active">
            <div id="chart_div" style="width: '100%'"></div>
            <div id="chart_download" align="right"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  function colorInterpolation(steps){
    var colorArray = [];
    if(steps == 1){
      colorArray = ["red"]
    }else{
      var colorInterpolator = d3.interpolateRgb("red", "yellow");
      colorArray = d3.range(0, (1 + 1 / steps), 1 / (steps - 1)).map(function(d) {
        return colorInterpolator(d)
      });
    }
    return colorArray;
  }

  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawBarChart);
  google.charts.setOnLoadCallback(drawPieChart);

  function load_color(){
    var colorArray = colorInterpolation(<%=@root_causes.length%>);
    return colorArray;
  }

  function drawBarChart(){
    $("chart_div").html("");
    var colorArray = load_color();
    var data = new google.visualization.DataTable();
    data.addColumn("string", "Root Cause");
    data.addColumn("number", "Count");
    data.addColumn({type: "string", role: "tooltip"});
    data.addColumn({type: "string", role: "annotationText"});
    data.addColumn({type: "string", role: "style"});
    data.addRows([
      <%@root_causes.each_with_index do |(k,v ), index|%>
        <%="['#{index+1}', #{v}, '#{k.name}', '#{k.id}',"%> colorArray[<%=index%>]],
      <%end%>
    ]);
    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
      { calc: "stringify",
        sourceColumn: 1,
        type: "string",
        role: "annotation"
      }, 2, 3, 4]);
    var options = {
      height: 500,
      title: "Root Causes Distribution",
      titleTextStyle: {color: "black", fontSize: 18, bold: true},
      legend: { position: 'none'},
      bar: {groupWidth: "90%"},
    };
    var barChart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    google.visualization.events.addListener(barChart, 'onmouseover', uselessHandler2);
    google.visualization.events.addListener(barChart, 'onmouseout', uselessHandler3);
    google.visualization.events.addListener(barChart, 'select', function() {
      var selection = barChart.getSelection();
      for (var i = 0; i < selection.length; i++){
        var item = selection[i];
        var cause_option_id = data.getValue(item.row, 3);
        $.get("<%=update_listing_table_hazards_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&cause_option_id=" + cause_option_id, function(data){
          $("#record_listing").html(data);
        });
      }
    });
    google.visualization.events.addListener(barChart, 'ready', function () {
      document.getElementById('chart_download').innerHTML = '<a href="' + barChart.getImageURI() + '"download><u>Download Chart</u></a>';
    });
    barChart.draw(view, options);
  }


  function drawPieChart(){
    $("chart_div").html("");
    var colorArray = load_color();
    var data = new google.visualization.DataTable();
    data.addColumn("string", "Root Cause");
    data.addColumn("number", "Count");
    data.addColumn({type: "string", role: "tooltip"});
    data.addColumn({type: "string", role: "annotationText"});
    data.addColumn({type: "string", role: "style"});
    data.addRows([
      <%@root_causes.each_with_index do |(k,v ), index|%>
        <%="['#{k.name}', #{v}, '#{k.name}', '#{k.id}',"%> colorArray[<%=index%>]],
      <%end%>
    ]);

    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
      { calc: "stringify",
        sourceColumn: 1,
        type: "string",
        role: "annotation"
      }, 2, 3, 4]);
    var options = {
      height: 500,
      title: "Root Causes Distribution",
      titleTextStyle: {color: "black", fontSize: 18, bold: true},
      legend: {position: 'labeled'},
      colors: colorArray,
      pieSliceTextStyle: { color: 'black'},
      pieSliceText: 'annotationText',
      chartArea: {  height: "40%", width: "95%" },
      tooltip: {textStyle: {color: 'black'}, showColorCode: true},
    };
    var pieChart = new google.visualization.PieChart(document.getElementById('chart_div'));
    google.visualization.events.addListener(pieChart, 'onmouseover', uselessHandler2);
    google.visualization.events.addListener(pieChart, 'onmouseout', uselessHandler3);
    google.visualization.events.addListener(pieChart, 'select', function() {
      var selection = pieChart.getSelection();
      for (var i = 0; i < selection.length; i++){
        var item = selection[i];
        var cause_option_id = data.getValue(item.row, 3);
        $.get("<%=update_listing_table_hazards_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&cause_option_id=" + cause_option_id, function(data){
          $("#record_listing").html(data);
        });
      }
    });
    google.visualization.events.addListener(pieChart, 'ready', function () {
      document.getElementById('chart_download').innerHTML = '<a href="' + pieChart.getImageURI() + '"download><u>Download Chart</u></a>';
    });
    pieChart.draw(view, options);
  }

  function uselessHandler2() {
    $('#chart_div').css('cursor','pointer');
  }
  function uselessHandler3() {
    $('#chart_div').css('cursor','default');
  }

  $(window).bind('resizeEnd', function(){
    drawBarChart();
    drawPieChart();
  });


</script>
