<%=
  javascript_include_tag(
    'utility/collapse-panel2',
    'utility/validate-form',
    'utility/delete',
    'utility/jquery.dataTables.min',
    'utility/dataTables.bootstrap.min',
    'utility/dataTables.buttons.min'
  )
%>

<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<%=render "access_controls/new_modal"%>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            Hazard #<%=@hazard.get_id%>: <%=@hazard.title%>
          </div>

          <div class="top_buttons pull-right">
            <%= render '/forms/render_buttons', owner: @hazard, env: :top %>
          </div>

        </div>
      </div>

      <div class="panel-body">
        <div class="col-xs-12 mb20">
        <b> <%= "*At least one #{I18n.t("#{@i18nbase}.root_cause.title")} must be assigned before Completing/Rejecting" if @hazard.occurrence_lock? %></b>
          <%= render '/forms/render_buttons', owner: @hazard, env: :inline %>
        </div>

        <%= render "/forms/show_fields", :fields => Hazard.get_meta_fields('show'), :record => @hazard%>
        <%= render 'risk_matrices/panel_matrix/risk_assessment_panel', risk_type: 'All'%>
        <%=render '/panels/show_panels', owner: @hazard%>

      </div>
    </div>
  </div>
</div>




<script>
  $(document).ready(function(){
    $(".modal").on("hidden.bs.modal", function(){
      $(".modal-content").html("");
    });

    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_hazard_path(@hazard)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
