<%=
  javascript_include_tag(
    'utility/collapse-panel2',
    'utility/validate-form',
    'utility/delete',
    'utility/jquery.dataTables.min',
    'utility/dataTables.bootstrap.min',
    'utility/dataTables.buttons.min'
  )
%>

<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<%=render "access_controls/new_modal"%>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            Hazard #<%=@hazard.get_id%>: <%=@hazard.title%>
          </div>

          <div class="top_buttons pull-right">
            <%= render '/forms/render_buttons', owner: @hazard, env: :top %>
          </div>

        </div>
      </div>

      <div class="panel-body">
      <div class="col-xs-12">
            <%instruction = "<p>"
              instruction = instruction + "<button id ='toggleWorkflowImageButton' type='button' class='btn btn-light' >Show Workflow Image</button>"
              instruction = instruction + "</p>"
              instruction = instruction + "<img id='workflowImage' class = 'workflowImg' height=800 width= 100% >"
            %>
            <%=render "shared/instructions",
              :instruction => instruction%>
        </div>
        <div class="col-xs-12 mb20">
        <b> <%= "*At least one #{I18n.t("#{@i18nbase}.root_cause.title")} must be assigned before Completing/Rejecting" if @hazard.occurrence_lock? %></b>
          <%= render '/forms/render_buttons', owner: @hazard, env: :inline %>
        </div>

        <%= render "/forms/show_fields", :fields => Hazard.get_meta_fields('show'), :record => @hazard%>
        <%= render 'risk_matrices/panel_matrix/risk_assessment_panel', risk_type: 'All'%>
        <%=render '/panels/show_panels', owner: @hazard%>

      </div>
    </div>
  </div>
</div>

<style>
  #workflowImage{
    display: none;
  }
</style>


<script>
  $(document).ready(function(){


    var curr_status = "<%= @owner.status.downcase%>"
    <% status_field_name = CONFIG.srm::HIERARCHY[:objects][@owner.class.name][:fields][:status][:field]%>
    <% curr_status = @owner.send(status_field_name).downcase %>
    console.log(curr_status)
    $("#workflowImage").attr('src', "<%=CONFIG.srm::HIERARCHY[:objects][@owner.class.name][:workflow_images][curr_status]%>")

    $("#toggleWorkflowImageButton").on('click', function(event){
        event.preventDefault();
    
        if($("#workflowImage").is(":visible")){
          $("#workflowImage").delay(1).hide("slow")
          $("#toggleWorkflowImageButton").html("Show Workflow Image")
        }else{
          $("#workflowImage").delay(1).show("slow")
          $("#toggleWorkflowImageButton").html("Hide Workflow Image")
        }
      })

    $(".modal").on("hidden.bs.modal", function(){
      $(".modal-content").html("");
    });

    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_hazard_path(@hazard)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
