<%=render "shared/instructions", :instruction =>
  "Select <b>Baseline Probability</b> and <b>Baseline Severity</b> from the table to assess risk."%>

<div class="form-group col-xs-12">
  <%=f.label :statement, "Notes"%>
  <%=f.text_area :statement, {:class => "form-control ml5", :rows => "2"}%>
</div>

<div class="col-xs-12 col-sm-12 col-md-6">
  <%=render "shared/BOE/form_baseline_risk"%>
  <%=render "shared/BOE/form_baseline_probability"%>
</div>

<div class="col-xs-12 col-sm-12 col-md-6">
  <%=render "shared/BOE/form_baseline_severity"%>
  <%=render "shared/BOE/risk_rating"%>
</div>
