<div class="col-xs-12 mb10">
  <hr/>
  <h4 style="color:#48C9B0"><b>SEVERITY EXERCISE</b></h4>
  <table class="table table-bordered table-centered table-cursor">
    <tr>
      <th bgcolor="#48C9B0" style="color:white">SEVERITY</th>
      <th bgcolor="#48C9B0" colspan="5" style="color:white">CLASS</th>
    </tr>
    <tr>
      <th bgcolor="#EAFAF1" width="5%"></th>
      <%@severity_table[:column_header].each do |header|%>
        <th bgcolor="#EAFAF1" width="15%"><%=header%></th>
      <%end%>
    </tr>
    <tr>
      <%@severity_table[:row_header].each_with_index do |row_header,row_index|%>
        <tr>
          <th bgcolor="#EAFAF1" width="5%"><%=row_header%></th>
          <%@severity_table[:column_header].each_with_index do |column_header,column_index|%>
            <td class="baseline_severity_td" data-row="<%=row_index%>" data-status="" data-column="<%=column_index%>"><%=@severity_table[:rows][row_index][column_index]%></td>
          <%end%>
        </tr>
      <%end%>
    </tr>
  </table>
</div>
