<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/timezone-control.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>


<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="panel-title">
            <%=action_name.titleize%> Recommendation
          </div>
        </div>
        <div class="panel-body">
          <%=form_for @owner.becomes(Recommendation), :html => {:multipart => true} do |f|%>
            <%= render partial: "shared/instructions", :locals => { :owner => @owner, :action_name => action_name, :include_workflow_diagram => CONFIG.hierarchy[session[:mode]][:display_workflow_diagram_module] }%>

            <%if action_name == "new"%>
              <%=f.hidden_field :created_by_id, :value => current_user.id%>
              <%=f.hidden_field :parent_type, :value => @parent_type%>
              <%=f.hidden_field :parent_id,   :value => @parent_id%>
            <%end%>
            <%if params[:owner_type].present?%>
              <%=hidden_field_tag :owner_type, params[:owner_type]%>
              <%=hidden_field_tag :owner_id, params[:owner_id]%>
            <%end%>

            <%=render '/forms/form_fields', :f => f, :fields => @fields, :record => @owner %>
            <%=render '/forms/attachments_form', :f => f, :owner => @owner%>

            <div class="mt10 mr10">
              <%= f.submit "#{action_name == 'new' ? 'Submit' : 'Update'}",
                :class=>"btn btn-success pull-right mt5 mr5",
                :disable_with => "Saving..."%>
              <%=link_to "Cancel",
                @parent_old.present? ? @parent_old : @owner.becomes(Recommendation),
                :class => "btn btn-default pull-right mt5 mr5",
                :confirm => 'Are you sure?'%>
              <%#=link_to "Group Access",
                "#",
                :class => "mr5 btn mt5 btn-info pull-right",
                "data-toggle" => "modal",
                "data-target" => "#group_access"%>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
