<%=
  javascript_include_tag(
    'utility/collapse-panel2.js',
    'utility/format-builder.js',
    'utility/jquery.dataTables.min.js'
  )
%>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="col-xs-12">
      <%=render "shared/alerts" %>
      <%=render "access_controls/new_modal"%>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              Recommendation #<%=@owner.get_id%>: <%=@owner.title%>
            </div>
            <div class="top_buttons pull-right">
              <%= render 'forms/render_buttons', owner: @owner, env: :top %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 mb15">
            <%= render 'forms/render_buttons', owner: @owner, env: :inline %>

            <%if @owner.status == 'New' && !@owner.can_assign?(current_user) && CONFIG::GENERAL[:has_source_of_input_msg]%>
              <b style='color:red;'>*Please complete the <%=link_to "Source of Input", @owner.owner %> before assigning the Recommendation.</b>
            <%end%>
          </div>

          <%= render '/forms/show_fields', :fields => @fields, :record => @owner %>
          <%= render '/panels/show_panels', owner: @owner %>

      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function(){
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_recommendation_path(@owner)%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
