<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>


<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="col-xs-12">
      <%=render "shared/alerts" %>
      <%=render "access_controls/new_modal"%>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              Recommendation #<%=@owner.get_id%>: <%=@owner.title%>
            </div>
            <div class="top_buttons pull-right">
              <%= render 'forms/btns/render_btns',
                btns: [
                  'delete',
                  'override_status',
                  'edit',
                  'deid_pdf',
                  'pdf',
                  'view_parent',
                  'send_message',
                  'expand_all'
                ],
                owner: @owner %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 mb15">
            <%= render 'forms/btns/render_btns',
              btns: [
                'assign',
                'complete',
                'approve_reject',
                'reopen',
                'comment'
              ],
              owner: @owner %>

            <%if @owner.status == 'New' && !@owner.can_assign? %>
              <b style='color:red;'>*Please complete the Source of Input before assigning the Recommendation.</b>
            <%end%>
          </div>

          <%=render '/recommendations/show', :owner => @owner, :show_btn => true%>
          <%=render "/forms/show_comment", :owner => @owner%>
          <%=render "/forms/attachments_show", :owner => @owner%>
          <%=render "/records/transactions", :owner => @owner%>

      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function(){
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_recommendation_path(@owner)%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
