<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%= render "shared/alerts" %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <b><%=controller.action_name.titleize+" "+@template.name%></b>
        </div>
      </div>

      <div class="panel-body">
        <%= form_for @record  ,:html => {:multipart => true} do |f|%>
          <%=f.hidden_field :user_id, :value => current_user.id%>
          <%=f.hidden_field :orm_template_id, :value => @template.id%>
          <div style="overflow-x:hidden;overflow-y:auto" class="main-body">
            <div class="form-group form-inline col-xs-4">
              <%=f.label :submitted_by, "Submitted By"%>
              <input type="text" class="form-control" value="<%=current_user.full_name%>" readonly />
            </div>
            <div class="form-group form-inline col-xs-4">
              <%=f.label :tail_number, "Airplane Tab/Tail No."%>
              <%=f.text_field :tail_number,:class=>"form-control ml5"%>
            </div>
            </br>
            <div class="col-xs-12">
              <h4 style="font-weight:bold">Total Score: <b id="total_score" style="color:red"></b></h4>
            </div>

            <div class="panel-body">
            <table class="table table-bordered" width="100%" id="fixedheight">
              <thead>
                <tr style="font-size:18px;">
                  <th width="20%" bgcolor="#F0F0F0" >Item</th>
                  <th width="20%" bgcolor="green">Low</th>
                  <th width="20%" bgcolor="yellow">Moderate</th>
                  <th width="20%" bgcolor="red">High</th>
                </tr>
              </thead>
              <tbody>
                <%@template.orm_fields.each do |x|%>
                  <tr aid="<%=x.id%>">
                    <th bgcolor="#F0F0F0" style="font-size:15px;"><%=x.name%></th>
                    <td class="preset_td" data-row="<%=x.id%>" data-column="low" data-value="<%=x.low_pt%>" data-status="">
                      <p style="text-align:left;"><%=x.low%></p><span class="badge badge-success" style="float:right;"><%=x.low_pt%></span>
                    </td>
                    <td class="preset_td" data-row="<%=x.id%>" data-column="moderate" data-value="<%=x.moderate_pt%>" data-status="">
                      <p style="text-align:left;"><%=x.moderate%></p><span class="badge badge-warning" style="float:right;"><%=x.moderate_pt%></span>
                    </td>
                    <td class="preset_td" data-row="<%=x.id%>" data-column="high" data-value="<%=x.high_pt%>" data-status="">
                      <p style="text-align:left;"><%=x.high%></p><span class="badge badge-danger" style="float:right;"><%=x.high_pt%></span>
                    </td>
                  </tr>
                <%end%>
                <tr>
                  <th bgcolor="#F0F0F0" style="font-size:15px;">Intangible Consideration</th>
                  <td>Crew feels mission is LOW risk<%=f.number_field :extra_low, :class => "form-control extra_low"%></td>
                  <td>Crew feels mission is MODERATE risk<%=f.number_field :extra_moderate, :class => "form-control extra_moderate"%></td>
                  <td>Crew feels mission is HIGH risk<%=f.number_field :extra_high, :class => "form-control extra_high"%></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>

          <%= f.submit "Submit", :class => "btn btn-success pull-right mr10", disable_with: "Submitting...", confirm: "Are you sure?"%>
          <%=link_to "Cancel", root_url, :class => "mr5 btn btn-warning pull-right", :confirm=>'Are you sure?'%>

        <%end%>
      </div>
    </div>
  </div>
</div>





<style>
  .preset_td:hover {
    opacity: 0.8;
    background-color: #F0F8FF;
    cursor: pointer;
  }
  #fixedheight {
    table-layout: fixed;
  }
  table td {
    height: 60px;
    overflow: hidden;
  }
</style>





<script type="text/javascript">

  $(function(){
    var total_score = 0;
    $("#total_score").html(total_score);

    // Submitting form
    $("form").on("submit", function(){
      $("form").append("<input name='orm_submission[total_score]' value=" + total_score + " hidden></input>");
      $(".preset_td").each(function(index, el){
        if($(this).data("status") === "checked"){
          $("form").append("<input name='orm_submission[orm_submission_fields_attributes][" + index + "][orm_field_id]' value=" + $(this).data("row") + " hidden></input>");
          $("form").append("<input name='orm_submission[orm_submission_fields_attributes][" + index + "][selected]' value=" + $(this).data("column") + " hidden></input>");
        }
      });
    });

    var previous_low = 0;
    var previous_moderate = 0;
    var previous_high = 0;

    function setLow(){
      previous_low = 0;
      if($(".extra_low").val() != ""){
        previous_low = parseInt($(".extra_low").val());
      }
    }
    function setModerate(){
      previous_moderate = 0;
      if($(".extra_moderate").val() != ""){
        previous_moderate = parseInt($(".extra_moderate").val());
      }
    }
    function setHigh(){
      previous_high = 0;
      if($(".extra_high").val() != ""){
        previous_high = parseInt($(".extra_high").val());
      }
    }

    // Manually set the score
    $('.extra_low').on("change", function(){
      total_score = total_score - previous_low;
      setLow();
      total_score = total_score + previous_low;
      console.log(total_score);
      $("#total_score").html(total_score);
    });
    $('.extra_moderate').on("change", function(){
      total_score = total_score - previous_moderate;
      setModerate();
      total_score = total_score + previous_moderate;
      console.log(total_score);
      $("#total_score").html(total_score);
    });
    $('.extra_high').on("change", function(){
      total_score = total_score - previous_high;
      setHigh();
      total_score = total_score + previous_high;
      console.log(total_score);
      $("#total_score").html(total_score);
    });



    // Clicking
    $(".preset_td").on("click", function(){
      if($(this).data("status") === "checked"){
        $(this).data("status", "");
        $(this).css("background", "none");
        total_score = total_score - $(this).data("value");
      }else{
        $(this).data("status", "checked");
        $(this).css("background", "#B0E2FF");
        row_id = $(this).data("row");
        column_id = $(this).data("column");
        total_score = total_score + $(this).data("value");
        $(".preset_td").each(function(){
          if($(this).data("row") == row_id && $(this).data("column") != column_id){
            if($(this).data("status") === "checked"){
              $(this).data("status", "");
              $(this).css("background", "none");
              total_score = total_score - $(this).data("value");
            }
          }
        });
      }
      $("#total_score").html(total_score);
    });
  });

</script>












