<div class="title">
  Investigation #
  <%=@investigation.get_id%>:
  <%=@investigation.title%>
</div>


<div class="content">
  <%fields = Investigation.get_meta_fields('show')%>
  <%=render "forms/print_fields",
    :fields => fields,
    :owner => @investigation,
    :deidentified => @deidentified
  %>

  <%if CONFIG::GENERAL[:base_risk_matrix]%>
    <%=render "/shared/print_risk_matrix",
      :owner => @investigation
    %>
  <%else%>
    <%=render "/shared/#{AIRLINE_CODE}/print_risk_matrix",
      :owner => @investigation
    %>
  <%end%>

  <%if @investigation.descriptions.present?%>
    <%=render "forms/print_descriptions",
      :descriptions => @investigation.descriptions,
      :title => "Descriptions"%>
  <%end%>

  <%if @investigation.causes.present?%>
    <%=render "forms/print_descriptions",
      :descriptions => @investigation.causes,
      :title => "Causes"%>
  <%end%>

  <%if @investigation.findings.present?%>
    <%@investigation.findings.each do |finding|%>
    <div class="col-xs-12">
      <hr>
      <%=render "findings/print",
          :owner => finding,
          :deidentified => @deidentified
        %>
      </div>
    <%end%>
  <%end%>

  <%@investigation.corrective_actions.each do |c|%>
    <div class="col-xs-12">
      <hr>
      <%=render "sms_actions/print",
        :owner => c,
        :deidentified => @deidentified
      %>
    </div>
  <%end%>

  <%@investigation.recommendations.each do |c|%>
    <div class="col-xs-12">
      <hr>
      <%=render "recommendations/print",
        :owner => c,
        :deidentified => @deidentified
      %>
    </div>
  <%end%>

  <% if @investigation.owner.class.name == 'Report'%>
    <div class="col-xs-12">
      <hr>
      <%=render "reports/print",
        :owner => @investigation.owner,
        :deidentified => true
      %>
    </div>
  <%end%>

  <% if @investigation.owner.class.name == 'Record'%>
    <div class="col-xs-12">
      <hr>
      <%=render "records/print",
        :owner => @investigation.owner,
        :deidentified => true
      %>
    </div>
  <%end%>

</div>
