<%=
  javascript_include_tag(
    'utility/collapse-panel2',
    'utility/jquery.dataTables.min',
    'utility/dataTables.bootstrap.min',
    'utility/dataTables.buttons.min',
    'utility/format-builder'
  )
%>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              <%="Investigation ##{@owner.get_id}: #{@owner.title}"%>
            </div>
            <div class="top_buttons pull-right">

              <%= render '/forms/btns/render_btns',
                btns: [
                  'delete',
                  'override_status',
                  'edit',
                  'sign',
                  'deid_pdf',
                  'pdf',
                  'view_parent',
                  'viewer_access',
                  'attach_in_message',
                  'expand_all'
                ],
                owner: @owner %>

            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 mb15">

            <%= render '/forms/btns/render_btns',
              btns: [
                'assign',
                'complete',
                'approve_reject',
                'reopen',
                'recommendation',
                'contact',
                'task',
                'cost',
                'sms_action',
                'finding',
                'comment'
              ],
              owner: @owner %>

          </div>

          <%=render '/forms/show_fields', :fields => @fields, :record => @owner %>
          <!-- <%#=render '/checklists/checklist_types', :owner => @owner, :type => 'investigation'%> -->

          <%can_change = @owner.status != "Completed" &&
            @owner.status != "Pending Approval" &&
            current_user.has_access("investigations","edit")%>

          <%=render 'shared/choose_show_matrix',
            :owner => @owner,
            :show_btn => true,
            :type => "investigations",
            :like => @like,
            :color_matrix => @color_matrix,
            :frequency => @frequency,
            :allow_mitigate => true,
            :can_change => can_change%>


          <%=render '/causes/all',
            :owner => @owner,
            :cause_type => 'description',
            :can_change => can_change%>
          <%=render '/causes/all',
            :owner => @owner,
            :cause_type => 'cause',
            :can_change => can_change%>

          <%=render '/panels/show_panels', owner: @owner%>

        </div>
      </div>
    </div>
  </div>
</div>



<style>
  .datepicker{
    z-index: 1200!important;
  }
</style>



<script>
  $(document).ready(function(){
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_investigation_path(@owner)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#mitigate_btn').on('click',function(){
      $.get("<%=mitigate_investigation_path(@owner)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#baseline_btn').on('click',function(){
      $.get("<%=baseline_investigation_path(@owner)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#item_table').dataTable();
  });
</script>
