<%=
  javascript_include_tag(
    'utility/collapse-panel2',
    'utility/jquery.dataTables.min',
    'utility/dataTables.bootstrap.min',
    'utility/dataTables.buttons.min',
    'utility/format-builder'
  )
%>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              <%="Investigation ##{@owner.get_id}: #{@owner.title}"%>
            </div>
            <div class="top_buttons pull-right">

              <%= render '/forms/render_buttons', owner: @owner, env: :top %>

            </div>
          </div>
        </div>
        <div class="panel-body">
          <%= render partial: "shared/instructions", :locals => { :owner => @owner, :action_name => params[:action], :include_workflow_diagram => CONFIG.hierarchy[session[:mode]][:display_workflow_diagram_module] }%>

          <div class="col-xs-12 mb15">

            <%= render '/forms/render_buttons', owner: @owner, env: :inline %>

          </div>

          <%=render '/forms/show_fields', :fields => @fields, :record => @owner %>
          <%=render '/checklists/checklist_types', :owner => @owner, :type => 'investigation'%>

          <%can_change = @owner.status != "Completed" &&
            @owner.status != "Pending Approval" &&
            current_user.has_access("investigations","edit")%>

          <%=render 'risk_matrices/panel_matrix/risk_assessment_panel', risk_type: 'All', hide_btns: !current_user.has_access(@owner.rule_name, 'edit', admin: CONFIG::GENERAL[:global_admin_default]) %>
          <%=render '/panels/show_panels', owner: @owner%>

        </div>
      </div>
    </div>
  </div>
</div>



<style>
  .datepicker{
    z-index: 1200!important;
  }
</style>



<script>
  $(document).ready(function(){

    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_investigation_path(@owner)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#item_table').dataTable();

  });
</script>
