<%size = is_nested_field ? 'col-xs-12' : calculate_column_size(field: field)%>

<div class="<%=size%> form-group">

  <label>
    <%=field.get_label.present? ? field.get_label.html_safe : nil%>
    <%=" (##{field.id})" if Rails.env.development?%>
  </label>


  <%required = field.required? ? "required_field" : "" %>

  <%if field.display_type == 'text'%>
    <%if field.data_type == 'date'%>
      <%field_class = 'field-date form-control'%>
    <%elsif field.data_type == 'datetime'%>
      <%field_class = 'field-datetime form-control'%>
    <%else%>
      <%field_class = 'form-control'%>
    <%end%>
    <%=text_field_tag :value, nil, {class: "#{required} #{field_class} #{field.element_class}", id: field.element_id}%>


  <%elsif field.display_type == 'textarea'%>
    <%=text_area_tag :value, nil,
      {class: "#{required} form-control #{field.element_class}",
      rows: 4,
      id: field.element_id}%>

  <%elsif field.display_type == "dropdown"%>
    <%if field.data_type == "timezone"%>
      <div class="input-group">
        <%=select_tag :value,
          options_for_select(field.getOptions),
          { include_blank: true,
            class: 'form-control tz atz timezone_field field_select ' + required,
          :id => "#{field.id}"}%>
        <span class="input-group-addon tc">All</span>
      </div>
    <%else%>
      <%=select_tag :value, options_for_select(field.getOptions),
        { include_blank: '',
          "data-id" => field.id,
          class: "#{required} field_select form-control #{field.element_class}",
          id: field.element_id}%>
    <%end%>

  <%elsif field.display_type == 'checkbox'%>
    </br>
    <div class="<%=field.display_size == 12 && field.show_label ? '' : 'smallselect'%> row <%=field.show_label ? 'mt5' : ''%> <%=required%>">
      <div class="col-xs-12">
        <%field.getOptions.each do |option|%>
          <div class="col-xs-6">
            <label class="checkbox">
              <%=check_box_tag :value, nil, nil, {class: "checkbox field_cb_select", "data-id" => field.id, name: "#{option}"}%>
              <%=option%>
            </label>
          </div>
        <%end%>
      </div>
    </div>
  <%elsif field.display_type == "radio"%>
    <div  class="<%=field.display_size == 12 && field.show_label  ? '' : 'smallselect'%> <%=field.show_label ? 'mt5' : ''%> <%=required%>">
      <div class="col-xs-12">
        <%field.getOptions.each do |option|%>
          <div class="col-xs-6">
            <label class="radio">
              <%=radio_button_tag :value, option, false, :class => "radio field_rb_select", "data-id" => field.id%>
              <%=option%>
            </label>
          </div>
        <%end%>
      </div>
    </div>
  <%elsif field.display_type == "employee"%>
    <div class="input-group">
      <%=text_field_tag field.get_label, nil,
        { class: "form-control ml5 emp #{required}",
          readonly: true,
          id: "emp#{field.id}"}%>
      <span class="input-group-btn">
        <%=link_to "...", "#",
          :class => "btn btn-info emp_button",
          "data-toggle"=>"modal",
          "data-target"=>".emp_modal",
          :id=>"#{field.id}"%>
      </span>
    </div>
  <%elsif field.display_type == "map"%>
    <div class="input-group">
      <%=text_field_tag field.get_label, nil,
        { class: "form-control ml5 map #{required}",
          readonly: true,
          id: "map#{field.id}"}%>
      <span class="input-group-btn">
        <%=link_to "...", "#",
          :class => "btn btn-info map_button",
          "data-toggle"=>"modal",
          # "data-target"=>".emp_modal",
          :id=>"#{field.id}"%>
      </span>
    </div>
  <%elsif field.display_type == "airport"%>
    <div class="input-group">
      <%=text_field_tag field.get_label, nil,
        {:class => "form-control ml5 airport " + required,
          :readonly => true,
          :id => "airport#{field.id}"}%>
      <span class="input-group-btn">
        <%=link_to "...", "#",
          :class => "btn btn-info airport_button",
          "data-toggle" => "modal",
          "data-target" => ".airport_modal",
          :id => "#{field.id}"%>
      </span>
    </div>
  <%elsif field.display_type == "datalist"%>
    <%=text_field_tag :value, nil,
      {:list => "#{field.id}",
      :class => "field_select form-control " + required,
      "data-id" => field.id}%>
    <datalist id="<%=field.id%>">
      <%field.getOptions.each do |opt|%>
        <option value="<%=opt%>"></option>
      <%end%>
    </datalist>
  <%end%>
</div>
