<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/dirty-form.js"></script>


<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="col-lg-12">
      <div class="panel panel-warning">

        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              <b><%=(@action == "new") ? "New Template" : "Edit Template: #{@template.name}" %></b>
            </div>
            <div class="top_buttons pull-right">
              <%=link_to "Expand All","#",:class=>"btn btn-default mr5 expandall pull-right ml5 mb5"%>
            </div>
          </div>
        </div>

        <div class="panel-body" id="form_body">

          <%=form_for @template, html: {id: 'submit-form', class: 'dirty-submit', multipart: true} do |f|%>
            <%=render "shared/instructions",
              :instruction =>
              'Use  <span class="glyphicon glyphicon-move"></span>  to reorder Fields and Categories</br>Nested fields can be added to dropdown, checkbox and radio fields only</br>'%>

            <div class="col-xs-12">
              <div class="form-inline col-xs-4">
                <%=f.label :name, "Template Name"%>
                <%=f.text_field :name,{:class=>"form-control"}%>
              </div>
              <div class="form-inline col-xs-8">
                <%=f.label :description, "Descriptions"%>
                <%=f.text_field :description, {:class=>"form-control"}%>
              </div>
            </div>

            <div class="col-xs-12 mt20">
              <div class="form-inline col-xs-3">
                <%if @template.map_template_id.present?%>
                  <%map_template =  @template.map_template_id%>
                <%end%>
                <%=f.label :map_template_id, "Related Template"%>
                <%=f.select :map_template_id,
                  options_from_collection_for_select(@all_templates,'id','name', map_template),
                  {:include_blank=>""},
                  {:class=>"form-control"}%>
              </div>

              <div class="form-inline col-xs-3">
                <%=f.label :js_link, "Custom JS"%>
                <%=f.text_field :js_link, {:class => "form-control"}%>
              </div>

              <div class="form-inline col-xs-3">
                <%=f.label :allow_anonymous, "Allow Anonymous Submission"%>
                <%boolean_options = {"Yes" => true, "No" => false}%>
                <%=f.select :allow_anonymous,
                  options_for_select(boolean_options, @template.send(:allow_anonymous)),
                  {},
                  {:class => "form-control"}%>
              </div>
              <div class="form-inline col-xs-3">
                <%default_status = @template.default_status || 'New'%>
                <%=f.label :default_status, "Default Status"%>
                <%=f.select :default_status,
                  options_for_select(Record.progress.keys, default_status),
                  {},
                  {:class => "form-control"}%>
              </div>
            </div>
            <div class='col-xs-12 mt20'>
              <div class="form-inline col-xs-6">
                <%=f.label :submitter_message, "Submitter Confirmation Message"%>
                <%=f.text_area :submitter_message,
                :placeholder => ('This message is to confirm that your submission #ID, Title, has been successfully submitted.' if @template.submitter_message.blank?),
                :class => "form-control ",
                :rows => 4%>
              </div>
              <div class="form-inline col-xs-6">
                <%=f.label :notifier_message, "Notifier Notification Message"%>
                <%=f.text_area :notifier_message,
                :placeholder => ('A new Template Name submission is submitted. (#ID  Title)' if @template.notifier_message.blank?),
                :class => "form-control ",
                :rows => 4%>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:10px; margin-bottom:10px">
              <div class="col-xs-12">
                <input name="show_extra_info" type="checkbox">
                <b>Show all options?</b>
              </div>
              <div class="col-xs-12">
                <input name="show_deleted_fields" type="checkbox">
                <b>Show Archived Fields?</b>
              </div>
              <div class="col-xs-12">
                <input name="show_deleted_categories" type="checkbox">
                <b>Show Archived Categories?</b>
              </div>
            </div>

            <div class="row draggablePanelList" id="categories">
              </br>
              <%if @action == "edit"%>
                <% @template.categories.order(:category_order).each_with_index do |c, index| %>
                  <%@cat = c%>
                  <%=f.fields_for :categories, c do |ff|%>
                    <%=render "category_fields", :category => c, :f => ff, :source => "Existing", :cat_index => index %>
                  <%end%>
                  <%@cat = nil%>
                <%end%>
              <%end%>
            </div>

            <%=link_to_add_fields 'Add a Category',
              f,
              :categories,
              partial: 'category_fields'%></br>


            <div class="form-actions pull-right">
              <%= f.submit "Save", :class => "btn btn-success", :disable_with => "Saving..."%>
            </div>
            <%=link_to "Cancel",
              @action == "new" ? root_url : template_path(@template),
              :id => "cancel-btn",
              :class => "mr5 btn btn-default pull-right",
              :confirm => 'Are you sure?'%>
          <%end%>
        </div>

      </div>
    </div>
  </div>
</div>


<datalist id="eccairs_attributes_names">
  <%@eccairs_attributes.each do |attribute|%>
    <option value="<%=attribute.attribute_synonym%>" data-id="<%=attribute.id%>"></option>
  <%end%>
</datalist>

<script>
  $(function(){

    $(".archive_btn").on("click", function(){
      if($(this).text() == "Archive"){
        $(this).closest("td").find("#delete_field").val(true);
        $(this).closest('.to_delete').find(".form-control, .form-field-order").addClass('changed');
        $(this).text("Unarchive");
        $(this).removeClass("btn-warning").addClass("btn-default");
      }else{
        $(this).closest("td").find("#delete_field").val(false);
        $(this).closest('.to_delete').find(".form-control, .form-field-order").addClass('changed');
        $(this).text("Archive");
        $(this).removeClass("btn-default").addClass("btn-warning");
      }
    });


    $("input[type='checkbox'][name='show_extra_info']").change(function(){
      if($(this).prop('checked')){
        $(".extra_info").show();
      }else{
        $(".extra_info").hide();
      }
    });
    $("input[type='checkbox'][name='show_deleted_fields']").change(function(){
      if($(this).prop('checked')){
        $(".deleted_fields").show();
      }else{
        $(".deleted_fields").hide();
      }
    });
    $("input[type='checkbox'][name='show_deleted_categories']").change(function(){
      if($(this).prop('checked')){
        $(".deleted_categories").show();
      }else{
        $(".deleted_categories").hide();
      }
    });

    var panelList = $(".draggablePanelList");
    panelList.each(function(){
      $(this).sortable({
        handle: $(this, ".drag_and_drop"),
        cursor: "move",
        start: function(event, ui){
          ui.placeholder.height(ui.item.height());
          ui.placeholder.width(ui.item.width());
        },
        update: function(event, ui){
          $('.panel', this).each(function(index, elem) {
            $('.form-template-order', this).val(index);
          });
        }
      });
    });


    // ECCAIRS
    $(document).on('change', '.eccairs_attribute_name_field', function() {
      var selected = $(this).val();
      var attribute_id = $('#eccairs_attributes_names option[value="' + selected +'"]').attr('data-id');
      $(this).next('.eccairs_attribute_id_field').val(attribute_id);
    });

  });
</script>
