
<div class="panel panel-default">

<div class="panel-heading click-heading">
</div>
<div class="panel-body">

<%if defined?(field) && field.deleted?%>
  <%deleted = "deleted_fields" %>
<%end%>



  <tr class="field_group to_delete" style="background-color:#F6F7C8">



  <!--TR 9/8/18 If the field is deleted then add the deleted_fields class-->



  <td>
    <center><span class="drag_and_drop glyphicon glyphicon-move"></span></center>

      <%= f.hidden_field :field_order, :value => 10000, :class => "form-field-order" %>

  </td>

  <td><%=f.text_field   :label,                                               {:class => "form-control"}%>                    </td>
  <td><%=f.select       :display_type,  Field.getDisplay_type, {},            {:class => "form-control date-type-select"}%>   </td>
  <td><%=f.select       :data_type,     Field.getData_type, {},               {:class => "form-control"}%>                    </td>
  <td><%=f.select       :display_size,  Field.getDisplay_size, {},            {:class => "form-control"}%>                    </td>
  <td><%=f.select       :show_label,    [["Yes", true], ["No", false]], {},   {:class => "form-control"}%>                    </td>
  <td><%=f.select       :required,      [["Yes", true], ["No", false]], {},   {:class => "form-control"}%>                    </td>
  <td><%=f.select       :print,         [["Yes", true], ["No", false]], {},   {:class => "form-control"}%>                    </td>
  <td class="extra_info"><%=f.number_field :max_length,                                          {:class => "form-control"}%>                    </td>
  <td class="extra_info"><%=f.number_field :max_options,                                         {:class => "form-control"}%>                    </td>
  <td><%=f.select       :additional_info, [["Yes", true], ["No", false]], {}, {:class => "form-control"}%>                    </td>
  <td><%=f.text_area    :options,                                             {:class => "form-control", :size => "1"}%>      </td>
  <td>

      <button type="button" class="btn btn-danger" onclick="removeField(this)">Remove</button>

  </td>


  <td class="extra_info"><%=f.text_field :element_id,         {:class => "form-control"}%></td>
  <td class="extra_info"><%=f.text_field :element_class,      {:class => "form-control"}%></td>
  <td class="extra_info"><%=f.text_field :map_id,             {:class => "form-control"}%></td>



</tr>

</div>

</div>

<script type="text/javascript">

  $(function(){
    $(".extra_info").hide();
    $(".deleted_fields").hide();
  });

  var fieldList = $(".draggableFieldGroup");
  fieldList.each(function(){
    $(this).sortable({
      handle: $(this, ".drag_and_drop"),
      forcePlaceholderSize: true,
      cursor: "move",
      animation: 100,
      start: function(event, ui){
        console.log("start field");
        ui.placeholder.height(ui.item.height());
        ui.placeholder.width(ui.item.width());
      },
      update: function(event, ui){
        $('.field_group', this).each(function(index, elem) {
          $('.form-field-order', this).val(index);
        });
      }
    });
  });

  function removeField(deletable){
    $(deletable).closest('.to_delete').remove();
  }

</script>
