<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>

<%=form_tag edit_nested_fields_templates_path, method: :post, remote: true do%>
  <%=hidden_field_tag :field_id, @field.id, {:class => "changed"}%>
  <%=hidden_field_tag :category_id, @category.id, {:class => "changed"}%>
  <%=fields_for :category, @category do |f1|%>
    <%@field.getOptions.each do |x|%>
      <div class="panel panel-info">
        <div class="panel-heading click-heading">
          <div class="panel-title"><font style="color:black"><%=x%></font></div>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Field Name</th>
                <th>Field Type</th>
                <th>Data Type</th>
                <th>Size</th>
                <th>Required</th>
                <th>Print in De-ID</th>
                <th>Options (split by semicolon)</th>
                <th>Predefined Options</th>
                <th class="extra_info">Show Label</th>
                <th class="extra_info">Max Character Count</th>
                <th class="extra_info">Min Options Selectable</th>
                <th class="extra_info">Additional Info?</th>
                <th class="extra_info">HTML ID</th>
                <th class="extra_info">HTML CLASS</th>
                <th class="extra_info">Mapped Field</th>
                <%if CONFIG::GENERAL[:integrations].include?('eccairs')%>
                  <th class="extra_info">ECCAIRS Attribute Name</th>
                <%end%>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="draggableFieldGroup" id="fields">
              <%@nested_fields.where(:deleted => false, :nested_field_value => x).order(:field_order).each_with_index do |field, ind|%>
                <%=f1.fields_for :fields, field do |f|%>
                  <tr class="field_group">
                    <td><%=f.text_field :label, {:class => "form-control"}%></td>
                    <td><%=f.select :display_type, Field.getDisplay_type, {}, {class: "form-control date-type-select"}%></td>
                    <td><%=f.select :data_type, Field.getData_type, {}, {class: "form-control"}%></td>
                    <td><%=f.select :display_size, Field.getDisplay_size, {}, {class: "form-control"}%></td>
                    <td><%=f.check_box :required, class: "form-control"%></td>
                    <td><%=f.check_box :print, class: "form-control"%></td>
                    <td><%=f.text_area :options, {class: "form-control", :size => "1"}%></td>

                    <td>
                      <%=f.select :custom_option_id,
                        options_for_select(CONFIG.custom_options_arr.map{|x| [x.title, x.id]}.to_h, (field.custom_option_id rescue nil)),
                        {include_blank: ''},
                        {class: "form-control"}%>
                    </td>

                    <td class="extra_info"><%=f.check_box :show_label, class: "form-control"%></td>
                    <td class="extra_info"><%=f.number_field :max_length, {class: "form-control"}%></td>
                    <td class="extra_info"><%=f.number_field :max_options, {class: "form-control"}%></td>
                    <td class="extra_info"><%=f.check_box :additional_info, class: "form-control"%></td>
                    <td class="extra_info"><%=f.text_field :element_id, {class: "form-control"}%></td>
                    <td class="extra_info"><%=f.text_field :element_class, {class: "form-control"}%></td>
                    <td class="extra_info"><%=f.text_field :map_id, {class: "form-control"}%></td>

                    <%if CONFIG::GENERAL[:integrations].include?('eccairs')%>
                      <td class='extra_info'>
                        <%eccairs_mapping = (field.eccairs_mappings.first rescue nil) || (field.eccairs_mappings.build rescue nil)%>
                        <%eccairs_mapping ||= EccairsMapping.new%>
                        <%=f.fields_for :eccairs_mappings, eccairs_mapping do |eccairs_form|%>
                          <%=text_field_tag :eccairs_attribute_name,
                            (eccairs_mapping.eccairs_attribute.attribute_synonym rescue nil),
                            list: 'eccairs_attributes_names', class: 'form-control eccairs_attribute_name_field'%>
                          <%=eccairs_form.hidden_field :eccairs_attribute_id, class: 'eccairs_attribute_id_field'%>
                        <%end%>
                      </td>
                    <%end%>

                    <td>
                      <%=f.hidden_field :field_order, value: ind, class: "form-field-order"%>
                      <%=link_to '<i class="glyphicon glyphicon-move"></i>'.html_safe, '#',
                        class: 'btn btn-sm btn-lightblue drag_and_drop mt5',
                        title: 'Move'%>

                      <%if field.deleted?%>
                        <%=link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, '#',
                          class: 'btn btn-sm btn-default archive_btn mt5',
                          title: 'Unarchive'%>
                      <%else%>
                        <%=link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, '#',
                          class: 'btn btn-sm btn-warning archive_btn mt5',
                          title: 'Archive'%>
                      <%end%>
                      <%=f.hidden_field :deleted, id: "delete_field"%>
                    </td>

                  </tr>
                <%end%>
              <%end%>
            </tbody>

            <%=link_to_add_fields 'Add a Field',
              f1,
              :fields,
              {nested_field_value: x, nested_field_id: @field.id},
              partial: 'field_fields'%>
            </br>

          </table>
        </div>
      </div>
    <%end%>
  <%end%>

  <%=submit_tag "Submit", :class => "btn btn-success pull-right", :disable_with => "Submitting..."%>
  <a class="btn btn-default pull-right mr5" onclick="closeSwal()">Cancel</a>
<%end%>


<style>
  .custom-swal {
    width: 90% !important;
    max-height: 70% !important;
    font-family: "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
  }
</style>
