<div class="col-xs-12">
  <div class="panel panel-info">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Verifications</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>

    <div class="panel-body" style="display:none">
      <div class="table-responsive">
        <table id="records_table"
          class="table table-striped table-bordered"
          width="100%">
          <thead>
            <tr>
              <%Verification.get_meta_fields('index').each do |field|%>
                <th><%=field[:title]%></th>
              <%end%>
              <th width="20%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <%records.each do |record|%>
              <tr record_id="<%=record.id%>">
                <%validator_ids = []%>
                <%Verification.get_meta_fields('index').each do |field|%>
                  <%field_name = field[:field]%>
                  <%field_value = record.send(field_name)%>
                  <%field_display = field[:display]%>
                  <%field_progress = field[:progress].present? ? record.send(field[:progress]) : '0%'%>
                  <%html_class = field[:html_class].present? ? record.send(field[:html_class]) : ''%>
                  <td class="<%=html_class%> percent" percentage="<%=field_progress%>">
                    <%case field[:type]%>
                    <%when "boolean"%>
                      <%boolean_options = {true => "Yes", false => "No"}%>
                      <%=boolean_options[field_value]%>
                    <%when "date"%>
                      <%=date_to_string(field_value)%>
                    <%when "datetime"%>
                      <%=datetime_to_string(field_value)%>
                    <%when "checkbox"%>
                      <%=field_value%>
                    <%when "user"%>
                      <%if field_value != nil && field_value != ""%>
                        <%user = User.find(field_value)%>
                        <%if user.present?%>
                          <%=User.find(field_value).full_name%>
                        <%end%>
                      <%else%>
                        <%=""%>
                      <%end%>
                    <%when "textarea"%>
                      <%=field_value.gsub(/\n/, '<br/>').html_safe rescue ''%>
                    <%when "select"%>
                      <%if field_display.present?%>
                        <%=field_display[field_value]%>
                      <%else%>
                        <%=field_value%>
                      <%end%>
                    <%when "select_multiple"%>
                      <% if field_value.nil? %>
                        <%=record.validator.full_name%>
                        <%validator_ids << record.validator.id%>
                      <% else %>
                        <%validator_ids = field_value.select { |value| User.find_by_id(value) }%>
                        <%validators = validator_ids.map { |id| User.find(id).full_name }%>
                        <%=validators.join(', ')%>
                      <% end%>
                    <%else%>
                      <%=field_value%>
                    <%end%>
                  </td>
                <%end%>
                <td>
                  <%if ["New", "Overdue"].include? record.status%>
                    <%=link_to "Edit",
                      "#",
                      :route => edit_verification_path(record),
                      :class => "btn btn-warning mr5 mb5 edit_verification_btn",
                      "data-toggle"=>"modal",
                      "data-target"=>".bs-example-modal-lg"%>
                    <%if validator_ids.include?(current_user.id)%>
                      <%=link_to "Address",
                        "#",
                        :route => address_verification_path(record),
                        :class => "btn btn-success mr5 mb5 address_verification_btn",
                        "data-toggle"=>"modal",
                        "data-target"=>".bs-example-modal-lg"%>
                    <%end%>
                  <%end%>
                  <%#if final_user.present? && final_user.id == current_user.id%>
                    <%=link_to "Delete",
                      verification_path(record),
                      :method => :delete,
                      :confirm=>'Are you sure?',
                      :class => "btn btn-danger mr5 mb5"%>
                  <%#end%>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<style>
  .datepicker{
    z-index: 1200!important;
  }
  tfoot {
    display: table-header-group;
  }
  .table tbody tr > td.red {
    background-color: orange !important;
  }
  .table tbody tr > td.yellow {
    background-color: yellow !important;
  }
  .table tbody tr > td.green {
    background-color: mediumseagreen !important;
  }
</style>



<script>
  $(".edit_verification_btn").on("click", function(){
    $.get($(this).attr('route'),function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
  $(".address_verification_btn").on("click", function(){
    $.get($(this).attr('route'),function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });

  $(document).ready(function(){
    $(".close").click(function() {
      console.log('reload')
      document.body.style.cursor = "wait";
      location.reload();
      return false;
    })
  });

</script>
