<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading" style="overflow-wrap: break-word; word-wrap: break-word; hyphen: auto">
        <div class="panel-title">
          <div class="top_text">
            Recurrent <%="#{@recurrence.form_type} ##{@recurrence.id}: #{@recurrence.title}"%>
          </div>
          <div class="top_buttons pull-right">
            <%=link_to "Delete",
              recurrence_path(@recurrence),
              :method => "delete",
              :confirm => 'Are you sure?',
              :class => "btn btn-danger pull-right mr5 mb5"%>

            <%=link_to "Edit",
              edit_recurrence_path(@recurrence),
              :class => "btn btn-warning pull-right mr5 mb5",
              :disable_with => "Editing..."%>
          </div> <!-- End top_buttons -->
        </div>
      </div>
      <div class="panel-body">
        <div class="col-xs-12">
          <a class="btn"
            data-toggle="collapse"
            data-target="#view_instructions">
            View Instructions &raquo;
          </a>
          <div class="collapse well" id="view_instructions">
            <b>Viewing a recurrence</b>
            <ol>
              <li>
                Item Template: fields from this template will be mapped over when the item is generated
              </li>
              <li>
                Recurrence-created items: contains items that were created from the recurrence template
              </li>
            </ol>
            <b>Editing a recurrence</b>
            <br>
            <ol>
              <li>
                Edit a recurrence to change its template
              </li>
              <ul>
                <li>
                  This information will be updated for the next item generation
                </li>
              </ul>
            </ol>
          </div>
        </div>
        <div class="col-xs-12 mb15">
          <div class="col-xs-12 mb15">
            <%=render 'forms/show_fields', fields: @fields, record: @recurrence%>
          </div>
          <div class="col-xs-12 mb15">
            <div class="panel panel-lightskyblue">
              <div class="panel-heading click-heading">
                <div class="panel-title">
                  <b><%= "#{@recurrence.form_type} Template"%></b>
                  <span class="pull-right clickable">
                    <i class="mt5 glyphicon glyphicon-chevron-up"></i>
                  </span>
                </div>
              </div>
              <div class="panel-body">
                <%if @template.present?%>
                  <%=render 'forms/show_fields', fields: @template_fields, record: @template %>
                <%end%>
              </div>
            </div>
          </div>
          <%unless @children.empty?%>
            <div class="col-xs-12 mb15">
              <div class="panel panel-lightskyblue">
                <div class="panel-heading click-heading collapsed">
                  <div class="panel-title">
                    <b><%= "Recurrence-created #{@recurrence.form_type}s"%></b>
                    <span class="pull-right clickable">
                      <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                    </span>
                  </div>
                </div>               
                <div class="panel-body" style="display:none">
                <%= render 'forms/display_spawned_audits' %>
                <%# if @recurrence && CONFIG.sa::GENERAL[:recurring_item_checklist] %>
                  <%#= render 'forms/display_spawned_audits' %>
                <%# else %>
                  <%#@children.each do |child| %>
                    <!-- <div class="col-xs-12 mb15">
                      <div class="panel panel-lightskyblue">
                        <div class="panel-heading click-heading collapsed">
                          <div class="panel-title">                                                           
                            <b><%#=link_to "#{@recurrence.form_type} ##{child.id}: #{child.title}",
                              child.becomes(Object.const_get(@recurrence.form_type))%></b>                                                  
                            <span class="pull-right clickable">
                              <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                            </span>
                          </div>
                        </div>
                        <div class="panel-body" style="display:none">
                          <%#=render 'forms/show_fields', fields: @template_fields, record: child%>
                        </div>
                      </div>
                    </div> -->
                  <%#end%>
                <%#end%>
                </div>
              </div>
            </div> <!-- end of whole window -->
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
