<%= stylesheet_link_tag "/plugins/tables/datatables-1.10.16/datatables.min.css" %>
<%= javascript_include_tag "/plugins/tables/datatables-1.10.16/datatables.min.js" %>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>


<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-steelblue">

      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">User Privileges</div>
          <div class="top_buttons pull-right">
            <%=link_to "New",
              "#",
              :class=>"btn btn-success pull-right mb5 new_rule_btn",
              "data-toggle"=>"modal",
              "data-target"=>".bs-example-modal-lg"%>
          </div>
        </div>
      </div>

      <div class="panel-body" id="form_body">
        <div class="row">
          <%=render "new_modal"%>
          <div class="col-sm-12">
            <div class="table-responsive">
              <table id="candidates"class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <%Privilege.get_meta_fields('index').each do |field|%>
                      <th width="<%=field[:size]%>"><%=field[:title]%></th>
                    <%end%>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <%@privileges.each do |a|%>
                    <tr aid="<%=a.id%>">
                      <%Privilege.get_meta_fields('index').each do |field|%>
                        <%if field[:type] == 'textarea'%>
                          <td><%=a.send(field[:field]).gsub(/\n/, '<br/>').html_safe%></td>
                        <%else%>
                          <td><%=a.send(field[:field])%></td>
                        <%end%>
                      <%end%>
                      <td>
                        <%=link_to "View Rules",
                          "#",
                          :class=>"btn mb5 btn-info rule_btn",
                          "data-toggle"=>"modal",
                          "data-target"=>".bs-example-modal-lg"%>
                        <%=link_to "View Users",
                          "#",
                          :class=>"btn mb5 btn-info list_btn",
                          "data-toggle"=>"modal",
                          "data-target"=>".bs-example-modal-lg"%>
                        <%=link_to "Edit",
                          edit_privilege_path(a),
                          :class=>"btn mb5 btn-warning",
                          :disable_with => "Editing..."%>
                        <%=link_to "Copy Privilege",
                          copy_privilege_path(a),
                          :class=>"btn mb5 btn-warning",
                          :disable_with => "Making a copy..."%>
                        <%=link_to "Delete",
                          privilege_path(a),
                          :confirm => "Are you sure?",
                          :method => "delete",
                          :class=>"mb5 btn btn-danger delete_btn"%>
                      </td>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script>
$(document).ready(function(){
  $(".new_rule_btn").on("click",function(){
    $.get("<%=new_privilege_path%>",function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
  $(".list_btn").on("click",function(){
    $.get("/privileges/"+$(this).closest('tr').attr('aid')+"/users",function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
  $(".rule_btn").on("click",function(){
    $.get("/privileges/"+$(this).closest('tr').attr('aid')+"/rules",function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
  $('#candidates').DataTable({
    "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
    "iDisplayLength": 150,
    "aaSorting": [[0, "desc"]],
  });
});
</script>
