<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>

<%=form_for @option do |f|%>
  <%=f.hidden_field :level, :value => @level%>
  <%=hidden_field_tag :parent_id, @parent.id%>
  <%=hidden_field_tag :root_id, @root.id%>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="panel-title"><b><%=controller.action_name.titleize%> Sub-Category</b></div>
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphiconglyphicon-remove"></span></button>
    </div>
  </div>
  <div class="panel-body">

    <div class="row" style="max-height:500px;overflow-y:auto;"%>
      <div class="form-group">
        <%=f.label :name, "Category Name", :class => "col-sm-2 col-form-label"%>
        <div class="col-sm-8">
          <%=f.text_field :name, :class => "form-control"%>
        </div>
      </div>
    </div>

    <%=f.submit "Save", :class => "btn btn-success pull-right mt5 mr15", :disable_with => "Saving..."%>
  </div>
<%end%>
