<div class="col-sm-12 col-md-12 col-lg-12"%>
  <div class="just-padding">

    <div class="list-group list-group-root well">

      <div class="list-group-item">
        <%if option.children.present?%>
          <a href="#list_<%=option.id%>" class="cat_<%=option.id%> glyphicon glyphicon-chevron-right" data-toggle="collapse"></a>
        <%end%>
        <%=option.name%>
        <div class="pull-right" aid="<%=option.id%>" id="<%=option.id%>">
          <%=link_to "Archive", cause_option_path(option), :class => "ml5 btn btn-danger", :confirm => "Are you sure?", :method => "delete",
                  "data-toggle" => "tooltip", "data-placement" => "top", "title" => "Archive option and all the sub options."%>
          <%=link_to "Add Sub Category", "#", :class => "ml5 add_btn btn btn-success", "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg"%>
        </div>
      </div>

      <div class="list-group collapse" id="list_<%=option.id%>">
        <%option.children.each do |x|%>
          <%if !x.hidden?%>
            <%=render "sub_options2", :option => x, :root => root%>
          <%end%>
        <%end%>
      </div>

    </div>

  </div>
</div>




<style>
.just-padding {
    padding: 5px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

.btn{
  display: inline!important;
}

</style>


<script>
  $(function(){
    $('.cat_<%=option.id%>').on('click', function() {
      $(this)
        .toggleClass('glyphicon-chevron-right')
        .toggleClass('glyphicon-chevron-down');
    });

    $("#<%=option.id%> .add_btn").on("click", function(){
      $.get("/cause_options/new?root_id=<%=root.id%>&parent_id=" + $(this).closest("div").attr("aid"), function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $("#<%=option.id%> .edit_btn").on("click", function(){
      $.get("/cause_options/" + $(this).closest("div").attr("aid") + "/edit", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
