<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading" style="overflow-wrap: break-word; word-wrap: break-word; hyphen: auto">
        <div class="panel-title">
          <div class="top_text">
            <b><%=@record.name%></b><span class="pull-right clickable"></span>
          </div>
          <div class="top_buttons pull-right">
            <%=link_to "Export to Excel", download_cause_option_path(@record) + ".xls", :method => :get, :class => "btn btn-info"%>
            <%=link_to "Edit", edit_cause_option_path(@record), :class => "btn btn-warning", :disable_with => "Editing..."%>
            <%=link_to "Add Sub Category", "#", :class => "btn btn-success top_add_btn", "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg"%>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="alert alert-warning" role="alert">
          Please note that <b>editing</b> existing categories and options will affect the root causes that have been added to hazards. If there are changes made to the list of options or categories, it is suggested to <b>archive the old options first and then add new ones</b>. </br></br>
          Please note that <b>archiving</b> a category will also archive all of its nested sub-categories, use this with caution.
        </div>


        <%@record.children.each do |x|%>
          <%if !x.hidden?%>
            <%=render "sub_options2", :option => x, :root => @record %>
          <%end%>
        <%end%>

      </div>
    </div>
  </div>
</div>




<style>
  .datepicker{
    z-index: 1200!important;
  }
  th{
    text-align: center;
  }
  .panel {
    min-height: 8!important;
    max-height: 8!important;
  }
  .just-padding {
    padding: 5px;
  }
  .list-group.list-group-root {
    font-weight: bold;
    padding: 0;
    overflow: hidden;
  }
  .list-group.list-group-root .list-group {
    font-weight: bold;
    margin-bottom: 0;
  }
  .list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
  }
  .list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
  }
  .list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
  }
  .list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
  }
  .list-group-item .glyphicon {
    margin-right: 5px;
  }
  .btn{
    display: inline!important;
  }
</style>



<script>
  $(function(){
    $(".top_add_btn").on("click", function(){
      $.get("/cause_options/new?root_id=<%=@record.id%>&parent_id=<%=@record.id%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });

</script>


