<div class="col-xs-12">
  <%=form_for @record do |f| %>
    <table class="table table-bordered table-centered" >
      <tr>
        <th bgcolor="#48C9B0" style="color:white">SEVERITY</th>
        <th bgcolor="#48C9B0" colspan="<%=@record.column_num.length%>" style="color:white">CLASS</th>
      </tr>
      <%@record.row_num.each do |i|%>
        <tr>
          <%@record.get_row(i).sort_by{|x| x.table_column}.each do |cell|%>
            <%=f.fields_for :risk_matrix_cells, cell do |ff|%>
              <%if (cell.table_row == 0 || cell.table_column == 0)%>
                <th bgcolor="#EAFAF1"><%=ff.text_field :value, {:class => "form-control"}%></th>
              <%else%>
                <td><%=ff.text_field :value, {:class => "form-control"}%></td>
              <%end%>
            <%end%>
          <%end%>
          <%if i > 0%>
            <td><%=link_to "Remove Row", remove_row_risk_matrix_table_path(:id => @record, :table_row => i), :class => "btn btn-danger", :disable_with => "Removing..."%></td>
          <%else%>
            <td><%=link_to "Add Column", add_column_risk_matrix_table_path(@record), :class => "btn btn-info add_column", :disable_with => "Adding..."%></td>
          <%end%>
        </tr>
      <%end%>
      <tr>
        <%@record.column_num.each do |x|%>
          <%if x > 0%>
            <td><%=link_to "Remove Column", remove_column_risk_matrix_table_path(:id => @record, :table_column => x), :class => "btn btn-danger", :disable_with => "Removing..."%></td>
          <%else%>
            <td><%=link_to "Add Row", add_row_risk_matrix_table_path(@record), :class => "btn btn-info add_row", :disable_with => "Adding..."%></td>
          <%end%>
        <%end%>
      </tr>
    </table>
    <%=f.submit "Save", :class => "btn btn-success pull-right mt20", :disable_with => "Saving..."%>
  <%end%>
</div>


<style>
  .custom-swal {
    width: 70% !important;
    max-height: 70% !important;
    font-family: "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
</style>

