<div class="col-xs-6">
  <hr/>
  <h4 style="color:#BDB76B">
    <b>RISK MATRIX</b>
  </h4>
  <table class="table table-bordered table-centered" cellspacing="0" width="100%">
    <tr>
      <th bgcolor="#BDB76B" style="color:white">SEVERITY</th>
      <th bgcolor="#BDB76B" style="color:white" colspan="<%=@risk_group.probability_table.column_header.length-1%>">PROBABILITY</th>
    </tr>
    <tr>
      <%@risk_group.probability_table.column_header.each do |x|%>
        <th bgcolor="#FFFFF0"><%=x.value%></th>
      <%end%>
    </tr>
    <%@risk_group.severity_table.row_header.each_with_index do |row_header, row_index|%>
      <tr>
        <th bgcolor="#FFFFF0"><%=row_header.value%></th>
        <%@risk_group.risk_table.get_row(row_index+1).each do |cell|%>
          <td bgcolor="<%=cell.color%>" class="mitigated_risk_td" data-row="<%=cell.table_row%>" data-status="" data-column="<%=cell.table_column%>">
            <%=cell.value%>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>

