<div class="col-xs-6">
	<hr/>
	<h4 style="color:#48C9B0">
		<b>SEVERITY EXCERCISE</b>
		<%=link_to "Edit", "#", :class => "btn btn-warning pull-right", :id => "edit_severity_table_btn"%>
	</h4>

	<table class="table table-bordered table-centered">
		<tr>
			<th bgcolor="#48C9B0" style="color:white">SEVERITY</th>
			<th bgcolor="#48C9B0" colspan="<%=@record.severity_table.column_num.length%>" style="color:white">CLASS</th>
		</tr>
		<%@record.severity_table.row_num.each do |i|%>
			<tr>
				<%@record.severity_table.get_row(i).sort_by{|x| x.table_column}.each do |cell|%>
					<%if (cell.table_row == 0 || cell.table_column == 0)%>
						<th bgcolor="#EAFAF1"><%=cell.value%></th>
					<%else%>
						<td><%=cell.value%> (<%=cell.table_row%>, <%=cell.table_column%>)</td>
					<%end%>
				<%end%>
			</tr>
		<%end%>
	</table>
</div>


<script>
	$(function(){
		$("#edit_severity_table_btn").on("click", function(){
			$.get("<%=edit_risk_matrix_table_path(@record.severity_table)%>");
		});
	});
</script>