<div class="col-xs-6">
	<hr/>
	<h4 style="color:#DC7633">
		<b>PROBABILITY EXCERCISE</b>
	</h4>
	<table class="table table-bordered table-centered">
		<tr>
			<th bgcolor="#DC7633" style="color:white">CLASS</th>
			<th bgcolor="#DC7633" colspan="<%=@risk_group.probability_table.column_num.length%>" style="color:white">PROBABILITY</th>
		</tr>

		<%@risk_group.probability_table.row_num.each do |i|%>
			<tr>
				<%@risk_group.probability_table.get_row(i).sort_by{|x| x.table_column}.each do |cell|%>
					<%if (cell.table_row == 0 || cell.table_column == 0)%>
						<th bgcolor="#FEF5E7"><%=cell.value%></th>
					<%else%>
						<td class="probability_td<%=@owner.class.name%>_<%=@owner.id%>" data-id="<%=cell.id%>" data-row="<%=cell.table_row%>" data-column="<%=cell.table_column%>" data-status="">
							<%=cell.value%>		
						</td>
					<%end%>
				<%end%>
			</tr>
		<%end%>
	</table>
</div>


