<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<div class="col-sm-12">  
  <div class="table-responsive">
    <table class="table table-hover" id="dt">
      <thead>
        <tr>
          <%@action_headers.each do |header|%>
            <th class="<%=header[:size]%>">
              <%=header[:title]%>
            </th>
          <%end%>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <%@action_headers.each do |header|%>
            <th class="<%=header[:size]%>">
              <%=header[:title]%>
            </th>
          <%end%>
        </tr>
      </tfoot>
      <tbody>
        <%@records.each do |c|%>
          <tr class="atr" action="<%=sms_action_path(c)%>">
            <%@action_headers.each do |h|%>
              <td><%=c.send(h[:field])%></td>
            <%end%>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<script>
  <%if current_user.has_access('sms_actions',"show")%>
    $(document).ready(function(){
      $('tbody .atr').on('click',function(){
        window.location = ($(this).attr('action'));
      });
      <%if action_name=="index"%>
        $("#dt").dataTable({
          "aaSorting": [[0, "desc"]],
          initComplete : function (){
            this.api().columns().every( function () {
              var column = this;
              rand_num=new Date().getTime();
              var select = $('<input class=\'form-control\' list=\''+rand_num+'\'><datalist id=\''+rand_num+'\'><option value=""></option></datalist>')
                  .appendTo( $(column.footer()).empty() )
                  .on( 'input', function () {
                    if ( column.search() !== this.value ) {
                      column.search( this.value ).draw();
                    } 
                  }
                );

              column.data().unique().sort().each( function ( d, j ) {
                if  (d!="" && d!=undefined){
                  $('#'+rand_num).append( '<option value="'+d+'">'+d+'</option>' );
                }
              } );
            } );
          }
        });
      <%end%>
    });
  <%end%>
</script>

<style>
  .table th {
    text-align: center;
  }

  .table td {
    text-align: center;
  }
  tfoot {
    display: table-header-group;
  } 
</style>