<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/timezone-control.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>


<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          <%=action_name.titleize%> Corrective Action
        </div>
      </div>
      <div class="panel-body">

        <%=form_for @owner.becomes(SmsAction), :html => {:multipart => true} do |f|%>
          <% if CONFIG::GENERAL[:display_workflow_diagram] %>
            <div class="col-xs-12">
                <%instruction = "<p>"
                  instruction = instruction + "<button id ='toggleWorkflowImageButton' type='button' class='btn btn-light' >Show Workflow Image</button>"
                  instruction = instruction + "</p>"
                  instruction = instruction + "<img id='workflowImage' class = 'workflowImg' height=800 width= 100% >"
                %>
                <%=render "shared/instructions",
                  :instruction => instruction%>
            </div>
          <% end %>

          <%if action_name == "new"%>
            <%=f.hidden_field :created_by_id, :value => current_user.id%>
          <%end%>
          <%if params[:owner_type].present?%>
            <%=f.hidden_field :owner_type, value: params[:owner_type]%>
            <%=f.hidden_field :owner_id, value: params[:owner_id]%>
            <%=f.hidden_field :parent_type, :value => @parent_type%>
            <%=f.hidden_field :parent_id,   :value => @parent_id%>
          <%end%>

          <%=render "shared/privilege_form",:target => "sms_action[privileges][]",:owner => @owner,:f => f%>

          <%=render '/forms/form_fields', :f => f, :fields => @fields, :record => @owner %>

          <% unless ['BSK'].include? AIRLINE_CODE %>
            <%= render 'risk_matrices/panel_matrix/risk_assessment_panel', f: f, risk_type: 'Baseline'%>
          <% end %>

          <%=render '/forms/attachments_form', :f => f, :owner => @owner%>

          <div class="mt10 mr10">
            <%= f.submit "#{action_name == 'new' ? 'Submit' : 'Update'}",
              :class => "btn btn-success pull-right mt5 mr5",
              disable_with: "Saving..."%>
            <%=link_to "Cancel",
              @parent.present? ? @parent : @owner.becomes(SmsAction),
              :class=>"btn btn-default pull-right mr5 mt5",
              :confirm=>'Are you sure?'%>
            <%#=link_to "Group Access",
              "#",
              :class => "mr5 mt5 btn btn-info pull-right",
              "data-toggle" => "modal",
              "data-target" => "#group_access"%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>


<style>
  td,th{
    text-align: center;
  }
  #workflowImage{
    display: none;
  }
</style>


<script>
  $("#toggleWorkflowImageButton").on('click', function(event){
      event.preventDefault();
      <% if CONFIG::GENERAL[:display_workflow_diagram] && action_name == 'new' %>
          $("#workflowImage").attr('src', "<%= CONFIG.sa::WORKFLOW_IMAGES[@owner.class.name].select {|key| action_name.include? key}.values[0]%>")
      <% end %>

      <% if CONFIG::GENERAL[:display_workflow_diagram] && action_name == 'edit' %>
        <% status_field_name = CONFIG.sa::HIERARCHY[:objects][@owner.class.name][:fields][:status][:field]%>
        <% curr_status = @owner.send(status_field_name).downcase %>
        $("#workflowImage").attr('src', "<%=CONFIG.sa::WORKFLOW_IMAGES[@owner.class.name].select {|key| curr_status.include? key}.values[0]%>")
      <% end %>

      if($("#workflowImage").is(":visible")){
        $("#workflowImage").delay(1).hide("slow")
        $("#toggleWorkflowImageButton").html("Show Workflow Image")
      }else{
        $("#workflowImage").delay(1).show("slow")
        $("#toggleWorkflowImageButton").html("Hide Workflow Image")
      }
    });
</script>
