<%=
  javascript_include_tag(
    'utility/collapse-panel2.js',
    'utility/format-builder.js',
    'utility/jquery.dataTables.min.js'
  )
%>

<%=render "access_controls/new_modal"%>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            Corrective Action #<%=@owner.get_id%>: <%=@owner.title%>
          </div>
          <div class="top_buttons pull-right">
            <%= render '/forms/render_buttons', owner: @owner, env: :top %>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="col-xs-12 mb15">
          <%= render 'forms/render_buttons', owner: @owner, env: :inline %>
          <%if @owner.status == "New" && !@owner.can_assign?(current_user) && CONFIG::GENERAL[:has_source_of_input_msg]%>
            <b style='color:red;'>*Please complete the <%="<a style='font-weight:bold' href='/#{@owner.owner.class.name.downcase.pluralize}/#{@owner.owner.id}'>Source of Input</a>".html_safe%> before assigning the Corrective Action.</b>
          <%end%>
        </div>

        <%= render '/forms/show_fields', :fields => @fields, :record => @owner %>

        <% can_change = @owner.status != "Completed" &&
          @owner.status != "Pending Approval" &&
          current_user.has_access("sms_actions","edit")%>

        <% unless ['BSK'].include? AIRLINE_CODE %>
          <%= render 'risk_matrices/panel_matrix/risk_assessment_panel', risk_type: 'All'%>
        <% end %>
        <%= render '/panels/show_panels', owner: @owner %>
      </div>
    </div>
  </div>
</div>


<style>
  .datepicker{
    z-index: 1200!important;
  }
</style>


<script>
  $(document).ready(function(){

    $("#reassign_btn").on('click',function(){
      $.get("<%=reassign_sms_action_path(@owner)%>",
        function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_sms_action_path(@owner)%>",
        function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

  });
</script>
