<div class="item active mt50" id="test2?" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="col-lg-12">
      <div class="panel panel-steelblue">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">Access Level</div>
            <div class="top_buttons pull-right">

            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <%=form_for @user, :html => {:multipart => true} do |user_form|%>

              <div class="row">
                <%@user.access_levels.each do |access_level|%>

                  <%=user_form.fields_for :access_levels, access_level do |f| %>
                    <%table = Object.const_get(access_level.report_type)%>
                    <%levels = table.user_levels%>
                    <div class="form-group col-xs-6 row">
                      <%=f.label :level, access_level.report_type, :class => 'col-sm-2 col-form-label'%>
                      <div class="col-sm-4">
                        <%=f.select :level,
                          options_for_select(levels.invert, access_level.level),
                          {},
                          {:class => "form-control"}%>
                      </div>
                    </div>
                  <%end%>

                <%end%>
              </div>
              <%=submit_tag "Save",
                :class => "btn btn-success pull-right",
                :disable_with => "Saving..."%>
              <%=link_to "Cancel",
                user_path(@user),
                :class => "pull-right btn btn-default mr5",
                :confirm => "Are you sure?"%>
            <%end%>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .col-form-label {
    margin-top: 5px;
  }
</style>

