<div class="item active mt50" id="test2?" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="row">
      <div class="col-xs-12" id="errorcol">
        <%if flash[:error] %>
          <div class="panel panel-danger" id="error_panel">
            <div class="panel-heading">
              <div class="panel-title"><b>Error</b></div>
            </div>
            <div class="panel-body" id="errors">
              <div style="color:red">
                <%if flash[:error].kind_of?(Array)%>
                  <%flash[:error].each do |x|%>
                    <b>*<%=x%></b></br>
                  <%end%>
                <%else%>
                  <b>*<%=flash[:error]%></b></br>
                <%end%>
              </div>
            </div>
          </div>
        <%end%>
      </div>

      <div class="col-xs-12">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <div class="panel-title">
              <b>Change Password</b>
            </div>
          </div>


          <div class="panel-body collapse in" id="showevent">

            <%=render "shared/instructions", :instruction =>
                    "
                    Items with  (<b style='color:red'>*</b>) are required. <br>
                    Password needs to be at least 6 characters long.
                    "
                    %>

            <div class="col-xs-12">
              <%=form_for @user,:html => {:class => "form-horizontal"}  do |f| %>
                <%if (current_user.id == @user.id) || @action == "new"%>

                  <div class="form-group row">
                    <%=f.label :password, "New Password", :class => "col-sm-4 col-form-label required_label"%>
                    <div class="col-sm-6">
                      <%=f.password_field :password, {:class=>"form-control password required_field"}%>
                    </div>
                  </div>
                  <div class="form-group row">
                    <%=f.label :password, "Re-enter New Password", :class => "col-sm-4 col-form-label required_label"%>
                    <div class="col-sm-6">
                      <%=f.password_field :password_confirmation, {:class=>"form-control password required_field"}%>
                    </div>
                  </div>
                  <div class="form-group row">
                    <%=f.label :current_password, "Current Password for Validation", :class => "col-sm-4 col-form-label required_label"%>
                    <div class="col-sm-6">
                      <input class="form-control required_field" type="password" size="30" id="pw" name="pw"/>
                    </div>
                  </div>


                <%end%>


                <input type="hidden" name="page" value="change_password" />
                <div class="form-actions pull-right mt20 mr20">
                  <%=link_to "Cancel",root_url , :id=>"cancel-btn", :class=>"btn btn-warning", :confirm => "Are you sure?"%>
                  <%= f.submit "Save", :class => "btn btn-success", :disable_with => "Saving..."%>
                </div>

              <%end%>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .required_label:after {
    content:"*";
    color:red;
  }
</style>
