<div class="white_grid" style="margin-bottom:75px;">
  <% if current_user.level == "Admin" or current_user.level == "Maintenance Supervisor" %>
  <%= form_for @user do |f| %>
  <%= f.error_messages %>
    <fieldset class="greyFields" width="100%">
      <legend><b>Account Settings</b></legend>
      <p>
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </p>
      <p>
        <%= f.label :first_name, "First Name" %><br />
        <%= f.text_field :first_name %>
      </p>
      <p>
        <%= f.label :last_name, "Last Name" %><br />
        <%= f.text_field :last_name %>
      </p>
      <p>
        <%= f.label :airport, "Your Airport Code:" %><br />
        <%= f.text_field :airport, :size=>3, :readonly=>"readonly" %>
      </p>

      <p>
        <%= f.label :email, "Email Address" %><br />
        <%= f.text_field :email %>
      </p>


<!--       <p>
        <%#= f.label :portal_event_report_recipients, "Portal Event Report Recipients (comma-separated email addresses)" %><br />
        <%#= f.text_field :portal_event_report_recipients, {:size => 100} %>
      </p>
      <p>
        <%#= f.label :public_event_report_recipients, "Public Event Report Recipients (comma-separated email addresses)" %><br />
        <%#= f.text_field :public_event_report_recipients, {:size => 100} %>
      </p> -->
      <p>
        <%= f.label :level, "Account Type:" %><br />
        <%= f.select :level,[['Admin','Admin'],['Staff','Staff']] %>
      </p>
      <p>
        <%= f.label :access, "User Access" %><br/>
        <% if current_user.username == "prodigiq_admin" %>
          <%= f.select :access,['Lite','Widget','Full']%>
        <% elsif @table.getAirportInfo[:lite] %>
          <%= f.select :access,['Lite','Widget']%>
        <% else %>
          <%= f.select :access,['Widget','Full']%> 
        <% end %>
      </p>
      <p>
        <%= label_tag :report_access, 'Report Access'  %>
        <% modules_current_options =  @checkbox_items.keys %>
        <% modules_current_options.each do |mod_name| %>
          <div>
            <%= check_box_tag "module[#{mod_name}]" %>
            <%= label_tag "module_#{mod_name}", @checkbox_items[mod_name], :class=>'module_label' %>
          </div>
        <% end %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label :password_confirmation, "Confirm Password" %><br />
        <%= f.password_field :password_confirmation %>
      </p>
    </fieldset>
    <p style="text-align:right">
    <a href="#" onclick="document.forms[0].submit();" class="small orange button"><span><b>Create Account</b></span></a>
    </p>
<% end %>
<% else %>
<h1>Forbidden: You do not have the required credentials to access this page.</h1>
<% end %>
<table id="list"><tr><td/></tr></table>
<div id="pager"></div>
</div>
