<script type="text/javascript">
  function submitForm()
  {
    var errorString = "";
    if(document.getElementById('user_password').value != document.getElementById('user_password_confirmation').value)
      {
      errorString += ("- Password fields do not match\n");
      }
    if(document.getElementById('user_password').value == "")
      errorString += "- New Password field is empty \n"
    if(document.getElementById('user_password_confirmation').value == "")
      errorString += "- Re-Enter New Password field is empty \n"
    if(document.getElementById('pw').value == "")
      errorString += "- Current Password field is empty \n"
    if(document.getElementById('user_password').value.length <= 3)
      errorString += "- Password must be at least 4 characters \n"

    if(errorString==""){
      document.forms[0].submit();
    }else{
      alert(errorString);
    }


  }
</script>
<%if current_user.id==@user.id or current_user.level=="Admin"%>
<div style="color:red">
  <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>
</div>
<% form_for @user do |f| %>
<div class="content">
  <div class="pageTitle">Change Password</div>
  <fieldset class="greyFields">
    <legend><b>New Password</b></legend>
    <p>
      New Password:<br />
      <%= f.password_field :password %>
    </p>
    <p>
      Re-Enter New Password:<br />
      <%= f.password_field :password_confirmation %>
    </p>
  </fieldset>
  <fieldset class="greyFields">
    <legend><b>Confirmation</b></legend>
    <p>
      Current Password<%if current_user.level=="Admin" and current_user.id != @user.id%> or Admin Password<%end%>:<br />
      <input id="pw" type="password" name="pw" size="30" />
    </p>
    <input type="hidden" name="page" value="change_password" />
    <input type="hidden" name="popup" value="<%=params[:popup]%>" />
  </fieldset>
  <div style="text-align:right">
    <a href="/users/<%=@user.id%>/edit<%if params[:popup]=="true"%>/true<%end%>" class="small gray button"><span><b>Cancel</b></span></a>
    <a onclick="submitForm();" href="#" class="small orange button"><span><b>Submit</b></span></a>
  </div>
</div>
<%end%>
<%end%>
