<div class="panel panel-info">
	<div class="panel-heading">
		<div class="panel-title">
	    	<b>Complete Finding: <%=@finding.title%></b>
			<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
	</div>
	<div class="panel-body" > 
		<%=form_for @finding.becomes(Finding) do |f|%>
		  	<div class="row">
		  		<div class="col-xs-12">
		  			<%=f.label :narravtive,"Analyst Result"%>
		  			<%=f.text_area :narrative,:rows=>3,:class=>"form-control"%>
		  		</div>
		  		<%=f.hidden_field :status,:value=> (@finding.approver.present? ? "Pending Approval" : "Completed")%>
		  		<div class="col-xs-12 mt10">
		  			<%=f.submit "Submit",:class=>"btn btn-success pull-right", :disable_with => "Submitting..."%>
		  		</div>
		  	</div>
		<%end%>
	</div>
</div>
