<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>
<%=form_for @finding.becomes(Finding) do |f|%>
  <div class="panel-warning">
    <div class="panel-heading">
      <div class="panel-title">Reassign Finding
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
    <div class="panel-body" style="max-height:500px;overflow-y:auto">
      <div class="row">
        <div class="form-group form-inline col-xs-6">
          <%=label_tag :res, "Reassign To",:style=> "color:red"%>
          <div class="input-group">
            <%=text_field_tag :res,"",{:class=>"form-control ml5 emp required_field",:readonly=>true,:id=>"emp_1"}%>
            <%=f.hidden_field :responsible_user_id,:id=>"employee-select1",:value=>""%>
            <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info",:id=>"emp1"%></span>
          </div>
        </div>
      </div>
      <%=f.submit "Reassign",:class=>"btn btn-success pull-right mt5"%>
    </div>
  </div>
<%end%>

<div style="display:none" id="emp_div">
  <div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title"><b>Employee Search</b>
          <button type="button" class="close pull-right" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      </div>
    <div class="panel-body">
      <div class="row">
        <div class='col-xs-12'>
          <table class="table table-hover" id="users_schedule">
            <thead>
                <tr>
                  <%@headers.keys.each do |k|%>
                      <th><%=k%></th>
                  <%end%>
                </tr>
            </thead>
            <tbody class="xbody">
              <%@users.each do |u|%>
                <tr uid="<%=u.id%>" class="list_tr">
                  <%@headers.values.each do |v|%>
                    <td><%=u.send(v)%></td>
                  <%end%>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var table;
    function build_table(){
      table=$('#users_schedule').DataTable({
        "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
        "iDisplayLength": 5
      });
    }
    function clear_table()
    {
      table.destroy();
    }
  $(document).ready(function(){
    build_table();
     $('#emp1').on('click',function(){
        $('form').hide();
        $("#emp_div").show();;
        clear_table();
          $('.xbody tr' ).unbind();
          $('.close' ).unbind();

      $('.xbody tr').on('click',function(){
        $('#emp_1').val($(this).find('td').eq(3).text());
        $('#employee-select1').val($(this).find('td').eq(0).text());
          $('form').show();
          $('#emp_div').hide();
      });
        $('.close').on('click',function(){
          $('#emp_1').val("");
          $('#employee-select1').val("");
          $('form').show();
          $('#emp_div').hide();
        });
        build_table();
      });
    $("form").on('submit',function(){
      $(this).find('.required_field').each(function(){
        if ($(this).val()=="")
        {
          $(".required_field").css('border-color', 'red');
              event.preventDefault();
        }
      });
    });
    });
</script>
