<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<%=render "access_controls/new_modal"%>
<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%= render "shared/alerts" %>
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              <%="Finding ##{@owner.get_id}: #{@owner.title}"%>
            </div>
            <div class="top_buttons pull-right">
              <%= render '/forms/btns/render_btns',
                btns: [
                  'delete',
                  'override_status',
                  'edit',
                  'deid_pdf',
                  'pdf',
                  'view_parent',
                  'attach_in_message',
                  'expand_all'
                ],
                owner: @owner %>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="col-xs-12 mb20">

            <%= render 'forms/btns/render_btns',
              btns: [
                'assign',
                'complete',
                'recommendation',
                'sms_action',
                'approve_reject',
                'reopen',
                'comment'
              ],
              owner: @owner %>

            <%if @owner.status == "New" && !@owner.can_assign?(current_user)%>
              <b style='color:red;'>*Please complete the Source of Input before assigning the Finding.</b>
            <%end%>
          </div>

          <%=render '/findings/show', :owner => @owner, :show_btn => true%>
          <% if BaseConfig.airline[:has_root_causes] %>
            <%= render '/root_causes/root_causes',
              owner: @owner,
              show_btns: true,
              headers: RootCause.get_headers %>
          <% end %>
          <%=render "/forms/attachments_show", :owner => @owner%>
          <%=render "/records/transactions", :owner => @owner%>

        </div>
      </div>
    </div>
  </div>
</div>




<style>
  .datepicker{
    z-index: 1200!important;
  }
</style>




<script>
  $(document).ready(function(){
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_finding_path(@owner)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#mitigate_btn').on('click',function(){
        $.get("<%=mitigate_finding_path(@owner)%>",function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
    });
    $('#baseline_btn').on('click',function(){
        $.get("<%=baseline_finding_path(@owner)%>",function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
    });
  });
</script>
