<%= javascript_include_tag(
  'utility/collapse-panel2',
  'utility/jquery.dataTables.min',
  'utility/dataTables.bootstrap.min.js',
  'utility/dataTables.buttons.min.js',
  )
%>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<%=render "access_controls/new_modal"%>
<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%= render "shared/alerts" %>
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              <%="Finding ##{@owner.get_id}: #{@owner.title}"%>
            </div>
            <div class="top_buttons pull-right">
              <%= render '/forms/render_buttons', owner: @owner, env: :top %>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="col-xs-12 mb20">

            <%= render 'forms/render_buttons', owner: @owner, env: :inline %>

            <%if @owner.status == "New" && !@owner.can_assign?(current_user)%>
              <b style='color:red;'>*Please complete the Source of Input before assigning the Finding.</b>
            <%end%>
          </div>

          <%= render '/panels/show_panels', owner: @owner %>

        </div>
      </div>
    </div>
  </div>
</div>




<style>
  .datepicker{
    z-index: 1200!important;
  }
</style>




<script>
  $(document).ready(function(){
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_finding_path(@owner)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#mitigate_btn').on('click',function(){
        $.get("<%=mitigate_finding_path(@owner)%>",function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
    });
    $('#baseline_btn').on('click',function(){
        $.get("<%=baseline_finding_path(@owner)%>",function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
    });
  });
</script>
