<div class="col-xs-12">
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b><%=CONFIG::CAUSE_LABEL%></b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>

    <%# causes = Cause.where({obj_id: owner.obj_id}) %>
    <% causes = Cause.where({owner_type: owner.class.name, owner_id: owner.id}) %>
    <%if !causes.present?
      causes = Cause.where({obj_id: owner.obj_id})
    end%>

    <div class="panel-body" style="display:none">
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Label</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <% causes.each do |cause|%>
                <%# next if cause.value.empty? || cause.value == "\"\"" %>
                <tr>
                  <!-- <td><%#="#{cause.category.titleize} > #{cause.attr.titleize}"%></td> -->
                  <%cat = cause.category.titleize rescue ""%>
                  <%if cause.attr.present? && cause.attr =~ /[A-Z]/%>
                    <%attrib = cause.attr.present? ? cause.attr : ""%>
                  <%else%>
                    <%attrib = cause.attr.titleize rescue ""%>
                  <%end%>
                  <%if cat.present? && attrib.present?%>
                    <td><%="#{cat} > #{attrib}"%></td>
                  <%elsif cat.present?%>
                    <td><%="#{cat}"%></td>
                  <%else%>
                    <td><%="#{attrib}"%></td>
                  <%end%>
                  <% if cause.value == "0" && cause.owner_type != "Audit"%>
                    <td><%='No'%></td>
                  <% elsif cause.value == "1" && cause.owner_type != "Audit"%>
                    <td><%='Yes'%></td>
                  <% else %>
                    <td><%="#{cause.value}".gsub('"','')%></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

