<%owner_class = owner.class.superclass.name == "ActiveRecord::Base" ? owner.class.name : owner.class.superclass.name%>
<%headers = Object.const_get("#{owner_class}#{cause_type.titleize}").get_meta_fields('show')%>

<div class="col-xs-12">
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b><%=cause_type.pluralize.titleize%></b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>

    <div class="panel-body" style="display:none">
      <div class="row">
        <div class="col-xs-12">

          <%if can_change%>
            <%=link_to "Add",
              "#",
              :class => "btn btn-success pull-right mr5",
              :id => "add_#{cause_type}_btn",
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>
          <%end%>

          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <%headers.each do |h|%>
                  <th><%=h[:title]%></th>
                <%end%>
                <%if can_change%>
                  <th>Actions</th>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <%owner.send("#{cause_type.downcase.pluralize}").each do |c|%>
                <tr>
                  <%headers.each do |h|%>
                    <td>
                      <%=c.send(h[:field]).gsub(/\n/, '<br/>').html_safe rescue c.attr%>
                    </td>
                  <%end%>
                  <%if can_change%>
                    <td>
                      <%=link_to "Delete", "#",
                        :class => "btn btn-danger delete_#{cause_type}_btn",
                        "data-cid" => c.id%>
                    </td>
                  <%end%>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
  .checkbox,
  .radio{
    display: auto!important;
  }
</style>


<script>

  $("#add_<%=cause_type%>_btn").on('click',function(){
    $.get("<%=new_causes_causes_path(
        :owner_id => owner.id,
        :owner_type => owner.class.name,
        :cause_type => cause_type)%>",
        function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });

  $('.delete_<%=cause_type%>_btn').on('click', function(){
    var result = confirm("Are you sure?");
    if (result) {
      btn = $(this);
      $.ajax({
        url: "<%=causes_path%>"+"/"+$(this).data('cid'),
        type: "delete",
        success: function(){
          btn.closest('tr').detach();
        }
      });
    }
  });
</script>
