<div class="col-xs-12 mb10">
  <hr/>
  <h4 style="color:#BDB76B"><b>RISK ASSESSMENT MATRIX</b></h4>
  <table class="table table-bordered table-centered" cellspacing="0" width="100%">
    <tr>
      <th bgcolor="#BDB76B" style="color:white">SEVERITY</th>
      <th colspan="5" bgcolor="#BDB76B" style="color:white">PROBABILITY</th>
    </tr>
    <tr>
      <th bgcolor="#FFFFF0" width="15%"></th>
      <%@risk_table[:column_header].each do |header|%>
        <th bgcolor="#FFFFF0" width="15%"><%=header%></th>
      <%end%>
    </tr>
    <tr>
      <%@risk_table[:row_header].each_with_index do |row_header,row_index|%>
        <tr>
          <th width="5%" bgcolor="#FFFFF0"><%=row_header%></th>
          <%@risk_table[:column_header].each_with_index do |column_header,column_index|%>
            <td class="mitigate_risk_td" data-row="<%=row_index%>" data-status="" data-column="<%=column_index%>" style="background:<%=@risk_table[:rows][row_index][column_index]%>"></td>
          <%end%>
        </tr>
      <%end%>
    </tr>
  </table>
</div>
