<%if source == 'Existing'%>
  <tr class="field_group to_delete" style="background-color:#EBF5FB" field="<%=checklist_header_item.id%>">
<%else%>
  <tr class="field_group to_delete" style="background-color:#FEF5E7">
<%end%>

  <td class="drag_and_drop">
    <center><span class="glyphicon glyphicon-move"></span></center>
    <%if source == 'Existing'%>
      <%= f.hidden_field :display_order, :value => display_order, :class => "form-field-order" %>
    <%else%>
      <%= f.hidden_field :display_order, :value => 10000, :class => "form-field-order" %>
    <%end%>
  </td>
  <td><%=f.text_field :title, :class => "form-control"%></td>
  <td><%=f.number_field :size, :class => "form-control", :step => 5%></td>
  <td><%=f.select :data_type, ChecklistHeaderItem.get_data_types, {}, :class => "form-control"%></td>
  <td><%=f.text_field :options, :class => "form-control"%></td>
  <td>
    <%boolean_options = {"Yes" => true, "No" => false}%>
    <%=f.select :editable,
      options_for_select(boolean_options, (checklist_header_item.editable rescue false)),
      {:include_blank => ""},
      {:class => "field_select form-control"}%>
  </td>
  <td>
    <%=f.hidden_field :_destroy, :id => "remove_row"%>
    <%=link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, '#', :class => "btn btn-danger remove_btn"%>
  </td>
</tr>



<style>
  .drag_and_drop{
    cursor: move;
  }
</style>

<script>

  $(function(){
    $("#checklist_header_items").on("click", '.remove_btn', function(e){
      e.preventDefault();
      $(this).closest("td").find("#remove_row").val(true);
      $(this).closest(".to_delete").hide();
    });
  });

</script>
