
<%if source == 'Existing'%>
	<tr class="field_group to_delete" style="background-color:#EBF5FB" field="<%=checklist_header_item.id%>">
<%else%>
	<tr class="field_group to_delete" style="background-color:#FEF5E7">
<%end%>

	<td>
		<center><span class="drag_and_drop glyphicon glyphicon-move"></span></center>
		<%if source == 'Existing'%>
			<%= f.hidden_field :display_order, :value => display_order, :class => "form-field-order" %>
		<%else%>
			<%= f.hidden_field :display_order, :value => 10000, :class => "form-field-order" %>
		<%end%>
	</td>
	<td><%=f.text_field :title, :class => "form-control"%></td>
	<td><%=f.select :data_type, ChecklistHeaderItem.get_data_types, {}, :class => "form-control"%></td>
	<td><%=f.text_field :options, :class => "form-control"%></td>
	<td>
		<%boolean_options = {"Yes" => true, "No" => false}%>
		<%=f.select :editable, 
			options_for_select(boolean_options, (checklist_header_item.editable rescue false)), 
			{:include_blank => ""}, 
			{:class => "field_select form-control"}%>
	</td>
	<td>
		<%=f.hidden_field :archive, :id => "archive_field"%>
		<%if source == 'Existing'%>
			<%if checklist_header_item.archive?%>
				<a class="btn btn-default archive_btn">Unarchive</a>
			<%else%>
				<a class="btn btn-warning archive_btn">Archive</a>
			<%end%>
		<%else%>
			<button type="button" class="btn btn-danger" onclick="removeField(this)">Remove</button>
		<%end%>
	</td>
</tr>

<script>

	function removeField(deletable){
		$(deletable).closest('.to_delete').remove();
	}


</script>