<%options = (cell.options || item.options) rescue item.options%>


<%case owner_type%>
<%when 'Sample'%>
  <%case item.data_type%>
  <%when 'text'%>
    <input class="form-control" value="<%=(defined? cell) ? cell.value : ''%>"></input>
  <%when 'dropdown'%>
    <select class="form-control field_select" id="preview_select" name="preview_select">
      <option></option>
      <%options.split(';').each do |option|%>
        <option data-id="<%=item.id%>"><%=option%></option>
      <%end%>
    </select>
  <%when 'radio'%>
    <div class="col-xs-12 ml5">
      <%options.split(";").each do |option|%>
        <label class="radio radio-inline">
          <%=radio_button_tag :value, option%>
          <%=option%>
        </label><br>
      <%end%>
    </div>
  <%when 'checkboxes'%>
    <div class="col-xs-12 ml5">
      <%options.split(";").each do |option|%>
        <label class="radio radio-inline">
          <%=check_box_tag 'value[]', option%>
          <%=option%>
        </label><br>
      <%end%>
    </div>
  <%end%>

<%when 'ChecklistHeader'%>
  <%case item.data_type%>
  <%when 'text'%>
    <%=cell.value.gsub(/\n/, '<br/>').html_safe rescue ''%>
  <%when 'dropdown'%>
    <select class="form-control field_select" id="preview_select" name="preview_select">
      <option></option>
      <%options.split(';').each do |option|%>
        <option data-id="<%=item.id%>"><%=option%></option>
      <%end%>
    </select>
  <%when 'radio'%>
    <div class="col-xs-12 ml5">
      <%options.split(";").each do |option|%>
        <label class="radio radio-inline">
          <%=radio_button_tag "value_#{cell.id}", option, option == cell.value%>
          <%=option%>
        </label><br>
      <%end%>
    </div>
  <%when 'checkboxes'%>
    <div class="col-xs-12 ml5">
      <%options.split(";").each do |option|%>
        <div class="checkbox">
          <label>
            <%=check_box_tag "value_#{cell.id}", option, option == cell.value%>
            <%=option%>
          </label>
        </div>
      <%end%>
    </div>
  <%end%>

<%else%>
  <%case item.data_type%>
  <%when 'checkboxes', 'radio', 'dropdown'%>
    <%=cell.value.split(';').join('<br>').html_safe rescue ''%>
  <%else%>
    <%=cell.value.gsub(/\n/, '<br/>').html_safe rescue ''%>
  <%end%>
<%end%>



