<%
  field_type = (cell.data_type || item.data_type) rescue item.data_type
  options = (cell.options || item.options) rescue item.options
  is_header ||= false
%>


<%case owner_type%>
<%when 'Sample'%>
  <%case field_type%>
  <%when 'text'%>
    <input class="form-control" value="<%=(defined? cell) ? cell.value : ''%>"></input>
  <%when 'dropdown'%>
    <select class="form-control field_select" id="preview_select" name="preview_select">
      <option></option>
      <%options.split(';').each do |option|%>
        <option data-id="<%=item.id%>"><%=option%></option>
      <%end%>
    </select>
  <%when 'radio'%>
    <div class="col-xs-12 ml5">
      <%options.split(";").each do |option|%>
        <label class="radio radio-inline">
          <%=radio_button_tag :value, option%>
          <%=option%>
        </label><br>
      <%end%>
    </div>
  <%when 'checkboxes'%>
    <div class="col-xs-12 ml5">
      <%options.split(";").each do |option|%>
        <label class="checkbox checkbox-inline">
          <%=check_box_tag 'value[]', option%>
          <%=option%>
        </label><br>
      <%end%>
    </div>
  <%end%>

<%when 'ChecklistHeader'%>
  <%case field_type%>
  <%when 'text'%>
    <%if item.editable%>
      <%=text_area_tag "value_#{cell.id}", nil, class: "form-control"%>
    <%else%>
      <%=cell.value.gsub(/\n/, '<br/>').html_safe rescue ''%>
    <%end%>
  <%when 'dropdown'%>
    <select class="form-control field_select" id="preview_select" name="preview_select">
      <option></option>
      <%options.split(';').each do |option|%>
        <option data-id="<%=item.id%>"><%=option%></option>
      <%end%>
    </select>
  <%when 'radio'%>
    <div class="col-xs-12 ml5">
      <%options.split(";").each do |option|%>
        <label class="radio radio-inline">
          <%=radio_button_tag "value_#{cell.id}", option, option == cell.value%>
          <%=option%>
        </label><br>
      <%end%>
    </div>
  <%when 'checkboxes'%>
    <div class="col-xs-12 ml5">
      <%options.split(";").each do |option|%>
        <label class="checkbox checkbox-inline">
          <%=check_box_tag "value_#{cell.id}", option, option == cell.value%>
          <%=option%>
        </label><br>
      <%end%>
    </div>
  <%end%>

<%else%>
  <%case field_type%>
  <%when 'checkboxes', 'radio', 'dropdown'%>
    <%=cell.value.split(';').join('<br>').html_safe rescue ''%>
  <%else%>
    <%=cell.value.gsub(/\n/, '<br/>').html_safe rescue ''%>
  <%end%>
<%end%>



