<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>

<%=render "access_controls/new_modal"%>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%= render "shared/alerts" %>

    <div class="panel panel-steelblue">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            <%=@record.class.name.titleize%>: <%=@record.title%>
          </div>
          <div class="top_buttons pull-right">
            <%=link_to "All Checklist Headers",
              checklist_headers_path,
              :class => "btn btn-default pull-right",
              :disable_with => "Redirecting..."%>
            <%=link_to "Export CSV",
              export_checklist_header_path(@record, :format => "csv"),
              :class => "btn btn-success pull-right mr5",
              :target => "_blank"%>
            <%=link_to "Clone",
              clone_checklist_header_path(@record),
              :confirm => 'Are you sure?',
              :class => "btn btn-success pull-right mr5"%>

            <%if @record.status == 'New'%>
              <%=link_to "Edit",
                edit_checklist_header_path(@record),
                :class => "btn btn-warning pull-right mr5",
                :disable_with => "Editing..."%>
              <%=link_to 'Publish',
                checklist_header_path(@record, checklist_header: {status: 'Published'}),
                :method => 'put',
                :disable_with => 'Updating...',
                :confirm => 'Are you sure?',
                :class => 'btn btn-danger pull-right mr5'%>
            <%elsif @record.status == 'Published'%>
              <%=link_to 'Disable',
                checklist_header_path(@record, checklist_header: {status: 'Disabled'}),
                :method => 'put',
                :disable_with => 'Updating...',
                :confirm => 'Are you sure?',
                :class => 'btn btn-danger pull-right mr5'%>
            <%elsif @record.status == 'Disabled'%>
              <%=link_to 'Enable',
                checklist_header_path(@record, checklist_header: {status: 'Published'}),
                :method => 'put',
                :disable_with => 'Updating...',
                :confirm => 'Are you sure?',
                :class => 'btn btn-danger pull-right mr5'%>
            <%end%>
          </div>
        </div>
      </div>

      <div class="panel-body">

        <p>
          // TREVOR TODO <br>
          Define these terms:
          Publish, Disable, Enable, Clone, Export, Preview
        </p>


        <div class="span4 collapse-group">
          <a class="btn" data-toggle="collapse" data-target="#viewinstruction">View Instructions &raquo;</a>
          <div class="collapse" id="viewinstruction">
            <div class="col-xs-12">
              <div class="col-xs-12 well">
                <ul>
                  <li>
                    Use <span class= "glyphicon glyphicon-move"></span> to reorder columns
                  </li>
                  <li>
                    Templates cannot be modified once published.
                  </li>
                  <li>
                    Toggle Enable/Disable to allow/prevent selection of this checklist template.
                  </li>
                  <li>
                    Clone this template to create a new editable copy.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <%=render '/forms/show_fields', :fields => @fields, :record => @record%>

        <div class="col-xs-12 mt20">
          <div class="panel panel-lightskyblue">
            <div class="panel-heading">
              <div class="panel-title">Preview</div>
            </div>
            <div class="panel-body">

              <table class="table table-bordered table-striped">
                <thead>
                  <%@record.checklist_header_items.order(:display_order).each do |item|%>
                    <th><%=item.title%></th>
                  <%end%>
                </thead>
                <tbody>
                  <%(1..2).each do |x|%>
                    <tr>
                      <%@record.checklist_header_items.order(:display_order).each do |item|%>
                        <td>
                          <%=render 'checklist_headers/preview_field', :item => item, :owner_type => 'Sample'%>
                        </td>
                      <%end%>
                    </tr>
                  <%end%>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <%#=render "checklist_templates", :owner => @record%>

      </div>
    </div>

  </div>
</div>



<style>
  .radio{
    cursor: pointer;
  }
</style>



<script>
  $(function(){
    $('#create_template_btn').on('click',function(){
      $.get("<%=new_checklist_path(
        :checklist_header_id => @record.id,
        :owner_class => @record.class.name,
        :owner_id => @record.id)%>",
        function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>


