<%=form_for @owner,:html => {:multipart => true} do |x|%>
  <%=x.fields_for :attachments,@attachment do |f|%>
    <div class="panel-warning panel">
      <div class="panel-heading">
        <div class="panel-title">New Attachment
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button></div>
      </div>
      <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto">
        <div class="row" style="max-height:450px;overflow-y:auto;">
          <div class="form-inline form-group col-xs-12">
            <%= f.file_field :name,:class=>"file_input btn-info",:title=>"Select File to Upload"%>
          </div>
          <div class="form-inline form-group col-xs-6">
            <%=f.label :caption%>
            <%= f.text_field :caption,:class=>"form-control"%>
          </div>
          <div class="col-xs-12">
            <%=x.submit "Save",:class=>"btn btn-success pull-right mr5", disable_with: "Saving..."%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>
<script>
  $(document).ready(function(){
    $('.file_input').bootstrapFileInput();
  });
</script>
