<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<div class="panel panel-warning">
  <div class="panel-heading">
    <div class="panel-title">
      <b>Baseline Risk Accessment</b><button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
  <div class="panel-body">
    <%=form_for @owner do |f|%>
      <div class="row col-xs-12" style="max-height:500px;overflow-y:auto;">
        <%=render "shared/instructions",
                :instruction => "Select the <b>Baseline Severity</b> and the <b>Baseline Likelihood</b> from dropdown to see Risk Factor."%>
        <%=render "shared/bsk_risk_matrix_form_baseline", :f => f%>
        <%=render "shared/bsk_risk_matrix_table_form"%>
      </div>
      <div class="col-xs-12">
        <%=f.submit "Submit",:class=>"btn btn-success pull-right mr5", disable_with: "Submitting..."%>
      </div>
    <%end%>
  </div>
</div>


<script>
  $(document).ready(function(){
    $("#<%=@owner.severity%>-<%=Investigation.get_likelihood.index(@owner.likelihood)%>").html("<span class='glyphicon glyphicon-remove' style='color:red'></span>");
    $('#sev').on('change',function(){
      reset_risk();
    });
    $('#like').on('change',function(){
      reset_risk();
    });
  });
</script>
