<div class="panel-body">
  <b>Select Fields to Visualize</b>
  <div class="scroll-height">
    <% if @categories.blank? %>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h4 class="ml5">All fields</h4>
        <ul class="list-group">
          <% @fields.each do |field| %>
            <label class="list-group-item ml5 field_label" style="font-weight: inherit;"><%= check_box_tag "selected_fields[]", field.id %>&nbsp;&nbsp;<%= field.label %></label>
          <% end %>
        </ul>
      </div>
    <% else %>
      <% @categories.each do |category| %>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h4 class="ml5"><%= category.title %></h4>
          <ul class="list-group">
            <% category.fields.each do |field| %>
              <label class="list-group-item ml5 field_label" style="font-weight: inherit;"><%= check_box_tag "selected_fields[]", field.id %>&nbsp;&nbsp;<%= field.label %></label>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<style>
.scroll-height { max-height:250px; border:1px solid grey; overflow:auto; }
.field_label:hover {cursor: pointer!important;}
</style>

<script type="text/javascript">
</script>
