<%if form.present?%>
  <%instructions = CONFIG::INSTRUCTIONS[form]%>
  <%fields = (simplified ||= false) ? instructions[:simplified_form_fields] : instructions[:fields]%>
  <div class="span4 collapse-group">
    <a class="btn" data-toggle="collapse" data-target="<%="#view-#{form}"%>"> <%="Instructions (for filling out #{ form.underscore.dasherize } fields)"%> &raquo;</a>
    <div class="collapse" id=<%="view-#{form}"%>>
      <div class="col-xs-12">
        <div class="col-xs-12 well">
          <ul class="list-group">
            <%fields.each do |instruction|%>
              <li class="list-group-item"> <%=instruction.html_safe%>
            <%end%>
          </ul>
          <%if instructions[:notes].present?%>
            <b> Note </b>
            <div style="padding:10px; background-color:white">
              <ul>
                <%instructions[:notes].each do |note|%>
                  <li><%=note.html_safe%>
                <%end%>
              </ul>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<%end%>



<style>
  .well {
    background-color: #cfebff;
    border-color: #94bedb;
  }

  .field_name{
    color: blue
  }
</style>

<script>
  $("<%="a.btn[data-target='#view-#{form}'"%>").click()
</script>
