<%= stylesheet_link_tag "/plugins/tables/datatables-1.10.16/datatables.min.css" %>
<%= javascript_include_tag "/plugins/tables/datatables-1.10.16/datatables.min.js" %>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js"></script>


<div class="col-xs-12">
	<%= render "shared/alerts" %>
	<div class="panel panel-steelblue">
		<div class="panel-heading">
			<div class="panel-title">
				<div class="top_text">
					<b><%=@title%></b>
				</div> 
				<div class="top_buttons pull-right">
					<% if create_new %>
					 <%= link_to "New", 
					 	"#", 
					 	:class=>"btn btn-success pull-right mr5", 
					 	:id => "new_btn", 
					 	"data-toggle"=>"modal", 
					 	"data-target" => ".bs-example-modal-lg"%>
					<%end%>
				</div>
			</div>
		</div>
		<div class="panel-body">


			<div class="table-responsive">
				<table id="records_table" 
					class="table table-hover table-striped table-bordered" 
					width="100%">
					<thead>
						<tr>
							<%@headers.each do |header|%>
								<th class="<%=header[:size]%>">
									<%=header[:title]%>
								</th>
							<%end%>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<%@headers.each do |header|%>
								<th class="<%=header[:size]%>">
									<%=header[:title]%>
								</th>
							<%end%>
						</tr>
					</tfoot>
					<tbody>
						<%@records.each do |record|%>
							<tr record_id="<%=record.id%>" 
									data-toggle="modal" 
									data-target=".bs-example-modal-lg">
								<%@headers.each do |header|%>
									<%field_name = header[:field]%>
									<%field_value = record.send(field_name)%>
									<%field_display = header[:display]%>
									<%field_progress = header[:progress].present? ? record.send(header[:progress]) : '0%'%>

									<%html_class = header[:html_class].present? ? record.send(header[:html_class]) : ''%>

									<td class="<%=html_class%> percent" percentage="<%=field_progress%>">
										<%case header[:type]%>
										<%when "boolean"%>
											<%boolean_options = {true => "Yes", false => "No"}%>
											<%=boolean_options[field_value]%>
										<%when "date"%>
											<%=date_to_string(field_value)%>
										<%when "datetime"%>
											<%=datetime_to_string(field_value)%>
										<%when "checkbox"%>
											<%=field_value%>
										<%when "user"%>
											<%if field_value != nil && field_value != ""%>
												<%=User.find(field_value).full_name rescue ''%>
											<%end%>
										<%when "textarea"%>
											<%=field_value[0..50] + (field_value.length > 50 ? '...' : '')%>
										<%when "select"%>
											<%if field_display.present?%>
												<%=field_display[field_value]%>
											<%else%>
												<%=field_value%>
											<%end%>
										<%when 'select_map'%>
											<%if header[:options].is_a? Symbol%>
												<%=record.send(header[:options]).invert[field_value]%>
											<%else%>
												<%=header[:options].invert[field_value]%>
											<%end%>
										<%else%>
											<%=field_value%>
										<%end%>
									</td>
								<%end%>
							</tr>
						<%end%>
					</tbody>
				</table>
			</div>          
		</div>
	</div>
</div>




<style>
 	.datepicker{
		z-index: 1200!important;
 	} 
	tfoot {
		display: table-header-group;
	}
</style>




<script>

	$(function(){


		$("#new_btn").on("click", function(){
			$.get("<%=@new_path%>", function(data){
				$(".modal-content").html(data);
				$(window).trigger("resize");
			});
		});
	
		$('#records_table tbody tr').on('click',function() {
			var record_id = $(this).attr("record_id");
			$.get("<%=@table_name%>/" + record_id + "/edit",function(data){
				$(".modal-content").html(data);
				$(window).trigger('resize');
			});
		});

		$('#records_table').DataTable({
			dom: "<'row'<'col-xs-6'l><'col-sm-6'f>>" +
					 "<'row'<'col-sm-12'tr>>" +
					 "<'row'<'col-sm-5'i><'col-sm-7'p>>" + 
					 "<'row'<'col-sm-12'B>>",
			buttons: [
				"excel", "copy", "print",
			],
			"aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
			"iDisplayLength": 10,
			"aaSorting": [[0, "desc"]],
			"columnDefs": [{ type: 'natural', targets: 0 }],
			initComplete: function(){
				this.api().columns().every( function () {
					var column = this;
					rand_num = new Date().getTime();
					var select = $('<input class=\'form-control\' list=\''+rand_num+'\'><datalist id=\''+rand_num+'\'><option value=""></option></datalist>')
						.appendTo( $(column.footer()).empty())
						.on( 'keyup change input', function (){
							if ( column.search() !== this.value){
								column.search( this.value ).draw();
							} 
						});

					column.data().unique().sort().each(function(d, j){
						if(d!="" && d!=undefined){
							$('#'+rand_num).append( '<option value="'+d+'">'+d+'</option>' );
						}
					});
				});
			},
		});
	});
</script>