<div><img id="map-container" src="http://maps.googleapis.com/maps/api/staticmap?center=<%=CONFIG::GENERAL[:lat]%>,<%=CONFIG::GENERAL[:lng]%>&zoom=<%=CONFIG::GENERAL[:gMapZoom]%>&size=700x500&scale=2&maptype=satellite&markers=color:red|<%points.each do |x| %><%=x.lat%>,<%=x.lng%>|<%end%>&sensor=false&key=AIzaSyDRNvISiW_CO6FTNCdV40Nh19rAncpeLJo" style="width:600px; height:400px;"></div>
