<div class="panel panel-info">

  <div class="panel-heading click-heading collapsed">
    <div class="panel-title">
      <b>Packages</b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
    </div>
  </div>

  <div class="panel-body" style="display:none">
    <div class="row col-xs-12">

      <table>
      <tr>
        <td>
          <i class='fa fa-link btn btn-sm btn-info mb5 mr5 ml5'></i>
          <b>View Package </b>- View a Package.
        </td>
        <td>
          <i class='glyphicon glyphicon-minus btn btn-sm btn-danger mb5 ml5 mr5'></i>
          <b>Remove Package </b>- Remove a Package from the meeting.
        </td>
        <td>
          <i class='glyphicon glyphicon-road btn btn-sm btn-success mb5 ml5 mr5'></i>
          <b>Carryover Package </b>- Carryover a Package to another open meeting.
        </td>
      </tr>
      <tr>
        <td>
          <i class='glyphicon glyphicon-list btn btn-sm btn-warning mb5 mr5 ml5'></i>
          <b>Agendas </b>- View or add Meeting Agendas
        </td>
        <td>
          <i class='glyphicon glyphicon-pencil btn btn-sm btn-success mb5 mr5 ml5'></i>
          <b>Add Meeting Minutes </b>- Add Meeting Minutes to the meeting
        </td>
      </tr>
    </table>

      <table class="table table-striped table-bordered">

        <thead>
          <tr>
            <%@package_headers.each do |h|%>
              <th><%=h[:title]%></th>
            <%end%>
            <th>Meeting Minutes</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <%@meeting.packages.each do |package|%>
            <tr>
              <%@package_headers.each do |h|%>
                <td class="<%=h[:html_class].present? ? package.send(h[:html_class]) : ''%>"><%=package.send(h[:field])%></td>
              <%end%>
              <td><%if package.minutes.present?%><%=package.minutes.gsub(/\n/, '<br/>').html_safe%><%end%></td>
              <td>
                <%=link_to "<i class='fa fa-link'></i>".html_safe, package_path(package), :target=>"_blank", :class=>"btn btn-sm btn-info mb5", 'hover' => 'tooltip', title: 'View Package'%>
                <%if current_user.has_access("meetings","edit") && @meeting.has_user(current_user)%>
                  <%if package.status != "Completed" && @meeting.status != "Closed" && package.sms_agendas.blank?%>
                    <%=link_to "<i class='glyphicon glyphicon-road'></i>".html_safe, "#",:class=>"btn btn-sm btn-success carryover_btn mb5",'hover' => 'tooltip', title: 'Carryover Package',:route=>carryover_package_path(package.id), :confirm => "Are you sure?"%>
                  <%end%>
                  <%=link_to "<i class='glyphicon glyphicon-list'></i>".html_safe,"#",:class=>"btn btn-sm btn-warning agenda_btn mb5","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg",'hover' => 'tooltip', title: 'View/Add Meeting Agenda',:route=>get_agenda_package_path(package,:meeting=>@meeting.id)%>
                  <%if package.status !="Completed" && @meeting.status != "Closed"%>
                    <%=link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe,"#",:class=>"btn btn-sm btn-success minutes_btn mb5","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg", 'hover' => 'tooltip', title: 'Add Meeting Minutes', :route=>new_minutes_package_path(package, :meeting=>@meeting) %>
                  <%end%>
                  <% if @meeting.status != "Closed" %>
                    <%=link_to "<i class='glyphicon glyphicon-minus'></i>".html_safe, "#", :class=>"btn btn-sm btn-danger mb5", :onclick=>"delete_package(#{package.id}, #{@meeting.id},this)", 'hover' => 'tooltip', title: 'Remove Package'%>
                  <%end%>
                <%end%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>



<script>
  $(document).ready(function(){
    $('.agenda_btn').on('click',function(){
      path=$(this).attr('route');
      $.get(path,function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('.carryover_btn').on('click',function(){
      path=$(this).attr('route');
      current=$(this).closest('tr');
      $.get(path,function(data){
        current.hide();
      });
    });
    $(".minutes_btn").on('click',function(){
      $.get($(this).attr('route'),function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
