<style>
body {
    font: normal 12px Verdana, Arial, sans-serif;
}
.category{
    border: 1px solid black;
    margin-bottom:10px;
    padding:3px;
}
.grid_block{
  display: inline-block;
    width: 300px;
    margin-bottom: 3px;
    margin-top: 2px;
}
.line_block{
  display: inline-block;
    width: 580px;
    margin-right: 5px;
    margin-left:  5px;
    margin-bottom: 5px;
    margin-top:5px;
}
</style>


<h4><b>Meeting</b> #<%=@meeting.get_id%></h4>
<div class="category">
    <b>Status: </b><%=@meeting.status%></br>
    <b>Host: </b><%=@meeting.get_host%></br>
    <b>Review Start: </b><%=@meeting.get_time(:review_start)%>  <%=@meeting.review_timezone%>
    <b>Review End: </b><%=@meeting.get_time(:review_end)%>  <%=@meeting.review_timezone%></br>
    <b>Meeting Start: </b><%=@meeting.get_time(:meeting_start)%>  <%=@meeting.meeting_timezone%>
    <b>Meeting End: </b><%=@meeting.get_time(:meeting_end)%>  <%=@meeting.meeting_timezone%></br>
    <b>Date Closed: </b><%=@meeting.get_time(:closing_date)%></br>
    <%if @meeting.notes.present?%>
        <b>Notes: </b><%=@meeting.notes.gsub(/\n/, '<br/>').html_safe%>
    <%end%>
    <%@meeting.packages.each do |p|%> 
        <%=render "print_agenda", :package=>p%>
    <%end%>
</div>


