<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

 <link rel="stylesheet" type="text/css" href="/stylesheets/style2.css" />

 <style type="text/css">
  .systemImage{
    width: 180px;
  }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .mainContent{
      margin: 40px 0px 0px 25px;
    }
    .systemImage{
      width: 150px;
    }
  }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    .mainContent{
      margin: 40px 0px 0px 100px;
    }
  }

  <% if @modules && @modules.size % 2 == 0 %>
    .gatewayModules{
      float: left;
      width: 49%;
    }
  <% end %>
  <% if @modules %>
    .mainContent{
      width: 50%;
    }
    .gatewayModules{
      margin-bottom: 10px;
    }
  <% end %>

</style>

  <title>ProSafeT Portal</title>
  <div class="white_grid" style="min-width: 722px;">
    <p style="padding:0; margin-top:10px; color:#B94A48; font-weight:bold; font-size:1.1em;"><%= flash[:alert] %></p>
    <% if @modules.blank? && @systems.present? %>
    <!-- this makes sure that modeules greyfields does not print if only have access to systems -->
    <% else %>
      <a href="/audit_home/index" class="gateewayModules">THIS IS A LINK TO THE AUDIT MODULE</a>
      <fieldset class="greyFields">
        <legend>MODULES</legend>
        <% if @modules.present? %>
            <div style="text-align: center">
              <% @modules.each do |i| %>
                <a href="<%= i[:href_path] %>" class="gatewayModules"><img src="<%= i[:icon_path] %>" alt="" width="150px" /></a>
              <% end %>
            </div>
            <br/> <br/>
            <br/> <br/>
            <br/> <br/>
            <br/> <br />
        <% else %>
          <div style="text-align: center">
            <% if @gateway_prefs.getLayout[:customP139name] %>
            <a href="/home?&days_ago=365" class="gatewayModules"><img src="/images/Airport_Self_Inspection_icon_square.png" alt="" width="150px" /><p></p></a>
            <% else %>
            <a href="/home?&days_ago=365" class="gatewayModules"><img src="/images/Part139_icon_square.png" alt="" width="150px" /><p></p></a>
            <% end %>
            <a href="/arff_home" class="gatewayModules"><img src="/images/ARFF_icon_square.png" alt="" width="150px" /><p></p></a>
            <a href="/wcr_home" class="gatewayModules"><img src="/images/WCR_icon_square.png" alt="" width="150px" /></a>
          </div>
          <br/> <br/>
          <br/> <br/>
          <br/> <br/>
          <br/> <br/><br/>
          <div style="text-align: center">
            <a href="/fsi_home" class="gatewayModules"><img src="/images/fsi_icon_square.png" alt="" width="150px" /></a>
            <a href="/bird_home" class="gatewayModules"><img src="/images/bird_icon_square.png" alt="" width="150px" /></a>
            <a href="/vehicle_home" class="gatewayModules"><img src="/images/vehicle_icon_square.png" alt="" width="150px" /></a>
          </div>
          <br/> <br/>
          <br/> <br/>
          <br/> <br/>
          <br/> <br/>
          <div style="text-align: center">
            <a href="/water_home" class="gatewayModules"><img src="/images/storm_icon_square.png" alt="" width="150px" /></a>
            <a href="/notam_home" class="gatewayModules"><img src="/images/notams_icon_square.png" alt="" width="150px" /></a>
            <a href="/tms_home" class="gatewayModules"><img src="/images/training_icon_square.png" alt="" width="150px" /></a>
            <!--  <a href="/#" class="gatewayModules"><img src="/images/opslog_icon_square.png" alt="" width="150px" /></a> -->
          </div>
          <br/> <br/>
          <br/> <br/>
          <br/> <br/>
          <br/> <br/>
        <%end%>
      </fieldset>
    <% end %>

    <% if @gateway_prefs.getLayout[:custom] %>
      <!-- Do not combine this if to ensure if custom but dont have access to systems -->
      <% if @systems.present? %>
        <fieldset class="greyFields">
          <legend>SYSTEMS</legend>
          <div style="text-align: center">
            <div>
              <% @systems.each do |s| %>
                <a href="<%= s[:href_path] %>" class="gatewaySystems"><img src="<%= s[:icon_path] %>" alt="" class="systemImage" height="110px" /><p><%= s[:name] %></p</a>
              <% end %>
            </div>
          </div>
        </fieldset>
      <% end %>
    <% else %>
      <fieldset class="greyFields">
        <legend>SYSTEMS</legend>
        <div style="text-align: center">
          <div><a href="https://smsdemo.prodigiq.com/" class="gatewaySystems"><img src="/images/smsBackground_small.jpg"  class="systemImage" alt="" height="110px"/><p>Safety Management</p></a></div>
          <div><a href="https://leasedemo.prodigiq.com/" class="gatewaySystems"><img src="/images/leasePortalImage_small.gif" class="systemImage" alt="" height="110px"/><p>Lease Management</p></a></div>
          <div><a href="/maint_home" class="gatewaySystems"><img src="/images/maintenancePortalImage_small.png" class="systemImage" alt="" height="110px" /><p>Maintenance Management</p></a></div>
          <div><a href="https://opslogdemo.prodigiq.com/" class="gatewaySystems"><img src="/images/leasePortalImage_small.gif" class="systemImage" alt="" height="110px"/><p>Operations Management</p></a></div>
        </div>
      </fieldset>
    <% end %>
    <br/>
  </div>
</html>
