<div class="col-xs-12">
  <div class="panel clickable panel-lightskyblue">

    <div class="panel-heading click-heading">
      <div class="panel-title">
        <b>Initial Risk Assessment</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-up"></i>
        </span>
      </div>
    </div>

    <div class="panel-body" style="display:block">

      <%=f.hidden_field :severity,    :value => "", :id => "sev"%>
      <%=f.hidden_field :likelihood,  :value => "", :id => "like"%>
      <%=f.hidden_field :risk_factor, :value => "", :id => "risk_fact"%>

      <%=render "/shared/FFT/baseline_content", :f => f%>

    </div>
  </div>
</div>

<style>
  .table-content {
    font-size: 12px;
  }
  .table-centered td,th{
    text-align: center;
  }
  .table-centered th{
    font-size: 14px;
  }
  .table-left td{
    text-align: left;
  }
  .table-cursor td:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #F0F8FF;
  }
  .table-small th{
    font-size: 14px !important;
  }
  .table-small td{
    text-align: left !important;
    font-size: 14px !important;
  }
</style>


<script>
  $(document).ready(function(){
    initialize();
    load_data();
    $('form').on('submit',function(){
      var severity_result = new Array(<%= @severity_table[:row_header].size %>);
      var probability_result= new Array(<%= @probability_table[:column_header].size %>);
      $('.baseline_severity_td').each(function(){
        if ($(this).data('status')==="checked"){
          severity_result[$(this).data("column")]=$(this).data("row");
        }
      });
      $('.baseline_probability_td').each(function(){
        if ($(this).data('status')==="checked"){
          probability_result[$(this).data("row")]=$(this).data("column");
        }
      });
      for (i=0;i<severity_result.length;i++){
        $('form').append("<input name='<%=@target_name%>[<%=@severity_field%>][]' value="+severity_result[i]+" hidden></input>");
      }
      for (i=0;i<probability_result.length;i++){
        $('form').append("<input name='<%=@target_name%>[<%=@probability_field%>][]' value="+probability_result[i]+" hidden></input>");
      }
      return true;
    });
  });


  // defines event handlers on Severity and Probability matrices
  function initialize() {
    $('.baseline_severity_td').on('click',function(){
      if ($(this).data("status") === "checked"){
        $(this).data("status", "");
        $(this).css('background', 'none');
      }else{
        $(this).data("status", "checked");
        $(this).css('background', '#AFEEFC');
        row_id = $(this).data("row");
        column_id = $(this).data("column");
        $('.baseline_severity_td').each(function(){
          if ($(this).data("row") != row_id && $(this).data("column") == column_id){
            $(this).data("status", "");
            $(this).css('background','none');
          }
        });
      }
      calculate_risk();
    });
    $('.baseline_probability_td').on('click',function(){
      if ($(this).data("status")==="checked"){
        $(this).data("status","");
        $(this).css('background','none');
      }else{
        $(this).data("status","checked");
        $(this).css('background','#AFEEFC');
        row_id=$(this).data("row");
        column_id=$(this).data("column");
        $('.baseline_probability_td').each(function(){
          if ($(this).data("row")==row_id &&  $(this).data("column")!=column_id){
            $(this).data("status","");
            $(this).css('background','none');
          }
        });
      }
      calculate_risk();
    });
  }


  function load_data(){
    <%if @target.get_extra_severity.present? && @target.get_extra_probability.present?%>
      $('.baseline_severity_td').each(function(){
        <%(0..@severity_table[:column_header].size-1).each do |i|%>
          if ($(this).data('column') == <%=i%>){
            if($(this).data('row') == <%=@target.get_extra_severity[i]%>){
              $(this).data("status", "checked");
              $(this).css('background', '#AFEEFC');
            }
          }
        <%end%>
      });
      $('.baseline_probability_td').each(function(){
        <%(0..@probability_table[:row_header].size - 1).each do |i|%>
          if ($(this).data('row') == <%=i%>){
            if($(this).data('column') == <%=@target.get_extra_probability[i]%>){
              $(this).data("status", "checked");
              $(this).css('background', '#AFEEFC');
            }
          }
        <%end%>
      });
      calculate_risk();
    <%end%>
  }


  function calculate_risk(){
    severities = []
    probabilities = []
    severity_checked = 0
    probability_checked = 0
    $('.baseline_severity_td').each(function(){
      if ($(this).data("status") === "checked"){
        severities.push($(this).data("row"));
        severity_checked++;
      }
    });
    $('.baseline_probability_td').each(function(){
      if ($(this).data("status") === "checked"){
        probabilities.push($(this).data("column"));
        probability_checked++;
      }
    });
    if (probability_checked > 0 && severity_checked > 0){
      set_risk(Math.max.apply(null, severities), Math.max.apply(null, probabilities));
    }else{
      clear_risk();
    }
  }

  function set_risk(row_index,column_index){
    clear_risk();
    risk_table_def = <%=FFTConfig::MATRIX_INFO[:risk_table][:rows_content].to_json.html_safe%>
    risk_table_dic = <%=FFTConfig::MATRIX_INFO[:risk_table_dict].to_json.html_safe%>
    $('.baseline_risk_td').each(function(){
      if($(this).data("row") == row_index && $(this).data("column") == column_index){
        $(this).find('.content').addClass('circle initial-circle');
        $('#sev').val(row_index);
        $('#like').val(column_index);
        $('#risk_fact').val(risk_table_dic[risk_table_def[row_index][column_index]]);
      }
    });
  }

  function clear_risk(){
    $('.baseline_risk_td').each(function(){
      $(this).find('.content').removeClass('circle initial-circle');
    });
  }

</script>
