<%if owner.risk_factor.present? || owner.risk_factor_after.present? %>
  <div class="col-xs-12">
    <div class="sub_sub_title">Risk Assessment</div>
    <div class="content">
      <%if owner.risk_factor.present? %>
        <div class="col-xs-6">
          <b>Baseline Severity: </b><%= airport_config.print_severity(owner, owner.severity.to_i) %></br>
          <b>Baseline Probability: </b><%= airport_config.print_probability(owner, owner.likelihood.to_i) %></br>
          <b>Baseline Risk: </b><%= owner.risk_factor %></br></br>
        </div>
      <%end%>
      <%if owner.risk_factor_after.present? %>
        <div class="col-xs-6">
          <b>Mitigated Severity: </b><%= airport_config.print_severity(owner, owner.severity_after.to_i) %></br>
          <b>Mitigated Probability: </b><%= airport_config.print_probability(owner, owner.likelihood_after.to_i) %></br>
          <b>Mitigated Risk: </b><%= owner.risk_factor_after %></br>
        </div>
      <%end%>
      <%if owner.statement.present? %>
        <div class="col-xs-12">
          <b>Risk Assessment Notes: </b></br>
          <%=simple_format(owner.statement)%>
        </div>
      <%end%>
    </div>
  </div>
<%end%>
