<div class="col-xs-12">
  <hr/>
  <h4 style="color:#BDB76B"><b>RISK ASSESSMENT MATRIX</b></h4>
  <table class="bold table table-bordered table-centered" cellspacing="0" width="100%">
    <tr>
      <th bgcolor="#BDB76B" style="color:white"><h4>SEVERITY</h4></th>
      <th colspan="5" bgcolor="#BDB76B" style="color:white"><h4>PROBABILITY</h4></th>
    </tr>
    <tr>
      <th bgcolor="#FFFFF0" width="15%"></th>
      <%@risk_table[:column_header].each do |header|%>
        <th bgcolor="#FFFFF0" width="15%">
          <%=header.html_safe%>
        </th>
      <%end%>
    </tr>
    <tr>
      <%@risk_table[:row_header].each_with_index do |row_header,row_index|%>
        <tr style='height: 60px'>
          <th style="text-align:left"
            width="5%"
            bgcolor="#FFFFF0">
            <%=row_header.html_safe%>
          </th>
          <%@risk_table[:column_header].each_with_index do |column_header,column_index|%>
            <td class="risk_td<%=owner.class.name%>_<%=owner.id%>"
              data-row="<%=row_index%>"
              data-status=""
              data-mitigated=""
              data-column="<%=column_index%>"
              style="vertical-align:middle; background:<%=@risk_table[:rows][row_index][column_index]%>">
              <div class='content'>
                <%=@risk_table[:rows_content][row_index][column_index]%>
              </div>
            </td>
          <%end%>
        </tr>
      <%end%>
    </tr>
  </table>
</div>
