<script src="javascripts/html2canvas.js" type="text/javascript"></script>

<div class="col-xs-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="top_text">
          <b><%=@after_title%></b>
        </div>
        <%if session[:mode]=="SMS"%>
          <div class="top_buttons pull-right">
            <b><%=link_to "Investigations","#", :class=>"btn btn-info show_finding",:id=>"after_switch"%></b>
          </div>
        <%elsif session[:mode]=="ASAP"%>
          <div class="top_buttons pull-right">
            <b><%=link_to "Events","#", :class=>"btn btn-info show_record",:id=>"after_switch"%></b>
          </div>
        <%elsif session[:mode]=="SRM"%>
          <div class="top_buttons pull-right">
            <b><%=link_to "SRAs","#", :class=>"btn btn-info show_hazard",:id=>"after_switch"%></b>
          </div>
        <%end%>
      </div>
    </div>
    <div class="panel-body" style="height:300px">
      <table id="after_matrix"class="table table-bordered table-hover" cellspacing="0" width="100%">
        <tr>
          <th style="width:18%"></th>
          <th colspan="5"><center>Likelihood</center></th>
        </tr>
        <tr>
          <th style="width:18%"><center>Severity</center></th>
          <%@like.each do |header| %>
            <th style="width:15%"><center><%=header%></center></th>
          <%end%>
        </tr>
        <% params = {
          advance_search: true,
          searchterm_1: :severity_after,
          searchterm_2: :likelihood_after,
          start_date: @start_date,
          end_date: @end_date,
          emp_groups: @emp_groups ? @emp_groups : nil,
        } %>
        <%@color_matrix.each_index do |row|%>
          <tr>
            <td><center><b><%=@frequency[row]%></b></center></td>

            <!-- Safety Assurance -->
            <%if session[:mode]=="SMS"%>
              <%@color_matrix[row].each_index do |cell|%>
                <td id="<%=4-row%>-<%=cell%>" class="colorcell finding_after_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>" background="<%=@color_matrix[row][cell]%>" href="<%=findings_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@finding_after_matrix[4-row][cell]%></b></center>
                </td>
                <td id="<%=4-row%>-<%=cell%>" class="colorcell inv_after_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>;display:none" background="<%=@color_matrix[row][cell]%>" href="<%=investigations_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@inv_after_matrix[4-row][cell]%></b></center>
                </td>
                <td id="<%=4-row%>-<%=cell%>" class="colorcell car_after_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>;display:none" background="<%=@color_matrix[row][cell]%>" href="<%=sms_actions_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@car_after_matrix[4-row][cell]%></b></center>
                </td>
              <%end%>

            <!-- Safety Risk Management -->
            <%elsif session[:mode]=="SRM"%>
              <%@color_matrix[row].each_index do |cell|%>
                <td id="<%=4-row%>-<%=cell%>" class="colorcell hazard_after_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>" background="<%=@color_matrix[row][cell]%>" href="<%=hazards_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@hazard_after_matrix[4-row][cell]%></b></center>
                </td>

                <td id="<%=4-row%>-<%=cell%>" class="colorcell sra_after_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>;display:none" background="<%=@color_matrix[row][cell]%>" href="<%=sras_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@sra_after_matrix[4-row][cell]%></b></center>
                </td>
              <%end%>

            <!-- Safety Reporting -->
            <%elsif session[:mode]=="ASAP"%>
              <%@color_matrix[row].each_index do |cell|%>
                <td id="<%=4-row%>-<%=cell%>" class="colorcell record_after_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>" background="<%=@color_matrix[row][cell]%>" href="<%=records_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@record_after_matrix[4-row][cell]%></b></center>
                </td>
                <td id="<%=4-row%>-<%=cell%>" class="colorcell report_after_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>;display:none" background="<%=@color_matrix[row][cell]%>" href="<%=reports_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@report_after_matrix[4-row][cell]%></b></center>
                </td>
              <%end%>
            <%end%>

          </tr>
        <%end%>
      </table>
    </div>
    <div align="right" class="mr10"><a href="#" id="after_export"><u>Download Table</u></a></div>
  </div>
</div>


<script>
  $('#after_export').on('click', function() {
    html2canvas($('#after_matrix'), {
      onrendered: function(canvas) {
        var saveAs = function(uri, filename) {
          var link = document.createElement('a');
          if (typeof link.download === 'string') {
            document.body.appendChild(link); // Firefox requires the link to be in the body
            link.download = filename;
            link.href = uri;
            link.click();
            document.body.removeChild(link); // remove the link when done
          } else {
            location.replace(uri);
          }
        };

        var img = canvas.toDataURL("image/png"),
        uri = img.replace(/^data:image\/[^;]/, 'data:application/octet-stream');

        // Safety Assurance
        if ($("#after_switch").hasClass('show_finding')){
          saveAs(uri, 'Substitute Risk Analysis-Findings.png');
        }else if($("#after_switch").hasClass('show_inv')){
          saveAs(uri, 'Substitute Risk Analysis-Investigations.png');
        }else if($("#after_switch").hasClass('show_car')){
          saveAs(uri, 'Substitute Risk Analysis-Corrective-Actions.png');

        // Safety Reporting
        }else if($("#after_switch").hasClass('show_record')){
          saveAs(uri, 'Substitute Risk Analysis-Reports.png');
        }else if($("#after_switch").hasClass('show_report')){
          saveAs(uri, 'Substitute Risk Analysis-Events.png');

        // Safety Risk Management
        }else if($("#after_switch").hasClass('show_sra')){
          saveAs(uri, 'Substitute Risk Analysis-SRAs.png');
        }else if($("#after_switch").hasClass('show_hazard')){
          saveAs(uri, 'Substitute Risk Analysis-Hazards.png');
        }
      }
    });
  });


  // Safety Assurance
  $("#after_switch").on('click',function(){
    if ($(this).hasClass('show_finding')){
      $(this).removeClass("show_finding").addClass("show_inv").text("Corrective Actions");
      $(this).closest('.panel-title').find('.top_text').html("<b>Substitute Risk Analysis: Investigations</b>");
      $('.finding_after_cell').hide();
      $('.inv_after_cell').show();
    }
    else if($(this).hasClass("show_car")){
      $(this).removeClass("show_car").addClass("show_finding").text("Investigations");
      $(this).closest('.panel-title').find('.top_text').html("<b>Substitute Risk Analysis: Findings</b>");
      $('.car_after_cell').hide();
      $('.finding_after_cell').show();
    }
    else if($(this).hasClass("show_inv")){
      $(this).removeClass("show_inv").addClass("show_car").text("Findings");
      $(this).closest('.panel-title').find('.top_text').html("<b>Substitute Risk Analysis: Corrective Actions</b>");
      $('.inv_after_cell').hide();
      $('.car_after_cell').show();
    }


    // Safety Reporting
    else if($(this).hasClass("show_record")){
      $(this).removeClass("show_record").addClass("show_report").text("Reports");
      $(this).closest('.panel-title').find('.top_text').html("<b>Substitute Risk Analysis: Events</b>");
      $('.record_after_cell').hide();
      $('.report_after_cell').show();
    }
    else if($(this).hasClass("show_report")){
      $(this).removeClass("show_report").addClass("show_record").text("Events");
      $(this).closest('.panel-title').find('.top_text').html("<b>Substitute Risk Analysis: Reports</b>");
      $('.report_after_cell').hide();
      $('.record_after_cell').show();
    }


    // Safety Risk Management
    else if($(this).hasClass("show_sra")){
      $(this).removeClass("show_sra").addClass("show_hazard").text("SRAs");
      $(this).closest('.panel-title').find('.top_text').html("<b>Substitute Risk Analysis: Hazards</b>");
      $('.sra_after_cell').hide();
      $('.hazard_after_cell').show();
    }
    else if($(this).hasClass("show_hazard")){
      $(this).removeClass("show_hazard").addClass("show_sra").text("Hazards");
      $(this).closest('.panel-title').find('.top_text').html("<b>Substitute Risk Analysis: SRAs</b>");
      $('.hazard_after_cell').hide();
      $('.sra_after_cell').show();
    }


    event.preventDefault();
  });

  $('.colorcell').on('click',function(){
    window.location=$(this).attr('href');
  });
</script>


<style>
  .colorcell:hover {
    cursor: pointer;
  }
</style>
