<div class="row">
  <%chart = @chart_types[@visualization.dashboard_default_chart - 1]%>
  <%options = chart[:options].merge(@options)%>
  <div class='mt10' id="<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>" style="width:'100%'"></div>
  <div class="mr5 pull-right" style="display: inline-block;vertical-align: middle;" id="<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>-download"></div>
  <div class="ml5 pull-left" style="display: inline-block;vertical-align: middle;" id="<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>-query"></div>

  <%case @visualization.dashboard_default_chart%>
  <%when 1%>
    <div class="col-xs-12 col-sm-12 mt20">
      <table id="grid-table-<%=@visualization.id%>" class="table table-striped table-bordered" width="100%">
        <thead>
          <tr>
            <%@data[0].each do |header|%>
              <th><%=header%></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <%@data[1..-1].each do |row|%>
            <tr>
              <%row.each do |value|%>
                <td><%=value%></td>
              <%end%>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
    <script type="text/javascript">
      $("#grid-table-<%=@visualization.id%>").DataTable({
        dom: "<'row'<'col-xs-6'l><'col-sm-6'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-5'i><'col-sm-7'p>>" +
             "<'row'<'col-sm-12'B>>",
        buttons: ['copy', 'csv', 'excel', 'print'],
      });
      document.getElementById("<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>-query").innerHTML =
            '<a href="<%=query_path(@visualization.owner_id)%>" target="_blank"><u>Go to Query</u></a>';
    </script>
  <%when 2%>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawPieChart);

      $(window).bind('resizeEnd', function(){
        drawPieChart();
      });

      function drawPieChart(){
        var data = new google.visualization.arrayToDataTable(<%=raw @data.as_json%>);
        var options = <%=raw options.to_json%>;
        var pieChart = new google.visualization.PieChart(document.getElementById(
          '<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>'));
        google.visualization.events.addListener(pieChart, 'ready', function () {
          document.getElementById("<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>-download").innerHTML =
            '<a href="' + pieChart.getImageURI() + '"download><u>Download Chart</u></a>';
          document.getElementById("<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>-query").innerHTML =
            '<a href="<%=query_path(@visualization.owner_id)%>" target="_blank"><u>Go to Query</u></a>';
        });
        pieChart.draw(data, options);
      }
    </script>
  <%when 3%>
    <script>
      google.charts.load("current", {'packages': ["bar"]});
      google.charts.setOnLoadCallback(drawBarChart);

      $(window).bind('resizeEnd', function(){
        drawBarChart();
      });

      function drawBarChart(){
        var data = new google.visualization.arrayToDataTable(<%=raw @data.as_json%>);
        var options = <%=raw options.to_json%>;
        var barChart = new google.visualization.ComboChart(document.getElementById(
          '<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>'));
        google.visualization.events.addListener(barChart, 'ready', function () {
          document.getElementById("<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>-download").innerHTML =
            '<a href="' + barChart.getImageURI() + '"download><u>Download Chart</u></a>';
          document.getElementById("<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>-query").innerHTML =
            '<a href="<%=query_path(@visualization.owner_id)%>" target="_blank"><u>Go to Query</u></a>';
        });
        barChart.draw(data, options);
      }
    </script>
  <%when 4%>
    <script>
      google.charts.load("current", {'packages': ["line"]});
      google.charts.setOnLoadCallback(drawLineChart);

      $(window).bind('resizeEnd', function(){
        drawLineChart();
      });

      function drawLineChart(){
        var data = new google.visualization.arrayToDataTable(<%=raw @data.as_json%>);
        var options = <%=raw options.to_json%>;
        var lineChart = new google.visualization.ComboChart(document.getElementById(
          "<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>"));
        google.visualization.events.addListener(lineChart, 'ready', function () {
          document.getElementById("<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>-download").innerHTML =
            '<a href="' + lineChart.getImageURI() + '"download><u>Download Chart</u></a>';
          document.getElementById("<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>-query").innerHTML =
            '<a href="<%=query_path(@visualization.owner_id)%>" target="_blank"><u>Go to Query</u></a>';
        });
        lineChart.draw(data, options);
      }
    </script>
  <%when 5%>
    <script>
      google.charts.load("current", {'packages': ['corechart']});
      google.charts.setOnLoadCallback(drawStackedChart);

      $(window).bind('resizeEnd', function(){
        drawStackedChart();
      });

      function drawStackedChart(){
        var data = new google.visualization.arrayToDataTable(<%=raw @data.as_json%>);
        var options = <%=raw options.to_json%>;
        var stackedChart = new google.visualization.ColumnChart(document.getElementById(
          "<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>"));
        google.visualization.events.addListener(stackedChart, 'ready', function () {
          document.getElementById("<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>-download").innerHTML =
            '<a href="' + stackedChart.getImageURI() + '"download><u>Download Chart</u></a>';
          document.getElementById("<%=chart[:chart_name].parameterize%>-<%=@visualization.id%>-query").innerHTML =
            '<a href="<%=query_path(@visualization.owner_id)%>" target="_blank"><u>Go to Query</u></a>';
        });
        stackedChart.draw(data, options);
      }
    </script>
  <%else%>
  <%end%>
</div>


<script type="text/javascript">
  $("#vis_status_" + "<%=@visualization.id%>").html("<%=@status_msg%>");
</script>
