<div class="col-xs-12">
  <div class="panel panel-thin panel-warning">
    <div class="panel-heading">
      <div class="panel-title">
        <div class='top_text'>
          News
        </div>
        <div class='top_buttons pull-right'>
          <%=link_to 'View All', notices_path, class: 'btn btn-default'%>
        </div>
      </div>
    </div>
    <div class="panel-body" style="height:220px;overflow-y:auto;overflow-x:hidden">
      <table id='notices_table' class='table table-hover table-striped'>
        <tbody>
          <%@notices.each do |notice|%>
            <tr data-link="<%=read_message_notice_path(notice)%>">
              <td style=<%=Notice.get_category[notice.category][:style]%>>
                <i class='glyphicon glyphicon-<%=Notice.get_category[notice.category][:icon]%>'> </i>
                <%=sanitize truncate(notice.content, length: 220).html_safe%>
              </td>
              <td style='text-align:right'>
                <%=time_ago_in_words(notice.created_at).scan(/\w+/).join(' ')%> ago
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>


<style>
  #notices_table > thead > tr > th,
  #notices_table > tbody > tr > th,
  #notices_table > tfoot > tr > th,
  #notices_table > thead > tr > td,
  #notices_table > tbody > tr > td,
  #notices_table > tfoot > tr > td {
    padding: 4px;
  }
</style>


<script>
  $(function(){
    $("tr[data-link]").click(function() {
      window.open($(this).data('link'), '_blank');
      $(this).hide();
    });


    $('.mark_all_read').on('click', function() {
      $('tr').hide();
    });

  });
</script>
