<script src="javascripts/html2canvas.js" type="text/javascript"></script>

<div class="col-xs-6" id="risk_analysis">
  <div class="panel panel-salmon">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="top_text">
          <b><%=@matrix_title%></b>
        </div>

        <%if session[:mode]=="SMS"%>
          <div class="top_buttons pull-right">
            <b><%=link_to "Investigations","#", :class=>"btn btn-info show_finding",:id=>"matrix_switch"%></b>
          </div>
        <%elsif session[:mode]=="ASAP"%>
          <div class="top_buttons pull-right">
            <b><%=link_to "Events","#", :class=>"btn btn-info show_record",:id=>"matrix_switch"%></b>
          </div>
        <%elsif session[:mode]=="SRM"%>
          <div class="top_buttons pull-right">
            <b><%=link_to "SRAs","#", :class=>"btn btn-info show_hazard",:id=>"matrix_switch"%></b>
          </div>
        <%end%>

      </div>
    </div>

    <div class="panel-body" style="height:300px">
      <table id="risk_matrix" class="table table-bordered table-hover" cellspacing="0" width="100%">

        <tr>
          <th style="width:18%"></th>
          <th colspan="5"><center>Likelihood</center></th>
        </tr>
        <tr>
          <th style="width:18%"><center>Severity</center></th>
          <%@like.each do |header| %>
            <th style="width:15%"><center><%=header%></center></th>
          <%end%>
        </tr>

        <% params = {
          advance_search: true,
          searchterm_1: :severity,
          searchterm_2: :likelihood,
          start_date: @start_date,
          end_date: @end_date,
          emp_groups: @emp_groups ? @emp_groups : nil,
        } %>
        <%@color_matrix.each_index do |row|%>
          <tr>
            <td><center><b><%=@frequency[row]%></b></center></td>

            <!-- Safety Assurance Module -->
            <%if session[:mode]=="SMS"%>
              <%@color_matrix[row].each_index do |cell|%>
                <td id="<%=4-row%>-<%=cell%>" class="colorcell finding_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>" background="<%=@color_matrix[row][cell]%>" href="<%=findings_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@finding_matrix[4-row][cell]%></b></center>
                </td>

                <td id="<%=4-row%>-<%=cell%>" class="colorcell inv_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>;display:none" background="<%=@color_matrix[row][cell]%>" href="<%=investigations_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@inv_matrix[4-row][cell]%></b></center>
                </td>

                <td id="<%=4-row%>-<%=cell%>" class="colorcell car_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>;display:none" background="<%=@color_matrix[row][cell]%>" href="<%=sms_actions_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@car_matrix[4-row][cell]%></b></center>
                </td>
              <%end%>

            <!-- Safety Risk Management Module -->
            <%elsif session[:mode]=="SRM"%>
              <%@color_matrix[row].each_index do |cell|%>
                <td id="<%=4-row%>-<%=cell%>" class="colorcell hazard_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>" background="<%=@color_matrix[row][cell]%>" href="<%=hazards_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@hazard_matrix[4-row][cell]%></b></center>
                </td>

                <td id="<%=4-row%>-<%=cell%>" class="colorcell sra_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>;display:none" background="<%=@color_matrix[row][cell]%>" href="<%=sras_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@sra_matrix[4-row][cell]%></b></center>
                </td>
              <%end%>

            <!-- Safety Reporting Module -->
            <%elsif session[:mode]=="ASAP"%>
              <%@color_matrix[row].each_index do |cell|%>
                <td id="<%=4-row%>-<%=cell%>" class="colorcell record_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>" background="<%=@color_matrix[row][cell]%>" href="<%=records_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@record_matrix[4-row][cell]%></b></center>
                </td>
                <td id="<%=4-row%>-<%=cell%>" class="colorcell report_cell" style="width:15%;background:<%=@color_matrix[row][cell]%>;display:none" background="<%=@color_matrix[row][cell]%>" href="<%=reports_path(params.merge({:field_1=>(4-row),:field_2=>@like[cell]}))%>">
                  <center><b><%=@report_matrix[4-row][cell]%></b></center>
                </td>
              <%end%>
            <%end%>
          </tr>
        <%end%>
      </table>

    </div>
    <div align="right" class="mr10"><a href="#" id="export"><u>Download Table</u></a></div>
  </div>
</div>


<style>
#risk_matrix, th, td{
  background-color: white;
}
</style>




<script>
  $('#export').on('click', function() {
    html2canvas($('#risk_matrix'), {
      onrendered: function(canvas) {
        var saveAs = function(uri, filename) {
          var link = document.createElement('a');
          if (typeof link.download === 'string') {
            document.body.appendChild(link); // Firefox requires the link to be in the body
            link.download = filename;
            link.href = uri;
            link.click();
            document.body.removeChild(link); // remove the link when done
          } else {
            location.replace(uri);
          }
        };

        var img = canvas.toDataURL("image/png"),
        uri = img.replace(/^data:image\/[^;]/, 'data:application/octet-stream');

        // Safety Assurance Module
        if ($("#matrix_switch").hasClass('show_finding')){
          saveAs(uri, 'Baseline Risk Analysis-Findings.png');
        }else if($("#matrix_switch").hasClass('show_inv')){
          saveAs(uri, 'Baseline Risk Analysis-Investigations.png');
        }else if($("#matrix_switch").hasClass('show_car')){
          saveAs(uri, 'Baseline Risk Analysis-CorrectiveActions.png');


        // Safety Reporting Module
        }else if($("#matrix_switch").hasClass('show_record')){
          saveAs(uri, 'Baseline Risk Analysis-Reports.png');
        }else if($("#matrix_switch").hasClass('show_report')){
          saveAs(uri, 'Baseline Risk Analysis-Events.png');

        // Safety Risk Management Module
        }else if($("#matrix_switch").hasClass('show_sra')){
          saveAs(uri, 'Baseline Risk Analysis-SRAs.png');
        }else if($("#matrix_switch").hasClass('show_hazard')){
          saveAs(uri, 'Baseline Risk Analysis-Hazards.png');
        }
      }
    });
  });



  $("#matrix_switch").on('click',function(){

    // Safety Assurance Module
    if ($(this).hasClass('show_finding')){
      $(this).removeClass("show_finding").addClass("show_inv").text("Corrective Actions");
      $(this).closest('.panel-title').find('.top_text').html("<b>Baseline Risk Analysis: Investigations</b>");
      $('.finding_cell').hide();
      $('.inv_cell').show();
    }
    else if($(this).hasClass("show_car")){
      $(this).removeClass("show_car").addClass("show_finding").text("Investigations");
      $(this).closest('.panel-title').find('.top_text').html("<b>Substitute Risk Analysis: Findings</b>");
      $('.car_cell').hide();
      $('.finding_cell').show();
    }
    else if($(this).hasClass("show_inv")){
      $(this).removeClass("show_inv").addClass("show_car").text("Findings");
      $(this).closest('.panel-title').find('.top_text').html("<b>Baseline Risk Analysis: Corrective Actions</b>");
      $('.inv_cell').hide();
      $('.car_cell').show();
    }


    // Safety Reporting Module
    else if($(this).hasClass("show_record")){
      $(this).removeClass("show_record").addClass("show_report").text("Reports");
      $(this).closest('.panel-title').find('.top_text').html("<b>Baseline Risk Analysis: Events</b>");
      $('.record_cell').hide();
      $('.report_cell').show();
    }
    else if($(this).hasClass("show_report")){
      $(this).removeClass("show_report").addClass("show_record").text("Events");
      $(this).closest('.panel-title').find('.top_text').html("<b>Baseline Risk Analysis: Reports</b>");
      $('.report_cell').hide();
      $('.record_cell').show();
    }



    // Safety Risk Management Module
    else if($(this).hasClass("show_sra")){
      $(this).removeClass("show_sra").addClass("show_hazard").text("SRAs");
      $(this).closest('.panel-title').find('.top_text').html("<b>Baseline Risk Analysis: Hazards</b>");
      $('.sra_cell').hide();
      $('.hazard_cell').show();
    }
    else if($(this).hasClass("show_hazard")){
      $(this).removeClass("show_hazard").addClass("show_sra").text("Hazards");
      $(this).closest('.panel-title').find('.top_text').html("<b>Baseline Risk Analysis: SRAs</b>");
      $('.hazard_cell').hide();
      $('.sra_cell').show();
    }



    event.preventDefault();
  });



  $('.colorcell').on('click',function(){
    window.location=$(this).attr('href');
  });


</script>
