<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script src="javascripts/html2canvas.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDRNvISiW_CO6FTNCdV40Nh19rAncpeLJo&libraries=visualization" type="text/javascript"></script>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="row">
      <%=render "shared/alerts" %>

      <%if session[:mode] == "ASAP" && !@templates.empty?%>
        <%=render "new_submission"%>
        <%=render "new_orms" if CONFIG.sr::GENERAL[:enable_orm]%>
      <%end%>

      <%=render "news"%>
      <div id="heat-map">
        <%=render "heatmap" if session[:mode] == "ASAP" && CONFIG::GENERAL[:has_gmap]%>
      </div>
      <%=render "calendar"%>
      <%=render "analytics_filter"%>
      <%=render "draw_chart" %>
      <%=render "statistics"%>
      <%=render "risk_matrices/dashboard_matrix/risk_matrices"%>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    $('.color_cell').on('click',function(){
      window.location=$(this).attr('href');
    });
  })


  function cursor_pointer(){
    $('#subs').css('cursor','pointer');
    $('#records').css('cursor','pointer');
    $('#reports').css('cursor','pointer');
    $('#cas').css('cursor','pointer');

    $('#sras').css('cursor','pointer');
    $('#hazards').css('cursor','pointer');
    $('#risk_controls').css('cursor','pointer');
    $('#safety_plans').css('cursor','pointer');

    $('#audits').css('cursor','pointer');
    $('#inspections').css('cursor','pointer');
    $('#evaluations').css('cursor','pointer');
    $('#investigations').css('cursor','pointer');
    $('#findings').css('cursor','pointer');
    $('#actions').css('cursor','pointer');
    $('#recommendations').css('cursor','pointer');

    $('#fp').css('cursor','pointer');
    $('#frameworks').css('cursor','pointer');
    $('#jap').css('cursor','pointer');
    $('#jobaids').css('cursor','pointer');
    $('#vpp').css('cursor','pointer');
    $('#vps').css('cursor','pointer');
  }
  function cursor_default(){
    $('#subs').css('cursor','default');
    $('#records').css('cursor','default');
    $('#reports').css('cursor','default');
    $('#cas').css('cursor','default');

    $('#sras').css('cursor','default');
    $('#hazards').css('cursor','default');
    $('#risk_controls').css('cursor','default');
    $('#safety_plans').css('cursor','default');

    $('#audits').css('cursor','default');
    $('#inspections').css('cursor','default');
    $('#evaluations').css('cursor','default');
    $('#investigations').css('cursor','default');
    $('#findings').css('cursor','default');
    $('#actions').css('cursor','default');
    $('#recommendations').css('cursor','default');

    $('#fp').css('cursor','default');
    $('#frameworks').css('cursor','default');
    $('#jap').css('cursor','default');
    $('#jobaids').css('cursor','default');
    $('#vpp').css('cursor','default');
    $('#vps').css('cursor','default');
  }


  $(window).resize(function() {
    if(this.resizeTO) clearTimeout(this.resizeTO);
    this.resizeTO = setTimeout(function(){
      $(this).trigger('resizeEnd');
    }, 100);
  });
</script>







