<%= stylesheet_link_tag "/plugins/tables/datatables-1.10.16/datatables.min.css" %>
<%= javascript_include_tag "/plugins/tables/datatables-1.10.16/datatables.min.js" %>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"%>
	<div class="panel panel-<%=section.panel_color(current_user)%>">
		<div class="panel-heading click-heading collapsed">
			<div class="panel-title">
				<b>Section #<%=section.id%>: <%=section.title%></b>
				<span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
			</div> 
		</div>
		<div class="panel-body" style="display:none">

			<div class="row" id="fields">

				<div class="col-xs-12 mb20">
					<%if section.status == "Completed"%>
						<%if current_user == section.approver%>
							<%=link_to "Approve", "#", :class => "btn btn-success mr5 pull-right", :id => "approve_#{section.id}_btn"%>
							<%=link_to "Reject", "#", :class => "btn btn-danger mr5 pull-right", :id => "reject_#{section.id}_btn"%>
						<%end%>
					<%elsif section.status != "Approved"%>
						<%if current_user == section.assignee%>
							<%=link_to "Edit", "#", :class => "btn btn-warning mr5 pull-right", :id => "edit_section_#{section.id}_btn"%>
						<%end%>
					<%end%>
				</div>

				<div class="col-xs-12 mb20">
					<div class="col-xs-12">
						<b>Status:</b> <%=section.status%>
					</div>
					<%if section.assignee.present?%>
						<div class="col-xs-6">
							<b>Assigned To:</b> <%=section.assignee.full_name%>
						</div>
					<%end%>
					<%if section.assignee.present?%>
						<div class="col-xs-6">
							<b>Approver:</b> <%=section.approver.full_name%>
						</div>
					<%end%>
					<div class="col-xs-7">	
						<b>Title:</b> <%=section.title%>
					</div>
					<div class="col-xs-10">	
						<b>Notes:</b> <%=section.notes%>
					</div>
				</div>


				<%section.categories.order(:category_order).each do |cat|%>
					<%#if cat.id == 338%>
						<%#=render "/reports/show_observation_phases_category", :cat => cat, :record => record%>
					<%#elsif cat.not_empty_for(section) && cat.print%>
						<%=render "/sections/category",:category => cat, :section => section%>
					<%#end%>
				<%end%> 
			</div>   
		</div>
	</div>
</div>


<script>
	$(function(){
		$("#edit_section_<%=section.id%>_btn").on('click',function(){
			$.get("<%=edit_section_sras_path%>", {"owner_id" : <%=section.owner.id%>, "section" : <%=section.id%>});
		});		
	});
</script>
