<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>


<%=form_tag add_section_sras_path, method: :post, remote: true do %>
	<%=hidden_field_tag :owner_id, @owner.id %>
	<%=fields_for :sections do |f|%>
		<%=f.hidden_field :status, :value => "New"%>
		<%=f.hidden_field :owner_id, :value => @owner.id%>
		<div class="form-group col-xs-4"> 
			<%=f.label :template_id, "Select a Template"%>
			<%=f.select :template_id, options_from_collection_for_select(@templates, 'id', 'name'), {}, :class => "form-control"%>
		</div>
		<div class="form-group col-xs-4">
			<%=f.label :assignee, "Assign To"%>
			<div class="input-group">
				<%=text_field_tag :assignee_id, "", {:class => "form-control ml5 emp", :readonly => true, :id => "assignee_name"}%>
				<%=f.hidden_field :assignee_id, :id => "assignee_id"%>
				<span class="input-group-btn">
					<%=link_to "...","#", :class => "btn btn-info", :id => "assignee_btn"%>
				</span>
			</div>
		</div>
		<div class="form-group col-xs-4">
			<%=f.label :approver, "Approver"%>
			<div class="input-group">
				<%=text_field_tag :approver_id, "", {:class => "form-control ml5 emp", :readonly => true, :id => "approver_name"}%>
				<%=f.hidden_field :approver_id, :id => "approver_id"%>
				<span class="input-group-btn">
					<%=link_to "...","#", :class => "btn btn-info", :id => "approver_btn"%>
				</span>
			</div>
		</div>		
		<div class="form-group col-xs-7">
			<%=f.label :title, "Title"%>
			<%=f.text_field :title, :class => "form-control"%>
		</div>	
		<div class="form-group col-xs-10">
			<%=f.label :notes, "Notes"%>
			<%=f.text_area :notes, :class => "form-control", :rows => 3%>
		</div>				
	<%end%>
	<div class="form-group col-xs-12">
		<%=submit_tag "Submit", :class => "btn btn-success pull-right mt5 mr15", :disable_with => "Submitting..."%>
	</div>
<%end%>


<div style="display:none" id="emp_div">
	<div class="row">
		<div class='col-xs-12'>
			<%employee_header = User.get_headers%>
			<table class="table table-hover table-striped table-bordered" id="users">
				<thead>
					<tr>
						<%employee_header.keys.each do |k|%>
							<th><%=k%></th>
						<%end%>  
					</tr>
				</thead>
				<tbody>
					<%User.find(:all).each do |u|%>
						<tr uid="<%=u.id%>" class="list_tr">
							<%employee_header.values.each do |v|%>
								<td><%=u.send(v)%></td>
							<%end%>
						</tr>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>


<style>
	.custom-swal {
		width: 70% !important;
		max-height: 70% !important;
		font-family: "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
	}
</style>


