<div class="col-xs-12">
  <div class="panel <%=@cat.panel%>">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>
          <%=@cat.title%>
          <%=" (##{@cat.id})" if Rails.env.development?%>
        </b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>

    <div class="panel-body" style="display:none">

      <div class="col-xs-12">
        <h5 style="color:blue"><b><%=@cat.description%></b></h5>
      </div>

      <div class="col-xs-12">

        <%fields = @fields_hash[@cat.id] || []%>
        <%category_fields_by_rows = group_by_column_size_and_nested_fields(fields: fields)%>

        <%category_fields_by_rows.each do |row|%>
          <div class="row is-flex">
            <%row.each do |field|%>
              <%record_field = (@record_fields_hash[field.id] || []).first%>
              <%record_field = RecordField.new(value: '') if !record_field.present?%>
              <%=render "records/field", field: field, f: f, record_field: record_field, is_nested_field:false%>

              <%nested_fields = @nested_fields_hash[field.id]%>
              <%if nested_fields.present?%>
                <div class="col-xs-12 nested_field_row">
                  <%nested_fields.each do |nested_field|%>
                    <%record_field = (@record_fields_hash[nested_field.id] || []).first%>
                    <%record_field = RecordField.new(value: '') if !record_field.present?%>
                    <div class="nested_field
                      nested_field_<%=field.id%>
                      nested_field_<%=field.id%>_<%=nested_field.nested_field_value%>">
                      <%#=render "records/field", field: nested_field, f: f, record_field: record_field%>
                    </div>
                  <%end%>
                </div>
              <%end%>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>



<style>
  .smallselect {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .row.is-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .row.is-flex > .nested_field_row {
    flex-direction: row;
    justify-content: flex-start;
  }

  .graybox {
    padding: 15px 0;
    background-color: rgb(211,211,211, 0.15);
    border-radius: 5px;
  }

  .row.is-flex > .nested_field_row > .nested_field > .form-group {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

</style>
