<%deid = defined?(deid) ? deid : false%>
<%from_rec_show = defined?(from_record_show) ? true : false%>
<%record_edit_access = defined?(record_edit_access) ? record_edit_access : false%>
<%hide_panel_head = defined?(hide_panel_head) ? hide_panel_head : false%>
<%if !hide_panel_head%>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel <%=@cat.panel%>">
      <div class="panel-heading click-heading">
        <div class="panel-title">
          <b><%=@cat.title%></b>
          <span class="pull-right clickable">
            <i class="mt5 glyphicon glyphicon-chevron-up"></i>
          </span>
        </div>
      </div>
      <div class="panel-body">
        <div class="row" id="fields" style="word-wrap: break-word">
          <%all_record_fields = @record.record_fields.map{|sf| [sf.fields_id, sf] }.to_h%>
          <%@cat.fields.each do |field|%>
            <%if field.print || !deid%>
              <%if field.nested_field_id.nil?%>
                <%record_field = all_record_fields[field.id]%>
                <%=render "submissions/display_field", :field => field, :sub_field => record_field, deid:deid%>
                <%if (field.nested_fields.where(:deleted => false).length > 0 rescue false)%>
                  <%if record_field.present? && record_field.value.present?%>
                    <div class="col-xs-12">
                      <%field.nested_fields.where(:deleted => false).each do |nest_field|%>
                        <%sn_field = all_record_fields[nest_field.id]%>
                        <%if (nest_field.nested_field_value.parameterize == record_field.value.parameterize) ||
                            (record_field.value.include?(";") && record_field.value.include?(nest_field.nested_field_value))%>
                          <%=render "submissions/display_field", :field => nest_field, :sub_field => sn_field, deid:deid%>
                        <%end%>
                      <%end%>
                    </div>
                  <%end%>
                <%end%>
              <%end%>
            <%end%>
          <%end%>
        </div>
        <%if from_rec_show%>
          <%if @record.status == 'Open' || @record.status == 'Linked'%>
            <div class = "col-xs-12 mt10">
              <%if record_edit_access%>
                <%=link_to 'Edit', '#',
                  class: 'btn btn-sm btn-warning pull-right edit-category-btn',
                  'data-path' => edit_field_record_path(@record, category_id: @cat.id) %>
              <%end%>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
<%else%>
  <div class="row" id="fields" style="word-wrap: break-word">
    <%all_record_fields = @record.record_fields.map{|sf| [sf.fields_id, sf] }.to_h%>
    <%@cat.fields.each do |field|%>
      <%if field.print || !deid%>
        <%if field.nested_field_id.nil?%>
          <%record_field = all_record_fields[field.id]%>
          <%=render "submissions/display_field", :field => field, :sub_field => record_field, deid:deid%>
          <%if (field.nested_fields.where(:deleted => false).length > 0 rescue false)%>
            <div class="col-xs-12">
              <%field.nested_fields.where(:deleted => false).each do |nest_field|%>
                <%sn_field = all_record_fields[nest_field.id]%>
                <%if (nest_field.nested_field_value.parameterize == record_field.value.parameterize) ||
                    (record_field.value.include?(";") && record_field.value.include?(nest_field.nested_field_value))%>
                  <%=render "submissions/display_field", :field => nest_field, :sub_field => sn_field, deid:deid%>
                <%end%>
              <%end%>
            </div>
          <%end%>
        <%end%>
      <%end%>
    <%end%>
  </div>
  <%if from_rec_show%>
    <%if @record.status == 'Open' || @record.status == 'Linked'%>
      <div class = "col-xs-12 mt10">
        <%if record_edit_access%>
          <%=link_to 'Edit', '#',
            class: 'btn btn-sm btn-warning pull-right edit-category-btn',
            'data-path' => edit_field_record_path(@record, category_id: @cat.id) %>
        <%end%>
      </div>
    <%end%>
  <%end%>
<%end%>



<style>
  .smallselect {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
</style>
