<div class="col-sm-12 col-md-12 col-lg-12"%>
  <div class="panel <%=@cat.panel%>">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b><%=@cat.title%></b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>

    <div class="panel-body" style="display:none">

      <div class="col-xs-12">
        <h5 style="color:blue"><b><%=@cat.description%></b></h5>
      </div>

      <div class="row" id="fields">

        <%@cat.fields.where(deleted: false, nested_field_id: nil).order(:field_order).each do |field|%>

          <%size="col-xs-" + field.display_size.to_s%>

          <div class="<%=size%> inputgroup">
            <h5><b><%=field.get_label%></b></h5>

            <!-- NEW?? -->
            <%if @action == "new" && false%>
              <%=f.fields_for :record_fields do |rf|%>

                <%=rf.hidden_field :fields_id, :value => field.id%>

                <%if field.display_type == "text"%>
                  <%if field.data_type == 'date'%>
                    <%field_class = 'field-date form-control'%>
                  <%elsif field.data_type == 'datetime'%>
                    <%field_class = 'field-datetime form-control'%>
                  <%else%>
                    <%field_class = 'form-control'%>
                  <%end%>
                  <%=rf.text_field :value,
                    {:class=> field_class + " " + field.element_class,
                    :placeholder => field.label,
                    :id => field.element_id}%>

                <%elsif field.display_type == "textarea"%>
                  <div class="col-xs-12">
                    <%=rf.text_area :value,
                      {:class => "form-control " + field.element_class,
                      :rows => 4,
                      :id => field.element_id}%>
                  </div>

                <%elsif field.display_type == "dropdown"%>
                  <%if field.data_type == "timezone"%>
                    <div class="input-group">
                      <%=rf.select :value,
                        field.getOptions,
                        {:include_blank=>""},
                        {:class=>'form-control tz atz'}%>
                      <span class="input-group-addon tc">All</span>
                    </div>
                  <%else%>
                    <%=rf.select :value,
                      field.getOptions,
                      {:include_blank=>""},
                      {:class=>'form-control'+" "+field.element_class,
                      :id=>field.element_id}%>
                  <%end%>

                <%elsif field.display_type == "checkbox"%>
                  <div class="col-xs-12">
                    <%field.getOptions.each do |option|%>
                      <div class="col-xs-6">
                        <label class="checkbox">
                          <%=rf.check_box :value,
                            {:multiple => true},
                            option,
                            nil%>
                          <%=option%>
                        </label>
                      </div>
                    <%end%>
                  </div>

                <%elsif field.display_type == "radio"%>
                  <div class="col-xs-12">
                    <%field.getOptions.each do |option|%>
                      <div class="col-xs-6">
                        <label class="checkbox">
                          <%=rf.radio_button :value,
                            option%>
                          <%=option%>
                        </label>
                      </div>
                    <%end%>
                  </div>

                <%elsif field.display_type == "employee"%>
                  <div class="input-group">
                    <%=text_field_tag field.get_label,
                      "",
                      {:class=>"form-control ml5 emp",
                      :readonly=>true,
                      :id=>"emp#{field.id}"}%>
                    <%=rf.hidden_field :value,
                      :id=>"employee-select#{field.id}"%>
                    <span class="input-group-btn">
                      <%=link_to "...",
                        "#",
                        :class=>"btn btn-info emp_button",
                        "data-toggle"=>"modal",
                        "data-target"=>".emp_modal",
                        :id=>"#{field.id}"%>
                    </span>
                  </div>

                <%elsif field.display_type == "airport"%>
                  <div class="input-group">
                    <%=text_field_tag field.get_label,
                      "",
                      {:class=>"form-control ml5 airport",
                      :readonly=>true,
                      :id=>"airport#{field.id}"}%>
                    <%=rf.hidden_field :value,
                      :id=>"airport-select#{field.id}"%>
                    <span class="input-group-btn">
                      <%=link_to "...",
                        "#",
                        :class=>"btn btn-info airport_button",
                        "data-toggle"=>"modal",
                        "data-target"=>".airport_modal",
                        :id=>"#{field.id}"%>
                    </span>
                  </div>

                <%elsif field.display_type == "datalist"%>
                  <%= rf.text_field :value,
                    {:list=>"#{field.id}",
                    :class=>"form-control"}%>
                  <datalist id="<%=field.id%>">
                    <% field.getOptions.each do |opt|%>
                      <option value="<%=opt%>"></option>
                    <%end%>
                  </datalist>
                <%end%>

              <%end%>

            <!-- UPDATE -->
            <%else%>
              <%fields = @record.record_fields.where("fields_id = ?", field.id)%>
              <%
                if fields.empty?
                  record_field = RecordField.new
                  record_field.value = ""
                else
                  record_field = fields.first
                end
              %>

              <%=render "records/field", :field => field, :f => f, :record_field => record_field%>

            <%end%>
          </div>

          <div class="col-xs-12 mt5">
            <%field.nested_fields.where(:deleted => false).each do |nested_field|%>
              <%size = "col-xs-" + nested_field.display_size.to_s%>
              <%fields = @record.record_fields.where("fields_id = ?", nested_field.id)%>
              <%
                if fields.empty?
                  record_field = RecordField.new
                  record_field.value = ""
                else
                  record_field = fields.first
                end
              %>

              <div class="nested_field
                nested_field_<%=field.id%>
                nested_field_<%=field.id%>_<%=nested_field.nested_field_value%>">
                <div class="form-group <%=size%>">
                  <b><%=nested_field.get_label%></b>
                  <%=render "records/field", :field => nested_field, :f => f, :record_field => record_field%>
                </div>
              </div>

            <%end%>
          </div>


        <%end%>
      </div>
    </div>
  </div>
</div>



<style>
  .smallselect {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
</style>
