<div class="col-xs-12">
  <div class="panel <%=@cat.panel%> category-panel">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>
          <%=@cat.title%>
          <%=" (##{@cat.id})" if Rails.env.development?%>
        </b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>

    <div class="panel-body" style="display:none">

      <div class="col-xs-12">
        <h5 style="color:blue"><b><%=@cat.description%></b></h5>
      </div>

      <div class="col-xs-12">

        <%fields = @fields_hash[@cat.id] || []%>
        <%category_fields_by_rows = group_by_column_size_and_nested_fields(fields: fields)%>

        <%category_fields_by_rows.each do |row|%>
          <div class="row is-flex">
            <%row.each do |field|%>

              <%record_field = (@record_fields_hash[field.id] || []).first%>
              <%record_field = RecordField.new(value: '') if !record_field.present?%>
              <%=render "records/field", field: field, f: f, record_field: record_field, is_nested_field:false%>

              <%nested_fields = @nested_fields_hash[field.id]%>

              <%if nested_fields.present?%>
                <%nested_fields.group_by(&:nested_field_value).each do |nv, nfs|%>

                  <div class="col-xs-12 nested_field_area" style="display:none">
                    <h4 class="nested_field_header"><span><b><%=nv%></b></span></h4>

                    <%nested_fields_by_rows = group_by_column_size_and_nested_fields(fields: nfs)%>

                    <%nested_fields_by_rows.each_with_index do |nested_field_row, index|%>

                      <div class="col-xs-12 nested_field_row graybox">
                        <%nested_field_row.each do |nested_field|%>

                          <%nested_record_field = (@record_fields_hash[nested_field.id] || []).first%>
                          <%nested_record_field = RecordField.new(value: '') if !nested_record_field.present?%>
                          <%record_val = nested_record_field.value || ''%>
                          <%size = calculate_column_size(field: nested_field)%>

                          <div class="<%=size%> nested_field nested_field_<%=field.id%> nested_field_<%=field.id%>_<%=nv.parameterize%>">
                            <%= render 'records/field', field: nested_field, f: f, record_field: nested_record_field, is_nested_field: true%>
                          </div>

                        <%end%>
                      </div>
                    <%end%>
                  </div>
                <%end%>
              <%end%>
            <%end%>
          </div>
          <hr>
        <%end%>
      </div>
    </div>
  </div>
</div>



<style>
  .smallselect {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .row.is-flex > .nested_field_row > .nested_field > .form-group {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .row.is-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .row.is-flex > .nested_field_row {
    flex-direction: row;
    justify-content: flex-start;
  }

  .graybox {
    padding: 15px 0;
    background-color: rgb(211,211,211, 0.15);
    border-radius: 5px;
  }
  h4 {
    color: ;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid silver;
    line-height: 0.1em;
    margin: 10px 0 20px;
    color: grey;
  }

  h4 span {
    background:#fff;
    padding:0 10px;
  }
</style>


<script type="text/javascript">
  $(document).ready(function(){

    $(".field_select").on("change", function(){
      update_nested_fields($(this));
      update_panel_titles($(this));
    });

    $(".field_select").each(function(){
      update_nested_fields($(this));
    });

    $(".field_cb_select").each( function(){
      update_cb_rb_nested($(this), false);
    });

    $(".field_rb_select").each(function(){
      update_cb_rb_nested($(this), false);
    });

    $(".required_field").css('border-color', '');
    $(".required_field").closest('.form-group').find('label').not('.checkbox').not('.radio').css("color", "red");

    $(".field_cb_select").on("change", function(){
      update_cb_rb_nested($(this), false);
      update_panel_titles($(this));
    });

    $(".field_rb_select").on("change", function(){
      update_cb_rb_nested($(this), true)
      update_panel_titles($(this));
    });
  });


  function update_panel_titles(target){
    var count = 0;
    $(target).closest('div.category-panel').find('.required_field').each(function(){
      if ($(this).is(':visible')) {
        count++;
      }
    });
    if (count > 0) {
      $(target).closest('div.category-panel').find('.panel-title').css("color", "red");
      $(target).closest('div.category-panel').find('.panel-title').value = "*" ;
    } else {
      $(target).closest('div.category-panel').find('.panel-title').css("color", "");
      $(target).closest('div.category-panel').find('.panel-title').value = "" ;
    }
  }


  function update_nested_fields(field) {
    console.log('update_nested_fields');
    var field_id = $(field).attr("data-id");
    var field_value = $(field).find('option:selected').attr("data-option");
    $(".nested_field_" + field_id).closest('.nested_field_area').hide();
    $(".nested_field_" + field_id + "_" + field_value).closest('.nested_field_area').show();
    //$(".nested_field_" + field_id + "_" + field_value).closest('.nested_field_area').addClass('graybox');
  }


  function update_cb_rb_nested(field, isRadio){
    console.log('update_cb_rb_nested');
    var field_id = $(field).attr("data-id");
    var field_value = $(field).attr("data-option");
    if (isRadio){
      $(".nested_field_" + field_id).closest('.nested_field_area').hide();
    }
    if ($(field).prop('checked')) {
      $(".nested_field_" + field_id + "_" + field_value).closest('.nested_field_area').show();
      //$(".nested_field_" + field_id + "_" + field_value).closest('.nested_field_area').addClass('graybox');
    } else {
      $(".nested_field_" + field_id + "_" + field_value).closest('.nested_field_area').hide();
      //$(".nested_field_" + field_id + "_" + field_value).closest('.nested_field_area').removeClass('graybox');
    }
  }

</script>
