<%size = is_nested_field ? 'col-xs-12' : calculate_column_size(field: field)%>

<div class="<%=size%> form-group">
  <%=f.fields_for :record_fields, record_field do |rf|%>

    <label>
      <%=field.get_label.present? ? field.get_label.html_safe : nil%>
    </label>

    <% required = field.required? ? "required_field" : "" %>

    <%if field.display_type == "text"%>
      <%if field.data_type == 'date'%>
        <%field_class = 'field-date form-control'%>
      <%elsif field.data_type == 'datetime'%>
        <%field_class = 'field-datetime form-control'%>
      <%else%>
        <%field_class = 'form-control'%>
      <%end%>
      <%=rf.text_field :value,
        {:class=> required + " " + field_class+" "+field.element_class,
        :placeholder=>field.label,
        :id=>field.element_id}%>

    <%elsif field.display_type == "textarea"%>
      <div class="col-xs-12">
        <%=rf.text_area :value,
          {:class => required + " " + "form-control " + field.element_class,
          :rows => 4,
          :id => field.element_id}%>
      </div>

    <%elsif field.display_type == "dropdown"%>
      <%if field.data_type == "timezone"%>
        <div class="input-group">
          <%=rf.select :value,
            field.getOptions,
            {:include_blank=>""},
            {:class=>'form-control tz atz ' + required,
            :selected => record_field.value}%>
          <span class="input-group-addon tc">All</span>
        </div>
      <%else%>
        <%=rf.select :value,
          field.getOptions.map { |option| [option, {'data-option' => option.parameterize}]},
          {:include_blank=>""},
          {"data-id" => field.id,
          :class=> 'field_select' + " " + required + " " + 'form-control'+" "+field.element_class,
          :selected => record_field.value,
          :id => field.element_id}%>
      <%end%>

    <%elsif field.display_type == "checkbox"%>
      <%current_options = record_field.value.split(";") rescue ''%>
      <div class="col-xs-12 <%=required%>">
        <%field.getOptions.each do |option|%>
          <div class="col-xs-6">
            <label class="checkbox">
              <%=rf.check_box :value,
                {:multiple => true,
                :checked=>current_options.include?(option),
                :class => "field_cb_select",
                'data-option' => option.parameterize,
                'data-id' => field.id},
                option,
                nil%>
              <%=option%>
            </label>
          </div>
        <%end%>
      </div>

    <%elsif field.display_type == "radio"%>
      <div class="col-xs-12 <%=required%>">
        <%field.getOptions.each do |option|%>
          <div class="col-xs-6">
            <label class="radio">
              <%=rf.radio_button :value,
                option,
                :class => "field_rb_select",
                'data-option' => option.parameterize,
                'data-id' => field.id%>
              <%=option%>
            </label>
          </div>
        <%end%>
      </div>

    <%elsif field.display_type == "employee"%>
      <div class="input-group">
        <%employee = ""%>
        <%if record_field.value.present?%>
          <%if record_field.value.match(/\A[+-]?\d+?(\.\d+)?\Z/)%>
            <%employee = User.find(record_field.value).full_name%>
          <%else%>
            <%employee = record_field.value%>
          <%end%>
        <%end%>
        <%=text_field_tag field.get_label,
          "",
          {:class=>"form-control ml5 emp " + required,
          :readonly=>true,
          :id=>"emp#{field.id}",
          :value => employee}%>
        <%=rf.hidden_field :value,
          :id=>"employee-select#{field.id}"%>
        <span class="input-group-btn">
          <%=link_to "...",
            "#",
            :class=>"btn btn-info emp_button",
            "data-toggle"=>"modal",
            "data-target"=>".emp_modal",
            :id=>"#{field.id}"%>
        </span>
      </div>

    <%elsif field.display_type == "airport"%>
      <div class="input-group">
        <%=text_field_tag field.get_label,
          "",
          {:class=>"form-control ml5 airport " + required,
          :readonly=>true,
          :id=>"airport#{field.id}",
          :value=>record_field.value}%>
        <%=rf.hidden_field :value,
          :id=>"airport-select#{field.id}"%>
        <span class="input-group-btn">
          <%=link_to "...",
            "#",
            :class=>"btn btn-info airport_button",
            "data-toggle"=>"modal",
            "data-target"=>".airport_modal",
            :id=>"#{field.id}"%>
        </span>
      </div>

    <!-- Render Map fields -->
    <%elsif field.display_type == "map"%>
      <div class="input-group">
        <%=text_field_tag field.get_label, "",
          {:class=>"form-control ml5 map ",
            :readonly => true,
            :id => "map#{field.id}",
            :value => record_field.value}%>
        <%=rf.hidden_field :value, :id=>"map-select#{field.id}"%>
        <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info map_button", :id=>"#{field.id}"%></span>
        <div hidden id="pin-template" name="<%=field.id%>">
          <%=rf.fields_for :points, Point.new do |pf|%>
            <div class="pin-container unsaved">
              <%=pf.hidden_field :lat, class: 'pin-lat'%>
              <%=pf.hidden_field :lng, class: 'pin-lng'%>
              <%=pf.hidden_field :map_type, class: 'pin-map-type'%>
            </div>
          <%end%>
        </div>
        <div hidden id="pin-holder" name="<%=field.id%>">
          <%=rf.fields_for :points, rf.object.points do |pf|%>
            <div class="pin-container" data-id=<%=pf.object.id%>>
              <%=pf.hidden_field :_destroy, class: 'pin-destroy'%>
              <%=pf.hidden_field :lat, class: 'pin-lat'%>
              <%=pf.hidden_field :lng, class: 'pin-lng'%>
              <%=pf.hidden_field :map_type, class: 'pin-map-type'%>
            </div>
          <%end%>
        </div>
      </div>

    <%elsif field.display_type == "datalist"%>
      <%= rf.text_field :value,
        {:list=>"#{field.id}",
        :class=>"form-control " + required,
        :value=>record_field.value}%>
      <datalist id="<%=field.id%>">
        <% field.getOptions.each do |opt|%>
          <option value="<%=opt%>"></option>
        <%end%>
      </datalist>

    <%else%>
       No!
    <%end%>


    <%#=" (##{field.id})" if Rails.env.development?%>

  <%end%>
</div>
