<div class="col-sm-12 col-md-12 col-lg-12"%>
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading">
      <div class="panel-title">
        <b>Injury and Illness Types</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-up"></i>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <b>Total number of…</b><br><br>

      <div class="row">
        <div class="col-xs-3">
          <b>(1) Injury: </b>
        </div>

        <div class="col-xs-3 text-center h5">
          <div class='underline'><%= @total_of_1 %></div>
        </div>

        <div class="col-xs-3">
          <b>(4) Poisoning: </b>
        </div>

        <div class="col-xs-3 text-center h5">
          <div class='underline'><%= @total_of_2 %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <b>(2) Skin Disorder: </b>
        </div>

        <div class="col-xs-3 text-center h5">
          <div class='underline'><%= @total_of_3 %></div>
        </div>

        <div class="col-xs-3">
          <b>(5) Hearing Loss: </b>
        </div>

        <div class="col-xs-3 text-center h5">
          <div class='underline'><%= @total_of_4 %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <b>(3) Respiratory Condition: </b>
        </div>

        <div class="col-xs-3 text-center h5">
          <div class='underline'><%= @total_of_5 %></div>
        </div>

        <div class="col-xs-3">
          <b>(6) All Other Illnesses: </b>
        </div>

        <div class="col-xs-3 text-center h5">
          <div class='underline'><%= @total_of_6 %></div>
        </div>
      </div>
    </div>
  </div>
</div>
