<%= stylesheet_link_tag "/plugins/tables/datatables-1.10.16/datatables.min.css" %>
<%= javascript_include_tag "/plugins/tables/datatables-1.10.16/datatables.min.js" %>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>

<div class="col-xs-12">
  <%= render "shared/alerts" %>
  <%= render "access_controls/new_modal"%>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="top_text">
          <b><%=@title%></b>
        </div>
        <div class="top_buttons pull-right">

          <%if defined?(create_new) && create_new%>
            <%=link_to "New",
              "#",
              :class => "btn btn-success pull-right mr5",
              :id => "new_btn",
              "data-toggle"=>"modal",
              "data-target" => ".bs-example-modal-lg"%>
          <%end%>

          <%if @action == "index"%>
            <%=link_to "Custom View",
              '#',
              :class => "btn btn-warning pull-right mr5",
              :id => "cus",
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>
            <%#=link_to "Advanced Search",
              '#',
              :class => "btn btn-warning pull-right mr5",
              :id => "adv",
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>
            <%=link_to "Detailed Search",
              '#',
              :class => "btn btn-warning pull-right mr5",
              :id => "det",
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>
            <%=link_to "Reset",
              request.path,
              :class => "btn btn-default pull-right mr5",
              :disable_with => "Resetting..."%>
          <%elsif @action == "meeting"%>
            <%=link_to "Reset",
              request.path,
              :class => "btn btn-default pull-right mr5 mb5",
              :disable_with => "Resetting..."%>
          <%end%>

          <%if @adv_only%>
            <%=link_to "Advanced Search",
              '#',
              :class => "btn btn-warning pull-right mr5",
              :id => "adv",
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>
            <%=link_to "Reset",
              request.path,
              :class => "btn btn-default pull-right mr5"%>
          <%end%>

          <%if @ims%>
            <%=link_to "Advanced Search",
              '#',
              :class => "btn btn-warning pull-right mr5",
              :id => "adv",
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>
            <%=link_to "Reset",
              "#{@table_name}?type=#{params[:type]}",
              :class => "btn btn-default pull-right mr5",
              :disable_with => "Resetting..."%>
          <%end%>
        </div>
      </div>
    </div>


    <div class="panel-body">
      <div class="table-responsive">
        <table id="records_table" class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <%@headers.each do |header|%>
                <th>
                  <%=header[:title]%>
                </th>
              <%end%>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <%@headers.each do |header|%>
                <th>
                  <%=header[:title]%>
                </th>
              <%end%>
              <th style='display:none'>Action</th>
            </tr>
          </tfoot>
          <tbody>
            <%@records.each do |record|%>
              <tr record_id="<%=record.id%>">
                <%@headers.each do |header|%>
                  <%if header[:param].present?%>
                    <td class="<%=header[:html_class].present? ? record.send(header[:html_class]) : ''%>">
                      <%=record.send(header[:field], header[:param]) rescue ''%>
                    </td>
                  <%else%>
                    <td class="<%=header[:html_class].present? ? record.send(header[:html_class]) : ''%>">
                      <%=record.send(header[:field]) rescue ''%>
                    </td>
                  <%end%>
                <%end%>
                <td>
                  <%=link_to "Open",
                    "/#{@table_name}/#{record.id}",
                    :class => "btn btn-lightblue mr5 mb5",
                    :target => nil%>
                  <%=link_to "Open in New Tab",
                    "/#{@table_name}/#{record.id}",
                    :class => "btn btn-lightblue mr5 mb5",
                    :target => :_blank%>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




<style>
 .datepicker{
  z-index: 1200!important;
 }
  tfoot {
    display: table-header-group;
  }
  .table_ul li{
    font-weight: normal;
  }
</style>




<script>

  $("#new_btn").on("click", function(){
    $.get("<%=@new_path%>", function(data){
      $(".modal-content").html(data);
      $(window).trigger("resize");
    });
  });

  $('#records_table tbody tr td').on('click',function(){
    var cellIdx = $(this)[0].cellIndex;
    var lastIdx = $(this).closest("tr").find("td:last")[0].cellIndex;
    if(cellIdx != lastIdx){
      window.location = ("/<%="#{@table_name}"%>/" + $(this).closest("tr").attr('record_id'));
    }
  });


  var table = $('#records_table').DataTable({
    responsive: true,
    dom:  "<'row'<'col-xs-6'l><'col-sm-6'f>>" +
          "<'row'<'col-sm-12'tr>>" +
          "<'row'<'col-sm-5'i><'col-sm-7'p>>" +
          "<'row'<'col-sm-12'B>>",
    buttons: [
      'copy', 'csv', 'excel', 'print',
      "pdf"//bug in pdf button for buttons 1.5.1 https://datatables.net/forums/discussion/46395/pdf-export-button-spinner-not-stopping
    ],
    "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
    "iDisplayLength": 10,
    "aaSorting": [[0, "desc"]],
    "columnDefs": [{ type: 'natural', targets: 0 }],
    initComplete: function(){
      this.api().columns().every(function(){
        var column = this;
        rand_num=new Date().getTime();
        var select = $('<input class=\'form-control\' list=\''+rand_num+'\'><datalist id=\''+rand_num+'\'><option value=""></option></datalist>')
          .appendTo($(column.footer()).empty())
          .on( 'keyup change input', function (){
            if(column.search() !== this.value){
              column.search( this.value ).draw();
            }
          });

        column.data().unique().sort().each( function ( d, j ) {
          if(d != "" && d != undefined){
            $('#'+rand_num).append( '<option value="'+d+'">'+d+'</option>' );
          }
        });
      });
    },
  });

  table.on('responsive-resize', function(e, datatable, columns){
    var count = columns.reduce(function (a,b) {
      return b === false ? a + 1 : a;
    }, 0);
  });
</script>
