<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/datepicker.css"/>
<div class="col-xs-12 col-lg-12"%>
  <div class="panel panel-info">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Risk Matrix</b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
      </div>
    </div>
    <div class="panel-body" style="display:none">
      <div class="row">
        <div class='col-xs-3'>
          <b>Severity: </b><%=owner.severity%>
        </div>
        <div class='col-xs-3'>
          <b>Likelihood: </b><%=owner.likelihood%>
        </div>
        <div class='col-xs-6'>
          <b>Risk Factor: </b><%=owner.risk%>
        </div>
        <div class="col-xs-12">
          <table id="risk_matrix"class="table table-bordered" cellspacing="0" width="100%">
            <tr>
              <th style="width:18%"></th>
              <th colspan="5"><center>Likelihood</center></th>
            </tr>
            <tr>
              <th style="width:18%"><center>Severity</center></th>
              @like=Record.get_likelihood
              <%@like.each do |header| %>
                <th style="width:15%"><center><%=header%></center></th>
              <%end%>
            </tr>
            <%@color_matrix=Array.new(5){Array.new(5)}%>
            <%@color_matrix[0][0] = "yellow"%>
            <%@color_matrix[1][0] = "yellow"%>
            <%@color_matrix[2][0] = "#60FF60"%>
            <%@color_matrix[3][0] = "#60FF60"%>
            <%@color_matrix[4][0] = "#60FF60"%>
            <%@color_matrix[0][1] = "yellow"%>
            <%@color_matrix[1][1] = "yellow"%>
            <%@color_matrix[2][1] = "#60FF60"%>
            <%@color_matrix[3][1] = "#60FF60"%>
            <%@color_matrix[4][1] = "#60FF60"%>
            <%@color_matrix[0][2] = "orange"%>
            <%@color_matrix[1][2] = "yellow"%>
            <%@color_matrix[2][2] = "yellow"%>
            <%@color_matrix[3][2] = "#60FF60"%>
            <%@color_matrix[4][2] = "#60FF60"%>
            <%@color_matrix[0][3] = "orange"%>
            <%@color_matrix[1][3] = "orange"%>
            <%@color_matrix[2][3] = "yellow"%>
            <%@color_matrix[3][3] = "#60FF60"%>
            <%@color_matrix[4][3] = "#60FF60"%>
            <%@color_matrix[0][4] = "orange"%>
            <%@color_matrix[1][4] = "orange"%>
            <%@color_matrix[2][4] = "orange"%>
            <%@color_matrix[3][4] = "#60FF60"%>
            <%@color_matrix[4][4] = "#60FF60"%>
            <%@color_matrix.each_index do |row|%>
              <tr>
                <%@frequency=(0..4).to_a.reverse%>
                <td><center><b><%=@frequency[row]%></b></center></td>
                <%@color_matrix[row].each_index do |cell|%>
                  <td id="<%=4-row%>-<%=cell%>" style="width:15%;background:<%=@color_matrix[row][cell]%>" background="<%=@color_matrix[row][cell]%>"></td>
                <%end%>
              </tr>
            <%end%>
          </table>
        </div>
        <div class='col-xs-12'>
          <div class="col-xs-offset-1 col-xs-11">
            <%if owner.statement.present?%>
              <%=owner.statement.gsub(/\n/, '<br/>').html_safe%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#<%=owner.severity%>-<%=Finding.get_likelihood.index(owner.likelihood)%>").append("<center><span class='glyphicon glyphicon-remove' style='color:red'></span></center>");
  });
</script>

<style>
 .datepicker{
  z-index: 1200!important;
 }
  td,th{
    text-align: center;
  }
</style>

<script>
  var table;
  function build_table(){
    table=$('#users').DataTable({
      "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
      "iDisplayLength": 5
    });
  }
  function clear_table()
  {
    table.destroy();
  }
  function reset_risk(){
    $(".colorcell").html('');
    var sev_val=$("#sev").val();
    var like_val=$("#like").val();
    var likehood="";
    switch (like_val){
      case "A - Improbable":
        likehood="0";
        break;
      case "B - Unlikely":
        likehood="1";
        break;
      case "C - Remote":
        likehood="2";
        break;
      case "D - Probable":
        likehood="3";
        break;
      case "E - Frequent":
        likehood="4";
        break;
      default:
        likehood="";
    }
    switch($("#"+sev_val+"-"+likehood).attr('background')){
      case "#60FF60":
        like_val="Green - Acceptable";
        break;
      case "yellow":
        like_val="Yellow - Acceptable with mitigation";
        break;
      case "orange":
        like_val="Orange - Unacceptable";
        break;
      default:
        like_val="";
    }
    $("#risk").val(like_val);
    $("#"+sev_val+"-"+likehood).append("<span class='glyphicon glyphicon-remove' style='color:red'></span>");
  }

  $(document).ready(function(){

  reset_risk();
  build_table();
  $('#sev').on('change',function(){
    reset_risk();
  });
  $('#like').on('change',function(){
    reset_risk();
  });
    $('#emp1').on('click',function(){
    $('.modal').modal('show');
    clear_table();
      $('tbody tr' ).unbind();
      $('.close' ).unbind();
      $('tbody tr').on('click',function(){
        $('#emp_1').val($(this).find('td').eq(3).text());
        $('#employee-select1').val($(this).find('td').eq(0).text());
        $('.modal').modal('toggle');
      });
      $('.close').on('click',function(){
        $('#emp_1').val("");
        $('#employee-select1').val("");
      });
      build_table();
    });
    $('#emp2').on('click',function(){
      clear_table();
    $('.modal').modal('show');
      $('tbody tr' ).unbind();
      $('.close' ).unbind();
      $('tbody tr').on('click',function(){
        $('#emp_2').val($(this).find('td').eq(3).text());
        $('#employee-select2').val($(this).find('td').eq(0).text());
        $('.modal').modal('toggle');
      });
      $('.close').on('click',function(){
        $('#emp_2').val("");
        $('#employee-select2').val("");
      });
      build_table();
    });

  });
</script>
