<%= stylesheet_link_tag "/plugins/tables/datatables-1.10.16/datatables.min.css" %>
<%= javascript_include_tag "/plugins/tables/datatables-1.10.16/datatables.min.js" %>
<%= javascript_include_tag "//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js" %>


<div class="col-xs-12">
  <div class="panel <%=@cat.panel%>">
    <div class="panel-heading click-heading">
      <div class="panel-title">
        <%=@cat.title%>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-up"></i>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div>
            <table id="observation_phases_table" class="table table-striped table-bordered" width="100%">
              <thead>
                <tr>
                  <%CONFIG::SR::OBSERVATION_PHASES.each do |x|%>
                    <th><%=x%></th>
                  <%end%>
                </tr>
              </thead>
              <tbody>
                <%@cat.fields.group_by(&:element_id).each do |element_id, arr|%>
                  <%if @record.record_fields.where(:fields_id => arr.first.id).present? &&
                    @record.record_fields.where(:fields_id => arr.first.id).first.value.present?%>
                    <tr>
                      <th><%=arr.first.label%></th>
                      <%arr.each do |x|%>
                        <%record_fields = @record.record_fields.where(:fields_id => x.id).first%>
                        <td><%=record_fields.value%></td>
                      <%end%>
                    </tr>
                  <%end%>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
  .smallselect {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
</style>
