<div class="col-xs-12 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <b>Observation Phases</b>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#chart" onclick="drawPieChart();">Pie Chart</a></li>
          <li><a data-toggle="tab" href="#chart" onclick="drawBarChart();">Bar Chart</a></li>
          <li><a data-toggle="tab" href="#grid">Grid</a></li>
        </ul>
        <div class="tab-content">
          <div id="chart" class="tab-pane fade in active">
            <div id="chart_div" style="width: '100%'"></div>
            <div class="mr10" id="chart_download" align="right"></div>
          </div>
          <div id="grid" class="tab-pane fade">
            <%=render "trend_stats_table"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script>

  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawBarChart);
  google.charts.setOnLoadCallback(drawPieChart);

  function drawBarChart(){
    $("chart_div").html("");
    var colorArray = colorInterpolation(<%=@observation_phases.length%>);
    var data = new google.visualization.DataTable();
    data.addColumn(         "string",       "Root Cause");
    data.addColumn(         "number",       "Count");
    data.addColumn({type:   "string", role: 'tooltip'});
    data.addColumn({type:   "string", role: 'annotationText'});
    data.addColumn({type:   "string", role: 'style'});


    data.addRows([
      <%@observation_phases.each_with_index do |(k, v), index|%>
        <%="['#{index+1}', #{v}, '#{k.label}', '#{k.id}',"%> colorArray[<%=index%>]],
      <%end%>
    ]);
    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
      { calc: "stringify",
        sourceColumn: 1,
        type: "string",
        role: "annotation"
      }, 2, 3, 4]);
    var options = {
      titleTextStyle: {color: "black", fontSize: 18, bold: true},
      height: 400,
      title: "Observation Phases Distribution",
      legend: {position: 'none'},
      bar: {groupWidth: "90%"},
    };
    var barChart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    google.visualization.events.addListener(barChart, 'onmouseover', uselessHandler2);
    google.visualization.events.addListener(barChart, 'onmouseout', uselessHandler3);
    google.visualization.events.addListener(barChart, 'select', function() {
      var selection = barChart.getSelection();
      for (var i = 0; i < selection.length; i++){
        var item = selection[i];
        var field_id = data.getValue(item.row, 3);
        $.get("<%=update_listing_table_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#record_listing").html(data);
        });
        $.get("<%=update_threat_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#threat_section").html(data);
        });
        $.get("<%=update_subthreat_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#subthreat_section").html(data);
        });
        $.get("<%=update_err_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#err_section").html(data);
        });
        $.get("<%=update_suberr_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#suberr_section").html(data);
        });
        $.get("<%=update_hfactor_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#hfactor_section").html(data);
        });
      }
    });
    google.visualization.events.addListener(barChart, 'ready', function () {
      document.getElementById('chart_download').innerHTML = '<a href="' + barChart.getImageURI() + '"download><u>Download Chart</u></a>';
    });
    barChart.draw(view, options);
  }

  function drawPieChart(){
    $("chart_div").html("");
    var colorArray = colorInterpolation(<%=@observation_phases.length%>);
    var data = new google.visualization.DataTable();
    data.addColumn(         "string",       "Root Cause");
    data.addColumn(         "number",       "Count");
    data.addColumn({type:   "string", role: 'tooltip'});
    data.addColumn({type:   "string", role: 'annotationText'});
    data.addColumn({type:   "string", role: 'style'});


    data.addRows([
      <%@observation_phases.each_with_index do |(k, v), index|%>
        <%="['#{k.label}', #{v}, '#{k.label}', '#{k.id}',"%> colorArray[<%=index%>]],
      <%end%>
    ]);
    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
      { calc: "stringify",
        sourceColumn: 1,
        type: "string",
        role: "annotation"
      }, 2, 3, 4]);
    var options = {
      height: 400,
      title: "Observation Phases Distribution",
      titleTextStyle: {color: "black", fontSize: 18, bold: true},
      legend: {position: 'labeled'},
      bar: {groupWidth: "90%"},
      colors: colorArray,
      pieSliceTextStyle: { color: 'black'},
      pieSliceText: 'annotationText',
      chartArea: {  height: "40%", width: "95%" },
      tooltip: {textStyle: {color: 'black'}, showColorCode: true},
    };
    var pieChart = new google.visualization.PieChart(document.getElementById('chart_div'));
    google.visualization.events.addListener(pieChart, 'onmouseover', uselessHandler2);
    google.visualization.events.addListener(pieChart, 'onmouseout', uselessHandler3);
    google.visualization.events.addListener(pieChart, 'select', function() {
      var selection = pieChart.getSelection();
      for (var i = 0; i < selection.length; i++){
        var item = selection[i];
        var field_id = data.getValue(item.row, 3);
        $.get("<%=update_listing_table_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#record_listing").html(data);
        });
        $.get("<%=update_threat_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#threat_section").html(data);
        });
        $.get("<%=update_subthreat_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#subthreat_section").html(data);
        });
        $.get("<%=update_err_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#err_section").html(data);
        });
        $.get("<%=update_suberr_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#suberr_section").html(data);
        });
        $.get("<%=update_hfactor_records_path%>?start_date=<%=params[:start_date]%>&end_date=<%=params[:end_date]%>&field_id=" + field_id, function(data){
          $("#hfactor_section").html(data);
        });
      }
    });
    google.visualization.events.addListener(pieChart, 'ready', function () {
      document.getElementById('chart_download').innerHTML = '<a href="' + pieChart.getImageURI() + '"download><u>Download Chart</u></a>';
    });
    pieChart.draw(view, options);
  }

  function uselessHandler2() {
    $('#chart_div').css('cursor','pointer')
  }
  function uselessHandler3() {
    $('#chart_div').css('cursor','default')
  }

  $(window).bind('resizeEnd', function(){
    drawBarChart();
    drawPieChart();
  });

</script>
