<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div class="col-xs-12 col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<b>Filter</b>
			</div>
		</div>
		<div class="panel-body">
			<%=form_tag filter_records_path, :method => "post" do %>
				<div class="row">
					<div class="form-group form-inline col-xs-3">
						<%=label_tag :start_date, "Start Date"%>
						<%=text_field_tag :start_date, params[:start_date], :class => "form-control ml5 field-date"%>
					</div>
					<div class="form-group form-inline col-xs-3">
						<%=label_tag :end_date, "End Date"%>
						<%=text_field_tag :end_date, params[:end_date], :class => "form-control ml5 field-date"%>
					</div>
					</br>
				</div>
				<%=submit_tag "Filter", :class => "btn btn-success pull-right", :disable_with => "Filtering..."%>
				<%=link_to "Reset", observation_phases_trend_records_path, :class => "btn btn-default pull-right mr5"%>
			<%end%>
			</div>
		</div>
	</div>
</div>

