<div class="col-xs-6 visualization_box">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<div class="top_text">
					Visualization
				</div>
				<div class="top_buttons pull-right">
					<%=link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe, 
						"#", 
						:class => "remove_btn btn btn-danger pull-right"%>
				</div>

			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">

					<div class="form-group col-xs-12 form-inline">
						<%=label_tag :select_field, "Select Field"%>
						<%=text_field_tag :field_id, nil, 
							{:list => "select_field", 
								:class => "form-control ml5", 
								:id => "field_select_all"}%>
						<datalist id="select_field">
							<%@fields.each do |x|%>
								<option value="<%=x%>"></option>
							<%end%>
						</datalist>
					</div>




					<!-- Additional fields -->
					<%if false%>
					<h4><span>OR</span></h4>

					<div class="form-group col-xs-12 form-inline">
						<%=label_tag :select_additional_field, "Select Additional Field"%>
						<%=select_tag :additional_field, 
							options_for_select(@additional_field_types),
							:include_blank => "",
							:class => "form-control"%>
					</div>
					<div class="form-group col-xs-12 form-inline">
						<%=label_tag :select_category, "Select Category"%>
					</div>	
					<div class="form-group col-xs-12 form-inline">
						<%=label_tag :select_attribute, "Select Attribute"%>
					</div>
					<%end%>					





						
					<div class="col-xs-12">
						<%=link_to "<span class=\"glyphicon glyphicon-refresh\"></span>".html_safe,
							"#",
							:class => "btn btn-success pull-right",
							:id => "generate_charts_btn"%>
					</div>
					
					<div id="chart_area"></div>

				</div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript"> 
	// Generate color interplation
	function colorInterpolation(steps){
		var colorArray = [];
		if(steps == 1){
			colorArray = ["red"]
		}else{
			var colorInterpolator = d3.interpolateRgb("red", "yellow");
			colorArray = d3.range(0, (1 + 1 / steps), 1 / (steps - 1)).map(function(d) {
				return colorInterpolator(d)
			});
		}
		return colorArray;
	}

	$(window).resize(function() {
		if(this.resizeTO) clearTimeout(this.resizeTO);
		this.resizeTO = setTimeout(function() {
			$(this).trigger('resizeEnd');
		}, 100);
	});

	$(document).ready(function(){

		$("#generate_charts_btn").on("click", function(e){
			$.get('<%=draw_chart_records_path%>?' + 
				'records_id=<%=@records.map(&:id).join(",")%>' + 
				'&field_id=' + encodeURIComponent($("#field_select_all").val()), function(data){
				$("#chart_area").html(data)
			});
		});

		$(document).delegate(".remove_btn", "click", function (){
			$(this).closest('.visualization_box').remove();
		});

	});
</script>



<style type="text/css">
	.visualization_box .panel-heading .panel-title {
		padding: 5px 0;
		min-height: 0px; 
	}	
	h4{
		width:100%; 
		text-align:center; 
		border-bottom: 1px solid lightgray; 
		line-height:0.1em; 
		margin:10px 5px 20px;
	} 
	h4 span { 
		background:#fff; 
		padding:0 10px; 
	}
</style>