<style>
body {
    font: normal 12px Verdana, Arial, sans-serif;
}
.category{
    border: 1px solid black;
    margin-bottom:10px;
    padding:3px;
}
.grid_block{
  display: inline-block;
    width: 300px;
    margin-bottom: 3px;
    margin-top: 2px;
}
.line_block{
  display: inline-block;
    width: 580px;
    margin-right: 5px;
    margin-left:  5px;
    margin-bottom: 5px;
    margin-top:5px;
}
</style>


<h4><b>Summary of Work-Related Injuries and Illnesses <%= "(#{@osha_300a_contents[:date_from]} ~ #{@osha_300a_contents[:date_to]})"%></b></h4>
<div class="category">
  <div class="grid per90 center-block">
    <div class="panel">
      <div class="panel-body">
        <div class="col-sm-12 col-md-12 col-lg-12" id= "300a_description">
          <div class="panel">
            <div class="panel-body">
              <div class="panel panel-lightskyblue">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      All establishments covered by Part 1904 must complete this Summary page, even if no injuries or illnesses occurred during the year.  Remember to review the Log to verify that the entries are complete and accurate before completing this summary.
                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-xs-12">
                      Using the Log, count the individual entries you made for each category.  Then write the totals below, making sure you've added the entries from every page of the log.  If you had no cases write "0."
                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-xs-12">
                      Employees former employees, and their representatives have the right to review the OSHA Form 300 in its entirety.  They also have limited access to the OSHA Form 301 or its equivalent.  See 29 CFR 1904.35, in OSHA's Recordkeeping rule, for further details on the access provisions for these forms.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" id= "300a_number_of_cases">
          <div class="panel">
            <div class="panel-heading">
            <hr>
              <div class="panel-title">
                <b>Number of Cases</b>
              </div>
            <hr>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-3">
                  <b>Total number of deaths: </b>
                </div>

                <div class="col-xs-3">
                  <b>Total number of cases with days away from work: </b>
                </div>

                <div class="col-xs-3">
                  <b>Total number of cases with job transfer or restriction: </b>
                </div>

                <div class="col-xs-3">
                  <b>Total number of other recordable cases: </b>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-3 text-center h4">
                  <div><%= @osha_300a_contents[:total_of_g] %></div>
                </div>

                <div class="col-xs-3 text-center h4">
                  <div><%= @osha_300a_contents[:total_of_h] %></div>
                </div>

                <div class="col-xs-3 text-center h4">
                  <div><%= @osha_300a_contents[:total_of_i] %></div>
                </div>

                <div class="col-xs-3 text-center h4">
                  <div><%= @osha_300a_contents[:total_of_j] %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" id = "300a_number_of_days">
          <div class="panel">
            <div class="panel-heading">
            <hr>
              <div class="panel-title">
                <b>Number of Days</b>
              </div>
            <hr>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6">
                  <b>Total number of days away from work: </b>
                </div>

                <div class="col-xs-6">
                  <b>Total number of days of job transfer or restriction: </b>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6 text-center h4">
                  <div><%= @osha_300a_contents[:total_of_k] %></div>
                </div>

                <div class="col-xs-6 text-center h4">
                  <div><%= @osha_300a_contents[:total_of_l] %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" id="300a_injury_illness_types">
          <div class="panel">
            <div class="panel-heading">
            <hr>
              <div class="panel-title">
                <b>Injury and Illness Types</b>
              </div>
            <hr>
            </div>
            <div class="panel-body">
              <b>Total number of...</b><br><br>

              <div class="row">
                <div class="col-xs-3">
                  <b>(1) Injury: </b>
                </div>

                <div class="col-xs-3 text-center h5">
                  <div><%= @osha_300a_contents[:total_of_1] %></div>
                </div>

                <div class="col-xs-3">
                  <b>(4) Poisoning: </b>
                </div>

                <div class="col-xs-3 text-center h5">
                  <div><%= @osha_300a_contents[:total_of_2] %></div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-3">
                  <b>(2) Skin Disorder: </b>
                </div>

                <div class="col-xs-3 text-center h5">
                  <div><%= @osha_300a_contents[:total_of_3] %></div>
                </div>

                <div class="col-xs-3">
                  <b>(5) Hearing Loss: </b>
                </div>

                <div class="col-xs-3 text-center h5">
                  <div><%= @osha_300a_contents[:total_of_4] %></div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-3">
                  <b>(3) Respiratory Condition: </b>
                </div>

                <div class="col-xs-3 text-center h5">
                  <div><%= @osha_300a_contents[:total_of_5] %></div>
                </div>

                <div class="col-xs-3">
                  <b>(6) All Other Illnesses: </b>
                </div>

                <div class="col-xs-3 text-center h5">
                  <div><%= @osha_300a_contents[:total_of_6] %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="col-sm-12 col-md-12 col-lg-12" id="300a_footer">
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          Public reporting burden for this collection of information is estimated to average 58 minutes per response, including time to review the instruction, search and gather the data needed, and complete and review the collection of information.  Persons are not required to respond to the collection of information unless it displays a currently valid OMB control number.  If you have any comments about these estimates or any aspects of this data collection, contact:  US Department of Labor, OSHA Office of Statistics, Room N-3644, 200 Constitution Ave, NW, Washington, DC 20210.  Do not send the completed forms to this office.
        </div>
      </div>
    </div>
  </div>
</div>


