<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<%= javascript_include_tag "/javascripts/utility/collapse-panel2.js" %>

<div class="item active mt50" style="height:auto;">
	<div class="grid per90 center-block">
		<div class="panel panel-steelblue">
			<div class="panel-heading">
				<div class="panel-title">
					<div class="top_text">
						Query Result
					</div>
					<div class="top_buttons pull-right">
						<%=link_to "Back",
							query_records_path,
							:id => "back_btn",
							:class => "btn btn-default pull-right",
							:disable_with => "Redirecting..."%>
						<%=link_to "Add Visualization", 
							"#", 
							:id => "add_btn", 
							:class => "btn btn-success pull-right mr5"%>
					</div>
				</div>
			</div>
			<div class="query_result panel-body collapse in">
				<%=render 'visualize'%>
				<%=render "record_table"%>
			</div>
		</div>
	</div> 
</div>



<script type="text/javascript">
	
	$("#add_btn").on("click", function(){
		$(".query_result").prepend(`
			<%=escape_javascript("#{render 'visualize'}").html_safe%>
		`);
	});


</script>



