<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/datepicker.css"/>


<%template_full_access = current_user.has_template_access(@record.template.name).include? 'full'%>
<%template_viewer_access = current_user.has_template_access(@record.template.name).include? 'viewer'%>
<%submission_show_access = current_user.has_access('submissions','show', admin: true)%>
<%record_edit_access = current_user.has_access('records', 'edit', admin: true)%>
<%record_delete_access = current_user.has_access('records','destroy', admin: true, strict: true)%>
<%report_show_access = current_user.has_access('reports','show', admin: true)%>
<%report_admin_access = current_user.has_access('reports', 'admin', admin: true, strict: true)%>
<%sa_module_access = current_user.has_access('Safety Assurance','module', admin: true, strict: true)%>
<%sra_module_access = current_user.has_access('Safety Risk Management','module', admin: true, strict: true)%>

<div class='item active mt50' style="height:auto;">
  <div class="grid per90 center-block">
    <div class="col-lg-12">
      <%=render "access_controls/new_modal"%>
      <%=render "shared/alerts"%>
      <div class="panel panel-primary">

        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              Report #<%=@record.get_id%>: <%=@record.template.name%>
            </div>
            <div class="top_buttons pull-right">

              <%if template_full_access || template_viewer_access || report_admin_access%>

                <%if record_delete_access%>
                  <%=link_to 'Delete',
                    record_path(@record),
                    :method=>"delete",
                    :confirm=>'Are you sure?',
                    :class=>"btn btn-danger pull-right mr5 mb5 "%>
                <%end%>

                <%if current_user.global_admin?%>
                  <%=link_to 'Override Status', '#',
                    :class => 'btn btn-danger pull-right mr5 mb5',
                    :id => 'override_status_btn',
                    "data-toggle" => "modal",
                    "data-target" => ".bs-example-modal-lg"%>
                <%end%>

                <%if template_full_access%>
                  <%=link_to "PDF",
                    print_record_path(
                      @record,
                      :deidentified => false,
                      :format => :pdf),
                    :class=>'btn btn-darkturquoise pull-right mr5 mb5'%>
                <%end%>

                <%=link_to "De-ID PDF",
                  print_record_path(
                    @record,
                    :deidentified => true,
                    :format => :pdf),
                  :class=>'btn btn-darkturquoise pull-right mr5 mb5'%>

                <%if record_edit_access%>
                  <%if @record.status == "New"%>
                    <%=link_to  "Open Report",
                      open_record_path(@record),
                      :class => "btn btn-warning pull-right mr5 mb5",
                      :confirm => "Are you sure?",
                      :disable_with => "Opening..."%>
                  <%elsif @record.status != "Closed"%>
                    <%=link_to  "Edit",
                      edit_record_path(@record),
                      :id=>"edit-btn",
                      :class=>"btn btn-warning pull-right mr5 mb5",
                      :disable_with => "Editing..."%>
                  <%end%>
                <%end%>

                <%=link_to 'Launch',
                  '#',
                  :id => "launch_btn",
                  :class => "btn btn-warning pull-right mr5 mb5",
                  'data-toggle' => 'modal',
                  'data-target' => '.bs-example-modal-lg'%>

                <%if @record.submission.present? && submission_show_access%>
                  <%=link_to "View Submission",
                    submission_path(@record.submission),
                    :class=>"btn btn-info pull-right mr5 mb5",
                    :disable_with => "Redirecting..." %>
                <%end%>

                <%if @record.report.present? && report_show_access%>
                  <%=link_to "View Event",
                    report_path(@record.report),
                    :id=>"report-btn",
                    :class=>"btn btn-info pull-right mr5 mb5",
                    :disable_with => "Redirecting..."%>
                <%end%>

                <%if @record.investigation.present? && sa_module_access%>
                  <%=link_to "View Investigation",
                    investigation_path(@record.investigation),
                    :class=>"btn btn-info pull-right mr5 mb5",
                    :disable_with => "Redirecting..."%>
                <%end%>

                <%if @record.sra.present? && sra_module_access%>
                  <%=link_to "View SRA(SRM)",
                    sra_path(@record.sra),
                    :class=>"btn btn-info pull-right mr5 mb5",
                    :disable_with => "Redirecting..."%>
                <%end%>

                <%if record_edit_access %>
                  <%if !@record.viewer_access%>
                    <%=link_to "Enable Viewer Access",
                      enable_record_path(@record),
                      :class=>"btn btn-warning pull-right mr5 mb5",
                      :disable_with => "Updating..."%>
                  <%else%>
                    <%=link_to "Disable Viewer Access",
                      enable_record_path(@record),
                      :class=>"btn btn-warning pull-right mr5 mb5",
                      :disable_with => "Updating..."%>
                  <%end%>
                <%end%>
              <%end%>

              <%=render '/forms/btns/attach_in_message_btn', owner: @record%>
              <%=render '/forms/btns/message_submitter_btn', owner: @record%>

              <a class="btn btn-default expandall pull-right mr5 mb5">Expand All</a>

            </div>
          </div>
        </div>

        <div class="panel-body collapse in" id="form_body">
          <div class="col-xs-12">
            <%if template_full_access || report_admin_access%>
              <%if @record.status == "Closed"%>
                <%=link_to "Reopen",
                  reopen_record_path(@record),
                  :class=>"btn btn-warning pull-right mr5 mb5",
                  :confirm => "Are you sure?",
                  :disable_with => "Reopening..."%>
              <%end%>

              <%if @record.status != "Closed"%>

                <%=link_to "Close Report", "#",
                  :class => "btn btn-danger pull-right close_btn mr5 mb5",
                  :id => 'close',
                  "data-toggle" => "modal",
                  "data-target" => ".bs-example-modal-lg"%>
              <%end%>


              <%if record_edit_access && @record.status == "Open"%>
                <%=link_to "Create Event",
                  new_report_path(:template=>@record.template,:base_record=>@record),
                  :id => "report-btn",
                  :class => "btn btn-success mr5 mb5 pull-right",
                  :disable_with => "Creating..."%>
                <%=link_to "Add to Event",
                  add_reports_path(:template=>@record.template,:record=>@record),
                  :id => "report-btn",
                  :class => "btn btn-success mr5 mb5 pull-right",
                  :disable_with => "Adding..."%>
              <%end%>

              <%if @record.status != "Closed" &&
                  @record.status != "New" &&
                  record_edit_access%>
                <%if @record.report.present?%>
                  <%=link_to "Add Corrective Action",
                    new_corrective_action_path(:record=>@record.id, :report=>@record.report.id),
                    :class=>"btn btn-success pull-right mr5 mb5",
                    :disable_with => "Redirecting..."%>
                <%else%>
                  <%=link_to "Add Corrective Action",
                    new_corrective_action_path(:record=>@record.id),
                    :class=>"btn btn-success pull-right mr5 mb5 "%>
                <%end%>
              <%end%>
            <%end%>

            <%=link_to "Add Comment",
              "#",
              :class=>"btn btn-success pull-right mr5 mb5 ",
              :id=>'comment_btn',
              "data-toggle"=>"modal",
              "data-target"=>".bs-example-modal-lg"%>
          </div>

          <div class="col-xs-12 mb20">
            <%if @record.template.map_template_id.present? &&
              record_edit_access &&
              @record.status == "Open"%>
              <%=link_to "Convert to #{@record.template.map_template.name}",
                convert_record_path(@record,:copy => false),
                :class=>"btn btn-success pull-right mr5 mb5",
                confirm: 'Are you sure? You will lose the original report.',
                disable_with: 'Converting...'%>
              <%=link_to "Copy to #{@record.template.map_template.name}",
                convert_record_path(@record,:copy => true),
                :class=>"btn btn-success pull-right mr5 mb5",
                disable_with: 'Copying...'%>
            <%end%>
          </div>

          <%
            meta_field_args = ['show']
            # show_submitter_name is FALSE and current_user is global admin
            cond1 = !CONFIG.sr::GENERAL[:show_submitter_name] && current_user.global_admin?
            # show_submitter_name is TRUE and current_user had full access
            cond2 = CONFIG.sr::GENERAL[:show_submitter_name] && template_full_access
            meta_field_args.push('admin') if cond1 || cond2
            meta_field_args.push('close') if @record.status == 'Closed' && @record.is_asap
          %>
          <%=render "forms/show_fields", fields: Record.get_meta_fields(*meta_field_args), record: @record%>

          <%if @record.submission.present?%>
            <%if @record.submission.comments.present?%>
              <div class="col-xs-12 col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-heading click-heading collapsed">
                    <div class="panel-title">
                      <b>Submitter Notes</b>
                      <span class="pull-right clickable">
                        <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                      </span>
                    </div>
                  </div>
                  <div class="panel-body" style="display:none">
                    <div class="row">
                      <%=render "submissions/show_notes", :owner => @record.submission%>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>

          <%=render '/records/record_template_content', deid: !template_full_access%>
          <%#=render "/records/show_template_fields", record: @record, deid: !template_full_access%>

          <%can_change = record_edit_access && @record.status != "Closed"%>


          <% @owner = @record %>
          <%= render 'risk_matrices/panel_matrix/risk_assessment_panel', risk_type: 'All'%>

          <%if @record.corrective_actions.present?%>
            <div class="col-xs-12 col-lg-12">
              <div class="panel panel-info">
                <div class="panel-heading click-heading collapsed">
                  <div class="panel-title">
                    <b>Corrective Actions</b>
                    <span class="pull-right clickable">
                      <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                    </span>
                  </div>
                </div>
                <div class="panel-body" style="display:none">
                  <div class="row">
                    <%@no_footer = true%>
                    <%=render "/corrective_actions/actions"%>
                  </div>
                </div>
              </div>
            </div>
          <%end%>


          <%=render '/panels/show_panels', :owner => @record%>
          <%=render "/forms/show_comment",:owner => @record%>
          <%=render "/forms/attachments_show", :owner => @record%>
          <%=render "/records/transactions", :owner => @record%>

        </div>
      </div>
    </div>
  </div>
</div>


<style>
 .datepicker{
  z-index: 1200!important;
 }
</style>


<script>
  $(document).ready(function(){
    $('#launch_btn').on('click',function(){
      $.get("<%= eval("launch_record_path(@record)")%>", function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
      });
    })

    $('.close_btn').on('click',function(){
      var commit = $(this).attr('id');
      $.get("<%=close_record_path(@record)%>?commit="+commit, function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('#comment_btn').on('click',function(){
      $.get("<%=comment_record_path(@record)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_record_path(@record)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#mitigate_btn').on('click',function(){
      $.get("<%=mitigate_record_path(@record)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#baseline_btn').on('click',function(){
      $.get("<%=baseline_record_path(@record)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#override_status_btn').on('click',function(){
      $.get("<%=override_status_record_path(@record)%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
