<div class="col-xs-12 col-lg-12"%>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="panel-title"><%=params[:commit].titleize%> Risk Control<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button></div>
    </div>
    <div class="panel-body">
      <div class="row">
        <%=form_for @risk_control do |f|%>
          <div class="form-group col-xs-12">
            <%=f.label :approver_comment,"Approver Comment",:style=> params[:commit]=="Approve"  ?  "" : "color:red"%>
            <%=f.text_area :approver_comment,:rows=>5,:class=>"form-control required_field"%>
            <%=f.hidden_field :status,:value=>@next_status%>
          </div>
          <%=f.submit "Submit",:class=>"btn btn-success mr5 pull-right", :disable_with => "Submitting..."%>
        <%end%>
      </div>
    </div>
  </div>
</div>


<script>
  <%if params[:commit]=="Reject"%>
    $(document).ready(function(){
      $('form').on('submit',function(){
        $(this).find('.required_field').each(function(){
          if ($(this).val()=="")
          {
            $(".required_field").css('border-color', 'red');
            event.preventDefault();
          }
        });
      });
    });
  <%end%>
</script>
