<div class="title">
	Risk Control #<%=owner.get_id%>: <%=owner.title%>
</div>


<div class="content">

	<%=render "forms/print_fields", 
		:fields => RiskControl.get_meta_fields('show'), 
		:owner => owner, 
		:deidentified => deidentified%>
	<%=render "forms/print_descriptions", 
		:title => 'Descriptions', 
		:descriptions => owner.descriptions%>
	<%=render '/sras/print_cost', :owner => owner, :deidentified => deidentified%>
	
</div>

