<%=
  javascript_include_tag(
    'utility/collapse-panel2'
  )
%>

<%=render "access_controls/new_modal"%>
<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            Risk Control #<%=@risk_control.get_id%>: <%=@risk_control.title%>
          </div>

          <div class="top_buttons pull-right">
            <%= render '/forms/render_buttons', owner: @risk_control, env: :top %>
          </div>

        </div>
      </div>

      <div class="panel-body">
        <div class="col-xs-12 mb20">
          <%= render '/forms/render_buttons', owner: @risk_control, env: :inline %>
        </div>

        <%= render '/forms/show_fields', :fields => @fields, :record => @risk_control%>
        <%= render '/panels/show_panels', owner: @risk_control%>

      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function(){
    $(".modal").on("hidden.bs.modal", function(){
      $(".modal-content").html("");
    });

    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_risk_control_path(@risk_control)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
