<div class="col-xs-12">
  <div class="col-xs-12 alert alert-info alert-dismissible show" role="alert">
    <h4>
      <b>Instructions:</b>
      <button type="button" class="close pull-right mr20" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </h4>
    <p>
      Select the <b>Baseline Severity</b> and the <b>Baseline Probability</b> from the tables to see Risk.
    </p>
  </div>
</div>

<div class="form-group col-xs-12">
  <%=f.label :statement, "Notes"%>
  <%=f.text_area :statement, {:class => "form-control ml5", :rows => "2"}%>
</div>

<div class="col-xs-12 col-sm-12 col-md-6">
  <%=render "shared/#{AIRLINE_CODE}/form_baseline_risk"%>
  <%=render "shared/#{AIRLINE_CODE}/form_baseline_probability"%>
  <%=render "shared/#{AIRLINE_CODE}/risk_rating"%>
</div>
<div class="col-xs-12 col-sm-12 col-md-6">
  <%=render "shared/#{AIRLINE_CODE}/form_baseline_severity"%>
</div>
