<%print_special_matrix(owner)%>

<%if @print_risk.present? || @print_sub_risk.present? %>
    <div class="col-xs-12">
      <div class="sub_sub_title">Risk Assessment</div>
        <div class="content">
          <%if !@print_risk.nil?%>
            <div class="col-xs-6">
              <b>Baseline Severity: </b><%= @print_severity %></br>
              <b>Baseline Probability: </b><%= @print_probability %></br>
              <b>Baseline Risk: </b><%= @print_risk %></br></br>
            </div>
          <%end%>
          <%if !@print_sub_risk.nil?%>
            <div class="col-xs-6">
              <b>Mitigated Severity: </b><%= @print_sub_severity %></br>
              <b>Mitigated Probability: </b><%= @print_sub_probability %></br>
              <b>Mitigated Risk: </b><%= @print_sub_risk %></br>
            </div>
          <%end%>
        </div>
      </div>
    </div>
<%end%>
