<div class="col-xs-12 col-lg-12"%>
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Risk Assessment</b>
        <span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
      </div>
    </div>

    <div class="panel-body" style="display:none">
      <div class="row">
        <div class="col-xs-12">
          <%if can_change && show_btns && allow_mitigate%>
            <%=link_to "Mitigate Risk","#",:class=>"btn btn-warning pull-right ml5",:id=>"mitigate_btn","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg"%>
          <%end%>
          <%if can_change && show_btns && allow_baseline%>
            <%=link_to "Baseline Risk","#",:class=>"btn btn-info pull-right",:id=>"baseline_btn","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg"%>
          <%end%>
        </div>


        <div class="col-xs-12 mb20">
          <b>Notes:</b>
          <div class="col-xs-11 col-xs-offset-1">
            <%if owner.statement.present?%>
              <%=owner.statement.gsub(/\n/, '<br/>').html_safe%>
            <%end%>
          </div>
        </div>

        <div class="col-xs-12">
          <h4>
            <span class="label label-baseline">Baseline</span>
            <span class="label label-mitigated">Mitigated</span>
            <span class="label label-overlapped">Overlapped</span>
          </h4>
          <span class='glyphicon glyphicon-remove'></span><b> Baseline Risk Assessment</b>
          <span class='glyphicon glyphicon-ok'></span><b> Mitigated Risk Assessment</b>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <%=render "shared/#{BaseConfig.airline[:code]}/show_risk"             , :owner => owner %>
          <%=render "shared/#{BaseConfig.airline[:code]}/show_probability"      , :owner => owner %>
          <%=render "shared/#{BaseConfig.airline[:code]}/risk_rating"%>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <%=render "shared/#{BaseConfig.airline[:code]}/show_severity"         , :owner => owner %>
        </div>

      </div>
    </div>
  </div>
</div>



<style>
  .label-baseline{
    background-color: #AFEEFC;
    color: #404040;
  }
  .label-mitigated{
    background-color: #FCAFCB;
    color: #404040;
  }
  .label-overlapped{
    background-color: #CABCF6;
    color: #404040;
  }
</style>




<script>
  function load_data(){
    <%if owner.get_extra_severity.present? && owner.get_extra_probability.present?%>
      $(".severity_td<%=owner.class.name%>_<%=owner.id%>").each(function(){
        <%(0..@severity_table[:row_header].size - 1).each do |i|%>
          if ($(this).data('row') == <%=i%>){
            if($(this).data('column') == <%=owner.get_extra_severity[i]%>){
              $(this).data("status", "checked");
              $(this).css('background', '#AFEEFC');
            }
          }
        <%end%>
      });
      $('.probability_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
        <%(0..@probability_table[:row_header].size-1).each do |i|%>
          if ($(this).data('row') == <%=i%>){
            if($(this).data('column') == <%=owner.get_extra_probability[i]%>){
              $(this).data("status","checked");
              $(this).css('background','#AFEEFC');
            }
          }
        <%end%>
      });
    <%end%>
    <%if owner.get_mitigated_severity.present? && owner.get_mitigated_probability.present?%>
      $('.severity_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
        <%(0..@severity_table[:row_header].size - 1).each do |i|%>
          if ($(this).data('row') == <%=i%>){
            if($(this).data('column') == <%=owner.get_mitigated_severity[i]%>){
               $(this).data("mitigated","checked");
              <%if owner.get_extra_severity.present?%>
                if ($(this).data('column') == <%=owner.get_extra_severity[i]%>){
                  $(this).css('background', '#CABCF6');
                }else{
                  $(this).css('background', '#FCAFCB');
                }
              <%else%>
                $(this).css('background', '#FCAFCB');
              <%end%>
            }
          }
        <%end%>
      });
      $('.probability_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
        <%(0..@probability_table[:row_header].size - 1).each do |i|%>
          if ($(this).data('row') == <%=i%>){
            if($(this).data('column') == <%=owner.get_mitigated_probability[i]%>){
              $(this).data("mitigated", "checked");
              <%if owner.get_extra_probability.present?%>
                if ($(this).data('column') == <%=owner.get_extra_probability[i]%>){
                  $(this).css('background', '#CABCF6');
                }else{
                  $(this).css('background', '#FCAFCB');
                }
              <%else%>
                $(this).css('background', '#FCAFCB');
              <%end%>
            }
          }
        <%end%>
      });
    <%end%>
    calculate_risk();
  }



  function calculate_risk(){
    severities = []
    probabilities = []
    severity_checked = 0
    probability_checked = 0
    $('.severity_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if ($(this).data("status") === "checked"){
        severities.push($(this).data("column"));
        severity_checked++;
      }
    });
    $('.probability_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if ($(this).data("status") === "checked"){
        probabilities.push($(this).data("column"));
        probability_checked++;
      }
    });
    if (probability_checked > 0 && severity_checked > 0){
      set_risk(Math.min(...probabilities), Math.min(...severities));
    }


    severities = []
    probabilities = []
    severity_checked = 0
    probability_checked = 0
    $('.severity_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if ($(this).data("mitigated") === "checked"){
        severities.push($(this).data("column"));
        severity_checked++;
      }
    });
    $('.probability_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if ($(this).data("mitigated") === "checked"){
        probabilities.push($(this).data("column"));
        probability_checked++;
      }
    });
    if (probability_checked > 0 && severity_checked > 0){
      set_mitigated(Math.min(...probabilities), Math.min(...severities));
    }
  }



  function set_risk(row_index,column_index){
    $('.risk_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if($(this).data("row") == row_index && $(this).data("column") == column_index){
        $(this).html("<span class='glyphicon glyphicon-remove' style='color:black'></span>");
      }
    });
  }



  function set_mitigated(row_index,column_index){
    $('.risk_td<%=owner.class.name%>_<%=owner.id%>').each(function(){
      if($(this).data("row") == row_index && $(this).data("column") == column_index){
        $(this).append("<span class='glyphicon glyphicon-ok' style='color:black'></span>");
      }
    });
  }

  load_data();



</script>
