<style>
td,th{
		text-align: center!important;
	}
	td:hover {
		opacity: 0.8;
	}
</style>
<%=f.hidden_field :severity_after,:value=>"",:id=>"sev"%>
<%=f.hidden_field :likelihood_after,:value=>"",:id=>"like"%>
<div class="col-xs-12 mb20">
	<table class="table  table-bordered" >
		<thead>
			<tr>
				<th bgcolor="#C2DBEC" colspan="<%= @severity_table[:column_header].size+1 %>"><center><b>Severity Exercise</b></center></th>
			</tr>
			<tr>
				<%if @severity_table[:starting_space]%>
					<th bgcolor="white"></th>
				<%end%>
				<%@severity_table[:column_header].each do |header|%>
					<th><%=header%></th>
				<%end%>
			</tr>
		</thead>
		<tbody style="font-size:13px">
			<%@severity_table[:row_header].each_with_index do |row_header,row_index|%>
				<tr>
					<th bgcolor="#E7E7E7"><%=row_header%></th>
					<%@severity_table[:column_header].each_with_index do |column_header,column_index|%>
						<td class="mitigate_form_severity_td" data-row="<%=row_index%>" data-status="" data-column="<%=column_index%>"><%=@severity_table[:rows][row_index][column_index]%></td>
					<%end%>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>

<div class="col-xs-12 mb20">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th bgcolor="#C2DBEC" colspan="<%= @probability_table[:column_header].size+1 %>"><center><b>Probability Exercise</b></center></th>
			</tr>
			<tr>
				<%if @probability_table[:starting_space]%>
					<th bgcolor="white"></th>
				<%end%>
				<%@probability_table[:column_header].each do |header|%>
					<th><%=header%></th>
				<%end%>
			</tr>
		</thead>
		<tbody style="font-size:13px">
			<%@probability_table[:row_header].each_with_index do |row_header,row_index|%>
				<tr>
					<th bgcolor="#E7E7E7"><%=row_header%></th>
					<%@probability_table[:column_header].each_with_index do |column_header,column_index|%>
						<td class="mitigate_form_probability_td" data-row="<%=row_index%>" data-status="" data-column="<%=column_index%>"><%=@probability_table[:rows][row_index][column_index]%></td>
					<%end%>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>

<div class="col-xs-12 mb20">
	<table class="table table-bordered", style="table-layout: fixed;">
		<thead>
			<tr>
				<th bgcolor="#C2DBEC" colspan="<%= @risk_table[:column_header].size+1 %>"><center><b>Risk Matrix</b></center></th>
			</tr>
			<tr>
				<%if @risk_table[:starting_space]%>
					<th bgcolor="white"></th>
				<%end%>
				<%@risk_table[:column_header].each do |header|%>
					<th bgcolor="white"><%=header%></th>
				<%end%>
			</tr>
		</thead>
		<tbody>
			<%@risk_table[:row_header].each_with_index do |row_header,row_index|%>
				<tr>
					<th bgcolor="white"><%=row_header%></th>
					<%@risk_table[:column_header].each_with_index do |column_header,column_index|%>
						<td class="mitigate_form_risk_td" data-row="<%=row_index%>" data-status="" data-column="<%=column_index%>" style="background:<%=@risk_table[:rows][row_index][column_index]%>"></td>
					<%end%>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>

<div class="form-group col-xs-12">
	<%=f.label :statement,"Risk Assessment Comment"%>
	<%=f.text_area :statement,{:class=>"form-control ml5",:rows=>"5"}%>
</div>

<script>
	function load_data_mitigate_form(){
		<%if @target.get_mitigated_severity.present? && @target.get_mitigated_probability.present?%>
			$('.mitigate_form_severity_td').each(function(){
				<%(0..@severity_table[:row_header].size-1).each do |i|%>
					if ($(this).data('row')==<%=i%>){
						if($(this).data('column')==<%=@target.get_mitigated_severity[i]%>){
							$(this).data("status","checked");
							$(this).css('background','#FCAFCB');
						}
					}
				<%end%>
			});
			$('.mitigate_form_probability_td').each(function(){
				<%(0..@probability_table[:row_header].size-1).each do |i|%>
					if ($(this).data('row')==<%=i%>){
						if($(this).data('column')==<%=@target.get_mitigated_probability[i]%>){
							$(this).data("status","checked");
							$(this).css('background','#FCAFCB');
						}
					}
				<%end%>
			});	
			calculate_risk_mitigate_form();
		<%end%>
	}
</script>



<script>
	function initialize_mitigate_form() {  
	  
		$('.mitigate_form_severity_td').on('click',function(){
			if ($(this).data("status") === "checked"){         
				$(this).data("status","");
				$(this).css('background','none');
			} else {
				$(this).data("status","checked");
				$(this).css('background','#FCAFCB');
				row_id = $(this).data("row");
				column_id = $(this).data("column");
				$('.mitigate_form_severity_td').each(function(){
					if ($(this).data("row") == row_id && $(this).data("column") != column_id){
						$(this).data("status","");
						$(this).css('background','none'); 
					}
				});
			}
			calculate_risk_mitigate_form();    
		});

		$('.mitigate_form_probability_td').on('click',function(){
			if ($(this).data("status") === "checked"){
				$(this).data("status","");
				$(this).css('background','none');        
			}else{
				$(this).data("status","checked");          
				$(this).css('background','#FCAFCB');
				row_id = $(this).data("row");
				column_id = $(this).data("column");          
				$('.mitigate_form_probability_td').each(function(){
					if ($(this).data("row") == row_id &&  $(this).data("column") != column_id){
						$(this).data("status","");
						$(this).css('background','none');
					}
				});      
			}
			calculate_risk_mitigate_form();
		});
	}


	function calculate_risk_mitigate_form(){
		severities = []
		probabilities = []
		severity_checked = 0
		probability_checked = 0   
		$('.mitigate_form_severity_td').each(function(){
			if ($(this).data("status") === "checked"){
				severities.push($(this).data("column"));
				severity_checked++;   
			}
		});    
		$('.mitigate_form_probability_td').each(function(){
			if ($(this).data("status") === "checked"){
				probabilities.push($(this).data("column"));
				probability_checked++;
			}   
		});
		if (probability_checked > 0 && severity_checked > 0){        
			set_risk_mitigate_form(Math.min(...probabilities), Math.min(...severities));
		}else{
			clear_risk_mitigate_form();  
		}
	}


	function set_risk_mitigate_form(row_index,column_index){   
		 clear_risk_mitigate_form();
		 $('.mitigate_form_risk_td').each(function(){
			if($(this).data("row")==row_index && $(this).data("column")==column_index){          
				$(this).html("<span class='glyphicon glyphicon-ok' style='color:black'></span>");
				$('#sev').val(row_index);
				$('#like').val(column_index);
			 }    
		});
	}


	function clear_risk_mitigate_form(){   
		$('.mitigate_form_risk_td').each(function(){
				$(this).text("");
		});
	}



	$(document).ready(function(){
		initialize_mitigate_form();   
		load_data_mitigate_form();
		$('form').on('submit',function(){
			var severity_result= new Array(<%= @severity_table[:row_header].size %>);
			var probability_result= new Array(<%= @probability_table[:row_header].size %>);
			$('.mitigate_form_severity_td').each(function(){
				if ($(this).data('status') === "checked"){          
					severity_result[$(this).data("row")] = $(this).data("column");
				}
			});
			$('.mitigate_form_probability_td').each(function(){
				if ($(this).data('status')==="checked"){
					probability_result[$(this).data("row")]=$(this).data("column");
				}
			});     
			for (i = 0; i < severity_result.length; i++){
				$('form').append("<input name='<%=@target_name%>[<%=@severity_field%>][]' value="+severity_result[i]+" hidden></input>");
			}
			for (i = 0; i < probability_result.length; i++){
				$('form').append("<input name='<%=@target_name%>[<%=@probability_field%>][]' value="+probability_result[i]+" hidden></input>");
			}
			return true;
		});
	});
</script>