<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="panel <%=@cat.panel%> category-panel">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <%=@cat.title%>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>
    <div class="panel-body" style="display:none">

      <div class="row" id="fields">
        <div class="col-xs-12">
          <font style="color:blue;font-weight:bold"><%=@cat.description%></font>
        </div>
        <div class="col-xs-12">
          <%fields = @cat.fields.where(deleted: false, nested_field_id: nil).order(:field_order)%>
          <%category_fields_by_rows = group_by_column_size_and_nested_fields(fields: fields)%>

          <%category_fields_by_rows.each do |row| %>
            <div class="row is-flex">
              <%row.each do |field| %>

                <%=render "/submissions/field", is_nested_field: false, field: field, f: f%>

                <%if field.nested_fields.where(:deleted => false).present?%>
                  <div class="col-xs-12 nested_field_row">
                    <%field.nested_fields.where(:deleted => false).each do |nested_field|%>
                      <div class="nested_field
                        nested_field_<%=field.id%>
                        nested_field_<%=field.id%>_<%=nested_field.nested_field_value.parameterize%>"
                        style="display:none;">
                        <%=render "/submissions/field", is_nested_field: true, field: nested_field, f: f%>
                      </div>
                    <%end%>
                  </div>
                <%end%>

              <%end%>
            </div>
            <hr>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  #fields {
    margin: 0 15px;
  }

  .row.is-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .row.is-flex > .nested_field_row {
    flex-direction: row;
    justify-content: flex-start;
  }

  .graybox {
    padding: 15px 0;
    background-color: rgb(211,211,211, 0.15);
    border-radius: 5px;
  }

  .row.is-flex > .nested_field_row > .nested_field > .form-group {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>



<script>

  function update_nested_fields(field) {
    var field_id = $(field).attr("data-id");
    var field_value = $(field).find('option:selected').attr("data-option");
    //var field_value = $(field).val().trim().toLowerCase().replace(/[^a-zA-Z0-9 -]/, "").replace(/\s/g, "-");
    $(".nested_field_" + field_id).hide();
    $(".nested_field_" + field_id).parent().removeClass("graybox")
    $(".nested_field_" + field_id + "_" + field_value).show();
    $(".nested_field_" + field_id + "_" + field_value).parent().addClass("graybox")
  }


  $(document).ready(function(){

    $(".field_select").each(function(){
      update_nested_fields($(this));
    });

    $(".field_select").on("change", function(){
      update_nested_fields($(this));
    });

    $(".required_field").css('border-color', '');
    $(".required_field").closest('.form-group').find('label').css("color", "red");
    $(".required_field").closest('div.category-panel').find('.panel-title').css("color", "red");
    $(".required_field").closest('div.category-panel').find('.panel-title').value = "*" ;

  });
</script>
