<style>
body {
    font: normal 12px Verdana, Arial, sans-serif;
}
.category{
    border: 1px solid black;
    margin-bottom:10px;
    padding:3px;
}
.grid_block{
  display: inline-block;
    width: 300px;
    margin-bottom: 3px;
    margin-top: 2px;
}
.line_block{
  display: inline-block;
    width: 580px;
    margin-right: 5px;
    margin-left:  5px;
    margin-bottom: 5px;
    margin-top:5px;
}
</style>
<img src="file://#{Rails.root}/public/ProDIGIQ_small.png" alt="Company Logo"/>
<h2><%="#{@record.template.name} ##{@record.id}"%></h2></br></br>
<%if !@record.description.blank?%>
    <b>General Description: </b><%=@record.description%></br>
<%end%>

<%@template.categories.each do |cat|%>
  <%if cat.not_empty_for(@record)&&cat.print%>
        <div class="category">
        <h4><span style="color:red"><%=cat.title%></span></h4>
            <%cat.fields.each do |field|%>
                <%if field.print%>
                  <%value=@record.record_fields.where("fields_id=?",field.id).first.value%>
                  <%if value.present?%>
                <div class="<%= cat.title=='Narratives' ? 'line_block' : 'grid_block'%>"><b><%=field.label%> </b><%= (field.display_type=="checkbox" || field.display_type=="radio")? value.split(";").join(",  ") : value%></div>
              <%end%>
                <%end%>
            <%end%>
        </div>
  <%end%>
<%end%>
