<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>


<div class="panel panel-warning">
  <div class="panel-heading">
    <div class="panel-title">
      <b>Detailed Search</b><button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
  <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto">
    <%= form_tag submissions_path,:method=>"get" do%>
      <%=hidden_field_tag :detailed_search,true%>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <b>Template</b>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <%=select_tag :template_tag, options_from_collection_for_select(@templates,'id','name'), {:include_blank=>"", :class=>'form-control mb5',:id=>"temp_select"}%>
        </div>
      </div>



        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <b>Category:</b>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <b>Field:</b>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 value">
          <b>Value:</b>
        </div>


      <div class="row search_group">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <%=select_tag :cat_1, options_from_collection_for_select(@categories,'custom_id','title'), {:include_blank=>"", :class=>'form-control cat_select mb5'}%>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <%=select_tag :field_1, options_from_collection_for_select(@fields,'get_field_data_type','label'), {:include_blank=>"", :class=>'form-control field_select mb5'}%>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 value">
           <%=text_field_tag :value_1, nil, { :class=>'form-control mb5' }%>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 term input-group datetimerangepicker">
          <%= text_field_tag :start_date_1, (Time.zone.now - 1.weeks).beginning_of_day.strftime("%Y-%m-%d %H:%M"), class: "form-control field-datetime-autoposition cursor-pointer search_field", readonly: true %>
          <div class="input-group-addon">to</div>
          <%= text_field_tag :end_date_1, Time.zone.now.end_of_day.strftime("%Y-%m-%d %H:%M"), class: "form-control field-datetime-autoposition cursor-pointer search_field", readonly: true %>
        </div>
      </div>


      <div class="row search_group">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <%=select_tag :cat_2, options_from_collection_for_select(@categories,'custom_id','title'), {:include_blank=>"", :class=>'form-control cat_select mb5'}%>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <%=select_tag :field_2, options_from_collection_for_select(@fields,'get_field_data_type','label'), {:include_blank=>"", :class=>'form-control field_select mb5'}%>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 value">
           <%=text_field_tag :value_2,nil,{:class=>'form-control mb5'}%>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 term input-group datetimerangepicker">
          <%= text_field_tag :start_date_2, (Time.zone.now - 1.weeks).beginning_of_day.strftime("%Y-%m-%d %H:%M"), class: "form-control field-datetime-autoposition cursor-pointer search_field", readonly: true %>
          <div class="input-group-addon">to</div>
          <%= text_field_tag :end_date_2, Time.zone.now.end_of_day.strftime("%Y-%m-%d %H:%M"), class: "form-control field-datetime-autoposition cursor-pointer search_field", readonly: true %>
        </div>
      </div>


      <div class="row search_group">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <%=select_tag :cat_3, options_from_collection_for_select(@categories,'custom_id','title'), {:include_blank=>"", :class=>'form-control cat_select mb5'}%>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <%=select_tag :field_3, options_from_collection_for_select(@fields,'get_field_data_type','label'), {:include_blank=>"", :class=>'form-control field_select mb5'}%>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 value">
           <%=text_field_tag :value_3,nil,{:class=>'form-control mb5'}%>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 term input-group datetimerangepicker">
          <%= text_field_tag :start_date_3, (Time.zone.now - 1.weeks).beginning_of_day.strftime("%Y-%m-%d %H:%M"), class: "form-control field-datetime-autoposition cursor-pointer search_field", readonly: true %>
          <div class="input-group-addon">to</div>
          <%= text_field_tag :end_date_3, Time.zone.now.end_of_day.strftime("%Y-%m-%d %H:%M"), class: "form-control field-datetime-autoposition cursor-pointer search_field", readonly: true %>
        </div>
      </div>


      <%= submit_tag "Search", class:"ml5 btn btn-xl btn-success pull-right mt10"%>
    <%end%>
  </div>
</div>

<script>
  $(document).ready(function(){

    $('.cat_select option').hide();
    $('.field_select option').hide();
    $(".datetimerangepicker").hide();



    $("#temp_select").on('change',function(){
      $(".datetimerangepicker").hide();
      $(".value").show();
      temp_id = $(this).val();
      $('.field_select option').hide();
      $('.cat_select').val("");
      $('.field_select').val("");
      $('.cat_select option').each(function(){
        cat_ids = $(this).val().split("-");
        cat_temp = cat_ids[0];
        if (cat_temp != temp_id){
          $(this).hide();
        }else{
          $(this).show();
        }
      });
    });



    $(".cat_select").on('change',function(){
      $(this).closest(".search_group").find(".datetimerangepicker").hide();
      $(this).closest(".search_group").find(".value").show();
      cat_id = $(this).val().split("-")[1];
      $(this).closest(".search_group").find(".field_select").val("");
      $(this).closest(".search_group").find(".field_select option").each(function(){
        field_cat = $(this).val().split("-")[0];
        if (field_cat != cat_id){
          $(this).hide();
        }else{
          $(this).show();
        }
      });
    });



    $(".field_select").on('change', function(){
      console.log($(this).val());
      field_id = $(this).val().split("-")[1];
      field_data_type = $(this).val().split("-")[2];
      if (field_data_type.indexOf("date") !== -1){
        $(this).closest(".search_group").find(".value").hide();
        $(this).closest(".search_group").find(".datetimerangepicker").show();
      }else{
        $(this).closest(".search_group").find(".datetimerangepicker").hide();
        $(this).closest(".search_group").find(".value").show();
      }
    });



  });
</script>



<style type="text/css">

  .datetimerangepicker{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }

  .field-datetime-autoposition{
    background-color: #ffffff!important;
  }

</style>
