<%if sub_field.present? && sub_field.value.present?%>
  <%size = "mb20 col-xs-" + field.display_size.to_s%>
  <div class="<%=size%>">
    <%if field.label.html_safe.present?%>
      <b><%=field.label.html_safe%>: </b>
    <%end%>
    <%value = sub_field.present? ? sub_field.value : ""%>
    <%if (field.display_type == "checkbox" || field.display_type == "radio")%>
      <%value.split(";").each do |x|%>
        <div class="col-xs-12">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span> <%=x%>
        </div>
      <%end%>
    <%elsif field.display_type == "textarea"%>
      </br><%=value.gsub(/\n/, '<br/>').html_safe%>
    <%elsif field.display_type == "employee"%>
      <%if value.match(/\A[+-]?\d+?(\.\d+)?\Z/)%>
        <%if CONFIG::GENERAL[:sabre_integration].present?%>
          <%#=User.where(employee_number: value).first.full_name rescue nil%>
          <%#=value%>
          <%if value.present?%>
            <%user_name = User.where(employee_number: value).first.full_name rescue nil%>
            <%value = "(#{value})"%>
            <%if user_name.present?%>
              <%value = user_name + " #{value}" %>
            <%end%>
            <%=value%>
          <%end%>
        <%else%>
          <%=User.find(value).full_name%>
        <%end%>
      <%else%>
        <%=value%>
      <%end%>
    <%elsif field.display_type == "map"%>
      <%if sub_field.points.present?%>
        <%=render :partial => 'shared/static_map', locals: {points: sub_field.points}%>
      <%else%>
        <b>No Points Selected</b>
      <%end%>
    <%else%>
      <%if field.data_type == "datetime"%>
        <%=datetime_to_string(DateTime.parse value) rescue ''%>
      <%else%>
        <%=value%>
      <%end%>
    <%end%>
  </div>
<%end%>
