<%xs_val = field.display_size.to_s%>
<%if xs_val.to_i < 6 %>
  <%xs_val = "6"%>
<%end%>
<%size = "col-md-" + field.display_size.to_s +
  " col-xs-" + xs_val + " col-sm-" +
  field.display_size.to_s + " col-lg-" +
  field.display_size.to_s%>

<div class="<%=size%> form-group">

  <label>
    <%=field.get_label.present? ? field.get_label.html_safe : nil%>
  </label>

  <% required = field.required? ? "required_field" : "" %>

  <%if @action == "new"%>
    <%=f.fields_for :submission_fields do |rf|%>
      <%=rf.hidden_field :fields_id, :value => field.id%>

      <% if field.display_type == "text"%>
        <%if field.data_type == 'date'%>
          <%field_class = 'field-date form-control'%>
        <%elsif field.data_type == 'datetime'%>
          <%field_class = 'field-datetime form-control'%>
        <%else%>
          <%field_class = 'form-control'%>
        <%end%>
        <%=rf.text_field :value,
          {
            :class => required + " " + field_class + " " + field.element_class,
            :placeholder => field.label,
            :id=>field.element_id
          }%>


      <%elsif field.display_type == "textarea"%>
        <%=rf.text_area :value,
          {
            :class => required+" form-control"+" "+field.element_class,
            :rows => 4,
            :id => field.element_id
          }%>


      <%elsif field.display_type == "dropdown"%>
        <%if field.data_type == "timezone"%>
          <div class="input-group">
            <%=rf.select :value,
              field.getOptions,
              {:include_blank => ""},
              {
                :class=>'form-control tz atz timezone_field field_select' + required,
                :id => "#{field.id}"
              }%>
            <span class="input-group-addon tc">All</span>
          </div>
        <%else%>
          <%if field.get_label == "Please answer the question about whether this report should be submitted to NASA ASRS?" ||
            field.get_label == "If this report is not accepted into ASAP, should it be returned to normal incident reporting?" ||
            field.get_label == "Can a deidentified version of this report be published in internal airline safety publications?"%>
            <%= rf.select :value, options_for_select(field.getOptions, "Yes"), { :include_blank => ""}, { :class => 'form-control'+" "+field.element_class, :id => field.element_id}%>
          <%else%>
            <%= rf.select :value, options_for_select(field.getOptions), { :include_blank => ""}, { "data-id" => field.id, :class => required+' field_select form-control'+" "+field.element_class, :id => field.element_id}%>
          <%end%>
        <%end%>
      <%elsif field.display_type == "checkbox"%>
        </br>
        <div class="<%=field.display_size == 12 && field.show_label ? '' : 'smallselect'%> row <%=field.show_label ? 'mt5' : ''%>">
          <div class="col-xs-12">
            <%field.getOptions.each do |option|%>
              <div class="col-xs-6">
                <label class="checkbox">
                  <%=rf.check_box :value,
                    {:multiple => true, :class => "checkbox"},
                    option, nil%>
                  <%=option%>
                </label>
              </div>
            <%end%>
          </div>
        </div>
      <%elsif field.display_type == "radio"%>
        <div  class="<%=field.display_size == 12 && field.show_label  ? '' : 'smallselect'%> <%=field.show_label ? 'mt5' : ''%>">
          <div class="col-xs-12">
            <%field.getOptions.each do |option|%>
              <div class="col-xs-6">
                <label class="radio">
                  <%=rf.radio_button :value, option%>
                  <%=option%>
                </label>
              </div>
            <%end%>
          </div>
        </div>
      <%elsif field.display_type == "employee"%>
        <div class="input-group">
          <%=text_field_tag field.get_label, "", {:class=>"form-control ml5 emp "+required,:readonly=>true,:id=>"emp#{field.id}"}%>
          <%=rf.hidden_field :value, :id=>"employee-select#{field.id}"%>
          <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info emp_button","data-toggle"=>"modal","data-target"=>".emp_modal", :id=>"#{field.id}"%></span>
        </div>
      <%elsif field.display_type == "airport"%>
        <div class="input-group">
          <%=text_field_tag field.get_label, "", {:class=>"form-control ml5 airport "+required,:readonly=>true,:id=>"airport#{field.id}"}%>
          <%=rf.hidden_field :value, :id=>"airport-select#{field.id}"%>
          <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info airport_button","data-toggle"=>"modal","data-target"=>".airport_modal", :id=>"#{field.id}"%></span>
        </div>
      <%elsif field.display_type == "datalist"%>
        <%= rf.text_field :value, {:list => "#{field.id}", :class => "field_select form-control "+required, "data-id" => field.id}%>
        <datalist id="<%=field.id%>">
          <% field.getOptions.each do |opt|%>
            <option value="<%=opt%>"></option>
          <%end%>
        </datalist>
      <%end%>
    <%end%>




  <%else%>
    <%@record_field = @record.submission_fields.where("fields_id = ?", field.id).first%>
    <%if @record_field.nil?%>
      <%@record_field = SubmissionField.create({:submissions_id => @record.id, :fields_id => field.id})%>
    <%end%>


    <%=f.fields_for :submission_fields, @record_field do |rf|%>
      <% if field.display_type == "text"%>
        <% if field.element_id == "duty_on_time" || field.element_id == "duty_off_time"%>
          <td>
            <%=rf.text_field :value,
              {:class=> 'form-control'+" "+field.element_class,
                :placeholder=>field.label,
                :id=>field.element_id}%>
          </td>
        <%else%>
          <td>
            <%=rf.text_field :value,
              {:class=> "field-"+field.data_type+' form-control'+" "+field.element_class,
                :placeholder=>field.label,
                :id=>field.element_id}%>
          </td>
        <%end%>

      <%elsif field.display_type == "textarea"%>
        <%=rf.text_area :value,
          {:class=>required+" form-control"+" "+field.element_class,
          :rows => 4,
          :placeholder=>field.label,
          :id=>field.element_id}%>

      <%elsif field.display_type == "dropdown"%>
        <%if field.data_type == "timezone"%>
          <div class="input-group">
            <%=rf.select :value,
              options_for_select(field.getOptions, @record_field.value),
              {:include_blank=>""},
              {:class=>'form-control tz atz'+" "+field.element_class,:selected=>@record_field.value}%>
            <span class="input-group-addon tc">All</span>
          </div>
        <%else%>
          <%=rf.select :value,
            field.getOptions,
            {:include_blank=>""},
            {:class=>'form-control'+" "+field.element_class,:selected=>@record_field.value,:id=>field.element_id}%>
        <%end%>
      <%elsif field.display_type == "checkbox"%>
        </br>
        <div class="<%=field.display_size == 12 && field.show_label  ? '' : 'smallselect'%> row <%=field.show_label ? 'mt5' : ''%>">
          <%current_options = @record_field.value.split(";") rescue ''%>
          <div class="col-xs-12">
            <%field.getOptions.each do |option|%>
              <div class="col-xs-6">
                <label class="checkbox">
                  <%=rf.check_box :value,
                    {
                      :multiple => true,
                      :checked => current_options.include?(option)
                    },
                    option,
                    nil%>
                  <%=option%>
                </label>
              </div>
            <%end%>
          </div>
        </div>


      <!-- Render Radio button groups -->
      <%elsif field.display_type == "radio"%>
        <div class="<%=field.display_size == 12 && field.show_label  ? '' : 'smallselect'%> row <%=field.show_label ? 'mt5' : ''%>">  <div class="col-xs-12">
            <%field.getOptions.each do |option|%>
              <label class="radio">
                <div class="col-xs-6">
                  <%=rf.radio_button :value, option%>&nbsp<%=option%>
                </div>
              </label>
            <%end%>
          </div>
        </div>


      <!-- Render Employee select fieds -->
      <%elsif field.display_type == "employee"%>
        <div class="input-group">
          <%if (@record_field.value.match(/\A[+-]?\d+?(\.\d+)?\Z/) rescue false)%>
            <%@record_field.value = User.find(@record_field.value).full_name rescue ''%>
          <%end%>
          <%=text_field_tag field.get_label, "", {:class=>"form-control ml5 emp",:readonly=>true,:id=>"emp#{field.id}", :value=> @record_field.value}%>
          <%=rf.hidden_field :value, :id=>"employee-select#{field.id}"%>
          <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info emp_button","data-toggle"=>"modal","data-target"=>".emp_modal", :id=>"#{field.id}"%></span>
        </div>


      <!-- Render Airport fields -->
      <%elsif field.display_type == "airport"%>
        <div class="input-group">
          <%=text_field_tag field.get_label, "", {:class=>"form-control ml5 airport",:readonly=>true,:id=>"airport#{field.id}", :value=> @record_field.value}%>
          <%=rf.hidden_field :value, :id=>"airport-select#{field.id}"%>
          <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info airport_button","data-toggle"=>"modal","data-target"=>".airport_modal", :id=>"#{field.id}"%></span>
        </div>


      <!-- Render Datalist fields -->
      <%elsif field.display_type == "datalist"%>
        <%=rf.text_field :value, {
          :list => "#{field.id}",
          :class => 'form-control ' + field.element_class,
          :id => field.element_id}%>
        <datalist id="<%=field.id%>">
          <%field.getOptions.each do |opt|%>
            <option value="<%=opt%>"></option>
          <%end%>
        </datalist>

      <%else%>
        No!
      <%end%>

    <%end%>

  <%end%>
</div>







