<%size = is_nested_field ? 'col-xs-12' : calculate_column_size(field: field)%>

<div class="<%=size%> form-group">

  <label>
    <%=field.get_label.present? ? field.get_label.html_safe : nil%>
  </label>

  <%sabre_map = field.sabre_map.present? ? "#{field.sabre_map}" : ""%>

  <% required = field.required? ? "required_field" : "" %>

  <%if @action == "new"%>
    <%=f.fields_for :submission_fields do |rf|%>
      <%=rf.hidden_field :fields_id, :value => field.id%>

      <% if widget && field.display_type == "airport" %>
        <% field.display_type = "text" %>
      <% end %>

      <% if field.display_type == "text"%>
        <%if field.data_type == 'date'%>
          <%field_class = 'field-date form-control'%>
        <%elsif field.data_type == 'datetime'%>
          <%field_class = 'field-datetime form-control'%>
        <%else%>
          <%field_class = 'form-control'%>
        <%end%>
        <%=rf.text_field :value,
          {:class => required + " " + field_class + " " + field.element_class,
          :placeholder => field.label,
          :id=>field.element_id,
          "sabre-map" => sabre_map}%>
      <%elsif field.display_type == "textarea"%>
        <%=rf.text_area :value,
          {:class => required + " form-control " + field.element_class,
          :rows => 4,
          :maxlength => field.max_length,
          :placeholder => field.max_length.present? ? "please limit to #{field.max_length} characters" : '',
          :id => field.element_id,
          "sabre-map" => sabre_map}%>
        <% if field.max_length.present? %>
          <h6 id="countchar" class="pull-right">0/<%= field.max_length %></h6>
        <% end %>
      <%elsif field.display_type == "dropdown"%>
        <%if field.data_type == "timezone"%>
          <div class="input-group">
            <%=rf.select :value,
              field.getOptions,
              {:include_blank => ""},
              {:class => 'form-control tz atz timezone_field field_select ' + required,
              :id => "#{field.id}"}%>
            <span class="input-group-addon tc">All</span>
          </div>
        <%else%>
          <%if field.get_label == "Please answer the question about whether this report should be submitted to NASA ASRS?" ||
            field.get_label == "If this report is not accepted into ASAP, should it be returned to normal incident reporting?" ||
            field.get_label == "Can a deidentified version of this report be published in internal airline safety publications?"%>
            <%= rf.select :value,
              options_for_select(field.getOptions, "Yes"),
              { :include_blank => ""},
              { :class => 'form-control'+" "+field.element_class, :id => field.element_id}%>
          <%else%>
            <%=rf.select :value,
              options_for_select(field.getOptions.map { |option| [option, {'data-option' => option.parameterize}]}),
              {:include_blank => ""},
              {"data-id" => field.id,
              :class => required + ' field_select form-control ' + field.element_class,
              :id => field.element_id}%>
          <%end%>
        <%end%>
      <%elsif field.display_type == "checkbox"%>
        <div class="<%=field.display_size == 12%> row <%=field.show_label ? 'mt5' : ''%> <%=required%>" name="<%=field.max_options%>">
          <div class="col-xs-12">
            <%field.getOptions.each do |option|%>
              <div class="col-xs-6">
                <label class="checkbox">
                  <%=rf.check_box :value,
                  {:multiple => true, :class => "checkbox_mul field_cb_select", 'data-option' => option.parameterize, 'data-id' => field.id},
                  option, nil%>
                  <%=option%>
                </label>
              </div>
            <%end%>
          </div>
        </div>
      <%elsif field.display_type == "radio"%>
        <div  class="<%=field.display_size == 12%> <%=field.show_label ? 'mt5' : ''%> <%=required%>">
          <div class="col-xs-12">
            <%field.getOptions.each do |option|%>
              <div class="col-xs-6">
                <label class="radio">
                  <%=rf.radio_button :value, option, :class => "radio_req field_rb_select", 'data-option' => option.parameterize, 'data-id' => field.id%>
                  <%=option%>
                </label>
              </div>
            <%end%>
          </div>
        </div>
      <%elsif field.display_type == "employee"%>
        <div class="input-group">
          <%=text_field_tag field.get_label, "", {:class=>"form-control ml5 emp "+required,:readonly=>true,:id=>"emp#{field.id}","sabre-map" => sabre_map}%>
          <%=rf.hidden_field :value, :id=>"employee-select#{field.id}"%>
          <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info emp_button","data-toggle"=>"modal","data-target"=>".emp_modal", :id=>"#{field.id}"%></span>
        </div>
      <%elsif field.display_type == "airport"%>
        <div class="input-group">
          <%=text_field_tag field.get_label, "",
            {:class => "form-control ml5 airport " + required,
              :readonly => true,
              :id => "airport#{field.id}",
              "sabre-map" => sabre_map}%>
          <%=rf.hidden_field :value, :id => "airport-select#{field.id}"%>
          <span class="input-group-btn">
            <%=link_to "...", "#",
              :class => "btn btn-info airport_button",
              "data-toggle" => "modal",
              "data-target" => ".airport_modal",
              :id => "#{field.id}"%>
          </span>
        </div>
      <%elsif field.display_type == "map"%>
        <div class="input-group">
          <%=text_field_tag field.get_label, "",
            {:class => "form-control ml5 map " + required,
              :readonly => true,
              :id => "map#{field.id}"}%>
          <%=rf.hidden_field :value, :id => "map-select#{field.id}"%>
          <span class="input-group-btn">
            <%=link_to "...", "#",
              :class => "btn btn-info map_button",
              :id => "#{field.id}"%>
          </span>
        </div>
        <div hidden id="pin-template" name="<%=field.id%>">
          <%=rf.fields_for :points, Point.new do |pf|%>
            <div class="pin-container unsaved">
              <%=pf.hidden_field :lat, class: 'pin-lat'%>
              <%=pf.hidden_field :lng, class: 'pin-lng'%>
              <%=pf.hidden_field :map_type, class: 'pin-map-type'%>
            </div>
          <%end%>
        </div>
        <div hidden id="pin-holder" name="<%=field.id%>">
          <%=rf.fields_for :points, Point.new do |pf|%>
          <%end%>
        </div>
      <%elsif field.display_type == "datalist"%>
        <%= rf.text_field :value,
          {:list => "#{field.id}",
          :class => "field_select form-control " + required,
          "data-id" => field.id,
          "sabre-map" => sabre_map}%>
        <datalist id="<%=field.id%>">
          <% field.getOptions.each do |opt|%>
            <option value="<%=opt%>"></option>
          <%end%>
        </datalist>
      <%end%>
    <%end%>




  <%else%>
    <%@record_field = @record.submission_fields.where("fields_id = ?", field.id).first%>
    <%if @record_field.nil?%>
      <%@record_field = SubmissionField.create({:submissions_id => @record.id, :fields_id => field.id})%>
    <%end%>


    <%=f.fields_for :submission_fields, @record_field do |rf|%>
      <% if field.display_type == "text"%>
        <% if field.element_id == "duty_on_time" || field.element_id == "duty_off_time"%>
          <td>
            <%=rf.text_field :value,
              {:class=> required + ' form-control ' + field.element_class,
                :placeholder=>field.label,
                :id=>field.element_id}%>
          </td>
        <%else%>
          <td>
            <%=rf.text_field :value,
              {:class=> "field-" + field.data_type + ' form-control ' + field.element_class + ' ' + required,
                :placeholder=>field.label,
                :id=>field.element_id,
                "sabre-map" => sabre_map}%>
          </td>
        <%end%>

      <%elsif field.display_type == "textarea"%>
        <%=rf.text_area :value,
          {:class => required + " form-control " + field.element_class,
          :rows => 4,
          :placeholder=>field.label,
          :id=>field.element_id,
          "sabre-map" => sabre_map}%>

      <%elsif field.display_type == "dropdown"%>
        <%if field.data_type == "timezone"%>
          <div class="input-group">
            <%=rf.select :value,
              options_for_select(field.getOptions, @record_field.value),
              {:include_blank => ""},
              {:class => required + ' form-control tz atz ' + field.element_class, :selected => @record_field.value}%>
            <span class="input-group-addon tc">All</span>
          </div>
        <%else%>
          <%=rf.select :value,
            field.getOptions.map { |option| [option, {'data-option' => option.parameterize}] },
            {:include_blank => ""},
            {:class => 'field_select form-control ' + required + " " + field.element_class,
            :selected => @record_field.value,
            "data-id" => field.id,
            :id => field.element_id}%>
        <%end%>
      <%elsif field.display_type == "checkbox"%>
        </br>
        <div class="<%=field.display_size == 12%> row <%=field.show_label ? 'mt5' : ''%> <%=required%>" name="<%=field.max_options%>">
          <%current_options = @record_field.value.split(";") rescue ''%>
          <div class="col-xs-12">
            <%field.getOptions.each do |option|%>
              <div class="col-xs-6">
                <label class="checkbox">
                  <%=rf.check_box :value,
                    {
                      :multiple => true,
                      :checked => current_options.include?(option),
                      :class => "checkbox_mul field_cb_select",
                      'data-option' => option.parameterize,
                      'data-id' => field.id
                    },
                    option,
                    nil%>
                  <%=option%>
                </label>
              </div>
            <%end%>
          </div>
        </div>


      <!-- Render Radio button groups -->
      <%elsif field.display_type == "radio"%>
        <div class="<%=field.display_size == 12%> row <%=field.show_label ? 'mt5' : ''%> <%=required%>">
          <div class="col-xs-12">
            <%field.getOptions.each do |option|%>
              <label class="radio">
                <div class="col-xs-6">
                  <%=rf.radio_button :value, option, :class => "radio_req field_rb_select", 'data-option' => option.parameterize, 'data-id' => field.id%>&nbsp<%=option%>
                </div>
              </label>
            <%end%>
          </div>
        </div>


      <!-- Render Employee select fieds -->
      <%elsif field.display_type == "employee"%>
        <div class="input-group">
          <%if (@record_field.value.match(/\A[+-]?\d+?(\.\d+)?\Z/) rescue false)%>
            <%if CONFIG::GENERAL[:sabre_integration].present?%>
              <%display_emp = " (#{@record_field.value})"
                user_name = User.where(employee_number: @record_field.value).first.full_name rescue nil
                if user_name.present?
                  display_emp = user_name + display_emp
                end
              %>
              <%@record_field.value = display_emp%>
            <%else%>
              <%@record_field.value = User.find(@record_field.value).full_name rescue ''%>
            <%end%>
          <%end%>
          <%=text_field_tag field.get_label, "",
            {:class => "form-control ml5 emp " + required,
              :readonly => true,
              :id => "emp#{field.id}",
              "sabre-map" => sabre_map,
              :value =>  @record_field.value}%>
          <%=rf.hidden_field :value, :id=>"employee-select#{field.id}"%>
          <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info emp_button","data-toggle"=>"modal","data-target"=>".emp_modal", :id=>"#{field.id}"%></span>
        </div>


      <!-- Render Airport fields -->
      <%elsif field.display_type == "airport"%>
        <div class="input-group">
          <%=text_field_tag field.get_label, "",
            {:class=>"form-control ml5 airport " + required,
              :readonly => true,
              :id => "airport#{field.id}",
              "sabre-map" => sabre_map,
              :value => @record_field.value}%>
          <%=rf.hidden_field :value, :id=>"airport-select#{field.id}"%>
          <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info airport_button","data-toggle"=>"modal","data-target"=>".airport_modal", :id=>"#{field.id}"%></span>
        </div>

      <!-- Render Map fields -->
      <%elsif field.display_type == "map"%>
        <div class="input-group">
          <%=text_field_tag field.get_label, "",
            {:class=>"form-control ml5 map " + required,
              :readonly => true,
              :id => "map#{field.id}",
              :value => @record_field.value}%>
          <%=rf.hidden_field :value, :id=>"map-select#{field.id}"%>
          <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info map_button", :id=>"#{field.id}"%></span>
          <div hidden id="pin-template" name="<%=field.id%>">
            <%=rf.fields_for :points, Point.new do |pf|%>
              <div class="pin-container unsaved">
                <%=pf.hidden_field :lat, class: 'pin-lat'%>
                <%=pf.hidden_field :lng, class: 'pin-lng'%>
                <%=pf.hidden_field :map_type, class: 'pin-map-type'%>
              </div>
            <%end%>
          </div>
          <div hidden id="pin-holder" name="<%=field.id%>">
            <%=rf.fields_for :points, rf.object.points do |pf|%>
              <div class="pin-container" data-id=<%=pf.object.id%>>
                <%=pf.hidden_field :_destroy, class: 'pin-destroy'%>
                <%=pf.hidden_field :lat, class: 'pin-lat'%>
                <%=pf.hidden_field :lng, class: 'pin-lng'%>
                <%=pf.hidden_field :map_type, class: 'pin-map-type'%>
              </div>
            <%end%>
          </div>
        </div>

      <!-- Render Datalist fields -->
      <%elsif field.display_type == "datalist"%>
        <%=rf.text_field :value, {
          :list => "#{field.id}",
          :class => required + ' form-control ' + field.element_class,
          :id => field.element_id,
          "sabre-map" => sabre_map}%>
        <datalist id="<%=field.id%>">
          <%field.getOptions.each do |opt|%>
            <option value="<%=opt%>"></option>
          <%end%>
        </datalist>

      <%else%>
        No!
      <%end%>

    <%end%>

  <%end%>
</div>







