<%=form_for @owner do |x|%>
  <%=x.fields_for :comments,@comment do |f|%>
    <div class="panel-warning">
      <div class="panel-heading">
        <div class="panel-title">New Notes
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button></div>
      </div>
      <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto">

          <div class="form-group col-xs-12">
            <%=f.label :content,"Notes"%>
            <%=f.text_area :content,:class=>"form-control",:rows=>4%>
            <%if @owner.anonymous?%>
              <%=f.hidden_field :user_id,:value=>''%>
            <%else%>
              <%=f.hidden_field :user_id,:value=>current_user.id%>
            <%end%>
          </div>
          <div class="col-xs-12 mr5 mt5">
            <%=x.submit "Add Notes",
              :class => "btn btn-success pull-right mr10",
              :disable_with => "Adding..."%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>
