<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"%>
  <div class="panel <%=@cat.panel%>">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b><%=@cat.title%></b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
      </div>
    </div>
    <div class="panel-body" style="display:none" >
      <div class="row" id="fields" style="word-wrap: break-word">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table id="observation_phases_table" class="table table-hover table-striped table-bordered" width="100%">
              <thead>
                <tr>
                  <%BaseConfig.observation_phases.each do |x|%>
                    <th><%=x%></th>
                  <%end%>
                </tr>
              </thead>
              <tbody>
                <%@cat.fields.group_by(&:element_id).each do |element_id, arr|%>
                  <tr>
                    <th><%=arr.first.label%></th>
                    <%arr.each do |field|%>

                      <%if @action == "new"%>
                        <%f.fields_for :submission_fields do |rf|%>
                          <%= rf.hidden_field :fields_id, :value => field.id %>
                          <% required = field.required? ? "required_field" : "" %>
                          <%if field.display_type == "dropdown"%>
                            <td><%= rf.select :value, options_for_select(field.getOptions), { :include_blank => ""}, {:class => required + ' form-control ' + field.element_class, :id => field.element_id}%></td>
                          <%elsif field.display_type == "text"%>
                            <td><%=rf.text_field :value, { :class => required+ " form-control " +field.element_class, :placeholder => field.label, :id=>field.element_id}%></td>
                          <%end%>
                        <%end%>

                      <%else%>
                        <%@record_field = @record.submission_fields.where(:fields_id => field.id).first%>
                        <%=f.fields_for :submission_fields, @record_field do |rf|%>
                          <%if field.display_type == "dropdown"%>
                            <td>
                              <%=rf.select :value, field.getOptions, {:include_blank => ""}, {:class => 'form-control ' + field.element_class, :selected => @record_field.value, :id => field.element_id}%>
                              <%=hidden_field_tag :option_value, @record_field.value, {:class => "select_value " + field.element_class, :id => field.element_id}%>
                            </td>

                          <%elsif field.display_type == "text"%>
                            <td>
                              <%=rf.text_field :value, {:class => "field-" + field.data_type + ' form-control' + " " + field.element_class, :placeholder => field.label, :id => field.element_id}%>
                            </td>
                          <%end%>
                        <%end%>
                      <%end%>
                    <%end%>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
  .smallselect {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
</style>


