<div class="title">
  Submission <%="##{owner.get_id}: #{owner.template.name} - #{owner.get_description}"%>
</div>

<div class="content">

  <%=render "forms/print_fields",
    :fields => Submission.get_meta_fields(*@meta_field_args),
    :owner => owner,
    :deidentified => deidentified%>


  <div class="col-xs-12">
    <div class="col-xs-12">
      <hr>
    </div>

    <%owner.template.categories.order(:category_order).each do |cat|%>

      <%if cat.id == 338%>
        <div class="category">
          <div class="sub_sub_title"><%=cat.title%></div>
          <table id="observation_phases_table" class="table table-bordered" width="100%">
            <thead>
              <tr>
                <%BaseConfig.observation_phases.each do |x|%>
                  <th><%=x%></th>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <%cat.fields.group_by(&:element_id).each do |element_id, arr|%>
                <%if owner.submission_fields.where(:fields_id => arr.first.id).present? &&
                  owner.submission_fields.where(:fields_id => arr.first.id).first.value.present?%>
                  <tr>
                    <th><%=arr.first.label%></th>
                    <%arr.each do |x|%>
                      <%submission_fields = owner.submission_fields.where(:fields_id => x.id).first%>
                      <td><%=submission_fields.value%></td>
                    <%end%>
                  </tr>
                <%end%>
              <%end%>
            </tbody>
          </table>
        </div>

      <%elsif cat.not_empty_for(owner) && (cat.print || !deidentified)%>
        <div class="content">
          <div class="sub_sub_title"><%=cat.title%></div>
          <%cat.fields.order(:field_order).each do |field|%>
            <%if field.print || !deidentified%>
              <%value = owner.submission_fields.where("fields_id = ?", field.id).first%>
              <%if value.present?%>
                <%value = value.print_value%>
                <%if value.present?%>
                  <%if cat.title == "Narratives" %>
                    <b><%=field.label%>:</br> </b><%=value.gsub(/\n/, '<br/>').html_safe%></br>
                  <%else%>
                    <b><%=field.label%>: </b>
                    <%if field.display_type == "employee"%>
                      <%if value.match(/\A[+-]?\d+?(\.\d+)?\Z/)%>
                        <%=User.find(value).full_name%>
                      <%else%>
                        <%=value%>
                      <%end%>
                    <%else%>
                      <%=value%>
                    <%end%>
                    </br>
                  <%end%>
                <%end%>
              <%end%>
            <%end%>
          <%end%>
        </div>
      <%end%>

    <%end%>
  </div>

</div>
