<%= stylesheet_link_tag "/plugins/tables/datatables-1.10.16/datatables.min.css" %>
<%= javascript_include_tag "/plugins/tables/datatables-1.10.16/datatables.min.js" %>
<%= javascript_include_tag "//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js" %>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"%>
  <div class="panel <%=@cat.panel%>">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b><%=@cat.title%></b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
      </div>
    </div>
    <div class="panel-body" style="display:none" >
      <div class="row" id="fields" style="word-wrap: break-word">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table id="observation_phases_table" class="table table-hover table-striped table-bordered" width="100%">
              <thead>
                <tr>
                  <%CONFIG::SR::OBSERVATION_PHASES.each do |x|%>
                    <th><%=x%></th>
                  <%end%>
                </tr>
              </thead>
              <tbody>
                <%@cat.fields.group_by(&:element_id).each do |element_id, arr|%>
                  <%if @record.submission_fields.where(:fields_id => arr.first.id).present? && @record.submission_fields.where(:fields_id => arr.first.id).first.value.present?%>
                    <tr>
                      <th><%=arr.first.label%></th>
                      <%arr.each do |x|%>
                        <%submission_field = @record.submission_fields.where(:fields_id => x.id).first%>
                        <td><%=submission_field.value%></td>
                      <%end%>
                    </tr>
                  <%end%>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
  .smallselect {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
</style>



<script>
  $(function(){
    $('#observation_phases_table').DataTable({
      dom: "<'row'<'col-xs-6'l><'col-sm-6'f>>" +
           "<'row'<'col-sm-12'tr>>" +
           "<'row'<'col-sm-5'i><'col-sm-7'p>>" +
           "<'row'<'col-sm-12'B>>",
      buttons: [
        'copy', 'csv', 'excel', 'print'
      ],
      "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
      "iDisplayLength": 10,
      "aaSorting": [[0, "asc"]],
      "columnDefs": [{ type: 'natural', targets: 0 }],
    });
  });
</script>
