<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/datepicker.css"/>

<%template_full_access = current_user.has_template_access(@record.template.name).include? 'viewer_template_id'%>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">

    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>

    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              <%="#{@record.template.name}"%> Submission #<%=@record.get_id%>: <%="#{@record.get_description}"%> <b style="color:darkred; font-size:18px"><%=@record.confidential? ? "(This Submission is CONFIDENTIAL)" : ''%></b>
            </div>
            <div class="top_buttons pull-right">

              <%= render '/forms/render_buttons',
                owner: @record,
                env: :top,
                op: { template_access: @template_access }
              %>

            </div>
          </div>
        </div>
        <div class="panel-body collapse in" id="form_body">
          <div class="col-xs-12 mb20">
            <%= render partial: "shared/instructions", :locals => { :owner => @record, :action_name => action_name, :include_workflow_diagram => CONFIG.hierarchy[session[:mode]][:display_workflow_diagram] }%>
            <%if current_user.id == @record.created_by.id ||
              current_user.has_access('submissions', 'admin', admin: CONFIG::GENERAL[:global_admin_default], strict: true)%>
              <span data-toggle="modal" data-target=".bs-example-modal-lg">
                <%=link_to "Add Additional Notes","#",
                  :class => "btn btn-success pull-right mr10 mb5",
                  :id => 'comment_btn',
                  "data-toggle"=>"tooltip",
                  "data-placement"=>"top",
                  :title => "Add additional notes. Analysts will be notified when new notes are added."%>
              </span>
            <%end%>
            <%if !@osha_module && CONFIG.sr::GENERAL[:submission_corrective_action_root_cause].present?%>
              <%show_ca_btn = @record.record.status != 'Closed'%>
              <%=link_to 'Add Corrective Action',
                new_corrective_action_path(submission: @record.id, record: @record.records_id),
                id: 'ca-btn',
                :class => 'btn btn-success pull-right mr5 mb5',
                disable_with: 'Redirecting...',
                style: "display: #{show_ca_btn ? 'block' : 'none'}"%>
            <%end%>
          </div>

          <%= render "forms/show_fields",
            fields: Submission.get_meta_fields(*@meta_field_args),
            record: @record %>


          <%if @record.comments.present?%>
            <div class="col-xs-12 col-lg-12"%>
              <div class="panel panel-lightskyblue">
                <div class="panel-heading click-heading collapsed">
                  <div class="panel-title">
                    <b>Additional Notes</b>
                    <span class="pull-right clickable">
                      <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                    </span>
                  </div>
                </div>
                <div class="panel-body" style="display:none">
                  <div class="row">
                    <%=render "show_notes", :owner => @record%>
                  </div>
                </div>
              </div>
            </div>
          <%end%>

          <%@template.categories.order(:category_order).each do |c|%>
            <%@cat = c%>

              <%if @cat.id == 338%>
                <%=render "show_observation_phases_category", deid:!template_full_access%>
              <%elsif @cat.not_empty_for(@record)%>
                <%=render "category", deid:!template_full_access%>
              <%end%>

          <%end%>

          <%if CONFIG.sr::GENERAL[:submission_corrective_action_root_cause].present?%>
            <%if @record.corrective_actions.present?%>
              <div class="col-xs-12 col-lg-12">
                <div class="panel panel-info">
                  <div class="panel-heading click-heading collapsed">
                    <div class="panel-title">
                      <b>Corrective Actions</b>
                      <span class="pull-right clickable">
                        <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                      </span>
                    </div>
                  </div>
                  <div class="panel-body" style="display:none">
                    <div class="row">
                      <%@no_footer = true%>
                      <%=render "/corrective_actions/actions"%>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>

          <%=render '/panels/show_panels', :owner => @record%>
          <%=render "/forms/attachments_show", :owner => @record, :show_btn => false%>
          <%=render "/records/transactions", :owner => @record%>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#comment_btn').on('click',function(){
      $.get("<%=comment_submission_path(@record)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

  });
</script>
