<div class="col-xs-12 col-lg-12">
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Checklist</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>
    <div class="panel-body" style="display:none">
      <%if !['Completed', 'Pending Approval'].include? owner.status%>
        <%=link_to "Upload Checklist", "#",
          :class => "btn btn-success mr5 mb5",
          :id => 'checklist_btn',
          "data-toggle" => "modal",
          "data-target" => ".bs-example-modal-lg"%>
        <%=link_to "Add Item", "#",
          :class => "btn btn-success mr5 mb5",
          :id => 'requirement_btn',
          "data-toggle" => "modal",
          "data-target" => ".bs-example-modal-lg"%>
        <%=link_to "Update Checklist",
          "#",
          :class => "btn btn-warning pull-right mr5 mb5",
          :id => 'update_checklist_btn',
          "data-toggle" => "modal",
          "data-target" => ".bs-example-modal-lg"%>
      <%end%>

      <%if type == "audit"%>
        <%=link_to "Download",
          download_checklist_audit_path(owner,:format=>"csv"),
          :class => "btn btn-success mr5 mb5",
          :target => "_blank"%>
      <%elsif type == "evaluation"%>
        <%=link_to "Download",
          download_checklist_evaluation_path(owner,:format=>"csv"),
          :class=>"btn btn-success mr5 mb5",
          :target=>"_blank"%>
      <%elsif type == "inspection"%>
        <%=link_to "Download",
          download_checklist_inspection_path(owner,:format=>"csv"),
          :class=>"btn btn-success mr5 mb5",
          :target=>"_blank"%>
      <%end%>
      <table class="table table-striped table-bordered" id="item_table">
        <thead>
          <tr>
            <%ChecklistItem.get_meta_fields('index').each do |h|%>
              <th><%=h[:title]%></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <%owner.items.each do |i|%>
            <tr>
              <%ChecklistItem.get_meta_fields('index').each do |h|%>
                <td><%=i.send(h[:field]) rescue ''%></td>
              <%end%>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script>
  $(function(){
    $('#item_table').dataTable();
  });
</script>
