<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading" style="overflow-wrap: break-word; word-wrap: break-word; hyphen: auto">
        <div class="panel-title">
          <div class="top_text">
            <%="Audit ##{@owner.get_id}: #{@owner.title}"%>
          </div>
          <div class="top_buttons pull-right">
            <%= render '/forms/btns/render_btns',
              btns: [
                'delete',
                'override_status',
                'edit',
                'sign',
                'deid_pdf',
                'pdf',
                'viewer_access',
                'send_message',
                'expand_all',
                'private_link'
              ],
              owner: @owner %>

          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="col-xs-12 mb15">
          <%= render '/forms/btns/render_btns',
            btns: [
              'assign',
              'complete',
              'approve_reject',
              'reopen',
              'contact',
              'task',
              'cost',
              'finding',
              'comment'
            ],
            owner: @owner %>

        </div>

        <%=render '/forms/show_fields', :fields => @fields, :record => @owner%>
        <%=render '/checklists/checklist_types', :owner => @owner, :type => 'audit'%>

        <%=render "/ims/show_task", :owner => @owner, :fields => SmsTask.get_meta_fields('show')%>
        <%=render "/ims/show_contact", :owner => @owner, :fields => Contact.get_meta_fields('show')%>

        <%=render '/findings/show_all', :owner => @owner, :show_btn => false%>
        <%=render '/forms/cost', :owner => @owner%>

        <%=render 'forms/signatures/show_signatures', owner: @owner %>


        <%=render "/forms/show_comment", :owner => @owner%>
        <%=render "/forms/attachments_show", :owner => @owner%>
        <%=render "/records/transactions", :owner => @owner%>

      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){

    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_audit_path(@owner)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });


    $('#item_table').dataTable();
  });
</script>
