<%=
  javascript_include_tag(
    'utility/collapse-panel2',
    'utility/jquery.dataTables.min',
    'utility/dataTables.bootstrap.min',
    'utility/dataTables.buttons.min',
    'utility/format-builder',
    'utility/validate-form.js',
    'utility/extra_fields'
  )
%>

<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading" style="overflow-wrap: break-word; word-wrap: break-word; hyphen: auto">
        <div class="panel-title">
          <div class="top_text">
            <%="Audit ##{@owner.get_id}: #{@owner.title}"%>
          </div>
          <div class="top_buttons pull-right">
            <%= render '/forms/render_buttons', owner: @owner, env: :top %>

          </div>
        </div>
      </div>

      <div class="panel-body">
        <%= render partial: "shared/workflow_image_instructions", :locals => { :owner => @owner, :action_name => params[:action] }%>

        <div class="col-xs-12 mb15">
          <%= render '/forms/render_buttons', owner: @owner, env: :inline %>

        </div>

        <%=render '/forms/show_fields', :fields => @fields, :record => @owner%>
        <%=render '/checklists/checklist_types', :owner => @owner, :type => 'audit'%>
        <%=render '/panels/show_panels', owner: @owner%>

      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_audit_path(@owner)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('.att_btn_checklist_row').click(function() {
      var checklist_row_id = $(this).data('id')
      $.get(`/checklist_rows/${checklist_row_id}/new_attachment`, function(data) {
        $('.modal-content').html(data)
        $(window).trigger('resize')
      })
    })


    $('#item_table').dataTable();

  });
</script>
