<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/timezone-control.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          <%="#{action_name.titleize} Corrective Action"%>
        </div>
      </div>

      <div class="panel-body" id="form_body">
        <%= form_for @corrective_action,:html => {:multipart => true} do |f|%>
          <% if CONFIG::GENERAL[:display_workflow_diagram] %>
            <div class="col-xs-12">
              <%instruction = "<p>"
                instruction = instruction + "<button id ='toggleWorkflowImageButton' type='button' class='btn btn-light' >Show Workflow Image</button>"
                instruction = instruction + "</p>"
                instruction = instruction + "<img id='workflowImage' class = 'workflowImg' height=800 width= 100% >"
              %>
              <%=render "shared/instructions",
                :instruction => instruction%>
            </div>
          <% end %>
          <%if action_name == "new"%>
            <%=f.hidden_field :created_by_id, :value => current_user.id%>
          <%end%>
          <%=render "shared/privilege_form", :target => "corrective_action[privileges][]", :owner => @corrective_action, :f => f%>

          <%if params[:report].present?%>
            <%=f.hidden_field :reports_id, :value => @report.id%>
          <%end%>
          <%if params[:record].present?%>
            <%=f.hidden_field :records_id, :value => @record.id%>
          <%end%>
          <%if CONFIG.sr::GENERAL[:submission_corrective_action_root_cause].present? && params[:submission].present?%>
            <%=f.hidden_field :submissions_id, :value => @submission.id%>
          <%end%>

          <%=render "/forms/form_fields", :f => f, :fields => @fields, :record => @corrective_action%>
          <%=render '/forms/attachments_form', :f => f, :owner => @corrective_action%>

          <div class="mt10 mr10">
            <%= f.submit "#{action_name == 'new' ? 'Submit' : 'Update'}",
              :class => "btn btn-success pull-right",
              :disable_with => "Saving..."%>

            <%=link_to "Cancel",
              action_name == "edit" ? corrective_action_path(@corrective_action) : @report.present? ? report_path(@report) : record_path(@record),
              :id => "cancel-btn",
              :class => "mr5 btn btn-default pull-right",
              :confirm => 'Are you sure?'%>
            <%#=link_to "Group Access",
              "#",
              :class => "mr5 btn btn-info pull-right",
              "data-toggle" => "modal",
              "data-target" => "#group_access"%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<style>
  #workflowImage{
    display: none;
    margin-top: 10px;
  }
</style>

<script>
   $("#toggleWorkflowImageButton").on('click', function(event){
        event.preventDefault();
        <% if CONFIG::GENERAL[:display_workflow_diagram] &&  action_name == 'new' %>
            $("#workflowImage").attr('src', "<%= CONFIG.sr::WORKFLOW_IMAGES[@corrective_action.class.name].select {|key| action_name.include? key}.values[0] %>" )
        <% end %>

        <% if CONFIG::GENERAL[:display_workflow_diagram] &&  action_name == 'edit' %>
          <% status_field_name = CONFIG.sr::HIERARCHY[:objects][@corrective_action.class.name][:fields][:status][:field]%>
          <% curr_status = @corrective_action.send(status_field_name).downcase %>
          $("#workflowImage").attr('src', "<%=CONFIG.sr::WORKFLOW_IMAGES[@corrective_action.class.name].select {|key| curr_status.include? key}.values[0]%>")
        <% end %>

        if($("#workflowImage").is(":visible")){
          $("#workflowImage").delay(1).hide("slow")
          $("#toggleWorkflowImageButton").html("Show Workflow Image")
        }else{
          $("#workflowImage").delay(1).show("slow")
          $("#toggleWorkflowImageButton").html("Hide Workflow Image")
        }
    });
</script>