<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            <%="Corrective Action ##{@corrective_action.get_id}"%>
          </div>
          <div class="top_buttons pull-right">
            <% if current_user.has_access('corrective_actions', 'destroy', admin: CONFIG::GENERAL[:global_admin_default], strict: true) %>
              <%=link_to "Delete",
                corrective_action_path(@corrective_action),
                :method => "delete",
                :confirm => "Are you sure?",
                :class => "pull-right btn btn-danger mb5"%>
            <%end%>

            <% if current_user.has_access('corrective_actions', 'override', admin: CONFIG::GENERAL[:global_admin_default], strict: true) %>
              <%=link_to 'Override Status', '#',
                :class => 'btn btn-danger pull-right mr5 mb5',
                :id => 'override_status_btn',
                "data-toggle" => "modal",
                "data-target" => ".bs-example-modal-lg"%>
            <%end%>

            <%if current_user.has_access('corrective_actions','edit', admin: CONFIG::GENERAL[:global_admin_default]) &&
              @corrective_action.status != "Completed"%>
              <%=link_to "Edit",
                edit_corrective_action_path(@corrective_action),
                :class => "btn btn-warning pull-right mr5 mb5",
                :disable_with => "Editing..." %>
            <%end%>

            <%=link_to "De-ID PDF",
              print_corrective_action_path(
                @corrective_action,
                :deidentified => true,
                :format => :pdf),
              'data-toggle' => 'tooltip',
              title: 'View De-Identified PDF',
              :class => "btn btn-darkturquoise pull-right mr5 mb5"%>
            <%=link_to "PDF",
              print_corrective_action_path(
                @corrective_action,
                :deidentified => false,
                :format => :pdf),
              :class => "btn btn-darkturquoise pull-right mr5 mb5"%>


            <%if @report.present?%>
              <%=link_to "View Event",
                report_path(@corrective_action.report),
                :class => "btn btn-info pull-right mr5 mb5",
                :disable_with => "Redirecting..."%>
            <%end%>
            <%if @record.present?%>
              <%=link_to "View Report",
                record_path(@corrective_action.record),
                :class => "btn btn-info pull-right mr5 mb5",
                :disable_with => "Redirecting..."%>
            <%end%>
            <%=render '/forms/btns/attach_in_message_btn', owner: @corrective_action if @corrective_action_edit_access%>
            <%=link_to "Expand All",
              "#",
              :class => "btn btn-default mr5 expandall pull-right mb5"%>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <%= render partial: "shared/instructions", :locals => { :owner => @corrective_action, :action_name => params[:action], :include_workflow_diagram => CONFIG.hierarchy[session[:mode]][:display_workflow_diagram_module] }%>
        
        <div class="col-xs-12 mb15">

            <% if @corrective_action.status == "New" %>
              <% if @corrective_action_edit_access && (current_user.has_access('corrective_actions', 'admin', admin: CONFIG::GENERAL[:global_admin_default], strict: false) ||
                  @corrective_action.created_by_id == current_user.id) %>
                <%=link_to 'Assign', '#',
                  :id => 'assign_btn',
                  :class => 'btn btn-warning pull-right mr5',
                  'data-toggle' => 'modal',
                  'data-target' => '.bs-example-modal-lg'%>
              <%end%>

            <%elsif @corrective_action.status == 'Assigned'%>
              <% if current_user.has_access('corrective_actions', 'admin', admin: CONFIG::GENERAL[:global_admin_default], strict: false) ||
                @corrective_action.responsible_user_id == current_user.id %>
                <%=link_to "Complete", '#',
                  :class => "btn btn-warning pull-right complete_btn mr5 mb5",
                  :id => 'complete',
                  'data-toggle' => 'modal',
                  'data-target' => '.bs-example-modal-lg'%>
                <%=link_to 'Request Extension', '#',
                  :class => 'btn btn-info pull-right mr5 mb5',
                  :id => 'extension_btn',
                  'data-toggle' => 'modal',
                  'data-target' => '.bs-example-modal-lg'%>
              <%end%>

            <%elsif @corrective_action.status == "Pending Approval"%>
              <% if @corrective_action_edit_access && (current_user.has_access('corrective_actions', 'admin', admin: CONFIG::GENERAL[:global_admin_default], strict: false) ||
                @corrective_action.approver_id == current_user.id) %>
                <%=link_to "Approve", "#",
                  :class => "btn btn-success pull-right mr5 approve_btn mb5",
                  :id => 'approve',
                  "data-toggle" => "modal",
                  "data-target" => ".bs-example-modal-lg"%>
                <%=link_to "Reject", "#",
                  :class => "btn btn-danger pull-right mr5 approve_btn mb5",
                  :id => 'reject',
                  "data-toggle" => "modal",
                  "data-target" => ".bs-example-modal-lg"%>
              <%end%>
            <%elsif @corrective_action.status == "Completed" && @corrective_action_edit_access%>
              <%=link_to 'Schedule Verification', '#',
                :class => 'btn btn-info pull-right mr5',
                :id => 'verification_btn',
                'data-toggle' => 'modal',
                'data-target' => '.bs-example-modal-lg'%>
            <%end%>
            <%=link_to "Add #{CONFIG::LABELS[:corrective_actions] || 'Comment'}", "#",
              :class => "btn btn-success pull-right mr5 mb5",
              :id => 'comment_btn',
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>
        </div>


        <%=render "/forms/show_fields",                           :record   => @corrective_action, :fields => @fields%>
        <%=render '/panels/show_panels',                          :owner    => @corrective_action%>
        <%=render('/extension_requests/show_extension_requests',  :records  => @corrective_action.extension_requests) if @corrective_action.extension_requests.present?%>
        <%=render('/verifications/show_verifications',            :records  => @corrective_action.verifications, verification_edit_access: @corrective_action_edit_access) if @corrective_action.verifications.present?%>
        <%=render "/forms/show_comment",                          :owner    => @corrective_action%>
        <%=render "/forms/attachments_show",                      :owner    => @corrective_action, show_btn: @corrective_action_edit_access%>
        <%=render "records/transactions",                         :owner    => @corrective_action%>

      </div>
    </div>
  </div>
</div>


<script>
  $(function(){

    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_corrective_action_path(@corrective_action)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('#comment_btn').on('click',function(){
      $.get("<%=comment_corrective_action_path(@corrective_action)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('#override_status_btn').on('click',function(){
      $.get("<%=override_status_corrective_action_path(@corrective_action)%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('#assign_btn').on('click',function(){
      $.get("<%=assign_corrective_action_path(@corrective_action)%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $(".complete_btn").on('click', function(){
      var commit=$(this).attr('id');
      $.get("<%=complete_corrective_action_path(@corrective_action)%>?commit=" + commit,
        function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('.approve_btn').on('click',function(){
      var commit=$(this).attr('id');
      $.get("<%=approve_corrective_action_path(@corrective_action)%>?commit=" + commit,
        function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $("#extension_btn").on("click", function(){
      var commit=$(this).attr('id');
      $.get("<%=request_extension_corrective_action_path(@corrective_action)%>?commit=" +
        commit,
        function(data){
        $('.modal-content').html(data);
        $(window).trigger('resize');
      });
    });

    $("#verification_btn").on("click", function(){
      var commit=$(this).attr('id');
      $.get("<%=schedule_verification_corrective_action_path(@corrective_action)%>?commit=" +
        commit,
        function(data){
        $('.modal-content').html(data);
        $(window).trigger('resize');
      });
    });

  });
</script>
