<html>
  <body>
    Hello <%=@user.first_name%>,
    <br>
    <br>
    <% if CONFIG.sr::GENERAL[:direct_content_message] && @message.class.name == "Message" %>
      You have a new message in ProSafeT.
      <br>
      <br>
      --------------------------------------------
      <br>
      <%= "From #{@message.getAll('send_from').gsub("(Me)", '')}"%><br>
      <%= "#{ @message.getAll('send_from_email')}"%><br>
      <br>
      <% message = @message.content.gsub("\n", "<br>") %>
      <%=message.html_safe rescue ''%>
      <br>
      <br>
      --------------------------------------------
    <% else %>
      <% notice = @notice.content.gsub("\n", "<br>") %>
      <%=notice.html_safe rescue ''%>
    <% end %>

    <br>
    <br>
    To view/respond to the message, please login to the ProSafeT Portal.
    <%=@link.html_safe%>
    <br>
    <br>
    Thank you,<br>
    ProSafeT System<br>
    <%= image_tag(attachments["logo.png"].url, :size => "145x35")%>
    <br><br>
    NOTICE:<br>
    This is an automated message. Please do not respond to this message. If you need assistance, please contact us at <a href='https://support.prosafet.com/home'>support.prosafet.com</a>.<br>
    If you received this message in error, notify us through the support portal. Thank you.
  </body>
</html>
