<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<script type="text/javascript" src="/javascripts/utility/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/timezone-control.js"></script>
<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>
<script type="text/javascript" src=<%=@action == "new" ? "/javascripts/srm_meetings/table-control.js" : "/javascripts/srm_meetings/edit-control.js"%>></script>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          <b><%=@action.titleize + " Meeting"%></b>
        </div>
      </div>
      <div class="panel-body" id="form_body">
        <%= form_for @meeting,:html => {:multipart => true} do |f|%>
          <% if CONFIG::GENERAL[:display_workflow_diagram] %>
            <div class="col-xs-12">
              <%instruction = "<p>"
                instruction = instruction + "<button id ='toggleWorkflowImageButton' type='button' class='btn btn-light' >Show Workflow Image</button>"
                instruction = instruction + "</p>"
                instruction = instruction + "<img id='workflowImage' class = 'workflowImg' height=800 width= 100% >"
              %>
              <%=render "shared/instructions",
                :instruction => instruction%>
            </div>
          <% end %>
          <%if @action=="new"%>
            <%=f.fields_for :host,Host.new do |ff|%>
              <%=ff.hidden_field :users_id,:value=>current_user.id%>
            <%end%>
          <%end%>
          <%if params[:type].present?%>
            <%=hidden_field_tag :type,params[:type]%>
          <%end%>

          <%=render "forms/form_fields",
            :f => f,
            :record => @meeting,
            :fields => Meeting.get_meta_fields('form')%>

          <div class="row">

            <!-- SRAS -->
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="panel panel-lightskyblue mt10">
                <div class="panel-heading">
                  <div class="panel-title">
                    <b>SRAs</b>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <%=render "add_sra"%>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="panel panel-lightskyblue mt10">
                <div class="panel-heading">
                  <div class="panel-title">
                    <b>Participants</b>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <%=render "meetings/invite"%>
                  </div>
                </div>
              </div>
            </div>

            <%=render '/forms/attachments_form', :f => f, :owner => @meeting%>
          </div>


          <div class="col-xs-12 mr10 mt10">
            <%= f.submit "#{action_name == 'new' ? 'Submit' : 'Update'}",
              :class => "btn btn-success pull-right",
              :disable_with => "Saving..."%>
            <%=link_to "Cancel",
              action_name == "edit" ? srm_meeting_path(@meeting) : srm_meetings_path,
              :id => "cancel-btn",
              :class => "mr5 btn btn-default pull-right",
              :confirm => 'Are you sure?'%>
            <%#=link_to "Group Access",
              "#",
              :class => "mr5 btn btn-info pull-right",
              "data-toggle" => "modal",
              "data-target" => "#group_access"%>
          </div>

        <%end%>
      </div>
    </div>
  </div>
</div>

<style>
  #workflowImage{
    display: none;
  }
</style>

<script>
  $(document).ready(
    function(){
      
      $("#toggleWorkflowImageButton").on('click', function(event){
          event.preventDefault();
          <% if CONFIG::GENERAL[:display_workflow_diagram] && action_name == 'new' %>
              $("#workflowImage").attr('src', "<%= CONFIG.srm::HIERARCHY[:objects]['Meeting'][:workflow_images].select {|key| action_name.include? key}.values[0]%>")
          <% end %>

          <% if CONFIG::GENERAL[:display_workflow_diagram] && action_name == 'edit' %>
            <% status_field_name = CONFIG.srm::HIERARCHY[:objects]['Meeting'][:fields][:status][:field]%>
            <% curr_status = @meeting.send(status_field_name).downcase %>
            $("#workflowImage").attr('src', "<%=CONFIG.srm::HIERARCHY[:objects]['Meeting'][:workflow_images].select {|key| curr_status.include? key}.values[0]%>")
          <% end %>

          if($("#workflowImage").is(":visible")){
            $("#workflowImage").delay(1).hide("slow")
            $("#toggleWorkflowImageButton").html("Show Workflow Image")
          }else{
            $("#workflowImage").delay(1).show("slow")
            $("#toggleWorkflowImageButton").html("Hide Workflow Image")
          }
      });

      $(".add_btn").on("click",function(){
        if ($(this).text()=="Add"){
          $(this).text("Added");
          $(this).removeClass("btn-info").addClass("btn-success");
        }else{
          $(this).text("Add");
          $(this).removeClass("btn-success").addClass("btn-info");
        }
      });

      var dt=$('#sras').DataTable({
        "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
        "iDisplayLength": 5
      });

      $('form').on('submit',function(){
        var count=0;
        var form=$(this);
        dt.rows().nodes().to$().each(function(){
          //console.log(count+"="+$(this).attr("report"));
          if ($(this).find(".add_btn").text()=="Added"){
            form.append('<input type="hidden" name=sras['+count+ '] value='+$(this).attr("sra")+'>');
            count++;
          }
        });
        return true;
      });
    }
  );
</script>
