<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>


<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            Meeting #<%=@meeting.get_id%>
          </div>
          <div class="top_buttons pull-right">
            <% if current_user.has_access('srm_meetings','destroy', admin: CONFIG::GENERAL[:global_admin_default]) %>
              <%=link_to 'Delete',srm_meeting_path(@meeting),:method=>"delete",:confirm=>'Please confirm that you want to cancel this meeting. The cancellation cannot be reverted',:class=>"btn btn-danger pull-right"%>
            <%end%>
            <% if current_user.has_access('srm_meetings','edit', admin: CONFIG::GENERAL[:global_admin_default]) &&
              @meeting.status != "Closed" &&
              @meeting.has_user(current_user) %>
              <%=link_to "Edit", edit_srm_meeting_path(@meeting), :id=>"edit-btn", :class=>"btn btn-warning pull-right mr5", :disable_with => "Editing..."%>
            <%end%>
            <%=link_to "PDF",
              interpret_srm_meeting_path(@meeting, act: :pdf, format: :pdf, deidentified: false),
              :class => "btn btn-darkturquoise pull-right mr5"%>
            <%=link_to "Expand All","#",:class=>"btn btn-default mr5 expandall pull-right"%>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="col-xs-12 mb15">

          <%if current_user.has_access("srm_meetings","edit") &&
                @meeting.status == "Open" &&
                @meeting.has_user(current_user)%>
            <%=link_to 'Close Meeting', '#',
              :class => 'btn btn-danger pull-right',
              :id => 'close',
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>
            <%=link_to "Add SRAs","#",
              :class=>"btn btn-success pull-right mr5 mb5",
              :id=>"sra_btn",
              "data-toggle"=>"modal",
              "data-target"=>".bs-example-modal-lg"%>
            <%=link_to "Add Comment","#",
              :class=>"btn btn-success pull-right mr5 mb5",
              :id=>'comment_btn',
              "data-toggle"=>"modal",
              "data-target"=>".bs-example-modal-lg"%>

          <%elsif @meeting.status == "Closed"%>
            <%=link_to "Reopen Meeting",
              reopen_srm_meeting_path(@meeting),
              :class=>"btn btn-warning pull-right mr5 mb5",
              :confirm => "Are you sure?",
              :disable_with => "Reopening..."%>
          <%end%>

        </div>

        <%if @current_inv.present?%>
          <div class="col-xs-12">
            <%=render "meetings/invitation_form"%>
          </div>
        <%end%>

        <div class="col-xs-12">
          <div class="panel panel-lightskyblue">
            <div class="panel-heading">
              <div class="panel-title">
                <b>Overview</b>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <%=render "forms/show_fields",
                  :record => @meeting,
                  :fields => @fields%>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <%=render "sras"%>
        </div>

        <%=render "/forms/show_comment",:owner=>@meeting%>
        <div class="col-xs-12">
          <div class="panel panel-lightskyblue">
            <div class="panel-heading click-heading collapsed">
              <div class="panel-title">
                <b>Participants</b>
                <span class="pull-right clickable">
                  <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                </span>
              </div>
            </div>
            <div class="panel-body" style="display:none">
              <div class="pull-right mb10">
                <%if current_user.has_access("srm_meetings","edit") &&
                  @meeting.status == "Open" &&
                  @meeting.has_user(current_user)%>
                  <%=link_to "Send Agenda/Notice", "#",
                    :id => "message-btn",
                    :class => "btn btn-info drop",
                    "data-toggle" => "modal",
                    "data-target" => ".bs-example-modal-lg"%>
                <%end%>
              </div>
              <%=render "/meetings/invite"%>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <%=render "/forms/attachments_show", :owner => @meeting%>
          </div>
          <div class="col-xs-12">
            <%=render "records/transactions", :owner => @meeting%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%=render "access_controls/new_modal"%>


<script>
  function delete_report(report_id,btn)
  {
    $.get("/reports/"+report_id+"/carryover",function(data){
      $(btn).closest('tr').hide(1000);
    });
  }
  $(document).ready(function(){
    $("#message-btn").on('click',function(){
      $.get("<%=message_meeting_path(@meeting)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_meeting_path(@meeting)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#comment_btn').on('click',function(){
      $.get("<%=comment_meeting_path(@meeting)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#sra_btn').on('click',function(){
      path="<%=add_sras_srm_meeting_path(@meeting)%>";
      $.get(path,function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#close').on('click',function(){
      var commit=$(this).attr('id');
      $.get("<%=close_srm_meeting_path(@meeting)%>?commit="+commit, function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
