<%=
  javascript_include_tag(
    'utility/collapse-panel2'
  )
%>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            <%="Safety Plan ##{@safety_plan.get_id}: #{@safety_plan.title}"%>
          </div>

          <div class="top_buttons pull-right">
            <%= render '/forms/render_buttons', owner: @safety_plan, env: :top %>
          </div>

        </div>
      </div>

      <div class="panel-body" id="form_body">
        <%= render partial: "shared/instructions", :locals => { :owner => @safety_plan, :action_name => params[:action], :include_workflow_diagram => true }%>
        <div class="col-xs-12 mb20">
          <%= render '/forms/render_buttons', owner: @safety_plan, env: :inline %>
        </div>

        <%= render '/forms/show_fields', :fields => @fields, :record => @safety_plan%>
        <%= render '/panels/show_panels', owner: @safety_plan%>

      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_safety_plan_path(@safety_plan, :evaluate => false)%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

  });
</script>
