<div class="title">
  Meeting #<%=owner.get_id%>
</div>

<div class="content">

  <%=render "forms/print_fields",
    :fields => Meeting.get_meta_fields('show'),
    :owner => owner,
    :deidentified => false%>

  <div class="col-xs-12">
    <hr>
    <div class="title">Included SRAs</div>
    <div class="content">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <%Sra.get_meta_fields('index').each do |h|%>
              <th><%=h[:title]%></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <%owner.sras.each do |sra|%>
            <tr>
              <%Sra.get_meta_fields('index').each do |h|%>
                <td><%=render '/forms/show_field', :record => sra, :field_hash => h%></td>
              <%end%>
            </tr>
          <%end%>
        </tbody>
      </table>

      <% if CONFIG::GENERAL[:add_attachment_in_pdf] %>
        <%= render '/pdfs/print_attachments', owner: owner%>
      <%end%>
    </div>
  </div>

</div>
