<div class='col-xs-12 wrap'>
  <%if !(defined?(first_print) && first_print)%>
    <hr>
  <%end%>
  <%owner_class_name = owner.class.name%>
  <%name_mapping = CONFIG::OBJECT_NAME_MAP[owner_class_name]%>
  <%owner_name = name_mapping.present? ? name_mapping : owner_class_name%>
  <%if defined?(source_of_input) && source_of_input%>
    <div class='title'> Source of Input: </div>
    <div class='col-xs-12 sub_title'>
      <%="#{owner_name} ##{owner.get_id}: #{owner.title}"%>
    </div>
  <%else%>
    <div class='title'>
      <%="#{owner_name} ##{owner.get_id}: #{owner.title}"%>
    </div>
  <%end%>
  <div class="content">
    <%=render "pdfs/print_fields",
      :fields => Record.get_meta_fields(*@meta_field_args),
      :owner => owner,
      :deidentified => deidentified%>

    <%if !(defined?(source_of_input) && source_of_input)%>

      <div class="col-xs-12">
        <%owner.template.categories.order(:category_order).each do |cat|%>

          <%if cat.id == 338%>
            <div class="category">
              <div class="sub_sub_title"><%=cat.title%></div>
              <table id="observation_phases_table" class="table table-bordered" width="100%">
                <thead>
                  <tr>
                    <%CONFIG.sr::OBSERVATION_PHASES.each do |x|%>
                      <th><%=x%></th>
                    <%end%>
                  </tr>
                </thead>
                <tbody>
                  <%cat.fields.group_by(&:element_id).each do |element_id, arr|%>
                    <%if owner.record_fields.where(:fields_id => arr.first.id).present? &&
                      owner.record_fields.where(:fields_id => arr.first.id).first.value.present?%>
                      <tr>
                        <th><%=arr.first.label%></th>
                        <%arr.each do |x|%>
                          <%record_fields = owner.record_fields.where(:fields_id => x.id).first%>
                          <td><%=record_fields.value%></td>
                        <%end%>
                      </tr>
                    <%end%>
                  <%end%>
                </tbody>
              </table>
            </div>


          <%elsif cat.not_empty_for(owner) && (cat.print || !deidentified)%>
            <div class="content">
              <div class="sub_sub_title">
                <%=cat.title%>
              </div>
              <%cat.fields.order(:field_order).each do |field|%>
                <%if field.print || !deidentified%>
                  <%value = owner.record_fields.where("fields_id = ?", field.id).first%>
                  <%if value.present?%>
                    <%value = value.print_value%>
                    <%if value.present?%>
                      <%if cat.title == "Narratives" %>
                        <b><%=field.label%>:</br> </b><%=value.gsub(/\n/, '<br/>').html_safe%></br>
                      <%else%>
                        <b><%=field.label%>: </b>
                        <%if field.display_type == "employee"%>
                          <%if value.match(/\A[+-]?\d+?(\.\d+)?\Z/)%>
                            <%=User.find(value).full_name%>
                          <%else%>
                            <%=value%>
                          <%end%>
                        <%else%>
                          <%if field.data_type == "datetime"%>
                            <%=datetime_to_string(DateTime.parse value) rescue ''%>
                          <%else%>
                            <%=value%>
                          <%end%>
                        <%end%>
                        </br>
                      <%end%>
                    <%end%>
                  <%end%>
                <%end%>
              <%end%>
            </div>
          <%end%>
        <%end%>
      </div>

      <%=render "/pdfs/print_risk_matrix", :owner => owner%>
      <%=render '/pdfs/print_notes',
        owner: owner.submission%>
      <%=render 'pdfs/print_corrective_actions',
        owner: owner,
        deidentified: deidentified%>
      <%=render "pdfs/print_occurrences",
        owner: owner,
        deidentified: deidentified%>
      <%if !(defined?(skip_launch_item) && skip_launch_item == 'sras')%>
        <%=render 'pdfs/print_sras',
          sras: owner.get_children(child_type: 'Sra'),
          deidentified: deidentified%>
      <%end%>
      <%if !(defined?(skip_launch_item) && skip_launch_item == 'investigations')%>
        <%=render 'pdfs/print_investigations',
          investigations: owner.get_children(child_type: 'Investigation'),
          deidentified: deidentified%>
      <%end%>
      <%=render "pdfs/print_comments",
        comments: owner.comments%>
    <%end%>
  </div>
</div>
