<div class = 'wrap'>
  <div class="title">
    Submission <%="##{owner.get_id}: #{owner.template.name} - #{owner.get_description}"%>
  </div>

  <div class="content">

    <%=render "/pdfs/print_fields",
      :fields => Submission.get_meta_fields(*@meta_field_args),
      :owner => owner,
      :deidentified => deidentified%>

    <%=render '/pdfs/print_notes', owner: owner%>

    <div class="col-xs-12">
      <div class="col-xs-12">
        <hr>
      </div>

      <%owner.template.categories.order(:category_order).each do |cat|%>

        <%if cat.id == 338%>
          <div class="category">
            <div class="sub_sub_title"><%=cat.title%></div>
            <table id="observation_phases_table" class="table table-bordered" width="100%">
              <thead>
                <tr>
                  <%CONFIG.sr::OBSERVATION_PHASES.each do |x|%>
                    <th><%=x%></th>
                  <%end%>
                </tr>
              </thead>
              <tbody>
                <%cat.fields.group_by(&:element_id).each do |element_id, arr|%>
                  <%if owner.submission_fields.where(:fields_id => arr.first.id).present? &&
                    owner.submission_fields.where(:fields_id => arr.first.id).first.value.present?%>
                    <tr>
                      <th><%=arr.first.label%></th>
                      <%arr.each do |x|%>
                        <%submission_fields = owner.submission_fields.where(:fields_id => x.id).first%>
                        <td><%=submission_fields.value%></td>
                      <%end%>
                    </tr>
                  <%end%>
                <%end%>
              </tbody>
            </table>
          </div>

        <%elsif cat.not_empty_for(owner) && (cat.print || !deidentified)%>
          <div class="content">
            <div class="sub_sub_title"><%=cat.title%></div>
            <%cat.fields.order(:field_order).each do |field|%>
              <%if field.print || !deidentified%>
                <%record_field = owner.submission_fields.where("fields_id = ?", field.id).first%>
                <%if record_field.present?%>
                  <%value = record_field.print_value%>
                  <%if value.present?%>
                    <%if field.nested_field_id.nil?%>
                      <%if cat.title == "Narratives" %>
                        <b><%=field.label%>:</br> </b><%=value.gsub(/\n/, '<br/>').html_safe%></br>
                      <%else%>
                        <b><%=field.label%>: </b>
                        <%if field.display_type == "employee"%>
                          <%if value.match(/\A[+-]?\d+?(\.\d+)?\Z/)%>
                            <%=User.find(value).full_name%>
                          <%else%>
                            <%=value%>
                          <%end%>
                        <%else%>
                          <%if field.data_type == "datetime"%>
                            <%=datetime_to_string(DateTime.parse value) rescue ''%>
                          <%else%>
                            <%=value%>
                          <%end%>
                        <%end%>
                        </br>
                      <%end%>
                    <%else%>
                      <%record_field = owner.submission_fields.where("fields_id = ?", field.nested_field_id).first%>
                      <%if record_field.present? && record_field.value.present?%>
                        <%if (field.nested_field_value.parameterize == record_field.value.parameterize) ||
                             (record_field.value.include?(field.nested_field_value))%>
                          <div class="nested_field" style="margin-left:15px;">
                            <%if cat.title == "Narratives" %>
                              <b><%=field.label%>:</br> </b><%=value.gsub(/\n/, '<br/>').html_safe%></br>
                            <%else%>
                              <b><%=field.label%>: </b>
                              <%if field.display_type == "employee"%>
                                <%if value.match(/\A[+-]?\d+?(\.\d+)?\Z/)%>
                                  <%=User.find(value).full_name%>
                                <%else%>
                                  <%=value%>
                                <%end%>
                              <%else%>
                                <%if field.data_type == "datetime"%>
                                  <%=datetime_to_string(DateTime.parse value) rescue ''%>
                                <%else%>
                                  <%=value%>
                                <%end%>
                              <%end%>
                              </br>
                            <%end%>
                          </div>
                        <%end%>
                      <%end%>
                    <%end%>
                  <%end%>
                <%end%>
              <%end%>
            <%end%>
          </div>
        <%end%>

      <%end%>
    </div>

  </div>
</div>
<!-- sub_field.value.include?(nest_field.nested_field_value) -->
