<div class='col-xs-12 wrap'>
  <%if !(defined?(first_print) && first_print)%>
    <hr>
  <%end%>
  <%owner_class_name = owner.class.name%>
  <%name_mapping = CONFIG::OBJECT_NAME_MAP[owner_class_name]%>
  <%owner_name = name_mapping.present? ? name_mapping : owner_class_name%>
  <%if defined?(source_of_input) && source_of_input%>
    <div class='title'> Source of Input: </div>
    <div class='col-xs-12 sub_title'>
      <%="#{owner_name} ##{owner.get_id}: #{owner.title}"%>
    </div>
  <%else%>
    <div class='title'>
      <%if owner_name == 'Report'%>
        <%="#{owner_name} ##{owner.get_id}#{(CONFIG.sr::GENERAL[:show_title_deid_pdf].present? || !deidentified.present?) ? ": #{owner.title}" : ""}"%> <b style="color:darkred; font-size:18px"><%=owner.confidential? ? "(This Report is CONFIDENTIAL)" : ''%></b>
      <%else%>
        <%="#{owner_name} ##{owner.get_id}: #{owner.title}"%>
      <%end%>
    </div>
  <%end%>
  <div class="content">
    <%=render "pdfs/print_fields",
      :fields => Record.get_meta_fields(*@meta_field_args),
      :owner => owner,
      :deidentified => deidentified%>

    <%=render 'pdfs/print_causes',
       owner: owner,
       deidentified: deidentified%>

    <%if !(defined?(source_of_input) && source_of_input)%>

      <div class="col-xs-12">

       <%rf_by_c = owner.record_fields
                        .nonempty
                        .includes(field: :category)
                        .group_by{ |record_field| record_field.field.category if record_field.field.present? }%>
       <!-- {category1 => [rf1, rf2], category2 => [rf3, rf4]} -->

        <%record_fields = owner.record_fields.includes(:field).group_by(&:fields_id)%>
        <%(owner.template.categories.includes(:fields) & rf_by_c.keys).each do |cat|%>
          <!-- OBSERVATION PHASES (see BSK) -->
          <%if cat.id == 338%>
            <div class="category">
              <div class="sub_sub_title"><%=cat.title%></div>
              <table id="observation_phases_table" class="table table-bordered" width="100%">
                <thead>
                  <tr>
                    <%CONFIG.sr::OBSERVATION_PHASES.each do |x|%>
                      <th><%=x%></th>
                    <%end%>
                  </tr>
                </thead>
                <tbody>
                  <%cat.fields.group_by(&:element_id).each do |element_id, arr|%>
                    <%arr_first = arr.first%>
                    <%field_item = record_fields[arr_first.id].first%>
                    <%if field_item.present? && field_item.value.present?%>
                      <%Rails.logger.debug ""%>
                      <tr>
                        <th><%=arr_first.label%></th>
                        <%arr.each do |x|%>
                          <%record_field = record_fields[x.id].first%>
                          <td><%=record_field.value%></td>
                        <%end%>
                      </tr>
                    <%end%>
                  <%end%>
                </tbody>
              </table>
            </div>


          <%elsif (cat.print || !deidentified)%>
            <div class="content">
              <div class="sub_sub_title">
                <%=cat.title%>
              </div>
              <%cat_fields_processed = []%>
              <%cat.fields.each do |field|%>

                <%if cat_fields_processed.exclude?(field.id) && field.nested_field_id.nil?%>
                  <%if field.print || !deidentified%>
                    <%value = record_fields[field.id].first rescue nil%>
                    <%valueCopy = value%>
                    <%if value.present?%>
                      <%value = value.print_value%>
                      <%if value.present?%>
                        <%if cat.title == "Narratives" %>
                          <b><%=field.label.present? ? (field.label + ":") : ""%></br> </b><%=value.gsub(/\n/, '<br/>').html_safe%></br>
                        <%else%>
                          <b><%=field.label.present? ? (field.label + ":") : ""%></b>
                          <%if field.display_type == "employee"%>
                            <%if value.match(/\A[+-]?\d+?(\.\d+)?\Z/)%>
                              <%if CONFIG::GENERAL[:sabre_integration].present? && AIRLINE_CODE == 'RJET'%>
                                <%#=User.where(employee_number: value).first.full_name rescue nil%>
                                <%#=value%>
                                <%if value.present?%>
                                  <%user_name = User.where(employee_number: value).first.full_name rescue nil%>
                                  <%value = "(#{value})"%>
                                  <%if user_name.present?%>
                                    <%value = user_name + " #{value}" %>
                                  <%end%>
                                  <%=value%>
                                <%end%>
                              <%else%>
                                <%=User.find(value).full_name%>
                              <%end%>
                            <%else%>
                              <%=value%>
                            <%end%>
                          <%elsif field.display_type == "map"%>
                            <%if valueCopy.points.present?%>
                              <%=render :partial => 'shared/static_map', locals: {points: valueCopy.points}%>
                            <%end%>
                          <%else%>
                            <%if field.display_type == "employee"%>
                              <%if value.match(/\A[+-]?\d+?(\.\d+)?\Z/)%>
                                <%=User.find(value).full_name%>
                              <%else%>
                                <%=value%>
                              <%end%>
                            <%else%>
                              <%if field.data_type == "datetime"%>
                                <%=datetime_to_string(DateTime.parse value) rescue ''%>
                              <%else%>
                                <%=value%>
                              <%end%>
                            <%end%>
                            </br>
                          <%end%>
                          </br>
                        <%end%>
                      <%end%>
                    <%end%>
                    <%nested_fields = cat.fields.where("nested_field_id=?", field.id)%>
                    <%if nested_fields.present?%>
                      <%nested_fields.each do |nested_field|%>
                        <%cat_fields_processed << nested_field.id%>
                        <%rec_field = record_fields[nested_field.id].first rescue nil%>
                        <%if rec_field.present? && rec_field.value.present?%>
                          <%value = rec_field.print_value%>
                          <%if rec_field.present? && rec_field.value.present?%>
                            <%if (nested_field.nested_field_value.strip == rec_field.value.strip) ||
                                 (field.options.include?(";") && field.options.include?(nested_field.nested_field_value.strip))%>
                              <div class="nested_field" style="margin-left:15px;">
                                <%if cat.title == "Narratives" %>
                                  <b><%=nested_field.label.present? ? (nested_field.label + ":") : ""%></br> </b><%=value.gsub(/\n/, '<br/>').html_safe%></br>
                                <%else%>
                                  <b><%=nested_field.label.present? ? (nested_field.label + ":") : ""%></b>
                                  <%if nested_field.display_type == "employee"%>
                                    <%if value.match(/\A[+-]?\d+?(\.\d+)?\Z/)%>
                                      <%if CONFIG::GENERAL[:sabre_integration].present?%>
                                        <%#=User.where(employee_number: value).first.full_name rescue nil%>
                                        <%#=value%>
                                        <%if value.present?%>
                                          <%user_name = User.where(employee_number: value).first.full_name rescue nil%>
                                          <%value = "(#{value})"%>
                                          <%if user_name.present?%>
                                            <%value = user_name + " #{value}" %>
                                          <%end%>
                                          <%=value%>
                                        <%end%>
                                      <%else%>
                                        <%=User.find(value).full_name%>
                                      <%end%>
                                    <%else%>
                                      <%=value%>
                                    <%end%>
                                  <%else%>
                                    <%if nested_field.display_type == "employee"%>
                                      <%if value.match(/\A[+-]?\d+?(\.\d+)?\Z/)%>
                                        <%=User.find(value).full_name%>
                                      <%else%>
                                        <%=value%>
                                      <%end%>
                                    <%elsif field.display_type == "map"%>
                                      <%if valueCopy.points.present?%>
                                        <%=render :partial => 'shared/static_map', locals: {points: valueCopy.points}%>
                                      <%end%>
                                    <%else%>
                                      <%if nested_field.data_type == "datetime"%>
                                        <%=datetime_to_string(DateTime.parse value) rescue ''%>
                                      <%else%>
                                        <%=value%>
                                      <%end%>
                                    <%end%>
                                    </br>
                                  <%end%>
                                <%end%>
                              </div>
                              </br>
                            <%end%>
                          <%end%>
                        <%end%>
                      <%end%>
                    <%end%>
                  <%end%>
                <%end%>
              <%end%>
            </div>
          <%end%>
        <%end%>
      </div>

      <%=render "/pdfs/print_risk_matrix", :owner => owner%>
      <%=render '/pdfs/print_notes',
        owner: owner.submission%>
      <%=render 'pdfs/print_corrective_actions',
        owner: owner,
        deidentified: deidentified%>
      <%=render "pdfs/print_occurrences",
        owner: owner,
        deidentified: deidentified%>
      <%if !(defined?(skip_launch_item) && skip_launch_item == 'sras')%>
        <%=render 'pdfs/print_sras',
          sras: owner.get_children(child_type: 'Sra'),
          deidentified: deidentified%>
      <%end%>
      <%if !(defined?(skip_launch_item) && skip_launch_item == 'investigations')%>
        <%=render 'pdfs/print_investigations',
          investigations: owner.get_children(child_type: 'Investigation'),
          deidentified: deidentified%>
      <%end%>
      <%=render "pdfs/print_comments",
        comments: owner.comments%>
    <%end%>
  </div>
</div>
