<%=form_tag carryover_to_another_meeting_sra_path(@owner), method: :post, :remote => true do%>
  <%=hidden_field_tag 'meeting_id', @meeting.id %>
  <%=hidden_field_tag 'meetings_selected', '' %>
  <div class="panel-warning">
    <div class="panel-heading">
      <div class="panel-title"><%="Add SRA ##{@owner.id}: #{@owner.title} to other Open Meeting(s)"%>
        <button type="button" id="close_carryover_modal" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="panel-body" style="max-height: calc(100vh - 400px);overflow-y:auto">
      <div class="col-xs-12">
        <%=render "shared/instructions", :instruction => @instruction%>
        <table id="meetings_table" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Meeting ID</th>
              <th>Meeting Name</th>
              <th>Add Status</th>
            </tr>
          </thead>
          <tbody>
            <%@meetings.order('id DESC').each do |meeting|%>
              <tr class="pointer" id="<%=meeting.id%>">
                <td>
                  <div class="col-xs-12">
                    <strong>
                      <%=meeting.id%>
                    </strong>
                  </div>
                </td>
                <td>
                  <div class="col-xs-12">
                    <strong>
                      <%=meeting.title%>
                    </strong>
                  </div>
                </td>
                <td>
                  <div class="col-xs-12 hidden">
                    <input type="checkbox" id="<%=meeting.id%>" value="<%=meeting.id%>" class="meetings">
                  </div>
                  <strong id="<%=meeting.id%>" style="color:red">
                    Not Added
                  </strong>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
      <%=submit_tag "Carryover", :class => "btn btn-success pull-right mt5", :disable_with => "Carrying...", :onclick => 'return serialize_meeting_ids();'%>
    </div>
  </div>
<%end%>

<style type="text/css">
  .checkbox-custom input[type=checkbox]{ position: relative; }

  .pointer{
    cursor:pointer;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $("tr").on('click', function() {
      id = $(this).attr('id');
      $('.meetings').each(function() {
        if($(this).attr('id') == id) {
          if ($(this).is(':checked')) {
            $(this).prop('checked', false);
            $(this).closest('td').find('strong').first().css("color", "red");
            $(this).closest('td').find('strong').first().html("Not Added");
          } else {
            $(this).prop('checked', true);
            $(this).closest('td').find('strong').first().css("color", "green");
            $(this).closest('td').find('strong').first().html("To be Added");
          }
        }
      });
    });
  });

  function serialize_meeting_ids() {
    /// Need to disable multiple meetings allowed
    let multiple_meetings_allowed = <%=CONFIG.srm::GENERAL[:allow_sra_reuse]%>;
    let meeting_items = '';
    let meeting_elems = $("input.meetings:checked");

    meeting_elems.each(function(index, elem){
        meeting_items += $(elem).val() + ",";
    });

    if (meeting_items == ''){
      alert("Please select at least 1 meeting or close the pop-up");
      return false;
    }

    if (multiple_meetings_allowed) {
      $('#meetings_selected').val(meeting_items);
      return true;
    } else {
      if (meeting_elems.length > 1) {
        alert('Please select ONE meeting only!');
        return false;
      } else {
        $('#meetings_selected').val(meeting_items);
        return true;
      }
    }
  }
</script>
