<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/timezone-control.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          <%="#{action_name.titleize} SRA"%>
        </div>
      </div>
      <div class="panel-body" id="form_body">
        <%=form_for @sra ,:html => {:multipart => true} do |f|%>
          <%if action_name == "new"%>
            <%=f.hidden_field :created_by_id, :value => current_user.id%>
            <%=f.hidden_field :parent_type, :value => @parent_type%>
            <%=f.hidden_field :parent_id,   :value => @parent_id%>
          <%end%>
          <% if params[:owner_id].present? && params[:owner_type].present? %>
            <%=f.hidden_field :owner_id,   value: params[:owner_id]%>
            <%=f.hidden_field :owner_type, value: params[:owner_type]%>
          <%end%>

          <%if CONFIG.srm::GENERAL[:one_page_sra].present? && action_name == 'new'%>
            <div class="form-group col-xs-12">
              <div class="col-xs-12">
                <label for="one_page_sra">
                  <%=check_box_tag 'create_hazard_risk_control', 0, false, class: 'form-control create_hazard_risk_control col-xs-4'%>
                  <span>Create Hazard and Risk Control alongside SRA?</span>
                </label>
              </div>
            </div>
          <%end%>

          <%=render '/forms/form_fields', :f => f, :fields => @fields, :record => @sra%>

          <div class="col-xs-12 hazard_risk_control_panel" style="display:none">
            <div class="panel panel-lightskyblue mt10">
              <div class="panel-heading click-heading">
                <div class="panel-title">
                  <b>Hazard and Risk Control Fields</b>
                  <span class="pull-right clickable">
                    <i class="mt5 glyphicon glyphicon-chevron-up"></i>
                  </span>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group col-xs-6">
                      <%=label_tag 'htitle', "Hazard Title", :class => "required_label"%>
                      <%=text_field_tag 'hazard_title', nil, :class => "hazard_title form-control"%>
                    </div>

                    <div class="form-group col-xs-6">
                      <%=label_tag 'hdate', "Hazard Scheduled Completion Date", :class => "required_label"%>
                      <%=text_field_tag 'hazard_completion_date', nil, :class => "hazard_completion_date form-control field-date", 'data-format' => CONFIG.getTimeFormat[:datepicker]%>
                    </div>

                    <div class="form-group col-xs-12">
                      <%=label_tag 'hdesc', "Hazard Description"%>
                      <%=text_area_tag 'hazard_description', nil, :class => "hazard_description form-control", :rows => 4%>
                    </div>

                    <div class="form-group col-xs-6">
                      <%=label_tag 'rtitle', "Risk Control Title", :class => "required_label"%>
                      <%=text_field_tag 'risk_title', nil, :class => "risk_title form-control"%>
                    </div>

                    <div class="form-group col-xs-6">
                      <%=label_tag 'rdate', "Risk Control Scheduled Completion Date", :class => "required_label"%>
                      <%=text_field_tag 'risk_completion_date', nil, :class => "risk_completion_date form-control field-date", 'data-format' => CONFIG.getTimeFormat[:datepicker]%>
                    </div>

                    <div class="form-group col-xs-12">
                      <%=label_tag 'rdesc', "Risk Control Description"%>
                      <%=text_area_tag 'risk_description', nil, :class => "risk_description form-control", :rows => 4%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%=render '/forms/attachments_form', :f => f, :owner => @sra%>

          <div class="mt10 mr10">
            <%= f.submit "#{action_name == 'new' ? 'Submit' : 'Update'}",
              :class => "btn btn-success pull-right",
              :disable_with => "Saving..."%>
            <%=link_to "Cancel",
              action_name == "edit" ? sra_path(@sra) : @cancel_path,
              :id => "cancel-btn",
              :class=>"mr5 btn btn-default pull-right",
              :confirm => 'Are you sure?'%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>



<style>
  .datepicker{
    z-index: 1200!important;
  }
</style>




<script>

  $(document).ready(function(){

    $("#<%=@sra.severity%>-<%=Investigation.get_likelihood.index(@sra.likelihood)%>").html("<span class='glyphicon glyphicon-remove' style='color:red'></span>");
    $('#sev').on('change',function(){
      reset_risk();
    });
    $('#like').on('change',function(){
      reset_risk();
    });

    var approver_already_required = $('#empapprover_id').hasClass('required_field');
    var responsible_already_required = $('#empresponsible_user_id').hasClass('required_field');
    var original_approver_text = $('#empapprover_id').closest('.form-group').find('label').html();
    var original_responsible_text = $('#empresponsible_user_id').closest('.form-group').find('label').html();
    var added_text = " (This user will be mirrored on Hazard and Risk Control)"

    $('.create_hazard_risk_control').on('change', function(){
      if($(this).is(':checked')){
        $('.hazard_risk_control_panel').show();
        $(this).val(1);
        $('.hazard_title').addClass('required_field');
        $('.hazard_completion_date').addClass('required_field');
        $('.risk_title').addClass('required_field');
        $('.risk_completion_date').addClass('required_field');

        $('#empapprover_id').addClass('required_field');
        $('#empapprover_id').closest('.form-group').find('label').html(original_approver_text + added_text);
        $('#empapprover_id').closest('.form-group').find('label').addClass('required_label');

        $('#empresponsible_user_id').addClass('required_field');
        $('#empresponsible_user_id').closest('.form-group').find('label').html(original_responsible_text + added_text);
        $('#empresponsible_user_id').closest('.form-group').find('label').addClass('required_label');
      } else{
        $('.hazard_risk_control_panel').hide();
        $(this).val(0);
        $('.hazard_title').removeClass('required_field');
        $('.hazard_completion_date').removeClass('required_field');
        $('.risk_title').removeClass('required_field');
        $('.risk_completion_date').removeClass('required_field');
        $('#empapprover_id').removeClass('required_field');
        $('#empresponsible_user_id').removeClass('required_field');

        if (!approver_already_required) {
          $('#empapprover_id').removeClass('required_field');
          $('#empapprover_id').closest('.form-group').find('label').html(original_approver_text);
          $('#empapprover_id').closest('.form-group').find('label').removeClass('required_label');
        }

        if (!responsible_already_required) {
          $('#empresponsible_user_id').removeClass('required_field');
          $('#empresponsible_user_id').closest('.form-group').find('label').html(original_responsible_text);
          $('#empresponsible_user_id').closest('.form-group').find('label').removeClass('required_label');
        }
      }
    });

  });
</script>
