<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>

<div class="col-xs-12"%>
  <div class="panel clickable panel-info">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b style="overflow-wrap: break-word; word-wrap: break-word; hyphens:auto">
          <%=link_to "##{owner.get_id} #{owner.title}",
            hazard_path(owner),
            :style=>"color:white"%>
        </b>
        <span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
      </div>
    </div>
    <div class="panel-body" style="display:none">
      <div class="row" style="overflow-wrap: break-word; word-wrap: break-word; hyphens:auto">
        <div class="col-xs-12 mt20">
          <%=render "/forms/show_fields", :fields => Hazard.get_meta_fields('show'), :record => owner%>
        </div>

        <%can_change = owner.status != "Rejected" && owner.status != "Completed"%>

        <%=render 'shared/choose_show_matrix', 
          :owner => owner, 
          :show_btn => show_btn, 
          :type => 'hazards',
          :can_change => can_change
          # :like => like,
          # :color_matrix => color_matrix,
          # :frequency => frequency,
          %>

        <%if BaseConfig.airline[:has_root_causes] && owner.root_causes.present?%>
          <div class="col-xs-12">
            <div class="panel clickable panel-lightskyblue">
              <div class="panel-heading click-heading collapsed">
                <div class="panel-title">
                  <b>Root Causes</b>
                  <span class="pull-right clickable">
                    <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                  </span>
                </div>
              </div>
              <div class="panel-body" style="display:none">
                  <%=render '/root_causes/root_causes_table',
                    :owner => owner,
                    :show_btns => false,
                    :headers => HazardRootCause.get_headers%>
              </div>
            </div>
          </div>
        <%end%>
        <%=render '/hazards/descriptions', :owner => owner,
        :show_btns => false, :headers => Cause.get_meta_fields('show')%>
        <%if owner.risk_controls.present?%>
          <div class="col-xs-12"%>
            <div class="panel clickable panel-info">
              <div class="panel-heading click-heading collapsed">
                <div class="panel-title">
                  <b>Risk Controls</b>
                  <span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
                </div>
              </div>
              <div class="panel-body" style="display:none">
                <div class="row">
                  <%owner.risk_controls.each do |risk_control|%>
                    <%=render "hazards/show_risk_control",:risk_control=>risk_control%>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<style>
 .datepicker{
  z-index: 1200!important;
 }
  td,th{
    text-align: center;
  }
</style>


