<%=
  javascript_include_tag(
    'utility/collapse-panel2',
    'utility/jquery.dataTables.min',
    'utility/dataTables.bootstrap.min',
    'utility/dataTables.buttons.min',
    'utility/format-builder'
  )
%>

<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            <%="SRA(SRM) ##{@sra.get_id}: #{@sra.title}"%>
          </div>

          <div class="top_buttons pull-right">
            <%= render '/forms/render_buttons', owner: @owner, env: :top %>
          </div>

        </div>
      </div>

      <div class="panel-body">
        <div class="col-xs-12 mb20">
          <%= render '/forms/render_buttons', owner: @owner, env: :inline %>
        </div>

        <%= render '/forms/show_fields', :fields => @fields, :record => @sra%>
        <%= render '/panels/show_panels', owner: @owner%>

      </div>
    </div>
  </div>
</div>





<style>
  .datepicker{
    z-index: 1200!important;
  }
</style>



<script>
  $(document).ready(function(){
    $(".modal").on("hidden.bs.modal", function(){
      $(".modal-content").html("");
    });

    $("#section_btn").on('click',function(){
      $.get("<%=new_section_sras_path%>", {"owner_id" : <%=@sra.id%>});
    });

    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_sra_path(@sra)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#mitigate_btn').on('click',function(){
      $.get("<%=mitigate_sra_path(@sra)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#baseline_btn').on('click',function(){
      $.get("<%=baseline_sra_path(@sra)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

  });
</script>
