<%=
  javascript_include_tag(
    'utility/collapse-panel2',
    'utility/jquery.dataTables.min',
    'utility/dataTables.bootstrap.min',
    'utility/dataTables.buttons.min',
    'utility/format-builder'
  )
%>

<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            <%="SRA(SRM) ##{@sra.get_id}: #{@sra.title}"%>
          </div>

          <div class="top_buttons pull-right">
            <%= render '/forms/render_buttons', owner: @owner, env: :top %>
          </div>

        </div>
      </div>

      <div class="panel-body">
        <%= render partial: "shared/instructions", :locals => { :owner => @owner, :action_name => params[:action], :include_workflow_diagram => CONFIG.hierarchy[session[:mode]][:display_workflow_diagram] }%>

        <div class="col-xs-12 mb20">
          <%= render '/forms/render_buttons', owner: @owner, env: :inline %>
        </div>

        <%= render '/forms/show_fields', :fields => @fields, :record => @sra%>
        <%if @records.present?%>
          <%=render "added_records_table"%>
        <%end%>
        <%if CONFIG.srm::GENERAL[:risk_assess_sras].present?%>
          <%= render 'risk_matrices/panel_matrix/risk_assessment_panel', risk_type: 'All', hide_btns: !current_user.has_access('sras', 'edit', admin: CONFIG::GENERAL[:global_admin_default])%>
        <%end%>
        <%= render '/panels/show_panels', owner: @owner%>

      </div>
    </div>
  </div>
</div>





<style>
  .datepicker{
    z-index: 1200!important;
  }
</style>



<script>
  $(document).ready(function(){
    $(".modal").on("hidden.bs.modal", function(){
      $(".modal-content").html("");
    });

    $("#section_btn").on('click',function(){
      $.get("<%=new_section_sras_path%>", {"owner_id" : <%=@sra.id%>});
    });

    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_sra_path(@sra)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#mitigate_btn').on('click',function(){
      $.get("<%=mitigate_sra_path(@sra)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#baseline_btn').on('click',function(){
      $.get("<%=baseline_sra_path(@sra)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#add_records_btn').on('click',function(){
      $.get("<%=add_record_sra_path(@sra)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $("#records_table").on('click', ".remove_record_btn", function(){
      $.get($(this).attr('route'),function(data){
        if (data["code"] == 200) {
          $("tr[record_id="+ data["deleted_id"] +"]").css("display", "none");
        }
      });
    });

    if ("<%= CONFIG.srm::GENERAL[:one_page_sra].present? %>" == "true") {
      $('.click-heading').each(function(){
        if(!$(this).hasClass('collapsed')){
          $(this).trigger('click');
        }
      });
      if ($('.show-risk-panel').hasClass('collapsed')){
        $('.show-risk-panel').trigger('click');
      }
    }


  });
</script>
