<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>

<%eccairs_integrated = CONFIG::GENERAL[:integrations].include?('eccairs')%>

<%=form_for @record do |f|%>
  <div class="panel panel-warning">

    <div class="panel-heading">
      <div class="panel-title">
        <b><%=controller.action_name.titleize%> Custom Option</b>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>

    <div class="panel-body">
      <div class="row" style="max-height:500px;overflow-y:auto;">
        <div class="col-xs-12">
          <div class="form-group col-xs-6">
            <%=f.label :title, "Title" %>
            <%=f.text_field :title, class: "form-control", readonly: !eccairs_integrated %>
          </div>

          <div class="form-group col-xs-12">
            <%=f.label :description, "Description" %>
            <%=f.text_field :description, class: "form-control", readonly: false %>
          </div>

          <div class="form-group col-xs-6">
            <%=f.label :options, "Options (Split by semicolon)"%>
            <%=f.text_area :options, class: 'form-control', rows: 6%>
          </div>

          <%if CONFIG::GENERAL[:integrations].include?('eccairs')%>
            <div class="form-group col-xs-6">
              <%=f.label :eccairs_mapping, "ECCAIRS Option Mapping"%>
              <%=f.text_area :eccairs_mapping, class: 'form-control', rows: 6%>
            </div>
          <%end%>

        </div>

        <%=f.submit "Save", class: "btn btn-success pull-right mt5 mr15", disable_with: "Saving..."%>
      </div>
    </div>
  </div>
<%end%>



<script>
  function remove_window_btn(btn){
    $(btn).parent().parent().detach();
  }
</script>
