<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>

<div class="panel-steelblue">
	<div class="panel-heading">
		<div class="panel-title">
			<%=action_name.titleize%> Automated Notification
			<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>
	</div>

	<div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto">

		<div class="span4 collapse-group">
			<a class="btn" id='instruction_btn' data-toggle="collapse" data-target="#viewinstruction">View Instructions &raquo;</a>
			<div class="collapse" id="viewinstruction">
				<div class="col-xs-12">
					<div class="col-xs-12 well">
						<ol>
						  <li>
						  	Choose the object type you would like to set a notification for.
						  </li>
						  <li>Select the notification criteria for the report.</li>
				  			<ul>
				  				<li><b>Anchor Date</b>: The date used to determine when to send the notification</li>
				  				<li><b>Anchor Status</b>: The status of the object upon which to send the notification</li>
				  				<li><b>Audience</b>: The audience that will receive the notification</li>
				  			</ul>
						  <li>Select when to send the notification</li>
				  			<ul>
				  				<li>
				  					<b>Interval (Days)</b>
				  					: The number of days from the Anchor Date upon when the notification will be sent
				  				</li>
				  					<ul>
				  						<li>
				  							Select a negative Interval to send the notification after the Anchor Date
				  						</li>
				  					</ul>
				  			</ul>
						  <li>Enter a message for the notification to send</li>
				  			<ul>
				  				<li><b>Template</b>: Choose a template for the notification and the content will auto-populate</li>
				  				<li><b>Subject</b>: The subject for the notification to display</li>
				  				<li><b>Content</b>: The content for the notification to display</li>
				  			</ul>
						  <li>
						  	Click on <b>Save</b> to upload the new Automated Notification rule.
						  </li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<%if action_name == 'new'%>
			<div class="col-xs-6">
				<%=label_tag :object_type, "Select an Object Type to set notification on:"%>
				<%=select_tag :object_type,
					options_for_select(@object_types),
					{:include_blank => "", :class => 'form-control', :id => "object_type_select"}%>
			</div>
			<div class="col-xs-12"><hr></div>
		<%else%>
			<%=render '/automated_notifications/form_extra'%>
		<%end%>

		<div class="col-xs-12" id="automated_notification_form"></div>

	</div>
</div>


<style>
	.required_label:after{
		content: " *";
		color: red;
		display: inline;
	}
</style>



<script>
	$(function(){

		$("#object_type_select").on("change", function(){
			$.get('<%=retract_fields_automated_notifications_path%>?object_type=' + $(this).val(), function(data){
				$("#automated_notification_form").html(data);
				$(window).trigger('resize');
			});
		});
	});
</script>


