<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      <b>Baseline Risk Assessment</b>
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
  <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto;">
    <%=form_for @owner  do |f|%>
      <%=f.hidden_field :severity,          :value => "",     :id => "sev"%>
      <%=f.hidden_field :likelihood,        :value => "",     :id => "like"%>
      <%=f.hidden_field :risk_factor,       :value=>"",       :id=>"risk_fact"%>

      <%=render "/shared/SCX/baseline_content", :f => f%>

      <%=f.submit "Save Baseline Risk", :class => "btn btn-success pull-right", :disable_with => "Saving..."%>
    <%end%>
  </div>
</div>

<%= render '/shared/SCX/risk_matrix_js'%>
