<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<div class="panel panel-warning">
  <div class="panel-heading">
    <div class="panel-title">
      <b>Mitigated Risk Assessment</b>
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
  <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto;">
    <%=form_for @owner  do |f|%>
      <%=f.hidden_field :severity_after,    :value => "", :id => "sev"%>
      <%=f.hidden_field :likelihood_after,  :value => "", :id => "like"%>
      <%=f.hidden_field :risk_factor_after, :value=>"",   :id=>"risk_fact"%>

      <%=render "shared/instructions", :instruction =>
        "Select <b>Mitigated Probability</b> and <b>Mitigated Severity</b> from the table to assess risk."
      %>

      <div class="form-group col-xs-12">
        <%=f.label :statement, "Notes"%>
        <%=f.text_area :statement, {:class => "form-control ml5", :rows => "2"}%>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12">
        <%=render "shared/#{AIRLINE_CODE}/risk_definitions"%>
        <%=render "shared/#{AIRLINE_CODE}/form_severity", locals: {risk_type: 'mitigate'}%>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <%=render "shared/#{AIRLINE_CODE}/form_probability", locals: {risk_type: 'mitigate'}%>
        <%=render "shared/#{AIRLINE_CODE}/form_risk_table", locals: {risk_type: 'mitigate'}%>
      </div>

      <div class="col-xs-12">
        <%=f.submit "Save Mitigated Risk",:class=>"btn btn-success pull-right mr5", disable_with: "Saving..."%>
      </div>
    <%end%>
  </div>
</div>

<%= render '/shared/SCX/risk_matrix_js'%>
