<div class="col-xs-12 col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading click-heading collapsed">
			<div class="panel-title">
				Attachments
				<span class="pull-right clickable">
					<i class="mt5 glyphicon glyphicon-chevron-down"></i>
				</span>
			</div>
		</div>
		<div class="panel-body" style="display:none">
			<div class="col-xs-12">

        <% if !defined?(show_btn) || show_btn %>
  				<%=link_to "Add Attachment",
  					"#",
  					:class => "btn btn-success pull-right mr5 mb5",
  					:id => 'att_btn',
  					"data-toggle" => "modal",
  					"data-target" => ".bs-example-modal-lg"%>
        <%end%>

				<table id="attachment_table" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Filename</th>
							<th>Caption</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<%owner.attachments.each do |attachment|%>
							<tr attachment_id="<%=attachment.id%>">
								<td><b><%=attachment.document_filename%></b></td>
								<td><%=attachment.caption%></td>
								<td>
									<div id="preview_attachment_<%=attachment.id%>" style="display:none">
										<div class="panel-lightskyblue">
											<div class="panel-heading">
												<div class="panel-title">
													<%=attachment.document_filename%>
													<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
														<span class="glyphicon glyphicon-remove"></span>
													</button>
												</div>
											</div>
											<div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto;">
												<div class="col-xs-12" align="center">
													<%if Attachment.image_extensions.include? attachment.name.file.extension%>
														<a href="<%=attachment.name.url%>" target="_blank">
															<%=image_tag attachment.name.url,
																:class => "img-responsive",
																:style => "width:100%;height:auto;"%>
														</a>
													<%elsif Attachment.audio_extensions.include? attachment.name.file.extension%>
														<audio controls>
															<source src="<%=attachment.name.url%>" type="audio/mpeg">
														</audio>
													<%elsif Attachment.video_extensions.include? attachment.name.file.extension%>
														<video width="100%" height="auto" controls autostart="false">
															<source src="<%=attachment.name.url%>" type="video/mp4">
														</video>
													<%elsif Attachment.pdf_extensions.include? attachment.name.file.extension%>
														<object data="<%=attachment.name.url%>" type="application/pdf" width="100%" height="600px">
															<a href="<%=attachment.name.url%>"><%=attachment.document_filename%>.pdf</a>
														</object>
													<%else%>
														<font style="color:red;font-weight:bold">No Preview Available</font>
													<%end%>
												</div>
											</div>
										</div>
									</div>

									<%=link_to "Preview",
										"#",
										:class => "btn btn-info show_preview_btn",
										"data-toggle"=>"modal",
										"data-target"=>".bs-example-modal-lg"%>
									<%=link_to "Download", attachment.name.url, :class => "btn btn-success"%>
								</td>
							</tr>
						<%end%>
					</tbody>

				</table>

			</div>
		</div>
	</div>
</div>




<script>
	$(function(){
		$('.show_preview_btn').on('click',function(){
			var attachment_id = $(this).closest("tr").attr("attachment_id");
			$(".modal-content").html($("#preview_attachment_" + attachment_id).html());
			$(window).trigger('resize');
		});
	});
</script>
