<div class="col-xs-12">
  <div class="panel clickable panel-lightskyblue">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        Checklist Templates and CSV Upload
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>
    <div class="panel-body" style="display:none">
      <table class = 'table' id = 'datatable'>
        <thead>
          <tr>
            <th style="text-align: right;"> Selection </th>
            <th> Template </th>
          </tr>
        </thead>
        <tbody>       
          <% @checklist_templates.each do |title, id| %>
            <tr>
              <td style="text-align: right;"><input type = 'checkbox' value = '<%= id %>' name = 'checklist_templates[]' /></td>
              <td style="text-align: center;"><%= title %></td>
            </tr>
          <%end%>              
        </tbody>
      </table>
    <div style = "margin: 50px;">
      <div style = 'margin: 10px'> CSV Upload </div>
      <label> Select a Checklist Header: </label>
      <%=select_tag :checklist_header, 
      options_for_select(@checklist_headers.sort),
      {:include_blank => "",
      :class => 'form-control',
      :id => "checklist_header_select",
      :name => 'checklist_header'}%>

      <div id = 'customChecklistTitle' class = 'hidden'> 
        <%= label_tag :title, "Checklist Title", :class => 'required_label'%>
        <%= text_field_tag :checklist_title,"",
        :class => 'form-control', 
        :id => 'checklist_title' 
        %>
        <div class="col-xs-12">
          <%=link_to "Download Sample Questions Here", "/Sample_Questions.csv", :download => "Sample_Questions.csv"%><br>
          <%=label_tag :checklist_upload, "Select a file to upload"%>
          <%=file_field_tag :checklist_upload,
          :class => "ml5",
          :style => "display:inline-block",
          :accept => ".csv",
          :id => "csv"%>
          </div>
          </div>
        </div>
        <div class="col-xs-12" id="checklist_form"></div>
      </div>
    </div>
  </div>
</div>
