
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<table class = 'table' id = 'datatable'>
  <thead>
    <tr>
      <th> ID </th>
      <th> Status </th>
      <th> Title </th>
      <th> Item </th>
      <th> Responsible User </th>
      <th> Scheduled Completion Date </th>
      <th> Actual Completion Date </th>
    </tr>
  </thead>
  <tbody>    
    <% @children.each do |child| %>
      <tr style = 'text-align:center;'>
        <td><%= child.id %></td> 
        <td><%= child.status %></td> 
        <td><%=link_to "#{@recurrence.form_type} #{child.title}", child.becomes(Object.const_get(@recurrence.form_type))%></td> 
        <td><%= child.spawn_id > 0 ? child.spawn_id : nil %> </td>
        <td><%= child.responsible_user == nil ? 'Unassigned' :  child.responsible_user.full_name %></td> 
        <td><%= child.due_date%></td> 
        <td><%= child.close_date %></td> 
      </tr>
    <%end%>          
  </tbody>
</table>

<script>
  $(document).ready(function(){
    var datatable_ = $('#datatable').DataTable();
  });
</script>