<link rel="stylesheet" type="text/css" href="/javascripts/utility/select2.min.css"/>
<script type="text/javascript" src="/javascripts/utility/select2.min.js"></script>

<%if !defined?(@base_defined) #for embedding multiple _form_fields renders%>
  <div class="modal fade emp_modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <%=render '/submissions/emp'%>
      </div>
    </div>
  </div>
<%end%>
<%fields.each do |field_hash|%>

  <%field_type            = field_hash[:type]%>
  <%field_description     = field_hash[:title]%>
  <%field_content         = field_hash[:content]%>
  <%if field_type == "newline"%>
    <div class="col-xs-12"></div>
  <%elsif field_type == "panel_start"%>
    <div class="col-xs-12">
      <div class="panel panel-lightskyblue mt10">
        <div class="panel-heading click-heading">
          <div class="panel-title">
            <b><%=field_description%></b>
            <span class="pull-right clickable">
              <i class="mt5 glyphicon glyphicon-chevron-up"></i>
            </span>
          </div>
        </div>
        <div class="panel-body" style="display:block">
          <div class="row">
            <div class="col-xs-12">
              <h5><span style="color:red"><b><%=field_content%></b></span></h5>
            </div>
  <%elsif field_type == "panel_end"%>
          </div>
        </div>
      </div>
    </div>
  <%end%>

  <%field_num_cols        = field_hash[:num_cols]%>
  <%field_name            = field_hash[:field]%>
  <%field_required_field  = field_hash[:required] ? "required_field" : ""%>
  <%field_required_label  = field_hash[:required] ? "required_label" : ""%>
  <%field_options         = (field_hash[:options].is_a? String) ? eval(field_hash[:options]).sort! : field_hash[:options].sort! rescue []%>
  <% if field_description == 'Frequency'%>
   <%field_options         = (field_hash[:options].is_a? String) ? eval(field_hash[:options]) : field_hash[:options] rescue []%>
  <%end%>
  <div class="form-group col-xs-<%=field_num_cols%> <%=field_name%>">
    <%case field_type%>
      <%when "boolean"%>
        <%=f.label(field_name, field_description, :class => field_required_label)%>
        <%boolean_options = {"Yes" => true, "No" => false}%>
        <%=f.select field_name,
          options_for_select(boolean_options, record.send(field_name)),
          {:include_blank => ""},
          {:class => "field_select form-control " + field_required_field}%>

      <%when "boolean_box"%>
        <div class="col-xs-12">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <label class="checkbox">
              <%=f.check_box field_name%>
              <b><%=field_description%></b>
            </label>
          </div>
        </div>

      <%when "checkbox"%>
        <div class="col-xs-12">
          <%=f.label(field_name, field_description, :class => field_required_label)%></br>
          <%option_groups = field_options.in_groups(2)%>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <%option_groups[0].each do |option|%>
              <div class="col-xs-12">
                <label class="checkbox">
                  <%=f.check_box field_name,
                    {:multiple => true, :class => "checkbox"},
                    option, nil%>
                  <%=option%>
                </label>
              </div>
            <%end%>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <%option_groups[1].select(&:present?).each do |option|%>
              <div class="col-xs-12">
                <label class="checkbox">
                  <%=f.check_box field_name,
                    {:multiple => true, :class => "checkbox"},
                    option, nil%>
                  <%=option%>
                </label>
              </div>
            <%end%>
          </div>
        </div>

      <%when "datalist"%>
        <%=f.label(field_name, field_description, :class => field_required_label)%>
        <%=f.text_field field_name,
          {
            :list => "#{field_name}",
            :class => "field_select form-control " + field_required_field,
            "data-id" => field_name
          }
          %>
        <datalist id="<%=field_name%>">
          <%field_options.each do |opt|%>
            <option value="<%=opt%>"></option>
          <%end%>
        </datalist>

      <%when "date"%>
        <%if CONFIG.sa::GENERAL[:days_to_complete_instead_of_date] && @recurrence && field_name == 'due_date'%>
          <%=f.label(field_name,'Days to Complete', :class => field_required_label)%>
          <%val= @days_to_complete rescue ''%>
          <%=f.text_field field_name,
            :class => "form-control "  + field_required_field,
            value: val %>
        <%else%>
          <%=f.label(field_name, field_description, :class => field_required_label)%>
          <%val=record.send(field_name) rescue ''%>
          <%=f.text_field field_name,
            :class => "form-control field-date "  + field_required_field,
            value: val,
            'data-format' => CONFIG.getTimeFormat[:datepicker]%>
        <%end%>
      <%when 'datetime', 'datetimez'%>
        <%=f.label(field_name, field_description, class: field_required_label)%>
        <%val=record.send(field_name).in_time_zone(CONFIG::GENERAL[:time_zone]) rescue ''%>
        <%=f.text_field field_name,
          value: val,
          class: "form-control field-datetime #{field_required_field}",
          'data-format' => CONFIG.getTimeFormat[:datetimepicker]%>

      <%when "select"%>
        <%=f.label(field_name, field_description, :class => field_required_label)%>
        <%=f.select field_name,
          options_for_select(field_options, record.send(field_name)),
          {:include_blank => ""},
          {:class => "field_select form-control " + field_required_field}%>

      <%when "select_multiple"%>
        <%=f.label(field_name, field_description, :class => field_required_label)%>
        <%if field_name == "additional_validators"%>
          <%alt_option = record.get_all_validators%>
          <%default_option = (@owner.present? && @owner.responsible_user.present?) ? @owner.responsible_user.id : (alt_option.map(&:id) if alt_option.any?)%>
          <%=f.select field_name,
            options_for_select(field_options, default_option),
            {:include_blank => ""},
            {:class => "select-multiple field_select form-control " + field_required_field,
            :multiple => "multiple"}%>
        <%else%>
          <%=f.select field_name,
            options_for_select(field_options, record.send(field_name)),
            {:include_blank => ""},
            {:class => "select-multiple field_select form-control " + field_required_field,
            :multiple => "multiple"}%>
        <%end%>

      <%when 'select_map'%>
        <%=f.label(field_name, field_description, :class => field_required_label)%>
        <%=f.select field_name,
          options_for_select(field_hash[:options]),
          {:include_blank => ""},
          {:class => 'field_select form-control'}%>

      <%when "text"%>
        <%=f.label(field_name, field_description, :class => field_required_label)%>
        <%=f.text_field field_name,
          :class => "form-control " + field_required_field%>

      <%when "textarea"%>
        <%=f.label(field_name, field_description, :class => field_required_label)%>
        <%=f.text_area  field_name,
          :class => "form-control "  + field_required_field,
          :rows => 4%>

      <%when "user"%>
        <%=f.label(field_name, field_description, :class => field_required_label)%>
        <div class="input-group">
          <%=text_field_tag field_description, "",
            {
              :class => "form-control ml5 emp " + field_required_field,
              :readonly => true,
              :id => "emp#{field_name}",
              :value => record.send(field_name).present? ? User.find(record.send(field_name)).full_name : "",
            }%>
          <%=f.hidden_field field_name, :id => "employee-select#{field_name}"%>
          <span class="input-group-btn">
            <%=link_to  "...",
              "#",
              :class => "btn btn-info emp_button",
              "data-toggle" => "modal",
              "data-target" => ".emp_modal",
              :id => "#{field_name}"%>
          </span>
        </div>
      <%else%>
    <%end%>
  </div>
<%end%>

<style>
  .datepicker {
    z-index: 1200 !important;
  }
  .required_label:after{
    content: " *";
    color: red;
    display: inline;
  }
  .checkbox,
  .radio{
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .checkbox:hover {
    font-weight:bold;
  }
</style>

<%if !defined?(@base_defined) %>
  <script>
    $(document).ready(function() {
      $('.select-multiple').select2();
    });
    var employee_table;

    function build_user_table(){
      employee_table = $('#users').DataTable({
        "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
        "iDisplayLength": 5
      });
    }

    function clear_user_table(){
      employee_table.destroy();
    }

    $(function() {
      $('.select-multiple').select2();

      $(window).resize();
      build_user_table();

      $(this).find(".emp_button").each(function(index, item){
        $(item).on("click", function(){
          var field_id = $(this).prop('id');
          $(".emp_modal").show();
          clear_user_table();
          $("#users tbody tr").unbind();
          // $(".close").unbind();
          $("#users tbody tr").on("click", function(){
            $(item).parent().parent().find("#emp" + field_id).val($(this).find("td").eq(1).text());
            $(item).parent().parent().find("#employee-select"+field_id).val($(this).find("td").eq(0).text());
            $('#emp_div').hide();
            $('.emp_modal').modal('toggle');
          });
          $('.close').on('click',function(){
            $(item).parent().parent().find("#emp"+field_id).val("");
            $(item).parent().parent().find("#employee-select"+field_id).val("");
            $('#emp_div').hide();
          });
          build_user_table();
        });
      });


      $("form").on('submit', function(){
        var error = false;
        var result = true;
        $(".required_field").css('border-color', '');
        $(".int-val").css('border-color', '');
        $(this).find('.required_field').each(function(){
          if ($(this).val() == "" || $(this).val() == null){
            error = true;
            result = false;
            $(this).css('border-color', 'red');
            event.preventDefault();
          }
        });
        if (error){
          swal({
            title: "Please fill in all required fields.",
            type: "error",
          });
          return result;
        }
      });

    });

  </script>
  <%@base_defined = true%>
<%end%>
