<%if owner.completions.present?%>
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading click-heading collapsed">
        <div class="panel-title">
          Compare Survey Results
          <span class="pull-right clickable">
            <i class="mt5 glyphicon glyphicon-chevron-down"></i>
          </span>
        </div>
      </div>

      <div class="panel-body" style="display:none;">

        <div class="table-responsive survey_table">
          <table style="width:100%"
            class="table table-bordered table-striped survey_results_table">
            <thead>
              <tr>
                <%owner.checklist.checklist_rows.first.checklist_cells.each_with_index do |c, ind|%>
                  <th>Column <%=ind + 1%></th>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <%owner.checklist.checklist_rows.each_with_index do |r, ind|%>
                <%if !r.is_header?%>
                  <tr>
                    <%r.checklist_cells.each do |c|%>
                      <%if c.checklist_header_item.editable.present?%>
                        <td><%=link_to "See Response Distribution",
                               "#",
                               class: "responses_link",
                               "data-header" => c.checklist_header_item_id,
                               "data-rowind" => ind%>
                        </td>
                      <%else%>
                        <td><%=c.value%></td>
                      <%end%>
                    <%end%>
                  </tr>
                <%end%>
              <%end%>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
<%end%>

<script type="text/javascript">

  $('.survey_results_table').DataTable({
    "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
    "iDisplayLength": 10,
  });


  $('.responses_link').on('click',function(){
    $.get("<%=get_responses_distribution_safety_survey_path%>"+"?header="+$(this).data("header")+"&rowind="+$(this).data("rowind"), function(data){
      swal({
        allowOutsideClick: false,
        showCancelButton: false,
        showConfirmButton: false,
        html: data,
        onOpen: function() {
          $('.distribution_results_table').DataTable({
            "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
            "iDisplayLength": 10,
          });

          $('.responses_results_table').DataTable({
            "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
            "iDisplayLength": 10,
          });

          $('.close_responses_swal').on('click', function(){
            swal.close();
          });


          $('.users_link').on('click',function(){
            $.get("<%=get_user_list_safety_survey_path%>"+"?list="+$(this).data("list"), function(data){
              swal({
                allowOutsideClick: false,
                showCancelButton: false,
                showConfirmButton: false,
                html: data,
                onOpen: function() {
                  $('.user-list-table').DataTable({
                    "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                    "iDisplayLength": 10,
                  });

                  $('.close_user_swal').on('click', function(){
                    swal.close();
                  });
                }
              });
            });
          });
        }
      });
    });
  });

</script>
