<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>


<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="col-lg-12">
      <div class="panel panel-warning">

        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              <b><%=(@action == "new") ? "New Safety Survey" : "Edit Safety Survey: #{@survey.title}" %></b>
            </div>
            <div class="top_buttons pull-right">
              <%=link_to "Expand All","#",:class=>"btn btn-default mr5 expandall pull-right ml5 mb5"%>
            </div>
          </div>
        </div>

        <div class="panel-body" id="form_body">

          <%=form_for @survey, :html => {:multipart => true} do |f|%>
            <%=render "shared/instructions",
              :instruction =>
              'Create a Safety Survey and assign groups for Distribution.</br>Add 1 checklist for survey content after Safety Survey has been created.</br>Remember to PUBLISH Safety Survey after it is created in order to notify distributees.</br>Safety Survey cannot be edited once it is Published.'%>

            <div class="col-xs-12">
              <div class="form-inline col-xs-4">
                <%=f.label :title, "Safety Survey Title", :class => "required_label"%>
                <%=f.text_field :title,{:class=>"form-control required_field"}%>
              </div>
              <div class="form-inline col-xs-8">
                <%=f.label :description, "Safety Survey Description"%>
                <%=f.text_field :description, {:class=>"form-control"}%>
              </div>
            </div>

            <div class="col-xs-12 mt10">
              <div class="form-inline col-xs-6">
                <%=f.label(:complete_by_date, "Complete By Date", :class => "required_label")%>
                <%val=@survey.complete_by_date rescue nil%>
                <%=f.text_field :complete_by_date,
                  value: val,
                  :class => "form-control field-date required_field",
                  'data-format' => CONFIG.getTimeFormat[:datepicker]%>
              </div>
            </div>

            <%=f.hidden_field :distribution_list, :class => "distro_list"%>
            <%if @action == 'new'%>
              <%=f.hidden_field :status, :value => "New"%>
              <%=f.hidden_field :user_id, :value => current_user.id%>
            <%end%>

            <div class="col-xs-12 mt20 mb20 ml15">
              <%=f.label(:distribution_list, "Distribute To", class: 'distro_label form-inline')%>
              <%distros = @survey.distribution_list.split(',') rescue []%>
              <%@distribution_list.each do |key, title|%>
                <div class="form-inline col-xs-4">
                  <label class="checkbox">
                    <%=check_box_tag title, key, distros.include?(key.to_s), class: 'form-control distros'%>
                    <%=title%>
                  </label>
                </div>
              <%end%>
            </div>


            <%=render '/forms/attachments_form', :f => f, :owner => @survey%>

            <div class="form-actions pull-right">
              <%= f.submit "Save", :class => "btn btn-success", :disable_with => "Saving..."%>
            </div>
            <%=link_to "Cancel",
              @action == "new" ? safety_surveys_path : safety_survey_path(@survey),
              :id => "cancel-btn",
              :class => "mr5 btn btn-default pull-right",
              :confirm => 'Are you sure?'%>
          <%end%>
        </div>

      </div>
    </div>
  </div>
</div>


<style>
  .datepicker {
    z-index: 1200 !important;
  }
  .required_label:after{
    content: " *";
    color: red;
    display: inline;
  }
  .radio{
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .checkbox:hover {
    font-weight:bold;
  }
  .distro_label {
    font-weight:bold;
    font-size:18px;
    width:100%;
  }
</style>


<script>
  $(function(){
    $('.distros').on('change', function(){
      var distro_items = "";
      distro_elems = $("input.distros:checked");

      distro_elems.each(function(index,elem){
        distro_items += $(elem).val() + ",";
      });
      if (distro_items != ""){
        distro_items = distro_items.substring(0, distro_items.length - 1);
      }

      $('.distro_list').val(distro_items);
      })
  });
</script>
