<%
  source ||= nil
  is_new = source.blank?
  field_type = (checklist_cell.data_type || header_item.data_type) rescue header_item.data_type
%>

<td>
  <%if !header_item.editable && action_name == 'start' ||
        (action_name == 'start' && checklist_cell.checklist_row.is_header rescue true)%>
    <%=checklist_cell.value.gsub(/\n/, '<br/>').html_safe rescue ''%>
  <%else%>

    <%if header_item.editable && action_name != 'start'%>
      <%=f.select :data_type,
        options_for_select(ChecklistHeaderItem.get_data_types, checklist_cell.data_type || header_item.data_type),
        {}, class: "form-control mb5"%>

      <%=f.text_area :options,
        value: (f.object.options || header_item.options),
        class: "form-control #{is_new ? 'changed' : ''}",
        rows: 4%>

    <%else%>

    <%case field_type%>
    <%when 'radio'%>
      <%if action_name == 'start'%>
        <div class="col-xs-12 ml5">
          <%(checklist_cell.options || header_item.options).split(';').each do |option|%>
            <label class="radio radio-inline">
              <%=f.radio_button :value, option, class: "#{is_new ? 'changed' : ''}"%>
              <%=option%>
            </label><br>
          <%end%>
        </div>
      <%else%>
        <%=f.text_area :options,
          value: (f.object.options || header_item.options),
          class: "form-control #{is_new ? 'changed' : ''}",
          rows: 4%>
      <%end%>

    <%when 'checkboxes'%>
      <%field_value = checklist_cell.value.split(';') rescue []%>
      <%if action_name == 'start'%>
        <div class="col-xs-12 ml5">
          <%(checklist_cell.options || header_item.options).split(';').each do |option|%>
            <label class="checkbox checkbox-inline">
              <%=f.check_box :value, {multiple: true, class: "checkbox #{is_new ? 'changed' : ''}", checked:(field_value.include?option)}, option, nil%>
              <%=option%>
            </label><br>
          <%end%>
        </div>
      <%else%>
        <%=f.text_area :options,
          value: (f.object.options || header_item.options),
          class: "form-control #{is_new ? 'changed' : ''}",
          rows: 4%>
      <%end%>

    <%when 'dropdown'%>
      <%if action_name == 'start'%>
        <%= f.select :value,
          header_item.options.split(';'),
          { include_blank: ''},
          { class: "form-control field_select #{is_new ? 'changed' : ''}" }
        %>
      <%else%>
        <%= f.text_area :options,
          value: (f.object.options || header_item.options),
          class: "form-control #{is_new ? 'changed' : ''}",
          rows: 4
        %>
      <%end%>
    <%when 'text'%>
      <%=f.text_area :value,
        class: "form-control #{is_new ? 'changed' : ''}",
        rows: 4
      %>
    <%end%>


    <%end%>

    <%= f.hidden_field :checklist_header_item_id,
      value: header_item.id,
      class: "#{is_new ? 'changed' : ''}"
    %>
  <%end%>
</td>
