<% is_header = (defined? checklist_row) && checklist_row.is_header || false %>

<tr class='field_group to_delete <%= is_header ? 'header-row' : '' %>'>

  <%unless action_name == 'edit'%>
    <%=f.hidden_field :id, value: checklist_row.id, class: 'row-id'%>
  <%end%>

  <%if source == 'Existing'%>
    <%checklist_row.checklist_cells.each do |checklist_cell|%>
      <%=f.fields_for :checklist_cells, checklist_cell do |cell_form|%>
        <%header_item = checklist_cell.checklist_header_item%>
        <%=render 'checklist_row_fields_td',
          :source => source,
          :header_item => header_item,
          :checklist_cell => checklist_cell,
          :f => cell_form%>
      <%end%>
    <%end%>
    <%unless action_name == 'edit' || action_name == 'retract_form_template'%>
      <td>
        <%unless is_header%>
          <%= render 'forms/attachments_show_mini', owner: checklist_row, edit: true, f: f %>
        <%end%>
      </td>
    <%end%>


  <%elsif source == 'Template'%>
    <%checklist_cells.each do |checklist_cell|%>
      <%new_checklist_cell = new_checklist_row.checklist_cells.build(checklist_cell.attributes)%>
      <%=f.fields_for :checklist_cells, new_checklist_cell do |cell_form|%>
        <%header_item = checklist_cell.checklist_header_item%>
        <%=render 'checklist_row_fields_td',
          :source => source,
          :header_item => header_item,
          :checklist_cell => checklist_cell,
          :f => cell_form%>
      <%end%>
    <%end%>


  <%else%>
    <%locals[:checklist_header].checklist_header_items.each do |header_item|%>
      <%checklist_cell = ChecklistCell.new%>
      <%=f.fields_for :checklist_cells, checklist_cell, { class: 'changed' } do |cell_form|%>
        <%=render 'checklist_row_fields_td',
          :header_item => header_item,
          :checklist_cell => checklist_cell,
          :f => cell_form%>
      <%end%>
    <%end%>
  <%end%>


  <%if action_name == 'edit' || action_name == 'retract_form_template'%>
    <td width="13%">
      <%=f.hidden_field :is_header, :id => 'is_header'%>
      <%=link_to "<i class='glyphicon glyphicon-header'></i>".html_safe, '#',
        :class => "btn #{is_header ? 'btn-success' : 'btn-default'} header_toggle_btn mt5"%>
      <%=f.hidden_field :_destroy, :id => "delete_row"%>
      <%=link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, '#', :class => "btn btn-danger remove_btn mt5"%>
    </td>
  <%end%>


</tr>

<script type="text/javascript">

  $(document).ready(function(){
    $('td').each(function(){
      $(this).find('select').each(function(){
        if ($(this).find('option:selected').attr('value') == 'text') {
          $(this).siblings('textarea').hide()
        } else {
          $(this).siblings('textarea').show()
        }
      });
    });

    $('.header_toggle_btn').on('click', function(){
      var btn_state = $(this).attr("class").split(/\s+/);
      $(this).closest('td').siblings().each(function(){
        $(this).find('select').each(function(){
          if (btn_state.includes('btn-success')){
            $(this).show();
            if ($(this).find('option:selected').attr('value') == 'text') {
              $(this).siblings('textarea').hide();
            } else {
              $(this).siblings('textarea').show();
            }
          } else {
            $(this).hide();
            $(this).siblings('textarea').hide();
          }
        });
      });
    });

    $('select').on("change", function(){
      if ($(this).find('option:selected').attr('value') == 'text') {
          $(this).siblings('textarea').hide();
        } else {
          $(this).siblings('textarea').show();
        }
    });
  })

</script>


