<div class="col-xs-12">
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading">
      <div class="panel-title">
        Add New Checklist
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="panel-body" style="max-height:500px;overflow-y:auto;">


      <%if action_name == 'new'%>
        <div class="col-xs-6">
          <%=label_tag :checklist_header, "Select an Checklist Header:"%>
          <%=select_tag :checklist_header,
            options_for_select(@checklist_headers),
            {:include_blank => "", :class => 'form-control', :id => "checklist_header_select"}%>
        </div>
        <div class="col-xs-12"><hr></div>
      <%else%>

      <%end%>

      <div class="col-xs-12" id="checklist_form"></div>

    </div>
  </div>
</div>



<style>
  .required_label:after{
    content: " *";
    color: red;
    display: inline;
  }
</style>



<script>
  $(function(){
    $("#checklist_header_select").on("change", function(){
      $.get('<%=retract_form_checklists_path%>?owner_class=<%=@owner.class.name%>&owner_id=<%=@owner.id%>&checklist_header=' + $(this).val(), function(data){
        $("#checklist_form").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>


