<div class="col-xs-12">
  <div class="panel panel-lightskyblue">
    <div class="panel-heading">
      <div class="panel-title">
        Add New Checklist
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="panel-body" style="max-height:500px;overflow-y:auto;">
      <%if action_name == 'new'%>
        <div class="col-xs-6">
          
          <div class="span4 collapse-group">
            <a class="btn" data-toggle="collapse" data-target="#viewinstructionNew">View Instructions &raquo;</a>
            <div class="collapse" id="viewinstructionNew">
              <div class="col-xs-12">
                <div class="col-xs-12 well">
                  <ol>
                    <li>
                      Select a Checklist Header base for the template. 
                    </li>
                    <li>
                      Input a title for the checklist.
                    </li>
                    <li>
                      To upload a CSV file with information for the Checklist Template, click Choose File and select the file you would like to upload.
                      <ul>
                        <li>
                          This file must match the Checklist Header format, otherwise information from the file may not be uploaded.
                        </li>
                        <li>
                          You can also download a Sample Checklist.
                        </li>
                      </ul>
                    </li>
                    <li>
                      If no file is selected, an empty checklist will be created from the Checklist Headers.
                    </li>             
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <%=label_tag :checklist_header, "Select a Checklist Header:"%>
          <%=select_tag :checklist_header,
            options_for_select(@checklist_headers),
            {:include_blank => "",
            :class => 'form-control',
            :id => "checklist_header_select"}%>
        </div>

        <%if @owner.present?%>
          <div class="col-xs-6">
            <p>
              <b>As an alternative to Checklist Header, select a Checklist Template as a base for the checklist</b>
            </p>
            <%=label_tag :checklist_template, "Select a Checklist Template:"%>
            <%=select_tag :checklist_template,
              options_for_select(@checklist_templates),
              {:include_blank => "",
              :class => 'form-control',
              :id => "checklist_template_select"}%>
          </div>
        <%end%>

        <div class="col-xs-12"><hr></div>
      <%else%>
      <%end%>
      <div class="col-xs-12" id="checklist_form"></div>
    </div>
  </div>
</div>



<style>
  .required_label:after{
    content: " *";
    color: red;
    display: inline;
  }
</style>



<script>
  function retract_header_form(checklist_header){
    var owner_type = "<%=(@owner.present?) ? @owner.class.name : 'ChecklistHeader'%>";
    var owner_id = "<%=@owner.id if @owner.present?%>";
    if (!owner_id) owner_id = checklist_header;
    $.get('<%=retract_form_upload_checklists_path%>?' +
      "owner_type=" + owner_type +
      "&owner_id=" + owner_id +
      "&checklist_header=" + checklist_header, function(data){
      $("#checklist_form").html(data);
      $(window).trigger('resize');
    });
  }

  function retract_template_form(template_id){
    $.get('<%=retract_form_template_checklists_path%>?' +
      "owner_type=<%=@owner.class.name rescue nil%>" +
      "&owner_id=<%=@owner.id rescue nil%>" +
      "&template_id=" + template_id, function(data){
      $("#checklist_form").html(data);
      $(window).trigger('resize');
    });
  }

  $(function(){
    $("#checklist_header_select").on("change", function(){
      retract_header_form($(this).val());
    });

    $("#checklist_template_select").on("change", function(){
      retract_template_form($(this).val());
    });

  });
</script>


