<div class="col-xs-12">
  <div class="form-group mb10">
    <%=f.label :title, "Checklist Title", :class => 'required_label'%>
    <%=f.text_field :title, :class => "form-control required_field"%>
  </div>

  <%=link_to "Download Sample Checklist Here",
    export_checklist_header_path(@checklist_header, :format => "csv"),
    :download => "Sample_Checklist.csv",
    :target => "_blank"%>
    <br>
  <%=label_tag :checklist_upload, "Select a file to upload"%>
  <%=file_field_tag :checklist_upload,
    :class => "ml5",
    :style => "display:inline-block",
    :accept => ".csv, .xml",
    :id => "csv"%>

  <div class="mr10 mt10">
    <%=f.submit "Add",
      :class => "btn btn-success pull-right mt5 mr5",
      :disable_with => "Adding..."%>
  </div>
</div>



