<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>

<%=form_for @owner do |f|%>

<div class="col-xs-12">
	<div class="panel panel-lightskyblue">
		<div class="panel-heading">
			<div class="panel-title">
				Complete Checklist
				<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
		</div>
		<div class="panel-body" style="max-height:500px;overflow-y:auto;">

			<table class="table table-bordered">
				<thead>
					<tr>
						<%@owner.checklist_header.checklist_header_items.where(:archive => false).order(:display_order).each do |item|%>
							<th><%=item.title%></th>
						<%end%>
					</tr>
				</thead>
				<tbody id="checklist_rows">
					<%@owner.checklist_rows.each do |checklist_row|%>
						<%=f.fields_for :checklist_rows, checklist_row do |row_form|%>
							<%=render 'checklist_row_fields', :checklist_row => checklist_row, :f => row_form, :source => 'Existing'%>
						<%end%>
					<%end%>
				</tbody>
			</table>


			<div class="mr10 mt10">
				<%=f.submit "Save", :class => "btn btn-success pull-right", :disable_with => "Saving..."%>
			</div>
		

		</div>			
	</div>
</div>


<%end%>
