<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<%=form_for @im.becomes(Im) do |x|%>
	<%=x.fields_for :expectations,@expectation do |f|%>
		<div class="panel-warning">
			<div class="panel-heading">
				<div class="panel-title">New <%=@im.class.display_name%> Expectation
				<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button></div>
			</div>
			<div class="panel-body">
				<div class="row" style="max-height: calc(100vh - 210px);overflow-y:auto">
			        <div class="form-group form-inline col-xs-6">
			          <%=label_tag :created_by, "Created By"%>

					  <div class="input-group">
			          	<%=text_field_tag :created_by,"",{:class=>"form-control ml5 emp",:readonly=>true,:id=>"emp_1"}%>
			          	<%=f.hidden_field :user_id,:id=>"employee-select1"%> 
      					<span class="input-group-btn">
			          		<%=link_to "...","#",:class=>"btn btn-info",:id=>"emp1"%>   
			          	</span>
			          </div>              
			        </div>
					<div class="form-group form-inline col-xs-6">
						<%=f.label :title%>
						<%=f.text_field :title,:class=>"form-control ml5"%>
					</div>
					<div class="form-group form-inline col-xs-6">
						<%=f.label :revision_level,"Revision Level"%>
						<%=f.text_field :revision_level,{:class=>"form-control ml5"}%>
					</div>
					<div class="form-group form-inline col-xs-6">
						<%=f.label :revision_date,"Revision Date"%>
						<%=f.text_field :revision_date,:class=>"form-control ml5 field-date"%>
					</div>
					<div class="form-group form-inline col-xs-6">
						<%=f.label :department%>
						<%=f.select :department,@apply,{:include_blank=>true},{:class=>"form-control ml5"}%>
					</div>
					<div class="form-group form-inline col-xs-6">
						<%=f.label :reference_number,"Reference Number"%>
						<%=f.text_field :reference_number,{:class=>"form-control ml5"}%>
					</div>
					<div class="form-group col-xs-12">
						<%=f.label :reference%>
						<%=f.text_area :reference,:rows=>"5",:class=>"form-control"%>
					</div>
					<div class="form-group col-xs-12">
						<%=f.label :expectation,"#{@im.class.display_name} Expectation"%>
						<%=f.text_area :expectation,:rows=>"5",:class=>"form-control"%>
					</div>
					<div class="form-group col-xs-12">
						<%=f.label :instruction,"Instructions"%>
						<%=f.text_area :instruction,:rows=>"5",:class=>"form-control"%>
					</div>
				</div>
				<%=x.submit "Save",:class=>"btn btn-success pull-right mt5", disable_with: "Saving..."%>
			</div>
		</div>
	<%end%>
<%end%>
<div style="display:none" id="emp_div">
	<div class="panel panel-info">
 		<div class="panel-heading">
    		<div class="panel-title"><b>Employee Search</b>
    			<button type="button" class="close pull-right" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
    		</div>
  		</div>
		<div class="panel-body">
			<div class="row">
			  <div class='col-xs-12'>
			    <table class="table table-hover" id="users">
			      <thead>
			          <tr>
			            <%@headers.keys.each do |k|%>
			                <th><%=k%></th>
			            <%end%>  
			          </tr>
			      </thead>
			      <tbody>
			        <%@users.each do |u|%>
			          <tr uid="<%=u.id%>" class="list_tr">
			            <%@headers.values.each do |v|%>
			              <td><%=u.send(v)%></td>
			            <%end%>
			          </tr>
			        <%end%>
			      </tbody>
			    </table>
			  </div>
			</div>
		</div>
	</div>
</div>

<script>
	var table;
	function build_table(){
		table=$('#users').DataTable({
  		"aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
  		"iDisplayLength": 5
		});
	}
	function clear_table()
	{
		table.destroy();
	}
	$(document).ready(function(){
		build_table();
	    $('#emp1').on('click',function(){
	   		$('form').hide();
	   		$("#emp_div").show();
	   		clear_table();
      		$('tbody tr' ).unbind();
      		$('.close' ).unbind();
	   		
			$('tbody tr').on('click',function(){
				$('#emp_1').val($(this).find('td').eq(3).text());
				$('#employee-select1').val($(this).find('td').eq(0).text());
	   			$('form').show();
	   			$('#emp_div').hide();
			});
		    $('.close').on('click',function(){
		    	$('#emp_1').val("");
		    	$('#employee-select1').val("");
	   			$('form').show();
	   			$('#emp_div').hide();
	    	});
			build_table();
	   	});
	    $(".basic-datepicker").datepicker().on('focus', function() {
	      $(this).trigger('blur');
	    });
	});
</script>