<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/timezone-control.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          <b><%="#{action_name.titleize} #{@im.class.display_name}"%></b>
        </div>
      </div>
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <%=render 'emp'%>
          </div>
        </div>
      </div>
      <div class="panel-body" id="form_body">
        <%= form_for @im.becomes(Im),:html => {:multipart => true}  do |f|%>
          <%=hidden_field_tag :type,@im.type%>
          <div class="row">
            <%if @im.type=="JobAid"%>
              <div class="form-group form-inline col-xs-6">
                <%=f.label :job_aid,"Job Aid",:style=>"color:red"%>
                <%=f.select :job_aid,@aid,{:include_blank=>true},:class=>"form-control ml5 required_field"%>
              </div>
            <%end%>
            <div class="form-group form-inline col-xs-6">
              <%=f.label :title%>
              <%=f.text_field :title,:class=>"form-control ml5"%>
            </div>
            <div class="form-group form-inline col-xs-6">
              <%=label_tag :lead, "Lead Evaluator"%>
              <div class="input-group">
                <%=text_field_tag :emp,"",{:class=>"form-control ml5 emp",:readonly=>true,:value=> @im.evaluator.present? ? @im.evaluator.full_name : "",:id=>"emp_1"}%>
                <%=f.hidden_field :lead_evaluator,:id=>"employee-select1"%>
                <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg",:id=>"emp1"%></span>
              </div>
            </div>
            <div class="form-group form-inline col-xs-6">
              <%=f.label :completion_date, "Completion Date"%>
              <%=f.text_field :completion_date,:class=>"form-control ml5 field-date"%>
            </div>
            <%if @im.type!="JobAid"%>
              <div class="form-group form-inline col-xs-6">
                <%=f.label :location%>
                <%=f.select :location, CONFIG.custom_options['Locations'], {:include_blank=>true}, :class=>"form-control ml5"%>
              </div>
              <div class="form-group form-inline col-xs-6">
                <%=f.label :apply_to,"Plan Applies To"%>
                <%=f.select :apply_to, CONFIG.custom_options['Departments'],{:include_blank=>true},:class=>"form-control ml5"%>
              </div>
              <div class="form-group form-inline col-xs-6">
                <%=f.label :org_type,"Organization Type"%>
                <%=f.select :org_type,CONFIG.custom_options['Internal Departments'],{:include_blank=>true},:class=>"form-control ml5"%>
              </div>
            <%end%>
            <div class="form-group col-xs-12">
              <%=f.label :obj_scope,"Objective and Scope"%>
              <%=f.text_area :obj_scope,{:class=>"form-control ml5",:rows=>"10"}%>
            </div>
            <div class="form-group col-xs-12">
              <%=f.label :ref_req,"References and Requirements"%>
              <%=f.text_area :ref_req,{:class=>"form-control ml5",:rows=>"10"}%>
            </div>
            <div class="form-group col-xs-12">
              <%=f.label :instruction,"Instructions"%>
              <%=f.text_area :instruction,{:class=>"form-control ml5",:rows=>"10"}%>
            </div>
            <div class="form-group form-inline col-xs-6">
              <%=label_tag :rev, "Preliminary Reviewer"%>
              <div class="input-group">
              <%=text_field_tag :rev,"",{:class=>"form-control ml5 emp",:readonly=>true,:value=> @im.reviewer.present? ? @im.reviewer.full_name : "",:id=>"emp_2"}%>
              <%=f.hidden_field :pre_reviewer,:id=>"employee-select2"%>
              <span class="input-group-btn"><%=link_to "...","#",:class=>"btn btn-info","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg",:id=>"emp2"%></span>
              </div>
            </div>
          </div>
          <%= render 'forms/attachments_form', f: f, owner: @im %>
          <div class="mt10">
            <%= f.submit "Save", class:"btn btn-success pull-right", disable_with: "Saving..."%>
            <%if action_name == "new"%>
              <%=link_to "Cancel", ims_path(:type=>@im.type), :id=>"cancel-btn", :class=>"mr5 btn btn-default pull-right", :confirm=>'The Implementation Plan has not been saved or submitted, and all information that you have entered will be lost. Do you want to continue to cancel?'%>
            <%elsif action_name == "edit"%>
              <%=link_to "Cancel", im_path(@im), :id=>"cancel-btn", :class=>"mr5 btn btn-default pull-right", :confirm=>'The Implementation Plan has not been saved or submitted, and all information that you have entered will be lost. Do you want to continue to cancel?'%>
            <%elsif action_name == "reoccur"%>
              <%=link_to "Cancel", im_path(@base), :id=>"cancel-btn", :class=>"mr5 btn btn-default pull-right", :confirm=>'The Implementation Plan has not been saved or submitted, and all information that you have entered will be lost. Do you want to continue to cancel?'%>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script>
  var table;
  function build_table(){
    table=$('#users').DataTable({
      "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
      "iDisplayLength": 5
    });
  }
  function clear_table()
  {
    table.destroy();
  }
  $(document).ready(function(){
    build_table();
      $('#emp1').on('click',function(){
        $(".bs-example-modal-lg").show();
        clear_table();
        $('tbody tr' ).unbind();
        $('.close' ).unbind();
        $('tbody tr').on('click',function(){
          $('#emp_1').val($(this).find('td').eq(1).text());
          $('#employee-select1').val($(this).find('td').eq(0).text());
          $('.bs-example-modal-lg').modal('toggle');
          $('#emp_div').hide();
        });
        $('.close').on('click',function(){
          $('#emp_1').val("");
          $('#employee-select1').val("");
          $('#emp_div').hide();
        });
        build_table();
      });
      $('#emp2').on('click',function(){
        $(".bs-example-modal-lg").show();
        clear_table();
        $('tbody tr' ).unbind();
        $('.close' ).unbind();

        $('tbody tr').on('click',function(){
          $('#emp_2').val($(this).find('td').eq(1).text());
          $('#employee-select2').val($(this).find('td').eq(0).text());
          $('.bs-example-modal-lg').modal('toggle');
          $('#emp_div').hide();
        });
        $('.close').on('click',function(){
          $('#emp_2').val("");
          $('#employee-select2').val("");
          $('#emp_div').hide();
        });
        build_table();
      });
  });
</script>
