<div class="col-xs-12 col-lg-12"%>
  <div class="panel panel-info">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Checklist</b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
      </div> 
    </div>
    <div class="panel-body" style="display:none"> 
      <%=link_to "Download",download_checklist_im_path(@im,:format=>"csv"),:class=>"btn btn-success pull-right mb5",:target=>"_blank"%>
      <table class="table table-hover" id="item_table">
        <thead>
          <tr>
            <%@checklist_headers.each do |h|%>
              <th><%=h[:title]%></th>
            <%end%>
            <th>Package</th>
          </tr>
        </thead>
        <tbody>
          <%@im.items.each do |i|%>
            <tr>
              <%@checklist_headers.each do |h|%>
                <td><%=i.send(h[:field])%></td>
              <%end%>
                <td>
                  <%if current_user.has_access("ims","edit") && current_user.has_access("packages", "new")%>
                    <%=link_to "Add","#",:class=>"btn btn-success new_package_btn",:item_id=>i.id,"data-toggle"=>"modal","data-target"=>".bs-example-modal-lg"%>
                  <%end%>
                  <%if i.packages.present?%>
                    <%=link_to "Show","#",:class=>"btn btn-info show_package_btn",:item_id=>i.id,"data-toggle"=>"modal","data-target"=>".bs-example-modal-lg"%>
                  <%end%>
                </td>
            </tr>
            <%if i.comment.present?%>
              <tr>
                <td colspan="<%=@checklist_headers.length+1%>">
                  <b>Comment: </b><%=i.comment%>
                </td> 
              </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
