<%if owner.tasks.present?%>
  <div class="col-xs-12 col-lg-12"%>
    <div class="panel panel-info">
      <div class="panel-heading click-heading collapsed">
        <div class="panel-title">
          <b>Tasks</b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
        </div>
      </div>
      <div class="panel-body" style="display:none">
        <div class="row">
          <%owner.tasks.each do |task|%>
            <div class="col-xs-12">
              <div class="panel panel-info">
                <div class="panel-heading click-heading collapsed">
                  <div class="panel-title">
                      <b>#<%=task.id%> <%=task.title%></b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
                  </div>
                </div>
                <div class="panel-body" style="display:none">
                  <div class="row">
                    <%=render '/forms/show_fields',
                      :fields => fields,
                      :record => task
                    %>


                    <div class='col-xs-12'>
                      <%if !['Pending Approval', 'Completed'].include? @owner.status%>
                        <%=link_to 'Edit', '#', class: 'edit-task-btn btn btn-warning pull-right mr5',
                          'data-path' => edit_sms_task_path(task),
                          'data-toggle' => 'modal',
                          'data-target' => '.bs-example-modal-lg'%>
                        <%=link_to 'Delete', sms_task_path(task),
                          method: 'delete', confirm: 'Are you sure?',
                          class: 'btn btn-danger pull-right mr5'%>
                      <%end%>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<%end%>


<script>
  $('.edit-task-btn').on('click', function(){
    $.get($(this).data('path'), function(data){
      $('.modal-content').html(data);
      $(window).trigger('reszie');
    });
  });
</script>

