<div class="col-xs-12">
	<div class="panel panel-info">
		<div class="panel-heading click-heading collapsed">
			<div class="panel-title">
		    	<b><%=exp.title%></b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
			</div> 
		</div>
		<div class="panel-body" style="display:none"> 
		  	<div class="row">
	            <div class='col-xs-6'>
	            	<b>Created By: </b><%=exp.get_created_by%>
	            </div>
	            <div class='col-xs-6'>
	            	<b>Revision Level: </b><%=exp.revision_level%>
	            </div>
	            <div class='col-xs-6'>
	            	<b>Revision Date: </b><%=exp.get_revision_date%>
	            </div>
	            <div class='col-xs-6'>
	            	<b>Department: </b><%=exp.department%>
	            </div>
	            <div class='col-xs-6'>
	            	<b>Reference Number: </b><%=exp.reference_number%>
	            </div>
	            <div class='col-xs-12'>
	            	<b>Reference: </b></br>
	            	<div class="col-xs-offset-1 col-xs-11">
	            		<%=exp.reference%>
	            	</div>
	            </div>
	            <div class='col-xs-12'>
	            	<b><%=exp.im.class.display_name%> Expectation: </b></br>
	            	<div class="col-xs-offset-1 col-xs-11">
	            		<%=exp.expectation%>
	            	</div>
	            </div>
	            <div class='col-xs-12'>
	            	<b>Instructions: </b></br>
	            	<div class="col-xs-offset-1 col-xs-11">
	            		<%=exp.instruction%>
	            	</div>
	            </div>
		  	</div>
		</div>
	</div>
</div>