<%=form_for @im.becomes(Im) do |x|%>
  <div class="panel-warning">
    <div class="panel-heading">
      <div class="panel-title">Update Checklist
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button></div>
    </div>
    <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto">
      <table class="table table-hover">
        <thead>
          <tr>
            <%@checklist_headers.each do |h|%>
              <th><%=h[:title]%></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <%@im.items.each do |i|%>
            <%=x.fields_for :items,i do |f|%>
              <tr>
                <%@checklist_headers.each do |h|%>
                  <%if h[:field]!="status" && h[:field]!="level_of_compliance"%>

                    <td><%=i.send(h[:field])%></td>
                  <%else%>
                    <td><%=f.select h[:field],i.class.send("get_"+h[:field]),{:include_blank=>true},{:class=>"form-control"}%></td>
                  <%end%>
                <%end%>
              </tr>
              <tr>
                <td colspan="<%=@checklist_headers.length%>">
                  <b>Comment</b></br>
                  <%=f.text_area :comment,{:class=>"form-control",:rows=>"2"}%>
                </td>
              </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
      <%=x.submit "Save",:class=>"btn btn-success pull-right mt5 mr5"%>
    </div>
  </div>
<%end%>
