<div class="col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				Query Conditions
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table  class="table table-bordered table-striped" width="100%">
					<thead>
						<tr>
							<th>#</th>
							<th>Template</th>
							<th>Category</th>
							<th>Field</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<%@query.query_conditions.each_with_index do |x, index|%>
							<tr>
								<td><%=index + 1%></td>
								<td><%=x.template.name%></td>
								<td><%=x.category.present? ? x.category.title : ""%></td>
								<td><%=x.field.present? ? x.field.label : ""%></td>
								<td><%=x.value.present? ? x.value : (x.start_date.present? ? "#{x.start_date.strftime('%Y-%m-%d')} TO #{x.end_date.strftime('%Y-%m-%d')}" : "All")%></td>
							</tr>
						<%end%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>