<div class="col-xs-12 mt10 to_delete">
  <div class="panel panel-lightsteelblue">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="top_text">
          Condition
        </div>
        <div class="top_buttons pull-right">
          <span class="pull-right" onclick="removepanel(this)">
            <i class="glyphicon glyphicon-remove btn btn-danger"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 row">

        <div id="to_delete_<%=insert_space%>" style="display: <%=is_operator ? 'none' : 'block'%>">

          <div class="form-group col-xs-4 form-inline">
            <%=label_tag :field, "Field"%>
            <%=text_field_tag "#{name_space}[field]", condition.field_name, {:list => "select_field", :class => "form-control ml5", :id => "field_select_all"}%>
            <datalist id="select_field">
              <%@fields.each do |field|%>
                <option data-fieldtype="<%=field[:type]%>" value="<%=field[:title]%>"><%=field[:header_name]%></option>
              <%end%>
            </datalist>
          </div>

          <div class="col-xs-4">
            <%=label_tag :logical_type, "Condition Type"%>
            <%=select_tag  "#{name_space}[logic]", options_for_select(@logical_types, condition.logic), :include_blank => "", :class => "form-control field-operator-all"%>
          </div>

          <div class="form-group col-xs-4 form-inline">
            <%=label_tag :value, "Value"%>
            <div class="field_value">
              <%=text_field_tag "#{name_space}[value]", condition.value, :class => "form-control value_field"%>
            </div>
          </div>

        </div>

      </div>


      <div id="to_insert_<%=insert_space%>" class="row mt5" style="display: <%=is_operator ? 'block' : 'none'%>">

        <div class="col-xs-12">
          <div class="col-xs-3">
            <%=label_tag :operator, "Nested Operator"%>
            <%=select_tag  "#{name_space}[operator]", options_for_select(@operators, condition.operator), :include_blank => "", :class => "form-control"%>
          </div>
        </div>

        <%condition.query_conditions.each do |sub_condition|%>
          <%=render "condition_form",
            condition: sub_condition,
            name_space: "#{name_space}[#{sub_condition.id}]",
            insert_space: "#{insert_space}_#{sub_condition.id}",
            is_operator: sub_condition.query_conditions.present?%>
        <%end%>

      </div>

      <div class="col-xs-12 del">
        <%=link_to_add_blocks "Add Nested Condition", "#{name_space}", "#{insert_space}"%>
      </div>

    </div>
  </div>
</div>




<style>
  .required_label:after{
    content: " *";
    color: red;
    display: inline;
  }
</style>


<script>
  $(function(){

    update_input_field($("#to_delete_<%=insert_space%> #field_select_all"), "<%=condition.value%>");

    $(document).on("change", "#field_select_all", function(){
      update_input_field($(this), "");
    });

    $(document).on("change", ".field-operator-all", function(){
      let field_name = $(this).parent().parent().find("#field_select_all").val();
      let field_type = $("option[value='" + field_name + "']").data("fieldtype");

      if (($(this).val() == '<' || $(this).val() == '>=') && (field_type == "date" || field_type == "datetime")) {
        let field_value = $(this).parent().parent().find(".field_value");
        $(field_value).find(".value_field").flatpickr({
          mode: "single",
          dateFormat: 'Y-m-d',
        });
      } else if (($(this).val() != '<' && $(this).val() != '>=') && (field_type == "date" || field_type == "datetime")) {
        let field_value = $(this).parent().parent().find(".field_value");
        $(field_value).find(".value_field").flatpickr({
          mode: "range",
          dateFormat: 'Y-m-d',
        });
      }
    });

  });


  function update_input_field(field, value) {

    var field_name = $(field).val();
    var field_type = $("option[value='" + field_name + "']").data("fieldtype");
    var field_value = $(field).parent().parent().find(".field_value");

    var name = $(field).attr("name").replace("field", "value");

    var html = '<input class="form-control value_field" id="' + name + '" name="' + name + '" type="text" value="' + value + '">';

    if (field_type == "date" || field_type == "datetime") {
      $(field_value).html(html);
      $(field_value).find(".value_field").flatpickr({
        mode: "range",
        dateFormat: 'Y-m-d',
      });

    } else if (field_type == "boolean_box" || field_type == "boolean") {
      html = '<select class="form-control value_field" id="' + name + '" name="' + name + '">' +
        '<option value></option>' +
        '<option ' + (value == "Yes" ? "selected" : "") + ' value="Yes">Yes</option>' +
        '<option ' + (value == "No" ? "selected" : "") + ' value="No">No</option>';
      $(field_value).html(html);

    } else {
      $(field_value).html(html);
    }
  }

</script>
