<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>


<div class="panel panel-lightblue">
  <div class="panel-heading">
    <div class="panel-title">
      Step 1. Select a Target
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="templates"
        class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Target Name</th>
          </tr>
        </thead>
        <tbody>
          <%if @types.length > 0%>
            <%@types.stringify_keys.each do |k, v|%>
              <tr><td data-target-name="<%=v%>"><%=k%></td></tr>
            <%end%>
          <%else%>
            <%@templates.stringify_keys.each do |k, v|%>
              <tr><td data-template-id="<%=v%>"><%=k%></td></tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>



<script>
  $(function(){

    <%if @owner.target.present?%>
      <%if @types.present?%>
        clickTemplate($('td[data-target-name="<%=@owner.target%>"]'));
      <%else%>
        <%@owner.target.split(",").each do |template|%>
          $("td[data-template-id='" + <%=template%> + "']").css("background-color", "lightblue");
        <%end%>
        clickTemplate(null, true);
      <%end%>
    <%end%>

    $("tbody tr td").on("click", function(){
      clickTemplate($(this), <%=@templates.length > 0%>);
    });
  });

  function clickTemplate(cell, allow_multiple){

    if (allow_multiple) {
      if($(cell).css("background-color") === "rgb(173, 216, 230)")
        $(cell).css("background-color", "transparent");
      else
        $(cell).css("background-color", "lightblue");
    } else {
      $("td").css("background-color", "transparent");
      $(cell).css("background-color", "lightblue");
    }

    var templates = getSelectedTemplates();
    var display_name = getDisplayName();

    console.log(templates);
    console.log(display_name);

    $.ajax({
      url: "<%=load_conditions_block_queries_path%>",
      type: 'GET',
      data: {
        <%if @owner.id.present?%>
          "query_id": <%=@owner.id%>,
        <%end%>
        "target": $(cell).attr("data-target-name"),
        "templates": templates,
        "target_display_name": display_name
      },
      beforeSend: function(){$('#step2_loader').show();$("#building_query").css({'opacity':0.5});},
      complete: function(){$('#step2_loader').hide();$("#building_query").css({'opacity':1});},
      success: function(response){$("#building_query").html(response);},
      error: function(response){console.log(response);}
    });
  }


  function getSelectedTemplates() {
    var templates = [];
    $("td").each(function(){
      if ($(this).css("background-color") === "rgb(173, 216, 230)") {
        templates.push($(this).attr("data-template-id"));
      }
    });
    return templates;
  }

  function getDisplayName() {
    var names = [];
    $("td").each(function(){
      if ($(this).css("background-color") === "rgb(173, 216, 230)") {
        names.push($(this).html());
      }
    });
    return names.join(", ");
  }


</script>
