<link rel="stylesheet" type="text/css" href="/javascripts/utility/select2.min.css"/>
<script type="text/javascript" src="/javascripts/utility/select2.min.js"></script>

<%query_meta_fields = Query.get_meta_fields('form')%>
<%record = @owner%>

  <div class="col-xs-12 mt10 to_delete">
    <div class="panel panel-lightsteelblue">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            Set Threshold for Notification
          </div>
          <div class="top_buttons pull-right">
            <span class="pull-right">
              <i class="glyphicon glyphicon-info-sign btn btn-warning" data-toggle="tooltip" title="This will notify when number of results under this query exceeds the threshold."></i>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 row">
          <%query_meta_fields.each do |field_hash|%>
            <%field_type            = field_hash[:type]%>
            <%field_description     = field_hash[:title]%>
            <%field_content         = field_hash[:content]%>
            <%field_num_cols        = field_hash[:num_cols]%>
            <%field_name            = field_hash[:field]%>
            <%field_required_field  = field_hash[:required] ? "required_field" : ""%>
            <%field_required_label  = field_hash[:required] ? "required_label" : ""%>
            <%field_options         = (field_hash[:options].is_a? String) ? eval(field_hash[:options]).sort! : field_hash[:options].sort! rescue []%>
            <div class="form-group col-xs-<%=field_num_cols%> <%=field_name%>">
              <%case field_type%>
                <%when "select_multiple"%>
                  <%=label_tag(field_name, field_description, :class => field_required_label)%>
                    <%=select_tag field_name,
                      options_for_select(field_options, record.send(field_name)),
                      {:class => "select-multiple field_select form-control " + field_required_field,
                      :include_blank => "",
                      :multiple => true}%>
                <%when "text"%>
                  <%= label_tag(field_name, field_description, :class => field_required_label)%>
                  <%=text_field_tag field_name, nil, {:class => "form-control " + field_required_field}%>
                <%else%>
              <%end%>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>



<style>
  .required_label:after{
    content: " *";
    color: red;
    display: inline;
  }
</style>

<script>
    $('[data-toggle="tooltip"]').tooltip()
    $(document).ready(function() {
      $('.select-multiple').select2();
    });
    var employee_table;

    function build_user_table(){
      employee_table = $('#users').DataTable({
        "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
        "iDisplayLength": 5
      });
    }

    function clear_user_table(){
      employee_table.destroy();
    }

    $(function() {
      $('.select-multiple').select2();

      $(window).resize();
      build_user_table();

      $(this).find(".emp_button").each(function(index, item){
        $(item).on("click", function(){
          var field_id = $(this).prop('id');
          $(".emp_modal").show();
          clear_user_table();
          $("#users tbody tr").unbind();
          // $(".close").unbind();
          $("#users tbody tr").on("click", function(){
            $(item).parent().parent().find("#emp" + field_id).val($(this).find("td").eq(1).text());
            $(item).parent().parent().find("#employee-select"+field_id).val($(this).find("td").eq(0).text());
            $('#emp_div').hide();
            $('.emp_modal').modal('toggle');
          });
          $('.close').on('click',function(){
            $(item).parent().parent().find("#emp"+field_id).val("");
            $(item).parent().parent().find("#employee-select"+field_id).val("");
            $('#emp_div').hide();
          });
          build_user_table();
        });
      });


      $("form").on('submit', function(){
        var error = false;
        var result = true;
        $(".required_field").css('border-color', '');
        $(".int-val").css('border-color', '');
        $(this).find('.required_field').each(function(){
          if ($(this).val() == "" || $(this).val() == null){
            error = true;
            result = false;
            $(this).css('border-color', 'red');
            event.preventDefault();
          }
        });
        if (error){
          swal({
            title: "Please fill in all required fields.",
            type: "error",
          });
          return result;
        }
      });

    });

  </script>
