<%=javascript_include_tag(
  'https://www.gstatic.com/charts/loader.js'
)%>


<div class="panel panel-lightblue">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="top_text">
        Visualizations
      </div>
      <div class="top_buttons pull-right">
        <%=link_to "Add Visualization", "#",
          :id => "add_btn",
          :class => "btn btn-success pull-right mr5"%>
      </div>
    </div>
  </div>
  <div class="panel-body" id="visualizations">
    <%if @owner.visualizations.present?%>
      <%@owner.visualizations.each do |visualization|%>
        <%=render "visualization",
          records: @records_ids.join(","),
          visualization: visualization%>
      <%end%>
    <%end%>
  </div>
</div>


<style>
  .visualization_box .panel-lightsteelblue .panel-heading .panel-title {
    padding: 5px !important;
    min-height: 0px !important;
  }
  .panel-lightsteelblue {
    border: 1px solid lightsteelblue;
  }
</style>



<script type="text/javascript">
  $(function(){

    $(".chart_btn").click();
    set_pin_visualizations_listener();

    $("#add_btn").on("click", function(e){
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "<%=add_visualization_query_path(@owner)%>",
        data: {"records": "<%=@records_ids.map(&:to_i).join(',')%>"},
        success: function(response){
          $("#visualizations").prepend(response);
          set_pin_visualizations_listener();
        },
        error: function(response){console.log(response);}
      });
    });

    $(".unpin-btn").on("click", function(e){
      e.preventDefault();
      var visualization_id = $(this).data("visualization-id");
      if (confirm('Are you sure you want to Unpin this Visualization from the Module Dashboard?')) {
        $.ajax({
          type: "POST",
          url: "<%=unpin_visualization_query_path(@owner)%>",
          data: {
            "visualization_id": visualization_id,
          },
          success: function(response){
            alert(response['message']);
            $('#unpin_charts_btn_' + response['vis_id']).hide();
          },
          error: function(response){
            console.log('error unpinning visualization!');
          },
        });
      }
    });
  });

  function set_pin_visualizations_listener() {
    $('.pin-vis-btn').on('click', function(e){
      e.preventDefault();
      if (confirm('Are you sure you want to Pin this Visualization to the Module Dashboard?')) {

        $.ajax({
          type: "GET",
          url: $(this).data('path'),
          success: function(response){
            $('.modal').modal('toggle');
            $('.modal-content').html(response);
            $(window).trigger('resize');
          },
          error: function(response){
            console.log('error pinning visualization!');
          }
        });
      }
    });
  }
</script>


