<div class="col-xs-12 visualization_box" id="visualization_<%=visualization.id%>">
  <div class="panel panel-lightsteelblue">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="top_text">
          Visualization
        </div>
        <div class="top_buttons pull-right">
          <%=link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe, "#",
            :class => "remove_btn btn btn-danger pull-right",
            "data-visualization-id" => "#{visualization.id}"%>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">

          <div class="form-group row col-xs-10">
            <%=label_tag :x_axis, 'X-axis', class: "col-sm-4 col-form-label"%>
            <div class="col-sm-8">
              <%=text_field_tag :x_axis, visualization.x_axis,
                {list: "select_field", class: "form-control ml5", id: "x_axis_#{visualization.id}"}%>
              <datalist id="select_field">
                <%@fields.each do |x|%>
                  <option value="<%=x[:title]%>" data-field-type="<%=x[:type]%>"><%=x[:nested_field_title]%></option>
                <%end%>
              </datalist>
            </div>
          </div>

          <% if CONFIG::GENERAL[:auto_populate_nested_fields_visualizations] %>
            <div class="col-sm-2 pull-right">
              <%=check_box_tag :nested_visualization_xaxis, 0, false,
                id: "nested_visualization_xaxis_#{visualization.id}",
                class: 'form-control xaxis_nested_vis_checkbox',
                'data-toggle' => "tooltip",
                'title' => "Populate all the nested field visualizations for X-axis" %>
            </div>
          <% end %>

          <div class="form-group row col-xs-10">
            <%=label_tag :series, 'Series (Optional)', class: "col-sm-4 col-form-label"%>
            <div class="col-sm-8">
              <%=text_field_tag :series, visualization.series,
                {list: "select_field", class: "form-control ml5", id: "series_#{visualization.id}"}%>
            </div>
          </div>

          <% if CONFIG::GENERAL[:auto_populate_nested_fields_visualizations] %>
            <div class="col-sm-2 pull-right">
              <%=check_box_tag :nested_visualization_series, 0, false,
                id: "nested_visualization_series_#{visualization.id}",
                class: 'form-control series_nested_vis_checkbox',
                'data-toggle' => "tooltip",
                'title' => "Populate all the nested field visualizations for Series" %>
            </div>
          <% end %>

          <div class="form-group row col-xs-10">
            <%=label_tag :default_chart, 'Default Chart Type (Optional)', class: "col-sm-4 col-form-label"%>
            <div class="col-sm-8">
              <%=select_tag :default_chart,
                options_for_select(@chart_types.collect{|chart| [chart[:chart_name], chart[:val]]}, visualization.default_chart),
                class: "form-control ml5",
                id: "default_chart_#{visualization.id}"%>
            </div>
          </div>

          <div class="col-sm-2 pull-right">
            <%=link_to "<span class=\"glyphicon glyphicon-refresh\"></span>".html_safe, "#",
              class: "btn btn-success chart_btn",
              id: "generate_charts_btn_#{visualization.id}",
              'data-toggle' => "tooltip",
              'title' => "Generate/Refresh Charts",
              "data-visualization-id" => visualization.id%>
          </div>

          <div class="col-xs-12 mt10">
            <div id="loader_<%=visualization.id%>" style="display:none">
              <div class="centered loader"></div>
              <div class="loading-text">Loading</div>
            </div>
            <div class='chart_area' id="chart_area_<%=visualization.id%>"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<style type="text/css">
  .series_nested_vis_checkbox, .xaxis_nested_vis_checkbox {
    width: 34px;
    margin-top: 0px !important;
  }

  .series_nested_vis_checkbox {
    margin-bottom: 4px !important;
  }

</style>

<script type="text/javascript">
  // Generate color interplation
  function colorInterpolation(steps){
    var colorArray = [];
    if(steps == 1){
      colorArray = ["red"]
    }else{
      var colorInterpolator = d3.interpolateRgb("red", "yellow");
      colorArray = d3.range(0, (1 + 1 / steps), 1 / (steps - 1)).map(function(d) {
        return colorInterpolator(d)
      });
    }
    return colorArray;
  }

  $(window).resize(function() {
    if(this.resizeTO) clearTimeout(this.resizeTO);
    this.resizeTO = setTimeout(function() {
      $(this).trigger('resizeEnd');
    }, 100);
  });


  $(function(){

    $("#generate_charts_btn_<%=visualization.id%>").on("click", function(e){
      e.preventDefault();
      var visualization_id = $(this).data("visualization-id");

      $.ajax({
        type: "POST",
        url: "<%=generate_visualization_query_path(@owner)%>",
        data: {
          "visualization_id": visualization_id,
          "x_axis": $("#x_axis_" + visualization_id).val(),
          "series": $('#series_' + visualization_id).val(),
          "nested_xaxis": $("#nested_visualization_xaxis_" + visualization_id).is(":checked"),
          "nested_series": $('#nested_visualization_series_' + visualization_id).is(":checked"),
          "default_chart": $('#default_chart_' + visualization_id).val(),
          "records": "<%=records%>",
        },
        beforeSend: function(){
          $('#loader_' + visualization_id).show();
          $("#chart_area_" + visualization_id).css({'opacity':0.5});
        }, complete: function(){
          $('#loader_' + visualization_id).hide();
          $("#chart_area_" + visualization_id).css({'opacity':1});
        }, success: function(response){
          $("#chart_area_" + visualization_id).html(response);
        }, error: function(response){
          $("#chart_area_" + visualization_id).html(response);
        },
      });
    });

    $('.remove_btn').unbind().on('click', function(e){

      e.preventDefault();
      if (confirm('Are you sure?')) {
        var visualization_id = $(this).data("visualization-id");
        $(this).closest('.visualization_box').remove();
        $.ajax({
          type: "GET",
          url: "<%=remove_visualization_query_path%>",
          data: {
            "visualization_id": visualization_id,
          },
          beforeSend: function(){
            $('#loader_' + visualization_id).show();
            $("#chart_area_" + visualization_id).css({'opacity':0.5});
          }, complete: function(){
            $('#loader_' + visualization_id).hide();
            $("#chart_area_" + visualization_id).css({'opacity':1});},
          success: function(response){},
          error: function(response){
            console.log('error deleting' + visualization_id + '!');
          }
        });
      }
    });

  });

</script>
