<%@field_name = @field[:title].parameterize.underscore%>
<%@label = @field[:title]%>

<div class="row">
  <ul class="nav nav-tabs">
    <li class="active">
      <a class="nav-item nav-link active"
        id="nav-grid-tab-<%=@field_name%>"
        data-toggle="tab"
        href="#nav-grid-<%=@field_name%>"
        role="tab"
        aria-controls="nav-grid-<%=@field_name%>"
        aria-selected="true">
        Grid View
      </a>
    </li>
    <li>
      <a class="nav-item nav-link"
        id="nav-chart-tab-<%=@field_name%>"
        data-toggle="tab"
        href="#nav-piechart-<%=@field_name%>"
        role="tab"
        aria-controls="nav-chart-<%=@field_name%>"
        aria-selected="false">
        Pie Chart
      </a>
    </li>
    <li>
      <a class="nav-item nav-link"
        id="nav-chart-tab-<%=@field_name%>"
        data-toggle="tab"
        href="#nav-barchart-<%=@field_name%>"
        role="tab"
        aria-controls="nav-chart-<%=@field_name%>"
        aria-selected="false">
        Bar Chart
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane in show active"
      id="nav-grid-<%=@field_name%>"
      role="tabpanel"
      aria-labelledby="nav-grid-tab-<%=@field_name%>">
      <%= render "/queries/charts/grid_view"%>
    </div>
    <div class="tab-pane"
      id="nav-piechart-<%=@field_name%>"
      role="tabpanel"
      aria-labelledby="nav-piechart-tab-<%=@field_name%>">
      <%= render "/queries/charts/piechart_view"%>
    </div>
    <div class="tab-pane"
      id="nav-barchart-<%=@field_name%>"
      role="tabpanel"
      aria-labelledby="nav-barchart-tab-<%=@field_name%>">
      <%= render "/queries/charts/barchart_view"%>
    </div>
  </div>
</div>




<style>
.tab-content>.tab-pane {
  height: 1px;
  overflow: hidden;
  display: block;
 visibility: hidden;
}
.tab-content>.active {
  height: auto;
  overflow: auto;
  visibility: visible;
}

</style>





