<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          <b>Edit FAA Report</b> 
        </div>
      </div>
      <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto" id="form_body"> 
        <%= form_for @report do |f|%> 
          <div class="row">
            </br>
            <%if !@current%>
              <div class="form-group form-inline col-sm-3">
                <%=f.label :year, :class=>"required"%>
                <%=f.select :year,(2000..Time.now.year).to_a.reverse,{:include_blank=>""},{:class=>"form-control ml5 required_field"}%>
              </div>
              <div class="form-group form-inline col-sm-3">
                <%=f.label :quarter, :class=>"required"%>
                <%=f.select :quarter,(1..4),{:include_blank=>""},{:class=>"form-control ml5 required_field"}%>
              </div>
              <div class="form-group form-inline col-sm-12">
              	<%=f.label :employee_group, "ASAP MOU Employee Group", :class=>"required"%>
              	<%=f.select :employee_group, FaaReport.getEmployeeGroup, {:selected => @report.employee_group, include_blank: true}, {:class=>"form-control required_field"}%>
              </div>
            <%end%>


            
            <div class="form-group form-inline col-sm-12">
              <%=f.label :faa, "FAA Member", :class=>"required"%>
              <%=f.text_field :faa,{:class=>"form-control ml5 required_field",:size=>"100"}%>
            </div>
            <div class="form-group form-inline col-sm-12">
              <%=f.label :company, "Company Member", :class=>"required"%>
              <%=f.text_field :company,{:class=>"form-control ml5 required_field",:size=>"100"}%>
            </div>
            <div class="form-group form-inline col-sm-12">
              <%=f.label :labor, "Labor Member", :class=>"required"%>
              <%=f.text_field :labor,{:class=>"form-control ml5 required_field",:size=>"100"}%>
            </div>
            <div class="form-group form-inline col-sm-12">
              <%=f.label :asap, "ASAP Manager", :class=>"required"%>
              <%=f.text_field :asap,{:class=>"form-control ml5 required_field",:size=>"100"}%>
            </div>
          </div>
          <div class="mt10">
            <div class="form-actions">
              <%= f.submit "Save", class:"btn btn-success pull-right", :disable_with => "Saving..."%>
            </div>
            <%=link_to "Cancel", action_name=="edit" ? faa_report_path(@report)  : faa_reports_path, :id=>"cancel-btn", :class=>"mr5 btn btn-warning pull-right", :confirm=>'The FAA Report has not been saved or submitted, and all information that you have entered will be lost. Do you want to continue to cancel?'%>
          </div>
        <%end%>
      </div> 
    </div>       

<style>
  .datepicker {
    z-index: 1200 !important;
	}

	.required:after{
		content: " *";
		color: red;
		display: inline;
	}
</style>
