<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-steelblue">
      <div class="panel-heading">
        <div class="panel-title">
          <b>New FAA Quarterly Report</b>
        </div>
      </div>
      <div class="panel-body" id="form_body">
        <%= form_for @report do |f|%>

          <div class="row">

            <div class="col-xs-12">

              <div class="form-group form-inline col-sm-4">
                <%=f.label :year, :class => "required"%>
                <%=f.select :year,
                  ((Time.now.year - 10)..(Time.now.year + 1)).to_a.reverse,
                  {:include_blank=>""},
                  {:class=>"form-control ml5 required_field"}%>
              </div>
              <div class="form-group form-inline col-sm-4">
                <%=f.label :quarter, :class=>"required"%>
                <%=f.select :quarter,
                  options_for_select(FaaReport.fiscal_quarter.collect{|q| [q[:display], q[:quarter]]}),
                  {:include_blank=>""},
                  {:class=>"form-control ml5 required_field"}%>
              </div>
              <div class="form-group form-inline col-sm-4">
                <%=f.label :employee_group,
                  "ASAP MOU Employee Group",
                  :class => "required"%>
                <%=f.select :employee_group,
                  options_for_select(FaaReport.getEmployeeGroup),
                  {:include_blank => true},
                  {:class => "form-control required_field"}%>
              </div>
              <div class="form-group form-inline col-sm-12">
                <%=f.label :faa,
                  "FAA Member",
                  :class => "required"%>
                <%=f.text_field :faa,
                  {:class => "form-control ml5 required_field",
                  :size => "100"}%>
              </div>
              <div class="form-group form-inline col-sm-12">
                <%=f.label :company,
                  "Company Member",
                  :class=>"required"%>
                <%=f.text_field :company,
                  {:class => "form-control ml5 required_field",
                  :size => "100"}%>
              </div>
              <div class="form-group form-inline col-sm-12">
                <%=f.label :labor,
                  "Labor Member",
                  :class => "required"%>
                <%=f.text_field :labor,
                  {:class => "form-control ml5 required_field",
                  :size => "100"}%>
              </div>
              <div class="form-group form-inline col-sm-12">
                <%=f.label :asap,
                  "ASAP Manager",
                  :class => "required"%>
                <%=f.text_field :asap,
                  {:class => "form-control ml5 required_field",
                  :size => "100"}%>
              </div>
            </div>


            <div class="mt10 mr20">
              <div class="form-actions">
                <%= f.submit "Save",
                  :class => "btn btn-success pull-right",
                  :disable_with => "Saving..."%>
              </div>
              <%=link_to "Cancel",
                action_name == "edit" ? faa_report_path(@report) : faa_reports_path,
                :id => "cancel-btn",
                :class => "mr5 btn btn-default pull-right",
                :confirm => 'Are you sure?',
                :disable_with => "Redirecting..."%>
            </div>

          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<style>
  .datepicker {
    z-index: 1200 !important;
  }
  .required:after{
    content: " *";
    color: red;
    display: inline;
  }
</style>


<script>
  $(document).ready(function(){
    $("form").on('submit',function(){
      $(this).find('.required_field').each(function(){
        if ($(this).val()==""){
          $(".required_field").css('border-color', 'red');
          $("#warning").show();
          event.preventDefault();
        }
      });
    });
  });
</script>
