<div class="col-sm-12 col-md-12 col-lg-12"%>
	<div class="panel panel-lightskyblue">
		<div class="panel-heading click-heading">
			<div class="panel-title">
				<b>Identification</b>
				<span class="pull-right clickable">
					<i class="mt5 glyphicon glyphicon-chevron-up"></i>
				</span>
			</div> 
		</div>
		<div class="panel-body"> 
			<div class="row">
				<div class="col-xs-12">
					<b>Fiscal Year: </b><%=@report.year%>
				</div>
				<div class="col-xs-12">
					<b>Fiscal Year Quarter: </b><%=@report.get_fiscal_quarter%>
				</div>
				<%@identification.each_pair do |k,v|%>
					<div class="col-xs-12">
						<b><%=k%>:</b> <%=v%>
					</div>
				<%end%>
				<div class="col-xs-12">
					<b>ASAP MOU Employee Group: </b><%=@report.employee_group%>
				</div>
			</div>
		</div>
	</div>
</div>