<div class="col-sm-12 col-md-12 col-lg-12"%>
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading">
      <div class="panel-title">
        <b>Statistics</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-up"></i>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <b>Date Range: </b><%=@report.get_range%>
        </div>
        <div class="col-xs-12">
          <b>Number of ASAP reports submitted present quarter: </b><%=link_to @report.asap_submit,"#",:class=>"report_link","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg",:mode=>"1"%>
        </div>
        <div class="col-xs-12">
          <b>Number of ASAP reports accepted present quarter: </b><%=link_to @report.asap_accept,"#",:class=>"report_link","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg",:mode=>"2"%>
        </div>
        <div class="col-xs-12">
          <b>Number of accepted reports present quarter that were sole source to the FAA: </b><%=link_to @report.sole,"#",:class=>"report_link","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg",:mode=>"3"%>
        </div>
        <div class="col-xs-12">
          <b>Number of accepted reports present quarter closed under ASAP: </b><%=link_to @report.asap_close,"#",:class=>"report_link","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg",:mode=>"5"%>
        </div>
        <div class="col-xs-12">
          <b>Number of accepted reports present quarter (both sole source & non-sole
source) closed with corrective action under ASAP for the employee: </b><%=link_to @report.asap_emp,"#",:class=>"report_link","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg",:mode=>"4"%>
        </div>
        <div class="col-xs-12">
          <b>Number of reports present quarter, which resulted in recommendations to the
company for corrective action: </b><%=link_to @report.asap_com,"#",:class=>"report_link","data-toggle"=>"modal","data-target"=>".bs-example-modal-lg",:mode=>"6"%>
        </div>
      </div>
    </div>
  </div>
</div>
