<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-steelblue">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            <b>FAA Quarterly Reports</b>
          </div>
          <div class="top_buttons pull-right">
          <%=link_to "New",new_faa_report_path,:class=>"btn btn-success pull-right new_faa_report"%>
        </div>
        </div>
      </div>
      <div class="panel-body" id="form_body">
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table id="reports"class="table table-hover table-bordered table-striped">
                <thead><tr>
                  <%@headers.each do |header|%>
                    <th><%=header[:title]%></th>
                  <%end%>
                </tr></thead>
                <tbody>
                  <%@reports.each do |a|%>
                    <tr id="<%=a.id%>">
                      <%@headers.each do |header|%>
                        <td><%=a.send(header[:field])%></td>
                      <%end%>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.new_faa_report').on('click',function(){
      console.log("clicked on new")
    });
    $('tbody tr').on('click',function(){
      window.location="<%=faa_reports_path()%>"+"/"+$(this).attr("id");
    });
    $('#reports').dataTable({
      "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
      "iDisplayLength": 10
    });
  });
</script>
