<div class="title">
  <%="FAA Quarterly Report: Year #{@report.year}, #{@report.get_fiscal_quarter}"%>
</div>

<div class="content">

  <div class="col-xs-12">
    <h5 style="color:black"><b>Identification</b></h5>
    <hr>
    <b>Fiscal Year: </b><%=@report.year%></br>
    <b>Fiscal Year Quarter: </b><%=@report.get_fiscal_quarter%></br>
    <%@identification.each_pair do |k,v|%>
      <b><%=k%>:</b> <%=v%></br>
    <%end%>
    <b>ASAP MOU Employee Group: </b><%=@report.employee_group%></br>
  </div>


  <div class="col-xs-12">
    <h5 style="color:black"><b>ASAP ERC Contact Information</b></h5>
    <hr>
    <%FaaReport.get_members.each do |member|%>
      <b><%=member[:title]%>: </b><%=@report.send(member[:value])%><br>
    <%end%>
  </div>


  <div class="col-xs-12">
    <h5 style="color:black"><b>Statistics</b></h5>
    <hr>
    <%FaaReport.get_stats.each do |stat|%>
      <b><%=stat[:title]%>:</b>
      <%if stat[:link]%>
        <%=@report.send(stat[:value])[stat[:value_key].to_sym].length%>
      <%else%>
        <%=@report.send(stat[:value])%>
      <%end%>
      <br>
    <%end%>
  </div>

  <%if @report.issues.present?%>
    <div class="col-xs-12">
      <h5 style="color:black"><b>Safety Enhancements</b></h5>
      <hr>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <%Issue.get_meta_fields('index').each do |h|%>
              <th><%=h[:title]%></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <%@report.issues.each do |issue|%>
            <tr>
              <%Issue.get_meta_fields('index').each do |h|%>
                <td class="<%=h[:html_class].present? ? report.send(h[:html_class]) : ''%>">
                  <%=render 'forms/show_field', :field_hash => h, :record => issue%>
                </td>
              <%end%>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  <%end%>

  <div class="col-xs-12">
    <h5 style="color:black"><b>Corrective Actions</b></h5>
    <hr>
    <div class="col-xs-12">
      <%@asap_events.each do |event|%>
        <%if event.corrective_actions.length > 0%>
          <div class="col-xs-12">
            <b><%="Event ##{event.id}, #{event.name}"%></b> -
            <%=event.narrative%>
            <%event.corrective_actions.each do |car|%>
              <div class='col-xs-12'>
                <b><%="Corrective Action ##{car.id}, #{car.action}"%></b> -
                <%=car.description%>
              </div>
            <%end%>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>

</div>
