<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/bootstrap-datepicker.js"></script>
<%=stylesheet_link_tag "/plugins/tables/datatables-1.10.16/datatables.min.css"%>
<%=javascript_include_tag "/plugins/tables/datatables-1.10.16/datatables.min.js"%>
<%=javascript_include_tag "//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js"%>
<%=javascript_include_tag "/javascripts/utility/format-builder.js"%>


<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%= render "shared/alerts" %>
      <div class="panel panel-steelblue">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              Year <%=@report.year%>, <%=@report.get_fiscal_quarter%>
            </div>
            <div class="top_buttons pull-right">
              <%if current_user.has_access('faa_reports', 'edit', admin: CONFIG::GENERAL[:global_admin_default])%>
                <%=link_to "Delete",
                  faa_report_path(@report),
                  :method => "delete",
                  :confirm => 'Are you sure?',
                  :class => "btn btn-danger pull-right mr5 mb5"%>
              <%end%>
              <%=link_to "PDF",
                print_faa_report_path(@report,format: :pdf),
                :class => 'btn btn-darkturquoise mr5 mb5 pull-right'%>
              <%=link_to "Word",
                export_word_faa_report_path(@report, :format => "docx" ),
                :class => "btn btn-darkturquoise mb5 mr5 pull-right"%>
              <%if current_user.has_access('faa_reports', 'edit', admin: CONFIG::GENERAL[:global_admin_default])%>
                <%=link_to "Edit",
                  "#",
                  :class => "pull-right btn btn-warning mr5 mb5 edit_btn",
                  "data-toggle" => "modal",
                  "data-target" => ".bs-example-modal-lg"%>
              <%end%>
              <%=link_to "Expand All",
                "#",
                :class => "btn btn-default expandall mb5 mr5 pull-right"%>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="row">
            <%if current_user.has_access('faa_reports', 'enhance', admin: CONFIG::GENERAL[:global_admin_default])%>
              <%=link_to 'Add Safety Enhancement', "#",
                :class => "pull-right btn btn-success mr20 mb10",
                "data-toggle" => "modal",
                "data-target" => ".bs-example-modal-lg",
                :id => "se"%>
            <%end%>
          </div>
          <%=render "identification"%>
          <%=render "member"%>
          <%=render "stats"%>
          <%=render "enhancement"%>
          <%=render 'corrective_actions'%>
        </div>
      </div>
  </div>
</div>
<%=render "access_controls/new_modal"%>



<style>
 .datepicker{
  z-index: 1200!important;
 }
</style>


<script>
  $(".edit_btn").on("click", function(){
    $.get("<%=edit_faa_report_path(@report)%>", function(data){
      $(".modal-content").html(data);
      $(window).trigger("resize");
    });
  });
  $("#se").on("click",function(){
    $.get("<%=enhance_faa_report_path(@report)%>",function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });

</script>
