
  <script src="/javascripts/dataTables/jquery.dataTables.min.js"></script>
  <script src="/javascripts/dataTables/dataTables.bootstrap.min.js"></script>
  <script src="/javascripts/dataTables/dataTables.buttons.min.js"></script>
  <script src="/javascripts/dataTables/buttons.flash.min.js"></script>
  <script src="/javascripts/dataTables/jszip.min.js"></script>
  <script src="/javascripts/dataTables/pdfmake.min.js"></script>
  <script src="/javascripts/dataTables/vfs_fonts.js"></script>
  <script src="/javascripts/dataTables/buttons.html5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/SpryAssets/SpryMenuBarHorizontal.css" />
<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
  <div class="col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          <b>Fields Taxonomy</b>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="records_table" class="table table-hover">
            <thead>
              <tr>
                <th>Field Name</th>
                <th>XML Tag</th>
                <th>Category Name</th>
                <th>Template Name</th>
                <th>Data Type</th>
                <th>Input Format</th>
                <th>Size</th>
                <th>Possible Options</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Field Name</th>
                <th>XML Tag</th>
                <th>Category Name</th>
                <th>Template Name</th>
                <th>Data Type</th>
                <th>Input Format</th>
                <th>Size</th>
                <th>Possible Options</th>
              </tr>
            </tfoot>
            <tbody>
              <%@fields.each do |f|%>
                <tr>
                  <td><%=f.label%></td>
                  <td><%=f.get_html_tag%></td>
                  <td><%=f.category.title%></td>
                  <td><%=f.category.template.name%></td>
                  <td><%=f.data_type%></td>
                  <td><%=f.display_type%></td>
                  <td><%=f.get_size%></td>
                  <td><%=f.options%></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
        <div id="controlPanel">
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    var table=$('#records_table').DataTable({
            "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
            "iDisplayLength": 5,
            dom: "<B><'br'><'row'<'col-xs-4 col-sm-4 col-md-4 col-lg-4 'l> <'col-xs-8 col-sm-4 col-md-4 col-lg-4 'f><'col-xs-12 col-sm-4 col-md-4 col-lg-4 daterange'> >rt<'row'<'col-sm-6'i><'col-sm-6'p>>",
          buttons: [
            {text:'PDF',extend:'pdf',className:'btn-default btn-xs'},
            {text:'Excel',extend:'excel',className:'btn-default btn-xs'}
          ],
            initComplete : function () {
              this.api().columns().every( function () {
                  var column = this;
                  rand_num=new Date().getTime();
                  var select = $('<input class=\'form-control\' list=\''+rand_num+'\'><datalist id=\''+rand_num+'\'><option value=""></option></datalist>')
                      .appendTo( $(column.footer()).empty() )
                      .on( 'keyup change input', function () {
                        if ( column.search() !== this.value ) {
                          column.search( this.value ).draw();
                        }
                      }
                    );

                  column.data().unique().sort().each( function ( d, j ) {
                    if  (d!="" && d!=undefined){
                      $('#'+rand_num).append( '<option value="'+d+'">'+d+'</option>' );
                    }
                  } );
              } );
            }
      });
  });
</script>
