<div class="col-xs-12 col-lg-12">
  <div class="panel clickable panel-lightskyblue">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Baseline Risk Assessment</b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
      </div>
    </div>
    <div class="panel-body" style="display:none">

      <%=f.hidden_field :severity,:value=>"",:id=>"sev"%>
      <%=f.hidden_field :likelihood,:value=>"",:id=>"like"%>
      <%=f.hidden_field :risk_factor,:value=>"",:id=>"risk_fact"%>

      <%=render '/shared/SCX/baseline_content', :f => f%>

    </div>
  </div>
</div>


<style>
  .table-centered td,th{
    text-align: center;
  }
  .table-centered th{
    font-size: 14px;
  }
  .table-cursor td:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #F0F8FF;
  }
  .table-small th{
    font-size: 13px !important;
  }
  .table-small td{
    text-align: left !important;
    font-size: 12px !important;
  }
</style>

<%= render '/shared/SCX/risk_matrix_js'%>

<script>
  $(document).ready(function(){
    $('form').on('submit',function(){

      // remove temporary severity_extra & probablity extra elements from the form
      var error = false;
      $(this).find('.required_field').each(function(){
        if ($(this).val() == ""){
          error = true;
          event.preventDefault();
        }
      });
      if (error){
        var temp_elements = $(".temp_element")
        for(var i=0; i < temp_elements.length; i++) {
          temp_elements[i].remove()
        }
      }

      return true;
    });
  });
</script>
