<div class="col-xs-8">
	<hr/>
	<h4 style="color:#48C9B0"><b>SEVERITY EXERCISE</b></h4>
	<table class="table table-bordered table-centered table-cursor table-small" >

		<tr>
			<th bgcolor="#48C9B0" style="color:white" width="5%">CLASS</th>
			<th colspan="6" bgcolor="#48C9B0" style="color:white">SEVERITY</th>
		</tr>
		<tr>
			<th bgcolor="#EAFAF1" width="5%"></th>
			<%@severity_table[:column_header].each do |header|%>
				<th bgcolor="#EAFAF1" width="20%"><%=header%></th>
			<%end%>
		</tr>
		<tr>
			<%@severity_table[:row_header].each_with_index do |row_header,row_index|%>
				<tr>
					<th bgcolor="#EAFAF1" width="5%"><%=row_header%></th>
					<%@severity_table[:column_header].each_with_index do |column_header,column_index|%>
						<td class="severity_td" data-row="<%=row_index%>" data-status="" data-column="<%=column_index%>"><%=@severity_table[:rows][row_index][column_index].html_safe%></td>
					<%end%>
				</tr>
			<%end%>
		</tr>
	</table>
</div>

