<div class="col-xs-12 col-lg-12"%>
  <div class="panel panel-info">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Checklist</b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
      </div>
    </div>
    <div class="panel-body" style="display:none">
      <%=link_to "Download",download_checklist_inspection_path(@inspection,:format=>"csv"),:class=>"btn btn-success pull-right mb5",:target=>"_blank"%>
      <table class="table table-hover" id="item_table">
        <thead>
          <tr>
            <%@checklist_headers.each do |h|%>
              <th style="text-align:left"><%=h[:title]%></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <%@inspection.items.each do |i|%>
            <tr>
              <%@checklist_headers.each do |h|%>
                <td style="text-align:left"><%=i.send(h[:field])%></td>
              <%end%>
            </tr>
            <%if i.comment.present?%>
              <tr>
                <td colspan="<%=@checklist_headers.length%>">
                  <b>Comment: </b><%=i.comment%>
                </td>
              </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
