<div class="title">
  Inspection #<%=@inspection.get_id%>:
  <%=@inspection.title%>
</div>

<div class="content">
  <%fields = Inspection.get_meta_fields('show')%>
  <%=render "forms/print_fields",
    :fields => fields,
    :owner => @inspection,
    :deidentified => @deidentified
  %>

  <%@inspection.tasks.each do |task|%>
    <div class="col-xs-12">
      <hr>
      <%=render "ims/print_task", :owner => task,
        :deidentified => @deidentified%>
    </div>
  <%end%>

  <%@inspection.contacts.each do |contact|%>
    <div class="col-xs-12">
      <hr>
      <%=render "ims/print_contact", :owner => contact,
        :deidentified => @deidentified%>
    </div>
  <%end%>

  <%=render "audits/print_requirements",
    :owner => @inspection,
    :deidentified => @deidentified,
    :fields => @requirement_headers%>

  <div class="col-xs-12">
    <%
      @inspection.checklists.includes(
        checklist_rows: { checklist_cells: :checklist_header_item },
        checklist_header: :checklist_header_items
      ).each do |checklist|
    %>

      <hr>
      <div class="title">
        <b>Checklist Title: </b><%= checklist.title %>
      </div>

      <%= render '/checklists/checklist_table', checklist: checklist %>
    <%end%>
  </div>

  <%@inspection.findings.each do |finding|%>
    <div class="col-xs-12">
      <hr>
      <%=render "findings/print",
        :owner => finding,
        :deidentified => @deidentified%>
    </div>
  <%end%>
</div>
