<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            Inspection #<%=@inspection.get_id%>:
            <%="#{@inspection.title}"%>
          </div>
          <div class="top_buttons pull-right">

            <%= render '/forms/btns/render_btns',
              btns: [
                'delete',
                'override_status',
                'edit',
                'deid_pdf',
                'pdf',
                'viewer_access',
                'send_message',
                'expand_all'
              ],
              owner: @inspection %>

          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 mb20">

          <%= render '/forms/btns/render_btns',
            btns: [
              'assign',
              'complete',
              'checklist',
              'approve_reject',
              'reopen',
              'task',
              'contact',
              'requirement',
              'finding',
              'comment'
            ],
            owner: @inspection %>


        </div>

        <%=render '/forms/show_fields', :fields => @fields, :record => @inspection %>
        <%=render '/checklists/checklist_types', :owner => @inspection, :type => 'inspection'%>

        <%=render "/ims/show_task",
          :owner => @inspection,
          :fields => SmsTask.get_meta_fields('show')%>
        <%=render "/ims/show_contact",
          :owner=>@inspection,
          :fields => Contact.get_meta_fields('show')%>
        <%=render "/audits/show_requirements",
          :owner => @inspection,
          :type => 'inspection'%>
        <%=render '/findings/show_all',
          :owner => @inspection,
          :show_btn => false%>
        <%=render "/forms/show_comment", :owner => @inspection%>

        <%=render "/forms/attachments_show", :owner => @inspection%>
        <%=render "/records/transactions", :owner => @inspection%>
      </div>
    </div>
  </div>
</div>


<style>
  .datepicker{
    z-index: 1200!important;
  }
</style>



<script>
  $(document).ready(function(){
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_inspection_path(@inspection)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('#item_table').dataTable();
  });
</script>
