<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="top_text">
            Inspection #<%=@inspection.get_id%>:
            <%="#{@inspection.title}"%>
          </div>
          <div class="top_buttons pull-right">

            <%if current_user.admin? ||
                  current_user.has_access('inspections','admin') ||
                  current_user.has_access("inspections","destroy")%>
              <%=link_to "Delete",
                inspection_path(@inspection),
                :method => "delete",
                :confirm => 'Are you sure?',
                :class => "btn btn-danger pull-right mr5 mb5"%>
            <%end%>

            <%if current_user.admin? ||
                  current_user.has_access('inspections','admin')%>
              <%=link_to 'Override Status', '#',
                :class => 'btn btn-danger pull-right mr5 mb5',
                :id => 'override_status_btn',
                "data-toggle" => "modal",
                "data-target" => ".bs-example-modal-lg"%>
            <%end%>

            <%if @inspection.status != 'Completed' && (
                  current_user.admin? ||
                  current_user.has_access('inspections','admin') ||
                  current_user.has_access('inspections','edit'))%>
                <%=link_to 'Edit',
                  edit_inspection_path(@inspection),
                  :class => 'btn btn-warning pull-right mr5 mb5',
                  :disable_with => 'Editing...'%>
            <%end%>

            <%=link_to "De-ID PDF",
              print_inspection_path(
                @inspection,
                :format => :pdf,
                :deidentified => true),
              :class => "btn btn-darkturquoise pull-right mr5 mb5"%>

            <%=link_to "PDF",
              print_inspection_path(
                @inspection,
                :format => :pdf,
                :deidentified => false),
              :class => "btn btn-darkturquoise pull-right mr5 mb5"%>

            <%if current_user.admin? ||
                  current_user.has_access('inspections','admin') ||
                  current_user.has_access("inspections","edit")%>
              <%=link_to @inspection.viewer_access ? "Disable Viewer Access" : "Enable Viewer Access",
                viewer_access_inspection_path(@inspection),
                :class => "btn btn-warning pull-right mr5 mb5"%>
            <%end%>

            <%=link_to "Send Message",
              new_message_path(:link => inspection_path(@inspection),
              :link_type => "Inspection",
              :link_id => @inspection.id),
              :class => "btn btn-warning pull-right mr5 mb5"%>

            <%=link_to "Expand All",
              "#",
              :class => "btn btn-default mr5 expandall pull-right mb5"%>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 mb20">

          <%if @inspection.status == "New"%>
            <%if @inspection.approver == current_user ||
                  current_user.admin? ||
                  current_user.has_access('investigations','admin')%>
              <%=link_to "Assign", "#",
                :class => "btn btn-warning pull-right mr5 mb5",
                :id =>'assign_btn',
                "data-toggle" => "modal",
                "data-target" => ".bs-example-modal-lg"%>
            <%end%>

          <%elsif @inspection.status == "Assigned"%>
            <%if @inspection.can_complete? current_user %>
              <%=link_to "Complete", '#',
                :class => "btn btn-warning pull-right complete_btn mr5",
                :id => 'complete',
                "data-toggle" => "modal",
                "data-target" => ".bs-example-modal-lg"%>
            <%end%>

            <%if @inspection.items.present?%>
              <%=link_to "Update Checklist",
                "#",
                :class => "btn btn-warning pull-right mr5 mb5",
                :id => 'update_checklist_btn',
                "data-toggle" => "modal",
                "data-target" => ".bs-example-modal-lg"%>
            <%end%>

          <%elsif @inspection.status == "Pending Approval"%>
            <%if @inspection.can_approve? current_user %>
              <%=link_to "Approve",
                "#",
                :class => "btn btn-success pull-right mr5 approve_btn mb5",
                :id => 'approve',
                "data-toggle" => "modal",
                "data-target" => ".bs-example-modal-lg"%>
              <%=link_to "Reject",
                "#",
                :class => "btn btn-danger pull-right mr5 approve_btn mb5",
                :id => 'reject',
                "data-toggle" => "modal",
                "data-target" => ".bs-example-modal-lg"%>
            <%end%>

          <% elsif @inspection.status == "Completed"%>
            <%if @inspection.can_reopen? current_user %>
              <%=link_to "Reopen",
                reopen_inspection_path(@inspection),
                :class => "btn btn-success pull-right mr5"%>
            <%end%>
          <%end%>

          <%if !['Completed', 'Pending Approval'].include? @inspection.status%>
            <%=link_to "Upload Checklist", "#",
              :class => "btn btn-success pull-right mr5 mb5",
              :id => 'checklist_btn',
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>

            <%=link_to "Add Task", "#",
              :class => "btn btn-success pull-right mr5 mb5",
              :id => 'task_btn',
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>

            <%=link_to "Add Contact", "#",
              :class => "btn btn-success pull-right mr5 mb5",
              :id => 'contact_btn',
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>

            <%=link_to "Add Requirement", "#",
              :class => "btn btn-success pull-right mr5 mb5",
              :id => 'requirement_btn',
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>

            <%=link_to "Add Finding",
              new_finding_path(
                :owner_id => @inspection.id,
                :owner_type => @inspection.class.name),
              :class => "btn btn-success pull-right mr5 mb5",
              :disable_with => "Adding..."%>
          <%end%>

          <%=link_to "Add Comment", "#",
            :class => "btn btn-success pull-right mr5 mb5",
            :id => 'comment_btn',
            "data-toggle" => "modal",
            "data-target" => ".bs-example-modal-lg"%>

        </div>

        <%=render '/forms/show_fields', :fields => @fields, :record => @inspection %>
        <%=render '/checklists/checklist_types', :owner => @inspection, :type => 'inspection'%>
        <%=render "/ims/show_task",
          :owner => @inspection,
          :fields => SmsTask.get_meta_fields('show')%>
        <%=render "/ims/show_contact",
          :owner=>@inspection,
          :fields => Contact.get_meta_fields('show')%>
        <%=render "/audits/show_requirements",
          :owner => @inspection,
          :type => 'inspection'%>
        <%=render '/findings/show_all',
          :owner => @inspection,
          :show_btn => false%>
        <%=render "/forms/show_comment", :owner => @inspection%>
        <%=render "/forms/attachments_show", :owner => @inspection%>
        <%=render "/records/transactions", :owner => @inspection%>
      </div>
    </div>
  </div>
</div>


<style>
  .datepicker{
    z-index: 1200!important;
  }
</style>



<script>
  $(document).ready(function(){
    $('#task_btn').on('click',function(){
      $.get("<%=new_task_inspection_path(@inspection)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#contact_btn').on('click',function(){
      $.get("<%=new_contact_inspection_path(@inspection)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#comment_btn').on('click',function(){
      $.get("<%=comment_inspection_path(@inspection)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#requirement_btn').on('click',function(){
      $.get("<%=new_requirement_inspection_path(@inspection)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#assign_btn').on('click',function(){
      $.get("<%=assign_inspection_path(@inspection)%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('.complete_btn').on('click',function(){
      var commit=$(this).attr('id');
      $.get("<%=complete_inspection_path(@inspection)%>?commit="+commit, function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('.approve_btn').on('click',function(){
      var commit=$(this).attr('id');
      $.get("<%=approve_inspection_path(@inspection)%>?commit="+commit,function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#checklist_btn').on('click',function(){
      $.get("<%=new_checklist_inspection_path(@inspection)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#att_btn').on('click',function(){
      $.get("<%=new_attachment_inspection_path(@inspection)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#update_checklist_btn').on('click',function(){
      $.get("<%=update_checklist_inspection_path(@inspection)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#override_status_btn').on('click',function(){
      $.get("<%=override_status_inspection_path(@inspection)%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });


    $('#item_table').dataTable();
  });
</script>
