<%=form_tag add_meeting_minutes_report_path(@owner), method: :post, :remote => true do%>
  <%=hidden_field_tag 'meeting_id', @meeting.id %>
  <div class="panel-warning">
    <div class="panel-heading">
      <div class="panel-title">Add Meeting Minutes
        <button type="button" id="close_minutes_modal" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto">
      <div class="row">
        <div class="form-group col-xs-12">
          <%=label_tag 'minutes', "Meeting Minutes"%>
          <%=text_area_tag 'minutes', @owner.minutes, :class => "form-control ml5 required_field", :rows => '5'%>
        </div>
      </div>
      <%=submit_tag "Add Meeting Minutes",:class=>"btn btn-success pull-right mt5", :disable_with => "Adding..."%>
    </div>
  </div>
<%end%>
