<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>

<%=form_for @owner do |f|%>
  <div class="panel-warning">
    <div class="panel-heading">
      <div class="panel-title">Close Event
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="panel-body" style="max-height:calc(100vh - 210px);overflow-y:auto">
      <div class="row">
        <div class="col-xs-12">
          <div class='col-xs-12 mb5'>
            <b style="color:blue">* Once Event is closed, all included Reports will be closed.</b>
          </div>
          <%=hidden_field_tag :redirect_path, params[:redirect_path]%>
          <%=f.hidden_field :status, :value => "Closed"%>
           <%=f.hidden_field :close_date, :value => Time.now%>
          <%=render "forms/form_fields", :fields => @fields, :record => @owner, :f => f%>
          <%=f.submit "Close Event",
            :class => "btn btn-success pull-right mt5",
            :disable_with => "Processing..."%>
        </div>
      </div>
    </div>
  </div>
<%end%>
