<div class="panel panel-warning">
  <div class="panel-heading">
    <div class="panel-title">Corrective Actions
    <button type="button" id="close_corrective_action_modal" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <%=form_tag save_corrective_action_meeting_path(@meeting), :remote => true do%>
        <div class="col-xs-12" style="max-height:400px;overflow-y:auto">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <%@headers.each do |h|%>
                  <% if h[:required]%>
                    <th class='required_label'><%=h[:title]%></th>
                  <% else %>
                    <th><%=h[:title]%></th>
                  <% end %>
                <%end%>
                <th>Action</th>
              </tr>
            </thead>
            <datalist id="action">
              <%@action.each do |opt|%>
                <option value="<%=opt%>"></option>
              <%end%>
            </datalist>
            <datalist id="designee">
              <%@station.each do |opt|%>
                <option value="<%=opt%>"></option>
              <%end%>
            </datalist>
            <tbody id="corrective_actions">
              <%@corrective_actions.each do |ca|%>
                <%if ca.created_by_id==current_user.id%>
                  <tr id="corrective_actions_<%= ca.id %>">
                    <td><%=text_field_tag "dueDate",ca.due_date,{:name=>"dueDate_#{ca.id}",:class=>"form-control required_field field-date",'data-format' => CONFIG.getTimeFormat[:datepicker]}%></td>
                    <td><%=select_tag "department_#{ca.id}",options_for_select(@department,ca.department),:include_blank=>true,:class=>"form-control required_field"%></td>
                    <td width=20%><%=text_field_tag "description",ca.description,:name=>"description_#{ca.id}",:class=>"form-control"%></td>
                    <td><%=text_field_tag "designee",ca.designee,{:name=>"designee_#{ca.id}",:list => "designee",:class=>"form-control required_field","data-id" => "designee"}%></td>
                    <td><%=text_field_tag "action",ca.action,{:name=>"action_#{ca.id}",:list => "action",:class=>"form-control required_field","data-id" => "action"}%></td>
                    <td><button type="button" id="<%="view_#{ca.id}"%>" class="btn btn-success ca_btn" aria-label="Corrective_Action" onclick="go_to_ca(<%=ca.id%>)">View</button></td>
                  </tr>
                <%else%>
                  <tr>
                    <td><%=ca.due_date%></td>
                    <td><%=ca.department%></td>
                    <td width=20%><%=ca.description%></td>
                    <td><%=ca.designee%></td>
                    <td><%=ca.action%></td>
                    <td></td>
                  </tr>
                <%end%>
              <%end%>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12">
          <%=hidden_field_tag :event_id, @report.id%>
          <%=submit_tag "Save Corrective Action",:class=>"btn btn-success pull-right", :disable_with => "Saving..."%>
          <%=link_to_corrective_action_fields "Add",:corrective_actions,"CorrectiveAction","corrective_action_fields","corrective_actions",:class=>"btn btn-info pull-right mr5"%>
        </div>
      <%end%>
    </div>
  </div>
</div>

<style>
  .datepicker {
    z-index: 1200 !important;
  }
  .close_btn {
    color: red;
    font-size: 23px;
  }

  .close_icon {
    top: 10px;
    right: 10px;
  }

  .removed {
    opacity: 0.4;
  }
</style>

<script type="text/javascript">
  document.querySelectorAll('.close_btn').forEach( close_btn => {
    close_btn.addEventListener("click", function(event) {
      const row = event.srcElement.closest("tr")
      let result = row.classList.toggle("removed");

      if (result) {
        row.classList.add('removed')
        row.querySelectorAll(".form-control").forEach( input_field => {
          input_field.disabled = true
        })
      } else {
        row.classList.remove('removed')
        row.querySelectorAll(".form-control").forEach( input_field => {
          input_field.disabled = false
        })
      }
    });
  })

  document.querySelector('form').addEventListener('submit', function() {
    document.querySelectorAll('.removed').forEach( element => {
      element.querySelector("[type='hidden']").value = true
    })

    if (document.querySelector('.required_field').value == ""){
      document.querySelector('.required_field').css('border-color', 'red');
      event.preventDefault();
    }
  })

  function go_to_ca(id)
  {
    window.location = ("<%=corrective_actions_path%>/"+id);
  }

  $("form").on('submit', function(){
    var error = false;
    var result = true;
    $(".required_field").css('border-color', '');
    $(".int-val").css('border-color', '');
    $(this).find('.required_field').each(function(){
      if ($(this).val() == "" || $(this).val() == null){
        error = true;
        result = false;
        $(this).css('border-color', 'red');
        event.preventDefault();
      }
    });
    if (error){
      swal({
        title: "Please fill in all required fields.",
        type: "error",
      });
      return result;
    }
  });

  $('.field-date').flatpickr({
        altInput: true,
        altFormat: 'Y-m-d',
        dateFormat: 'Y-m-d',
      });
</script>
