<tr>
  <datalist id="action">
    <%@action.each do |opt|%>
      <option value="<%=opt%>"></option>
    <%end%>
  </datalist>
  <datalist id="designee">
    <%@station.each do |opt|%>
      <option value="<%=opt%>"></option>
    <%end%>
  </datalist>
  <td>
    <%=text_field_tag 'Scheduled Completion Date', "", {:class=>"form-control required_field field-date corrective_action_due_date",'data-format' => CONFIG.getTimeFormat[:datepicker]}%>
  </td>
  <td><%=select_tag 'department',options_for_select(@department),:include_blank=>true,:class=>"form-control required_field corrective_action_department"%></td>
  <td width=20%><%=text_field_tag 'description',"",:class=>"form-control corrective_action_description"%></td>
  <td><%=text_field_tag "designee","",{:list => "designee",:class=>"form-control corrective_action_station","data-id" => "designee"}%></td>
  <td><%=text_field_tag "action","",{:list => "action",:class=>"form-control required_field corrective_action_action","data-id" => "action"}%></td>
  <%=hidden_field_tag 'reports_id',:value=>@report.id%>
  <%=hidden_field_tag 'created_by_id',:value=>current_user.id%>
  <td></td>
</tr>

<script type="text/javascript">
 $(document).ready(function(){
  timestamp = Date.now()
  $(".corrective_action_due_date").last().attr('name',"dueDate_"+timestamp)
  $(".corrective_action_department").last().attr('name',"department_"+timestamp)
  $(".corrective_action_description").last().attr('name',"description_"+timestamp)
  $(".corrective_action_station").last().attr('name',"designee_"+timestamp)
  $(".corrective_action_action").last().attr('name',"action_"+timestamp)

  $('.field-date').flatpickr({
        altInput: true,
        altFormat: 'Y-m-d',
        dateFormat: 'Y-m-d',
      });

  $("form").on('submit', function(){
    var error = false;
    var result = true;
    $(".required_field").css('border-color', '');
    $(".int-val").css('border-color', '');
    $(this).find('.required_field').each(function(){
      if ($(this).val() == "" || $(this).val() == null){
        error = true;
        result = false;
        $(this).css('border-color', 'red');
        event.preventDefault();
      }
    });
    if (error){
      swal({
        title: "Please fill in all required fields.",
        type: "error",
      });
      return result;
    }
  });
});
</script>
