<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/timezone-control.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>
<script type="text/javascript" src="/javascripts/reports/table-control.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>



<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          <b><%=action_name.titleize + " Event"%></b>
        </div>
      </div>


      <div class="panel-body" id="form_body">
        <%=form_for @report, :html => {:multipart => true} do |f|%>
          <% if CONFIG::GENERAL[:display_workflow_diagram] %>
            <div class="col-xs-12">
              <%instruction = "<p>"
                instruction = instruction + "<button id ='toggleWorkflowImageButton' type='button' class='btn btn-light' >Show Workflow Image</button>"
                instruction = instruction + "</p>"
                instruction = instruction + "<img id='workflowImage' class = 'workflowImg' height=800 width= 100% >"
              %>
              <%=render "shared/instructions",
                :instruction => instruction%>
            </div>
          <% end %>
          <%=render "shared/privilege_form", target: "report[privileges][]", owner: @report, f: f%>
          <%=render '/forms/form_fields', fields: @fields, f: f, record: @report%>

          <div class="col-xs-12 mt10">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="panel-title"><b>Included Reports</b></div>
              </div>
              <div class="panel-body">

                <%btns = [
                  {btn_name: '<span class="glyphicon glyphicon-search"></span>', title: "View Report", btn_path: '#', btn_class: 'btn btn-info view_btn mr5'},
                  {btn_name: '<span class="glyphicon glyphicon-remove"></span>',  title: "Remove Report from this Event", btn_path: '#', btn_class: 'btn btn-danger action-btn mr5'},
                ]%>

                <%=render 'forms/show_fields_table_view',
                  fields: @report_fields,
                  records: @report.records,
                  table_id: 'included',
                  btns: btns%>
              </div>
            </div>
          </div>

          <%btns = [
            {btn_name: '<span class="glyphicon glyphicon-search"></span>', title: "View Report", btn_path: '#', btn_class: 'btn btn-info view_btn mr5'},
            {btn_name: '<span class="glyphicon glyphicon-plus"></span>', title: "Add Report to the Event", btn_path: '#', btn_class: 'btn btn-warning action-btn mr5'},
          ]%>

          <% if CONFIG::GENERAL[:sabre_reports_recommendation] %>
            <div class="col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="panel-title"><b>Relevant Reports</b></div>
                </div>
                <div class="panel-body">

                  <div class="row">
                    <div class="col-xs-4">
                      <div class="well">
                        <b>
                          <font style='font-size:15px;background-color:lightcoral'>Flight Date</font><br>
                          <font style='font-size:15px;background-color:lightpink'>Flight Number</font><br>
                          <font style='font-size:15px;background-color:lightsalmon'>Tail Number</font><br>
                          <font style='font-size:15px;background-color:lemonchiffon'>Departure Airport</font><br>
                          <font style='font-size:15px;background-color:khaki'>Arrival Airport</font><br>
                          <font style='font-size:15px;background-color:honeydew'>Landing Airport</font><br>
                          <font style='font-size:15px;background-color:lightblue'>Captain</font><br>
                          <font style='font-size:15px;background-color:lightskyblue'>First Officer</font><br>
                          <font style='font-size:15px;background-color:plum'>Flight Attendance</font><br>
                        </b>
                      </div>
                    </div>

                    <div class="col-xs-8">
                      <div class="well">
                        <b>
                          * The relevant reports are for the events happening between <%=@timewindow_from.strftime("%Y/%m/%d")%> and <%=@timewindow_to.strftime("%Y/%m/%d")%>.
                          <br>
                          * If multiple attributes are matching to a report, the report is highlighted with the color of the first matching attribute.
                        </b>
                      </div>
                    </div>
                  </div>

                  <%=render 'forms/show_fields_table_view',
                    fields: @report_fields,
                    records: @relevant_reports,
                    colors: @relevant_reports_colors,
                    table_id: 'relevant_reports',
                    btns: btns%>

                </div>
              </div>
            </div>
          <% end %>

          <div class="col-xs-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-title"><b>Available Reports</b></div>
              </div>
              <div class="panel-body">
                <%=render 'forms/show_fields_table_view',
                  fields: @report_fields,
                  records: @available_reports,
                  table_id: 'available_reports',
                  btns: btns%>
              </div>
            </div>
          </div>

          <%=render '/forms/attachments_form', :f => f, :owner => @report%>

          <div class="mt10 mr10">
            <div class="form-actions">
              <%= f.submit "#{action_name == 'new' ? 'Submit' : 'Update'}",
                :class => "btn btn-success pull-right",
                :disable_with => "Saving..."%>
            </div>
            <%=link_to "Cancel",
              @action == "new" ? root_url : report_path(@report),
              :id => "cancel-btn",
              :class => "mr5 btn btn-default pull-right",
              :confirm => 'Are you sure?'%>
            <%#=link_to "Group Access",
              "#",
              :class => "mr5 btn btn-info pull-right",
              "data-toggle" => "modal",
              "data-target" => "#group_access"%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>



<style>
  .table th {
    text-align: center;
  }
  .table td {
    text-align: center;
  }
  #workflowImage{
    display: none;
    margin-top: 10px;
  }
</style>





<script type="text/javascript">
  var airport_table;
  $(document).ready(function(){

    $("#toggleWorkflowImageButton").on('click', function(event){
        event.preventDefault();
        <% if action_name == 'new' %>
            $("#workflowImage").attr('src', "<%= CONFIG.sr::HIERARCHY[:objects][@report.class.name][:workflow_images].select {|key| action_name.include? key}.values[0] %>" )
        <% end %>

        <% if action_name == 'edit' %>
          <% status_field_name = CONFIG.sr::HIERARCHY[:objects][@report.class.name][:fields][:status][:field]%>
          <% curr_status = @report.send(status_field_name).downcase %>
          $("#workflowImage").attr('src', "<%=CONFIG.sr::HIERARCHY[:objects][@report.class.name][:workflow_images].select {|key| curr_status.include? key}.values[0]%>")
        <% end %>

        if($("#workflowImage").is(":visible")){
          $("#workflowImage").delay(1).hide("slow")
          $("#toggleWorkflowImageButton").html("Show Workflow Image")
        }else{
          $("#workflowImage").delay(1).show("slow")
          $("#toggleWorkflowImageButton").html("Hide Workflow Image")
        }
    });

    $("#included").dataTable({
      "aaSorting": [[0, "desc"]],
      "columnDefs": [{ type: 'natural', targets: 0 }],
    });

    $("#relevant_reports").dataTable({
      "aaSorting": [[0, "desc"]],
      "columnDefs": [{ type: 'natural', targets: 0 }],
    });

    $("#available_reports").dataTable({
      "aaSorting": [[0, "desc"]],
      "columnDefs": [{ type: 'natural', targets: 0 }],
    });

    $(".view_btn").on('click',function(){
      window.open("/records/" + $(this).closest("tr").children("td").eq(0).html());
    });



    // Get listing of all the airport buttons
    var field_id;
    $(this).find(".airport_button").each(function(index, item){
      // Get the button that's being clicked
      $(item).on("click", function(){
        // Get the selected airport's field id
        field_id = $(this).prop("id");
        resetModal(field_id);
        $("#search_btn").html('<button class="btn btn-info" id="search_btn_' + field_id + '">Search</button>');
        $("#search_btn_"+field_id).on("click", {field_id: field_id}, handleSearch);
      });
    });
  });

  // Updata airport table
  function handleSearch(event){
    // Get the keywords user searched for
    var icao = $("#icao").val();
    var iata = $("#iata").val();
    var arpt_name = $("#arpt_name").val();
    // Do nothing if nothing is searched
    if(icao == "" && iata == "" && arpt_name ==""){
    // Update the table if icao code is not empty
    }else{
      // Get the data from server
      $.get('<%=airport_data_submissions_path%>?&icao=' + icao + "&iata=" + iata + "&arpt_name=" + arpt_name, function(data){
        // Render airport table with data
        $("#airports_table").html(data);
        updateAirportTable();
      });
    }
  }


  function updateAirportTable(){
    // Initialize table as a datatable
    airport_table = $('#airports').DataTable({
      "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
      "iDisplayLength": 5
    });
    // User clicked on a row
    $("body").on("click", "#airports" + " tbody tr", function(){
      //$("tbody tr").on("click", function(){
      // Get the row information
      var icao = $(this).find("td").eq(0).text();
      var iata = $(this).find("td").eq(1).text();
      // Set the value on the form
      $("#airport").val(icao);
      $("#airport-select").val(icao);
      resetModal();
    });
  }


  function resetModal(){
    // Reset the table, field, and close the modal
    $("#airports_table").html("");
    $("#icao").val("");
    $("#iata").val("");
    $("#arpt_name").val("");
    $('#airport_div').hide();
    $(".airport_modal").modal("hide");
  }
</script>
