<div class="title">
  Event <%="##{owner.get_id}: #{owner.name} "%>
</div>

<div class="content">

  <%=render "forms/print_fields",
    :fields => Report.get_meta_fields('show', CONFIG.sr::GENERAL[:event_summary] ? 'event_summary' : ''),
    :owner => owner,
    :deidentified => deidentified%>

  <%if CONFIG::GENERAL[:base_risk_matrix]%>
    <%= render "/shared/print_risk_matrix", :owner => owner %>
  <%else%>
    <%= render "/shared/#{AIRLINE_CODE}/print_risk_matrix", :owner => owner %>
  <%end%>

  <%if owner.occurrences.present?%>
    <div class="col-xs-12">
      <%=render "forms/print_occurrences", :owner => owner %>
    </div>
  <%end%>

  <%owner.records.each do |record|%>
    <div class="col-xs-12">
      <hr>
      <%=render 'records/print', :owner => record, :deidentified => deidentified%>
    </div>
  <%end%>

  <%owner.corrective_actions.each do |car|%>
    <div class="col-xs-12">
      <hr>
      <%=render 'corrective_actions/print', :owner => car, :deidentified => deidentified%>
    </div>
  <%end%>


</div>
