<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>


<div class="col-xs-12">
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading">
      <div class="panel-title">
        <b>Linked Reports</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-up"></i>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="records_table" class="table table-bordered table-striped">
          <thead>
            <tr>
              <%@headers.each do |header|%>
                <%if header[:title] != "Submitted By"%>
                  <th class="<%=header[:size]%>">
                    <%=header[:title]%>
                  </th>
                <%end%>
              <%end%>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%@records.each do |record|%>
              <tr record_id="<%=record.id%>">
                <%@headers.each do |header|%>
                  <%if header[:title] != "Submitted By"%>
                    <%if header[:param].present?%>
                      <td class="<%=header[:html_class].present? ? record.send(header[:html_class]) : ''%>">
                        <%=record.send(header[:field],header[:param])%>
                      </td>
                    <%else%>
                      <td class="<%=header[:html_class].present? ? record.send(header[:html_class]) : ''%>">
                        <%=record.send(header[:field])%>
                      </td>
                    <%end%>
                  <%end%>
                <%end%>
                <td>
                  <%if @report.status != "Closed" &&
                    record.status != "Closed" &&
                    current_user.has_access("corrective_actions","new")%>
                    <%=link_to "Add Corrective Action",
                      new_corrective_action_path(:record => record.id),
                      :class => "btn btn-success ml5 mt5",
                      :disable_with => "Redirecting..."%>
                  <%end%>
                  <%=link_to "Go To Report",
                    record_path(record),
                    :class => "btn btn-info mt5",
                    :disable_with => "Redirecting..."%>
                  <%=link_to "View Report",
                    "#",
                    "data-toggle" => "modal",
                    "data-target" => ".bs-example-modal-lg",
                    :class => "btn btn-default mt5 view_btn"%>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<style>
  .table tbody tr > td.red {
    background-color: red !important;
  }
  .table tbody tr > td.yellow {
    background-color: yellow !important;
  }
  .table tbody tr > td.green {
    background-color: mediumseagreen !important;
  }
</style>



<script type="text/javascript">

  $(".view_btn").on("click", function(){
    var record_id = $(this).closest("tr").attr("record_id");
    $.get("<%=display_record_path%>?record_id=" + record_id, function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });

</script>
