<%@record = record%>

<div class="panel panel-lightskyblue">
  <div class="panel-heading">
    <div class="panel-title">
      <b><%=@record.template.name%> Report #<%=@record.get_id%></b>
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
  <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto">
    <div class="row" id="fields">
      <div class="col-xs-12">
        <%template_full_access = current_user.has_template_access(@record.template.name).include? 'full'%>
        <%=render "/records/show_template_fields", :record => @record, deid:!template_full_access%>

        <% if false %>
          comment out for v1.2
          <%= render '/causes/all', :owner => @record, :cause_type => 'description', :can_change => false%>
          <%= render '/causes/all', :owner => @record, :cause_type => 'cause', :can_change => false%>
          <%= render '/causes/all', :owner => @record, :cause_type => 'detection', :can_change => false%>
          <%= render '/causes/all', :owner => @record, :cause_type => 'reaction', :can_change => false%>
          <%= render '/causes/all', :owner => @record, :cause_type => 'suggestion', :can_change => false%>
          Probably need to add Occurrence (root cause) panel here
        <% end %>

      </div>
    </div>
  </div>
</div>
