<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>


<div class="col-xs-12">
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading">
      <div class="panel-title">
        <b>Linked Reports</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-up"></i>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">

        <table>
          <tr>
            <td>
              <i class='glyphicon glyphicon-paperclip btn btn-sm btn-success mb5 mr5 ml5'></i>
              <b>Add Corrective Action </b>- Add new Corrective Action to this report.
            </td>
            <td>
              <i class='glyphicon glyphicon-eye-open btn btn-sm btn-info mb5 mr5 ml5'></i>
              <b>View Full Report </b>- View full Report.
            </td>
            <td>
              <i class='glyphicon glyphicon-eye-close btn btn-sm btn-default mb5 mr5 ml5'></i>
              <b>View De-id Report </b>- View de-identified Report.
            </td>
          </tr>
        </table>

        <table id="records_table" class="table table-bordered table-striped">
          <thead>
            <tr>
              <%Record.get_meta_fields('index').each do |header|%>
                <th class="<%=header[:size]%>">
                  <%=header[:title]%>
                </th>
              <%end%>
              <th>Additional Info</th>
              <th width="15%">Action</th>
            </tr>
          </thead>
          <tbody>
            <%@records.each do |record|%>
              <tr record_id="<%=record.id%>">
                <%Record.get_meta_fields('index').each do |header|%>
                  <%if header[:title] != "Submitted By"%>
                    <td class="<%=header[:html_class].present? ? record.send(header[:html_class]) : ''%>">
                      <%=render "forms/show_field", :record => record, :field_hash => header%>
                    </td>
                  <%else%>
                    <td>
                      <%=(record.created_by.disable ?
                      "<font color='red'>Inactive User</font>" :
                      "<font color='green'>Active User</font>").html_safe%></td>
                  <%end%>
                <%end%>
                <td>
                  <%additional_info = record.get_additional_info%>
                  <%additional_info.each do |field|%>
                    <% if field[:value].present? %>
                      <p><b><%=field[:label]%></b>: <%=field[:value]%></p>
                    <%end%>
                  <%end%>
                </td>
                <td>
                  <%if @report.status != "Closed" &&
                    record.status != "Closed" &&
                    current_user.has_access('corrective_actions', 'new')%>
                    <%=link_to "<i class='glyphicon glyphicon-paperclip'></i>".html_safe,
                      new_corrective_action_path(:record => record.id),
                      :class => "btn btn-success ml5 mt5",
                      :disable_with => "Redirecting..."%>
                  <%end%>

                  <%if current_user.has_template_access(record.template.name).include? 'full'%>
                    <%=link_to "<i class='glyphicon glyphicon-eye-open'></i>".html_safe,
                      record_path(record),
                      :class => "btn btn-info mt5",
                      :disable_with => "Redirecting..."%>
                    <%=link_to "<i class='glyphicon glyphicon-eye-close'></i>".html_safe,
                      '#',
                      "data-toggle" => "modal",
                      "data-target" => ".bs-example-modal-lg",
                      :class => "btn btn-default mt5 view_btn"%>
                  <%elsif (current_user.has_template_access(record.template.name).include? 'viewer') && record.viewer_access%>
                    <%=link_to "<i class='glyphicon glyphicon-eye-open'></i>".html_safe,
                      record_path(record),
                      :class => "btn btn-info mt5",
                      :disable_with => "Redirecting..."%>
                    <%=link_to "<i class='glyphicon glyphicon-eye-close'></i>".html_safe,
                      '#',
                      "data-toggle" => "modal",
                      "data-target" => ".bs-example-modal-lg",
                      :class => "btn btn-default mt5 view_btn"%>
                  <%end%>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<style>
  .table tbody tr > td.red {
    background-color: red !important;
  }
  .table tbody tr > td.yellow {
    background-color: yellow !important;
  }
  .table tbody tr > td.green {
    background-color: mediumseagreen !important;
  }
</style>



<script type="text/javascript">

  $(".view_btn").on("click", function(){
    var record_id = $(this).closest("tr").attr("record_id");
    $.get("<%=display_record_path%>?record_id=" + record_id, function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });

</script>
