<% @records = owner.records %>
<% @report = owner %>
<% @action_headers = CorrectiveAction.get_meta_fields('index') %>
<% @corrective_actions = @report.corrective_actions %>

<% @fields = Report.get_meta_fields(
      'show',
      CONFIG::GENERAL[:event_summary] ? 'event_summary' : '',
      @report.status == 'Closed' ? 'close' : '') %>

<%=render "forms/show_fields", :fields => @fields, :record => @report%>

<%=render 'risk_analyses/show',
        :owner => owner,
        :show_btn => false,
        :type => 'reports',
        can_change: false%>

<%if !defined? hide_extra%>
  <%=render '/reports/record_table'%>
  <%= render '/panels/show_panels', owner: owner%>

  <%if @report.meetings.present?%>
    <div class="col-xs-12 col-md-12 col-lg-12"%>
      <div class="panel panel-info">
        <div class="panel-heading click-heading collapsed">
          <div class="panel-title">
            <b>Meetings</b>
            <span class="pull-right clickable">
              <i class="mt5 glyphicon glyphicon-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="panel-body" style="display:none">
          <div class="row">
            <%@no_footer = true%>
            <%= render '/reports/meetings' %>
          </div>
        </div>
      </div>
    </div>
  <%end%>

  <%if @report.corrective_actions.present?%>
    <div class="col-xs-12 col-md-12 col-lg-12"%>
      <div class="panel panel-info">
        <div class="panel-heading click-heading collapsed">
          <div class="panel-title">
            <b>Corrective Actions</b>
            <span class="pull-right clickable">
              <i class="mt5 glyphicon glyphicon-chevron-down"></i>
            </span>
          </div>
        </div>
        <div class="panel-body" style="display:none">
          <div class="row">
            <%@no_footer = true%>
            <%=render "/corrective_actions/actions"%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>

<%=render "/forms/show_comment", :owner => owner%>
