<%= stylesheet_link_tag "/plugins/tables/datatables-1.10.16/datatables.min.css" %>
<%= javascript_include_tag "/plugins/tables/datatables-1.10.16/datatables.min.js" %>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js"></script>

<style>
  table{
    table-layout: fixed;
  }
  tfoot{
    background-color: lightgrey;
  }

  .spacing {
    word-spacing: 2em;
  }
</style>
<div class="col-xs-12">
  <%= render "shared/alerts" %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <b><%=@title%></b>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="tabulation_table" class="table table-hover table-striped table-bordered" width="100%">
          <thead>
            <tr>
              <th>Event Type</th>
              <% @fiscal_years.each do |fiscal_year| %>
                <th>
                  <%= fiscal_year %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @types.each do |type| %>
              <tr>
                <td><%= type %></td>
                <% @fiscal_years.each do |fiscal_year| %>
                  <% total = Report.count_total_events(fiscal_year) %>
                  <td class="spacing"><%= count = Report.count_events(type, fiscal_year) %>
                    &nbsp;<%= number_to_percentage(count, total) %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <% @fiscal_years.each do |fiscal_year| %>
                <% total = Report.count_total_events(fiscal_year) %>
                <th class="spacing"><%= total %>
                  &nbsp;<%= "100%" %></th>
              <% end %>
            </tr>
            <tr>
              <th>Crew Involvement</th>
              <% @fiscal_years.each do |fiscal_year| %>
                <% total = Report.count_total_events(fiscal_year) %>
                <th class="spacing"><%= ci = Report.count_crew_involvement(fiscal_year) %>
                  &nbsp;<%= number_to_percentage(ci, total) %></th>
              <% end %>
            </tr>
            <tr>
              <th>Crew Happenstance</th>
              <% @fiscal_years.each do |fiscal_year| %>
                <% total = Report.count_total_events(fiscal_year) %>
                <th class="spacing"><%= ch = Report.count_crew_happenstance(fiscal_year) %>
                  &nbsp;<%= number_to_percentage(ch, total) %></th>
              <% end %>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<style>
 .datepicker{
  z-index: 1200!important;
 }
  tfoot {
    display: table-header-group;
  }

  .table-responsive {
/*    white-space: nowrap;*/
/*    overflow-x: auto;
    overflow-y: auto;*/
  }
</style>
<script>
    $('#tabulation_table').DataTable({
      dom: "<'row'<'col-xs-6'l><'col-sm-6'f>>" +
           "<'row'<'col-sm-12'tr>>" +
           "<'row'<'col-sm-5'i><'col-sm-7'p>>" +
           "<'row'<'col-sm-12'B>>",

      buttons: [
        'copy', 'csv', 'excel', 'print'
        //"pdf"//bug in pdf button for buttons 1.5.1 https://datatables.net/forums/discussion/46395/pdf-export-button-spinner-not-stopping
      ],
      "bPaginate": false,
      "aaSorting": [[0, "asc"]],
      "columnDefs": [{ type: 'natural', targets: 0 }]
    });
</script>
