<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<script type="text/javascript" src="/javascripts/utility/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/timezone-control.js"></script>
<script type="text/javascript" src="/javascripts/reports/table-control.js"></script>
<script type="text/javascript" src="/javascripts/reports/extra-fields.js"></script>
<div class="item active mt50" style="height:auto;">
	<div class="grid per90 center-block">
   	<div class="panel panel-warning">
     	<div class="panel-heading">
     		<div class="panel-title">
       		<b>Close Event #<%=@report.id%></b> 
     		</div>
     	</div>
     	<div class="panel-body" id="form_body"> 
     		<%= form_for @report do |f|%> 
          <%=f.hidden_field :status,:value=>"Closed"%>
          <%#RecordTransaction.create(:users_id=>current_user.id,:action=>"Close Record",:owner_id=>@,:stamp=>Time.now)%>
          <div class="row">
            <div class="form-group form-inline col-sm-4">
              <%=f.label :eir, "EIR Number"%>
              <%=f.text_field :eir,{:class=>"form-control ml5"}%>
            </div>
            <div class="form-group form-inline col-sm-4">
              <%=f.label :scoreboard, "Exclude from scoreboard",:style=>"color:red"%>
              <%=f.select :scoreboard,{"Yes"=>true,"No"=>false},{:include_blank=>""},{:class=>"form-control ml5 required_field"}%>
            </div>
            <div class="form-group form-inline col-sm-4">
              <%=f.label :asap, "Accepted Into ASAP",:style=>"color:red"%>
              <%=f.select :asap,{"Yes"=>true,"No"=>false},{:include_blank=>""},{:class=>"form-control ml5 required_field"}%>
            </div>
            <div class="form-group form-inline col-sm-4">
              <%=f.label :sole, "Sole Source",:style=>"color:red"%>
              <%=f.select :sole,{"Yes"=>true,"No"=>false},{:include_blank=>""},{:class=>"form-control ml5 required_field"}%>
            </div>
            <div class="form-group form-inline col-sm-4">
              <%=f.label :disposition%>
              <%=f.select :disposition,@dispositions,{:include_blank=>""},{:class=>"form-control ml5"}%>
            </div>
            <div class="form-group form-inline col-sm-4">
              <%=f.label :company_disposition, "Company Disposition"%>
              <%=f.select :company_disposition,@company_dis,{:include_blank=>""},{:class=>"form-control ml5"}%>
            </div>
            <div class="form-group col-sm-12">
              <%=f.label :narrative, "Debrief Narrative"%>
              <%=f.text_area :narrative,{:class=>"form-control ml5",:rows=>"5"}%>
            </div>
            <div class="form-group col-sm-12">
              <%=f.label :regulation%>
              <%=f.text_area :regulation,{:class=>"form-control ml5",:rows=>"5"}%>
            </div>
            <div class="form-group col-sm-12">
              <%=f.label :notes%>
              <%=f.text_area :notes,{:class=>"form-control ml5",:rows=>"5"}%>
            </div>
          <div class="mt10">
            <div class="form-actions">
              <%= f.submit "Submit", :class => "btn btn-success pull-right mr5", :disable_with => "Submitting..."%>
            </div>
            <%=link_to "Cancel", report_path(@report), :id=>"cancel-btn", :class=>"mr5 btn btn-warning pull-right", :confirm=>'The report has not been saved or submitted, and all information that you have entered will be lost. Do you want to continue?'%>
          </div>
        <%end%>
      </div> 
    </div>       
	</div> 
</div>
<script>
  function reset_risk(){
    $(".colorcell").html('');
    var sev_val=$("#sev").val();
    var like_val=$("#like").val();
    var likehood="";
    switch (like_val){
      case "A - Improbable":
        likehood="0";
        break;
      case "B - Unlikely":
        likehood="1";
        break;
      case "C - Remote":
        likehood="2";
        break;
      case "D - Probable":
        likehood="3";
        break;
      case "E - Frequent":
        likehood="4";
        break;
      default:
        likehood="";
    }
    switch($("#"+sev_val+"-"+likehood).attr('background')){
      case "#60FF60":
        like_val="Green - Acceptable";
        break;
      case "yellow":
        like_val="Yellow - Acceptable with mitigation";
        break;
      case "orange":
        like_val="Orange - Unacceptable";
        break;
      default:
        like_val="";
    }
    $("#report_risk").val(like_val);
    $("#report<%=@report.id%> > tbody > tr > #"+sev_val+"-"+likehood).html("<span class='glyphicon glyphicon-remove' style='color:red'></span>");
  }

  $(document).ready(function(){
    reset_risk();

    $('#sev').on('change',function(){
      reset_risk();
    });
    $('#like').on('change',function(){
      reset_risk();
    });
  });
</script>


<style>
 .datepicker{
  z-index: 1200!important;
 }
  td,th{
    text-align: center;
  }
</style>