<script type="text/javascript" src="/javascripts/utility/collapse-panel2.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "shared/alerts"%>
    <%=render "access_controls/new_modal"%>
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="top_text">
              Event #<%=@report.get_id%>: <%=@report.name%>
            </div>
            <div class="top_buttons pull-right">
              <%if current_user.has_access('reports','destroy', admin: CONFIG::GENERAL[:global_admin_default], strict: true)%>
                <%=link_to 'Delete',
                  report_path(@report),
                  :method=>"delete",
                  :confirm=>'Are you sure?',
                  :class=>"btn btn-danger pull-right mr5 mb5"%>
              <%end%>


              <%if current_user.has_access('reports', 'override', admin: CONFIG::GENERAL[:global_admin_default], strict: true)%>
                <%=link_to 'Override Status', '#',
                  :class => 'btn btn-danger pull-right mr5 mb5',
                  :id => 'override_status_btn',
                  "data-toggle" => "modal",
                  "data-target" => ".bs-example-modal-lg"%>
              <%end%>

              <%if @report.status != "Closed" &&
                current_user.has_access('reports', 'edit', admin: CONFIG::GENERAL[:global_admin_default])%>
                <%=link_to 'Edit',
                  edit_report_path(@report),
                  :id => "edit-btn",
                  :class => "btn btn-warning pull-right mr5 mb5",
                  :disable_with => "Editing..."%>

                <%=link_to 'Launch',
                  '#',
                  :id => "launch_btn",
                  :class => "btn btn-warning pull-right mr5 mb5",
                  'data-toggle' => 'modal',
                  'data-target' => '.bs-example-modal-lg'%>
              <%end%>

              <%if @report.investigation.present? &&
                current_user.has_access('Safety Assurance','module', admin: CONFIG::GENERAL[:global_admin_default], strict: true) %>
                <%=link_to "View Investigation",
                  investigation_path(@report.investigation),
                  :class=>"btn btn-info mb5 pull-right mr5 ",
                  :disable_with => "Redirecting..."%>
              <%end%>

              <%if @report.sra.present? &&
                current_user.has_access('Safety Risk Management','module', admin: CONFIG::GENERAL[:global_admin_default], strict: true) %>
                <%=link_to "View SRA(SRM)",
                  sra_path(@report.sra),
                  :class=>"btn btn-info mb5 pull-right mr5 ",
                  :disable_with => "Redirecting..."%>
              <%end%>

              <%=link_to "De-ID PDF",
                print_report_path(
                  @report,
                  :deidentified => true,
                  :format => :pdf),
                'data-toggle' => 'tooltip',
                title: 'View De-Identified PDF',
                :class=>'btn btn-darkturquoise pull-right mr5 mb5'%>

              <%if current_user.has_access('reports', 'admin', admin: CONFIG::GENERAL[:global_admin_default], strict: true)%>
                <%=link_to "PDF",
                  print_report_path(
                    @report,
                    :deidentified => false,
                    :format => :pdf),
                  :class => 'btn btn-darkturquoise pull-right mr5 mb5'%>
              <%end%>

              <%#if @report.active_meetings.present? &&
                current_user.has_access('meetings', 'show', admin: true)%>
                <%#=link_to "View Meeting",
                  meeting_path(@report.active_meetings.first),
                  :class => "btn btn-info pull-right mb5 ml5",
                  :disable_with => "Redirecting..."%>
              <%#end%>
              <%=render '/forms/btns/attach_in_message_btn', owner: @report%>
              <%=link_to "Expand All",
                "#",
                :class => "btn btn-default expandall pull-right mb5 mr5"%>
            </div>
          </div>
        </div>
        <div class="panel-body collapse in" id="form_body">
        <div class="col-xs-12">
            <%instruction = "<p>"
              instruction = instruction + "<button id ='toggleWorkflowImageButton' type='button' class='btn btn-light' >Show Workflow Image</button>"
              instruction = instruction + "</p>"
              instruction = instruction + "<img id='workflowImage' class = 'workflowImg' height=800 width= 100% >"
            %>
            <%=render "shared/instructions",
              :instruction => instruction%>
        </div>
          <div class="col-xs-12 mb20">
            <b> <%= "*At least one #{I18n.t("#{@i18nbase}.root_cause.title")} must be assigned before making Meeting Ready or Closing" if @report.occurrence_lock? %></b>
            <%if current_user.has_access('reports','edit', admin: CONFIG::GENERAL[:global_admin_default])%>
              <%if @report.status == "Closed"%>
                <%=link_to "Reopen Event",
                  reopen_report_path(@report),
                  :class=>"btn btn-success pull-right ml5 mr5 mb5",
                  :confirm => "Are you sure?",
                  :disable_with => "Reopening...",
                  "data-toggle" => "tooltip",
                  "data-placement" => "top",
                  :title => "This will reopen the Event and all the included Reports"%>
              <%end%>
              <%if @report.status != "Closed" &&
                current_user.has_access('corrective_actions','new', admin: CONFIG::GENERAL[:global_admin_default])%>
                <%=link_to "Add Corrective Action",
                  new_corrective_action_path(:report => @report.id),
                  :class => "btn btn-success pull-right ml5 mb5",
                  :disable_with => "Adding..."%>
              <%end%>
              <%if @report.can_meeting_ready?(current_user)%>
                <%=link_to 'Meeting Ready',
                  meeting_ready_report_path(@report),
                  :class=>"btn btn-warning pull-right mb5 ml5",
                  :disable_with => "Preparing...",
                  "data-toggle" => "tooltip",
                  "data-placement" => "top",
                  :title => "This will mark the Event \"Meeting Ready\" so that it can be added to Meetings"%>
              <%end%>
              <%is_multiple_addition_allowed = CONFIG.sr::GENERAL[:allow_event_reuse].present?%>
              <%if %w[New Closed].exclude?(@report.status) && ((!@meeting_ids.present? && !is_multiple_addition_allowed) || (is_multiple_addition_allowed))%>
                <%if is_multiple_addition_allowed
                    btn_title = "Add To Meeting(s)"
                    tooltip_title = "This will open a pop-up allowing you to add this Event directly to one or more open Meetings"
                  else
                    btn_title = "Add To Meeting"
                    tooltip_title = "This will open a pop-up allowing you to add this Event directly to an open Meeting"
                  end
                %>
                <%=link_to btn_title,
                  "#",
                  :class=>"btn btn-darkturquoise pull-right mb5 ml5 add_to_meeting_btn",
                  "data-toggle" => "tooltip",
                  "data-placement" => "top",
                  :title => tooltip_title%>
              <%end%>
              <%if @report.can_close?(current_user)%>
                <%=link_to 'Close Event', '#',
                  :class => 'btn btn-danger close_event_btn pull-right ml5 mb5',
                  'data-toggle' => 'modal',
                  'data-target' => '.bs-example-modal-lg',
                  :route => close_report_path(@report, :redirect_path => report_path(@report))%>
              <%end%>
              <%if CONFIG::GENERAL[:cisp_integration] && @asap_found &&!@report.cisp_sent.present?%>
                <%=link_to "Send CISP Reports",
                  "#",
                  :class => "btn btn-success pull-right ml5 mr5 mb5",
                  :confirm => "Are you sure?",
                  :disable_with => "Sending to CISP...",
                  :id => "send_cisp_btn"%>
              <%end%>
            <%end%>

            <%=link_to "Add Comment", "#",
              :class => "btn btn-success pull-right ml5 mb5",
              :id => 'comment_btn',
              "data-toggle" => "modal",
              "data-target" => ".bs-example-modal-lg"%>
          </div>

          <%can_change = @report.status != "Closed" && current_user.has_access("reports", "edit")%>

          <%=render "closing_note"%>
          <%=render "record_table"%>
          <%=render '/panels/show_panels', owner: @report%>
          <%=render 'risk_matrices/panel_matrix/risk_assessment_panel', risk_type: 'All'%>

          <%if @report.meetings.present?%>
            <div class="col-xs-12 col-md-12 col-lg-12"%>
              <div class="panel panel-info">
                <div class="panel-heading click-heading collapsed">
                  <div class="panel-title">
                    <b>Meetings</b>
                    <span class="pull-right clickable">
                      <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                    </span>
                  </div>
                </div>
                <div class="panel-body" style="display:none">
                  <div class="row">
                    <%@no_footer = true%>
                    <%=render "meetings"%>
                  </div>
                </div>
              </div>
            </div>
          <%end%>


          <%if @report.agendas.present?%>
            <%=render "agendas"%>
          <%end%>


          <%if @report.corrective_actions.present?%>
            <div class="col-xs-12 col-md-12 col-lg-12"%>
              <div class="panel panel-info">
                <div class="panel-heading click-heading collapsed">
                  <div class="panel-title">
                    <b>Corrective Actions</b>
                    <span class="pull-right clickable">
                      <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                    </span>
                  </div>
                </div>
                <div class="panel-body" style="display:none">
                  <div class="row">
                    <%@no_footer = true%>
                    <%=render "/corrective_actions/actions"%>
                  </div>
                </div>
              </div>
            </div>
          <%end%>

          <%=render "/forms/show_comment", :owner => @report%>
          <%=render "/forms/attachments_show", owner: @report, attachments: @report.attachments + @report.records.map(&:attachments).flatten%>
          <%=render "/records/transactions", :owner => @report%>

        </div>
      </div>
    </div>
  </div>
</div>


<style>
  #workflowImage{
    display: none;
    margin-top: 10px;
  }
</style>


<script>
  $(document).ready(function() {

    var curr_status = "<%= @report.status.downcase%>"
    <% status_field_name = CONFIG.sr::HIERARCHY[:objects][@report.class.name][:fields][:status][:field]%>
    <% curr_status = @report.send(status_field_name).downcase %>
    $("#workflowImage").attr('src', "<%=CONFIG.sr::HIERARCHY[:objects][@report.class.name][:workflow_images][curr_status]%>")

    $("#toggleWorkflowImageButton").on('click', function(event){
      event.preventDefault();
  
      if($("#workflowImage").is(":visible")){
        $("#workflowImage").delay(1).hide("slow")
        $("#toggleWorkflowImageButton").html("Show Workflow Image")
      }else{
        $("#workflowImage").delay(1).show("slow")
        $("#toggleWorkflowImageButton").html("Hide Workflow Image")
      }
    })   

    $('#launch_btn').on('click',function(){
      $(".modal-content").html('');
      $.get("<%= eval("launch_report_path(@report)")%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    })

    $("#report<%=@report.id%> > tbody > tr > #<%=@report.severity%>-<%=Finding.get_likelihood.index(@report.likelihood)%>").append("<span class='glyphicon glyphicon-remove' style='color:red'></span>");
    $("#report<%=@report.id%> > tbody > tr > #<%=@report.severity_after%>-<%=Finding.get_likelihood.index(@report.likelihood_after)%>").append("<span class='glyphicon glyphicon-ok' style='color:red'></span>");
    $('#att_btn').on('click',function(){
      $(".modal-content").html('');
      $.get("<%=new_attachment_report_path(@report)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#comment_btn').on('click',function(){
      $(".modal-content").html('');
      $.get("<%=comment_report_path(@report)%>",function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $('#override_status_btn').on('click',function(){
      $(".modal-content").html('');
      $.get("<%=override_status_report_path(@report)%>", function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $("#send_cisp_btn").on("click",function(){
      $.ajax({
        type: "POST",
        url: "<%=send_cisp_reports_path%>"+ "?id=" + <%=@report.id%>,
        dataType: 'json',
        success: function(data) {
          let icon = 'error';
          if(data['success'] == true) {
            $("#send_cisp_btn").hide();
            icon = 'success';
          }
          Swal.fire({
            position: 'top-end',
            icon: icon,
            title: data['message'],
            showConfirmButton: false,
            timer: 1500
          });
        }
      });
    });
    $(".close_event_btn").on('click',function(){
      $(".modal-content").html('');
      $.get($(this).attr('route'),function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('.add_to_meeting_btn').on('click', function() {
      swal({
        allowOutsideClick: false,
        showCancelButton: false,
        showConfirmButton: false,
        html: "<%= escape_javascript render :partial => 'reports/add_to_meeting', :layout => false, :locals => {:meeting_ids => @meeting_ids, :report => @report}%>",
        onOpen: function() {
          $("tr").on('click', function() {
            id = $(this).attr('id');
            $('.meetings').each(function() {
              if($(this).attr('id') == id) {
                if ($(this).is(':checked')) {
                  $(this).prop('checked', false);
                  $(this).closest('td').find('strong').first().css("color", "red");
                  $(this).closest('td').find('strong').first().html("Not Added");
                } else {
                  $(this).prop('checked', true);
                  $(this).closest('td').find('strong').first().css("color", "green");
                  $(this).closest('td').find('strong').first().html("To be Added");
                }
              }
            });
          });

          $('.close_modal_btn').on('click', function(){
            swal.close();
          });
        }
      });
    });
  });

  function getMeetings() {
    let multiple_meetings_allowed = <%=CONFIG.sr::GENERAL[:allow_event_reuse]%>;
    let meeting_items = '';
    let meeting_elems = $("input.meetings:checked");

    meeting_elems.each(function(index, elem){
        meeting_items += $(elem).val() + ",";
    });

    if (multiple_meetings_allowed) {
      $('#meetings_selected').val(meeting_items);
      return true;
    } else {
      if (meeting_elems.length > 1) {
        alert('Please select ONE meeting only!');
        return false;
      } else {
        $('#meetings_selected').val(meeting_items);
        return true;
      }
    }
  }
</script>

