<!-- NOTE: This form is Depreciated- see _process.html.erb for the revised form that combines this and approve -->

<%=form_for @owner do |f|%>

	<%=f.hidden_field :status, :value => 'Completed'%>

	<div class="panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				Complete <%=@owner.class.name.titleize%>
				<button type="button"
					class="close pull-right"
					data-dismiss="modal"
					aria-label="Close">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
		</div>

		<div class="panel-body" style="max-height:500px;overflow-y:auto">

			<div class="form-group col-xs-12">
				<%=f.label :final_comment, "Final Comment"%>
				<%=f.text_area :final_comment,
					:class => "form-control",
					:rows => 4%>
			</div>

			<%=f.submit "Complete",
				:class => "btn btn-success pull-right mt5",
				:disable_with => "Completing..."%>

		</div>
	</div>
<%end%>
