<%=form_for @owner do |f|%>
  <div class="panel-warning">
    <div class="panel-heading">
      <div class="panel-title">
        Override <%=@owner.class.name.titleize%> Status
        <button type="button"
          class="close pull-right"
          data-dismiss="modal"
          aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>

    <div class="panel-body" style="max-height:500px;overflow-y:auto">
      <div class="row">
        <div class="form-group form-inline col-xs-6">
          <div class="form-group col-xs-12">
            <%=f.label :status, "Status"%>
            <%=f.select :status,
              options_for_select(@owner.class.progress.keys, @owner.status),
              {},
              {:class => "field_select form-control "}%>
          </div>
        </div>
      </div>
      <%=f.submit "Override Status", :class => "btn btn-success pull-right mt5", :disable_with => "Overriding..."%>
    </div>
  </div>
<%end%>

