<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<%=form_for @owner do |f|%>
  <% status = 'Completed' unless status %>
  <% field = :final_comment unless field %>
  <%=f.hidden_field :status, :value => status %>
  <% comment_class = params[:commit] == 'reject' ? 'form-control m15 required_field' : 'form-control m15' %>

  <div class="panel-warning">
    <div class="panel-heading">
      <div class="panel-title">
        <%=params[:commit].titleize%> <%=@owner.class.name.titleize%>
        <button type="button"
          class="close pull-right"
          data-dismiss="modal"
          aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>

    <div class="panel-body" style="max-height:500px;overflow-y:auto">

      <div class="form-group col-xs-12">
        <%=f.label field, "Final Comment", :style => params[:commit] == "reject" ? "color:red" : "" %>
        <%=f.text_area field,
          :class => comment_class,
          :rows => 4%>
      </div>

      <%=f.submit params[:commit].titleize,
        :class => "btn btn-success pull-right mt5",
        :disable_with => "Processing..."%>

    </div>
  </div>
<%end%>


<script>
  <%if params[:commit] == "reject"%>
    $(document).ready(function(){
      $('form').on('submit',function(){
        $(this).find('.required_field').each(function(){
          if ($(this).val() == ""){
            $(".required_field").css('border-color', 'red');
            event.preventDefault();
          }
        });
      });
    });
  <%end%>
</script>
