
<%if BaseConfig.airline[:has_framework]%>
  <li class="dropdown">
    <a href="#" data-toggle="dropdown">Frameworks<b class="caret"></b></a>
    <ul class="dropdown-menu dropdown-notification" role="menu"> 
      <li><a href="#" class="dropdown-menu-header">IMs</a></li> 
      <li><a href=<%=ims_path(:type=>"FrameworkIm")%>>All</a></li>
      <%if current_user.has_access('ims', 'new')%><li><a href=<%=new_im_path(:type=>"FrameworkIm")%>>New</a></li><%end%>
      <li><a href="#" class="dropdown-menu-header">Packages</a></li> 
      <li><a href=<%=packages_path(:type=>"FrameworkImPackage")%>>All</a></li> 
      <li><a href="#" class="dropdown-menu-header">Meetings</a></li>  
      <li><a href=<%=sms_meetings_path(:type=>"FrameworkMeeting")%>>All</a></li> 
      <%if current_user.has_access('meetings', 'new')%><li><a href=<%=new_sms_meeting_path(:type=>"FrameworkMeeting")%>>New</a></li><%end%>
      
    </ul>
  </li>
<%end%>
<li class="dropdown">
  <a href="#" data-toggle="dropdown">VP/Part 5<b class="caret"></b></a>
  <ul class="dropdown-menu dropdown-notification" role="menu">
    <li><a href="#" class="dropdown-menu-header">VP/Part 5</a></li> 
    <li><a href=<%=ims_path(:type=>"VpIm")%>>All</a></li>
    <%if current_user.has_access('ims', 'new')%><li><a href=<%=new_im_path(:type=>"VpIm")%>>New</a></li><%end%>
    <li><a href="#" class="dropdown-menu-header">Packages</a></li> 
    <li><a href=<%=packages_path(:type=>"VpImPackage")%>>All</a></li> 
    <li><a href="#" class="dropdown-menu-header">Meetings</a></li> 
    <li><a href=<%=sms_meetings_path(:type=>"VpMeeting")%>>All</a></li> 
    <%if current_user.has_access('meetings', 'new')%><li><a href=<%=new_sms_meeting_path(:type=>"VpMeeting")%>>New</a></li><%end%>
    
  </ul>
</li>
<li class="dropdown">
  <a href="#" data-toggle="dropdown">Job Aid<b class="caret"></b></a>
  <ul class="dropdown-menu dropdown-notification" role="menu">
    <li><a href="#" class="dropdown-menu-header">Job Aids</a></li>
    <li><a href=<%=ims_path(:type=>"JobAid")%>>All</a></li>
    <%if current_user.has_access('ims', 'new')%><li><a href=<%=new_im_path(:type=>"JobAid")%>>New</a></li><%end%>
    <li><a href="#" class="dropdown-menu-header">Packages</a></li> 
    <li><a href=<%=packages_path(:type=>"JobAidPackage")%>>All</a></li> 
    <li><a href="#" class="dropdown-menu-header">Meetings</a></li>  
    <li><a href=<%=sms_meetings_path(:type=>"JobMeeting")%>>All</a></li>
    <%if current_user.has_access('meetings', 'new')%><li><a href=<%=new_sms_meeting_path(:type=>"JobMeeting")%>>New</a></li><%end%>
    
  </ul>
</li>