<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'layout', :media => "all" %>
  <%= stylesheet_link_tag 'buttons' %>
  <%= stylesheet_link_tag 'jqgrid/jquery-ui-1.7.1.custom' %>
  <%= stylesheet_link_tag 'jqgrid/ui.jqgrid' %>
 
  

  <link rel="stylesheet" type="text/css" href="/SpryAssets/SpryCollapsiblePanel.css" />
  <script type="text/javascript" src="/javascripts/jqgrid2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jqgrid2/grid.locale-en.js"></script>
  <script type="text/javascript" src="/javascripts/jqgrid2/jquery.jqGrid.min.js"></script>
  <script type="text/javascript" src="/javascripts/graphael/raphael.js"></script>
  <script type="text/javascript" src="/javascripts/graphael/g.raphael.js"></script>
  <script type="text/javascript" src="/javascripts/graphael/g.pie.js"></script>
  <script type="text/javascript" src="/javascripts/graphael/g.bar.js"></script>
  <script type="text/javascript" src="/SpryAssets/SpryCollapsiblePanel.js"></script>
  <link rel="stylesheet" type="text/css" href="/SpryAssets/SpryMenuBarHorizontal.css" />
  
  <title><%= controller.action_name.titleize + " : " + controller.controller_name.titleize %></title>


	
<script type="text/javascript">
function handleSelection(id) {
   window.open('/work_requests/'+id, '', 'width=950, height=700');

}
function openWorkOrder()
{
  window.open('/work_orders/new', 'New Work Order', 'fullscreen=yes, scrollbars=yes')
}
function openNewLeaseWindow()
{
   window.open('/work_requests/new', 'New Lease', 'width=950, height=700,scrollbars=yes');
}
function openChecklistWindow(id)
{
  <% if controller.controller_name != "checklists" %>
    window.location = "<%= "/" + controller.controller_name + "/edit/" %>" +id;
  <% else %>
    window.location = "<%= "/" + controller.controller_name + "/show/" %>" +id;
  <% end %>
}
function openNewChecklistWindow()
{
  window.open('/checklists/new', 'New Checklist', 'fullscreen=yes,scrollbars=yes');

}
function refreshPage()
{
  location.reload(true);

}
  

  
</script>
  
</head>
<body>

<div class="topArea">
        <div class="container">
                <%= yield %>
        </div>

</div>
</body>
</html>
