<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="panel-title">
          <b><%="#{@tracking.title}"%></b>
        </div>
      </div>
      <div class="panel-body" id="form_body">
        <div class="row">
          <div class="col-sm-12">
            <%if current_user.has_access("trackings","destroy")%>
              <%=link_to "Delete",tracking_path(@tracking),:method=>"delete",:confirm=>"Please confirm that you want to delete this tracking. The deletion cannot be reverted.",:class=>"pull-right btn btn-danger ml5"%>
            <%end%>
            <%if current_user.has_access("trackings","edit")%>
              <%=link_to "Edit",edit_tracking_path(@tracking),:class=>"btn btn-warning pull-right"%>
            <%end%>
          </div>
          <div class="col-sm-12">
            <b>Title: </b>
            <%=@tracking.title%>
          </div>
          <div class="col-sm-3">
            <b>Category: </b>
            <%=@tracking.category%>
          </div>
          <div class="col-sm-3">
            <b>Priority: </b>
            <%=@tracking.priority%>
          </div>
          <div class="col-sm-3">
            <b>Start Date: </b>
            <%=@tracking.get_start%>
          </div>
          <div class="col-sm-3">
            <b>Due: </b>
            <%=@tracking.get_due%>
          </div>

          <div class="col-sm-12">
            <h5><b>Description: </b></h5>
            <%=@tracking.description%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
